Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

docs(bench): document WAF traffic testing and how targeting actually works (#79)
  book/src/SUMMARY.md
  book/src/user-guide/waf-testing.md
Due: check-added-large-files

docs(bench): document WAF traffic testing and how targeting actually works (#79) (#999)
  book/src/SUMMARY.md
  book/src/user-guide/waf-testing.md
Due: check-added-large-files

chore(release): note #997 and the WAF testing docs in the 0.3.214 entry
  CHANGELOG.md
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(release): v0.3.214
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench): verbatim mode no longer appends attack payloads or sends unfalsifiable baselines (#997) (#998)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/wafbench.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.214 (#996)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

ci: give every self-hosted job a timeout so one job cannot halve CI capacity (#1000)
  .github/workflows/benchmarks.yml
  .github/workflows/breaking-changes.yml
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/docker-build.yml
  .github/workflows/docs-check.yml
  .github/workflows/fuzz.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .pre-commit-config.yaml
  scripts/check-workflow-timeouts.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: give every self-hosted job a timeout so one job cannot halve CI capacity (#1000) (#1002)
  .github/workflows/benchmarks.yml
  .github/workflows/breaking-changes.yml
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/docker-build.yml
  .github/workflows/docs-check.yml
  .github/workflows/fuzz.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .pre-commit-config.yaml
  scripts/check-workflow-timeouts.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): typo 'unparseable' in the workflow-timeout guard (#1000)
  scripts/check-workflow-timeouts.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): typo 'unparseable' in the workflow-timeout guard (#1000) (#1003)
  scripts/check-workflow-timeouts.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: run the smoke tests on hosted runners so prod monitoring stops going blind (#1000)
  .github/workflows/hosted-mocks-smoke.yml
  .github/workflows/production-smoke.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore: ignore .worktrees/ for agent worktrees
  .gitignore
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ops(registry): inject SENTRY_DSN into hosted-mock Fly machine env (#713)
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ftp): document real fixture API + add new_with_fixtures constructor (#789)
  crates/mockforge-ftp/README.md
  crates/mockforge-ftp/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(bench): k6 minimum-version warning + tooling requirements docs (#860)
  book/src/reference/bench-capacity-sizing.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(ai): metering hygiene follow-ups (#869)
  abc.json
  compile-check.db
  crates/mockforge-ai-core/src/llm_client.rs
  crates/mockforge-foundation/src/pillar_tracking.rs
  crates/mockforge-intelligence/src/ai_contract_diff/mod.rs
  crates/mockforge-intelligence/src/ai_studio/nl_mock_generator.rs
  crates/mockforge-intelligence/src/voice/command_parser.rs
  crates/mockforge-registry-server/src/handlers/ai_studio.rs
  crates/mockforge-registry-server/src/handlers/internal_contract_diff.rs
  docs/dev-notes/COMPILATION_NOTES.md
  docs/dev-notes/COVERAGE_SCRIPT_FIXES.md
  docs/dev-notes/ENHANCEMENT_VERIFICATION_REPORT.md
  docs/dev-notes/NEXT_STEPS_COVERAGE.md
  docs/dev-notes/PILLAR_ENHANCEMENT_VERIFICATION.md
  docs/dev-notes/SYNC_README.md
  social-posts-0.3.0.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ai): seeded deterministic generation for stable CI (#852)
  book/src/user-guide/ai/system-generation.md
  crates/mockforge-ai-core/src/config.rs
  crates/mockforge-ai-core/src/llm_client.rs
  crates/mockforge-ai-core/src/pagination_intelligence.rs
  crates/mockforge-ai-core/src/rule_generator.rs
  crates/mockforge-ai-core/src/types.rs
  crates/mockforge-ai-core/src/validation_generator.rs
  crates/mockforge-foundation/src/intelligent_behavior/config.rs
  crates/mockforge-foundation/src/intelligent_behavior/mod.rs
  crates/mockforge-intelligence/src/ai_contract_diff/recommendation_engine.rs
  crates/mockforge-intelligence/src/ai_contract_diff/semantic_analyzer.rs
  crates/mockforge-intelligence/src/ai_studio/api_critique.rs
  crates/mockforge-intelligence/src/ai_studio/behavioral_simulator.rs
  crates/mockforge-intelligence/src/ai_studio/debug_analyzer.rs
  crates/mockforge-intelligence/src/ai_studio/persona_generator.rs
  crates/mockforge-intelligence/src/ai_studio/system_generator.rs
  crates/mockforge-intelligence/src/failure_analysis/narrative_generator.rs
  crates/mockforge-intelligence/src/handlers/ai_studio.rs
  crates/mockforge-intelligence/src/intelligent_behavior/llm_client.rs
  crates/mockforge-intelligence/src/intelligent_behavior/openapi_generator.rs
  crates/mockforge-intelligence/src/intelligent_behavior/pagination_intelligence.rs
  crates/mockforge-intelligence/src/intelligent_behavior/rule_generator.rs
  crates/mockforge-intelligence/src/intelligent_behavior/spec_suggestion.rs
  crates/mockforge-intelligence/src/intelligent_behavior/validation_generator.rs
  crates/mockforge-intelligence/src/threat_modeling/remediation_generator.rs
  crates/mockforge-intelligence/src/voice/command_parser.rs
  crates/mockforge-intelligence/src/voice/hook_transpiler.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(conformance): one violation buffer entry per location (#896)
  book/src/reference/conformance-self-test-probes.md
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

ci: run the smoke tests on hosted runners so prod monitoring stops going blind (#1000) (#1004)
  .github/workflows/hosted-mocks-smoke.yml
  .github/workflows/production-smoke.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(bench): HTTP/1.1 pipelining bench with streaming synthetic bodies (#937)
  crates/mockforge-bench/examples/pipeline_smoke.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/pipeline_bench.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore: bring the 4 newly-wired crates under [lints] workspace = true (#799)
  crates/mockforge-ai-core/Cargo.toml
  crates/mockforge-ai-core/src/behavior.rs
  crates/mockforge-ai-core/src/condition_evaluator.rs
  crates/mockforge-ai-core/src/config.rs
  crates/mockforge-ai-core/src/context.rs
  crates/mockforge-ai-core/src/embedding_client.rs
  crates/mockforge-ai-core/src/lib.rs
  crates/mockforge-ai-core/src/llm_client.rs
  crates/mockforge-ai-core/src/memory.rs
  crates/mockforge-ai-core/src/mutation_analyzer.rs
  crates/mockforge-ai-core/src/pagination_intelligence.rs
  crates/mockforge-ai-core/src/rule_generator.rs
  crates/mockforge-ai-core/src/rules.rs
  crates/mockforge-ai-core/src/session.rs
  crates/mockforge-ai-core/src/visual_layout.rs
  crates/mockforge-behavioral-cloning/Cargo.toml
  crates/mockforge-behavioral-cloning/src/edge_amplifier.rs
  crates/mockforge-behavioral-cloning/src/probabilistic_model.rs
  crates/mockforge-behavioral-cloning/src/sequence_learner.rs
  crates/mockforge-behavioral-cloning/src/types.rs
  crates/mockforge-chaos-ml/Cargo.toml
  crates/mockforge-chaos-orchestration/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

chore(ci): check in hardened runner-cleanup script + signed Windows release binaries (#706, #884)
  .github/workflows/release.yml
  book/src/getting-started/installation.md
  scripts/runner-host-cleanup.sh
  scripts/systemd/runner-host-cleanup.service
  scripts/systemd/runner-host-cleanup.timer
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): per-service probe cadence + IncidentBus trait (#720)
  crates/mockforge-registry-core/src/incident_bus.rs
  crates/mockforge-registry-core/src/lib.rs
  crates/mockforge-registry-core/src/models/contract_verification.rs
  crates/mockforge-registry-server/migrations/20250101000083_monitored_service_probe_cadence.sql
  crates/mockforge-registry-server/src/handlers/contract_verification.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/workers/contract_probe.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(registry): e2e diff_finding -> incident -> dispatch (#719)
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/tests/diff_finding_incident_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): Last-Event-ID replay for the test-run SSE stream (#668)
  crates/mockforge-registry-server/src/handlers/test_runs.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(http): persona CI-hit recording via header detection (#716)
  crates/mockforge-analytics/src/lib.rs
  crates/mockforge-http/src/metrics_middleware.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(kafka): record produce/consume exchanges into the shared recorder (#715)
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-kafka/src/broker.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

feat(import): Swagger / OpenAPI 2.0 import via up-conversion (#838)
  book/src/reference/formats.md
  crates/mockforge-import/src/import/mod.rs
  crates/mockforge-import/src/import/openapi_import.rs
  crates/mockforge-import/src/import/swagger2_convert.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(proxy): passive conformance validation of proxied traffic (#864)
  crates/mockforge-proxy/Cargo.toml
  crates/mockforge-proxy/src/conformance.rs
  crates/mockforge-proxy/src/lib.rs
  crates/mockforge-proxy/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

infra: fly.demo.toml — public demo instance config (api.mockforge.dev)
  fly.demo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

feat(cli): mockforge verify-mocks - Mock Fidelity / drift detection (#849)
  crates/mockforge-cli/examples/seed_capture_db.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/verify_mocks_commands.rs
  crates/mockforge-registry-core/src/incident_bus.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(incident-bus): add missing std::future::Future import
  crates/mockforge-registry-core/src/incident_bus.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cli): MockForge MCP server over stdio (#835)
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/mcp_server.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(db): rotate migration advisory lock id past poisoned pooler backend
  crates/mockforge-registry-server/src/database.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(db): use transaction-scoped advisory lock for migrations
  crates/mockforge-registry-server/src/database.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(cors): explicit methods/headers with allow_credentials
  crates/mockforge-registry-server/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(cli): silence unused parameter in drift response check
  crates/mockforge-cli/src/verify_mocks_commands.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(proxy,docs): drop unnecessary qualification; document 5 env vars
  book/src/configuration/environment.md
  crates/mockforge-proxy/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt
