Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit, cargo-test

.pre-commit-config.yaml:

repos:
  # Basic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^book/
      - id: end-of-file-fixer
        exclude: ^book/
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # Rust hooks
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: clippy
        args: [--all-targets, --all-features, --, -D, warnings]
      - id: cargo-check

  # Custom fmt hook that works with individual files
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust fmt
        entry: bash -c 'if [ $# -eq 0 ]; then cargo fmt --check; else cargo fmt --check -- "$@"; fi'
        language: system
        files: \.(rs)$
        exclude: ^(target/|book/)
        pass_filenames: true

  # Spell check
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.20
    hooks:
      - id: typos
        exclude: ^(book/|target/|\.git/)

  # Security audit
  - repo: local
    hooks:
      - id: cargo-audit
        name: cargo audit
        entry: cargo
        args: [audit]
        language: system
        pass_filenames: false
        files: ^Cargo\.(toml|lock)$

  # Test runner
  - repo: local
    hooks:
      - id: cargo-test
        name: cargo test
        entry: cargo
        args: [test, --workspace]
        language: system
        pass_filenames: false
        files: \.(rs|toml)$
        exclude: ^(target/|book/)

chore: update dependencies and remove unused code
  Cargo.lock
  Cargo.toml
  crates/mockforge-grpc/src/dynamic/http_bridge/converters.rs
  crates/mockforge-grpc/src/dynamic/http_bridge/mod.rs
  crates/mockforge-grpc/src/dynamic/mod.rs
  crates/mockforge-grpc/src/reflection/schema_graph.rs
  crates/mockforge-grpc/src/reflection/smart_mock_generator.rs
  crates/mockforge-plugin-loader/src/registry.rs
  crates/mockforge-plugin-loader/src/validator.rs
  crates/mockforge-ui/tests/admin_handlers.rs
  crates/mockforge-ui/tests/admin_ui_build.rs
  crates/mockforge-ui/tests/integration.rs
  crates/mockforge-ui/tests/smoke.rs
  examples/plugins/response-graphql/Cargo.toml
  examples/plugins/response-graphql/src/lib.rs
Due: rust-fmt, cargo-audit, cargo-test

test: enhance Autocomplete and Select components with async handling and context updates
  crates/mockforge-ui/ui/src/components/__tests__/autocomplete/Autocomplete.test.tsx
  crates/mockforge-ui/ui/src/components/autocomplete/AutocompleteContext.tsx
  crates/mockforge-ui/ui/src/components/ui/select.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceSettingsDialog.tsx
  crates/mockforge-ui/ui/src/components/workspace/__tests__/EncryptionSettings.test.tsx
  crates/mockforge-ui/ui/src/components/workspace/__tests__/EnvironmentManager.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/ImportPage.test.tsx
Due: none

chore: update .gitignore and remove obsolete test files
  .gitignore
  examples/tests/test_bridge.rs
  examples/tests/test_conditions.rs
  examples/tests/test_grpc_client.py
  examples/tests/test_openapi_commands.rs
  examples/tests/test_postman.json
  examples/tests/test_proxy.sh
  examples/tests/test_routing.rs
  examples/tests/test_semver.rs
  examples/tests/test_users.json
Due: rust-fmt, cargo-test

feat: add memory benchmarking for core functionality
  crates/mockforge-core/benches/core_benchmarks.rs
Due: rust-fmt, cargo-test

feat: add fuzzing dictionaries and tests for JSON, OpenAPI, and template engine
  crates/mockforge-core/fuzz/fuzz_targets/fuzz_json_validator.dict
  crates/mockforge-core/fuzz/fuzz_targets/fuzz_openapi_parser.dict
  crates/mockforge-core/fuzz/fuzz_targets/fuzz_template_engine.dict
  crates/mockforge-core/tests/prop_tests.rs
  oss-fuzz/Dockerfile
  oss-fuzz/README.md
  oss-fuzz/build.sh
  oss-fuzz/project.yaml
Due: rust-fmt, cargo-test

feat: introduce comprehensive load testing infrastructure for MockForge
  tests/README.md
  tests/load/.gitignore
  tests/load/README.md
  tests/load/grpc_load.js
  tests/load/http_load.js
  tests/load/run_all_load_tests.sh
  tests/load/run_grpc_load.sh
  tests/load/run_http_load.sh
  tests/load/run_websocket_load.sh
  tests/load/websocket_load.js
  tests/load/wrk_http.lua
Due: none

feat: add mutation testing configuration and commands
  .cargo-mutants.toml
  .gitignore
  Makefile
Due: cargo-test

feat: add badges for tests, coverage, and benchmarks in README
  README.md
Due: none

feat: implement performance monitoring system with benchmarks and dashboards
  .github/benchmarks/.gitkeep
  .github/benchmarks/config.json
  .github/scripts/README.md
  .github/scripts/compare-benchmarks.js
  .github/scripts/generate-dashboard.js
  .github/workflows/benchmarks.yml
  .gitignore
  docs/MUTATION_TESTING.md
  docs/PERFORMANCE_MONITORING.md
Due: none

refactor: improve request logging and time series data handling
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/tests/admin_handlers.rs
Due: rust-fmt, cargo-test

feat: enhance UI performance and metrics visualization
  crates/mockforge-ui/ui/index.html
  crates/mockforge-ui/ui/package-lock.json
  crates/mockforge-ui/ui/package.json
  crates/mockforge-ui/ui/src/components/metrics/FailureCounter.tsx
  crates/mockforge-ui/ui/src/components/metrics/LatencyHistogram.tsx
  crates/mockforge-ui/ui/src/components/ui/Logo.tsx
  crates/mockforge-ui/ui/src/index.css
  crates/mockforge-ui/ui/src/main.tsx
  crates/mockforge-ui/ui/tsconfig.app.json
  crates/mockforge-ui/ui/vite.config.ts
Due: none

feat: expand README with detailed feature comparison and key differentiators
  README.md
Due: none

feat: add performance benchmarking capabilities and documentation
  Makefile
  README.md
Due: none

feat: add case studies and common use cases to README
  README.md
Due: none

feat: update test generation with additional request fields
  BUILD_AND_TEST_VERIFICATION.md
  crates/mockforge-recorder/src/test_generation.rs
Due: rust-fmt, cargo-test

feat: update Dockerfile and enhance mockforge modules
  .github/workflows/breaking-changes.yml
  .github/workflows/contract-validation.yml
  .github/workflows/integration-tests.yml
  .gitlab-ci.yml
  Dockerfile
  Jenkinsfile
  NEXT_STEPS.md
  NEXT_STEPS_README.md
  PERFORMANCE_MONITORING_SETUP.md
  README_TEST_IMPROVEMENTS.md
  TEST_COVERAGE_IMPROVEMENTS.md
  TEST_IMPROVEMENTS_SUMMARY.md
  WORKFLOW_INTEGRATION_SUMMARY.md
  crates/mockforge-core/src/collection_export.rs
  crates/mockforge-core/src/contract_validation.rs
  crates/mockforge-core/src/docker_compose.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-http/src/management_ws.rs
  docker-compose.microservices.yml
  docs/DEMO_VIDEO_GUIDE.md
  docs/DEVELOPER_WORKFLOW_INTEGRATION.md
  docs/DOCKER_COMPOSE_GUIDE.md
  docs/DOCUMENTATION_IMPROVEMENTS.md
  oss-fuzz/SUBMISSION_CHECKLIST.md
  vscode-extension/.eslintrc.json
  vscode-extension/.vscodeignore
  vscode-extension/README.md
  vscode-extension/media/mockforge-icon.svg
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/src/mockforgeClient.ts
  vscode-extension/src/mocksTreeProvider.ts
  vscode-extension/src/serverControlProvider.ts
  vscode-extension/tsconfig.json
Due: rust-fmt, cargo-test

feat: introduce AI-driven mock generation and data drift simulation
  AI_FEATURES_README_MAIN.md
  AI_FEATURES_STATUS.md
  AI_FEATURES_SUMMARY.md
  AI_IMPLEMENTATION_COMPLETE.md
  AI_INTEGRATION_COMPLETE.md
  AI_INTEGRATION_PROGRESS.md
  HTTP_AI_INTEGRATION_EXAMPLE.md
  IMPLEMENTATION_SUMMARY.md
  INTEGRATION_GUIDE.md
  README.md
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/workspace/core.rs
  crates/mockforge-core/src/workspace/request.rs
  crates/mockforge-data/src/drift.rs
  crates/mockforge-data/src/intelligent_mock.rs
  crates/mockforge-data/src/lib.rs
  crates/mockforge-data/src/rag.rs
  crates/mockforge-data/src/replay_augmentation.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/ai_handler.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-ui/ui/PERFORMANCE_OPTIMIZATIONS.md
  crates/mockforge-ws/Cargo.toml
  crates/mockforge-ws/src/ai_event_generator.rs
  crates/mockforge-ws/src/lib.rs
  docs/AI_DRIVEN_MOCKING.md
  docs/AI_FEATURES_README.md
  examples/ai/intelligent-customer-api.yaml
  examples/ai/order-drift-simulation.yaml
  examples/ai/websocket-market-simulation.yaml
Due: rust-fmt, cargo-test

feat: integrate tokio-util and mockforge-recorder into CLI
  Cargo.lock
  GRACEFUL_SHUTDOWN.md
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
Due: rust-fmt, cargo-audit, cargo-test

feat: add parking_lot dependency and refactor RwLock usage
  Cargo.lock
  Cargo.toml
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-chaos/src/ab_testing.rs
  crates/mockforge-chaos/src/advanced_analytics.rs
  crates/mockforge-chaos/src/advanced_orchestration.rs
  crates/mockforge-chaos/src/alerts.rs
  crates/mockforge-chaos/src/analytics.rs
  crates/mockforge-chaos/src/auto_remediation.rs
  crates/mockforge-chaos/src/collaboration.rs
  crates/mockforge-chaos/src/dashboard.rs
  crates/mockforge-chaos/src/distributed_coordinator.rs
  crates/mockforge-chaos/src/multi_tenancy.rs
  crates/mockforge-chaos/src/plugins.rs
  crates/mockforge-chaos/src/rate_limit.rs
  crates/mockforge-chaos/src/recommendations.rs
  crates/mockforge-chaos/src/scenario_orchestrator.rs
  crates/mockforge-chaos/src/scenario_recorder.rs
  crates/mockforge-chaos/src/scenario_replay.rs
  crates/mockforge-chaos/src/scenario_scheduler.rs
  crates/mockforge-chaos/src/scenarios.rs
  crates/mockforge-chaos/src/version_control.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/health.rs
Due: rust-fmt, cargo-audit, cargo-test

feat: enforce documentation for public APIs and enhance error handling
  crates/mockforge-plugin-core/Cargo.toml
  crates/mockforge-plugin-core/src/error.rs
  crates/mockforge-plugin-sdk/Cargo.toml
Due: rust-fmt, cargo-test

feat: update Cargo.toml files for workspace configuration and internal components
  ARCHITECTURE.md
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-data/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-plugin-cli/Cargo.toml
  crates/mockforge-plugin-core/src/lib.rs
  crates/mockforge-plugin-core/src/manifest/schema.rs
  crates/mockforge-plugin-core/src/types.rs
  crates/mockforge-plugin-registry/Cargo.toml
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-reporting/Cargo.toml
  crates/mockforge-tracing/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ws/Cargo.toml
  docs/1.0_RELEASE_READINESS.md
  docs/API_DOCUMENTATION_TODO.md
Due: rust-fmt, cargo-test

feat: enhance server configuration management in CLI
  crates/mockforge-cli/src/main.rs
  mockforge.example.yaml
Due: rust-fmt, cargo-test

feat: add fixture renaming and moving functionality to the API
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-loader/src/git.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/health.rs
  crates/mockforge-ui/src/routes.rs
Due: rust-fmt, cargo-test

feat: add async-trait and jsonwebtoken dependencies, and introduce new modules
  Cargo.lock
  Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/protocol_abstraction/auth.rs
  crates/mockforge-core/src/protocol_abstraction/matcher.rs
  crates/mockforge-core/src/protocol_abstraction/middleware.rs
  crates/mockforge-core/src/protocol_abstraction/mod.rs
  crates/mockforge-graphql/src/lib.rs
  crates/mockforge-graphql/src/registry.rs
  crates/mockforge-grpc/src/lib.rs
  crates/mockforge-grpc/src/registry.rs
  docs/PROTOCOL_ABSTRACTION.md
  docs/PROTOCOL_UNIFICATION_SUMMARY.md
Due: rust-fmt, cargo-audit, cargo-test

feat: enhance README and documentation for v1.0 features and CLI improvements
  README.md
  book/src/SUMMARY.md
  book/src/api/cli.md
  book/src/configuration/files.md
  book/src/getting-started/five-minute-api.md
  book/src/reference/config-schema.md
  book/src/reference/config-validation.md
  book/src/reference/faq.md
  book/src/reference/troubleshooting.md
  book/src/tutorials/README.md
  book/src/tutorials/add-custom-plugin.md
  book/src/tutorials/admin-ui-walkthrough.md
  book/src/tutorials/mock-openapi-spec.md
  config.template.yaml
  crates/mockforge-core/src/lib.rs
  crates/mockforge-graphql/src/lib.rs
  crates/mockforge-grpc/src/lib.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-ws/src/lib.rs
  docs/ADMIN_UI_V2.md
  docs/API_DOCUMENTATION_STATUS.md
  docs/LAUNCH_MATERIALS_AUDIT.md
Due: rust-fmt, cargo-test

feat(cli): add help headings and categorize CLI arguments
  crates/mockforge-cli/src/main.rs
Due: rust-fmt, cargo-test

feat(routes): enhance admin router with new endpoints and compression layer
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/vite.config.ts
Due: rust-fmt, cargo-test

feat(cli): enhance config validation to support JSON/YAML with schema validation
  crates/mockforge-cli/src/main.rs
Due: rust-fmt, cargo-test

feat(cli): add dry run option for configuration validation and enhance error handling
  crates/mockforge-cli/src/main.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ws/src/lib.rs
Due: rust-fmt, cargo-test
