Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

chore(ci): disable cross-platform test job
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(ci): disable cross-platform test job (#216)
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): wire Tailwind v4 theme utilities to CSS variables
  crates/mockforge-ui/ui/src/index.css
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): wire Tailwind v4 theme utilities to CSS variables (#217)
  crates/mockforge-ui/ui/src/index.css
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks/ui): add Requests tab driven by the log shipper feed (#232)
  crates/mockforge-ui/ui/src/hooks/useRuntimeRequests.ts
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks): retention worker for runtime_request_logs (#232)
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/runtime_logs_retention.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks): cloud proxy for deployment recorder captures (#234)
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks/ui): Captures tab for deployment recorder pairs (#234)
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/hooks/useDeploymentCaptures.ts
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks/ui): filter controls on the Requests tab
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks): HAR export from Captures tab
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks/ui): filter controls on the Captures tab
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(cloud): add hosted-mocks operator runbook
  docs/cloud/HOSTED_MOCKS_OPERATOR.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks): recorder enable/disable/clear toggles in Captures tab
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks): replay action on captured requests
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks): persist OTLP traces in Postgres-JSONB (#233)
  crates/mockforge-registry-server/migrations/20250101000052_runtime_traces.sql
  crates/mockforge-registry-server/src/handlers/otlp.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks): persist OTLP traces in Postgres-JSONB (#233) (#237)
  crates/mockforge-registry-server/migrations/20250101000052_runtime_traces.sql
  crates/mockforge-registry-server/src/handlers/otlp.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): wire Traces tab on hosted mocks to /traces endpoints
  crates/mockforge-ui/ui/src/hooks/useDeploymentTraces.ts
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): wire Traces tab on hosted mocks to /traces endpoints (#238)
  crates/mockforge-ui/ui/src/hooks/useDeploymentTraces.ts
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(recorder): JSONL export for hosted-mocks captures (#234 part 3)
  crates/mockforge-recorder/src/api.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(recorder): JSONL export for hosted-mocks captures (#234) (#239)
  crates/mockforge-recorder/src/api.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(recorder): persistent capture sync to cloud Postgres (#234 part 2)
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-recorder/src/cloud_sync.rs
  crates/mockforge-recorder/src/lib.rs
  crates/mockforge-recorder/src/recorder.rs
  crates/mockforge-registry-server/migrations/20250101000053_runtime_captures.sql
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(recorder): persistent capture sync to cloud Postgres (#234 part 2) (#240)
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-recorder/src/cloud_sync.rs
  crates/mockforge-recorder/src/lib.rs
  crates/mockforge-recorder/src/recorder.rs
  crates/mockforge-registry-server/migrations/20250101000053_runtime_captures.sql
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): retention worker for captures and traces
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/runtime_observability_retention.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): retention worker for captures and traces (#241)
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/runtime_observability_retention.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks): serve captures from cloud Postgres when synced
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks): serve captures from cloud Postgres when synced (#242)
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(kafka): use advertised_host/port in MetadataResponse (#231)
  crates/mockforge-kafka/src/broker.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(kafka): use advertised_host/port in MetadataResponse (#231) (#243)
  crates/mockforge-kafka/src/broker.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http): reality-slider-driven mock/proxy switching (#222)
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/reality_proxy.rs
  crates/mockforge-registry-core/src/models/hosted_mock.rs
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http): reality-slider-driven mock/proxy switching (#222) (#244)
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/reality_proxy.rs
  crates/mockforge-registry-core/src/models/hosted_mock.rs
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): three quick wires — chains, pipelines, response validation
  Dockerfile
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-http/src/chain_handlers.rs
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

feat(cloud): three quick wires — chains, pipelines, response validation (#245)
  Dockerfile
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-http/src/chain_handlers.rs
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

feat(http): runtime route-chaos rules API
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/route_chaos_runtime.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http): runtime route-chaos rules API (#246)
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/route_chaos_runtime.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http): runtime network-profile switching API
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/network_profile_runtime.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http): runtime network-profile switching API (#247)
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/network_profile_runtime.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http): runtime named-scenario activation API
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/scenarios_runtime.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http): runtime named-scenario activation API (#248)
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/scenarios_runtime.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
