Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

fix(mockforge-http): clear Warning Ratchet Preview on main
  crates/mockforge-http/src/handlers/scenario_studio.rs
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(plugin-host): consolidate signing, blocklist, metering, manifest-cover (#407)
  Cargo.lock
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-plugin-host/src/blocklist.rs
  crates/mockforge-plugin-host/src/handlers.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/metering.rs
  crates/mockforge-plugin-host/src/protocol.rs
  crates/mockforge-plugin-host/src/server.rs
  crates/mockforge-plugin-host/src/signing.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ci): drop broken sccache from self-hosted Rust jobs
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(http): remove unnecessary qualifications flagged by clippy
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ci): generate-dashboard tolerates missing target/criterion (#410)
  .github/scripts/generate-dashboard.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud-plugins): Phase 3.1 UI scaffold — read-only attachment listing
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudPluginsPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/services/api/cloudPlugins.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): UI tests force local mode so cloud-mode dispatch doesn't break mocks (#412)
  crates/mockforge-ui/ui/src/pages/__tests__/ChainsPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/DashboardPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/ImportPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/ScenarioStateMachineEditor.test.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): install Rust toolchain in load-testing jobs (#411)
  .github/workflows/load-testing.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): drop broken sccache from self-hosted Rust jobs (#414)
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(mockforge-http): clear Warning Ratchet Preview on main (#413)
  crates/mockforge-http/src/handlers/scenario_studio.rs
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud-plugins): Phase 3.1 UI scaffold — read-only attachment listing (#418)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudPluginsPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/services/api/cloudPlugins.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud-plugins): orchestrator picks cloud-plugins image when plugins attached (#405)
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud-plugins): control-plane API for plugin attach/detach (#395)
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/feature_usage.rs
  crates/mockforge-registry-server/src/handlers/cloud_plugin_attachments.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud-plugins): org trust-roots control-plane API (#416)
  crates/mockforge-registry-core/src/error.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/trust_roots.rs
  crates/mockforge-registry-server/src/metrics.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud-plugins): per-deployment plugin metering endpoint (#417)
  crates/mockforge-registry-core/src/models/feature_usage.rs
  crates/mockforge-registry-server/src/handlers/cloud_plugin_attachments.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

ci(jcs-fuzz): split build/run so link errors don't file fake fuzz issues (#332)
  .github/workflows/jcs-fuzz.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(test-runner): real SmokeTestExecutor for hosted-mock deployments (#392)
  crates/mockforge-test-runner/src/executors/mod.rs
  crates/mockforge-test-runner/src/executors/smoke.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): position request-traffic analytics as self-hosted in cloud (#394)
  book/src/user-guide/cloud/analytics-dashboard.md
  book/src/user-guide/observability.md
  crates/mockforge-ui/ui/e2e-cloud/03-phase2-remaining.js
  crates/mockforge-ui/ui/e2e/analytics-deployed.spec.ts
  crates/mockforge-ui/ui/e2e/pillar-analytics-deployed.spec.ts
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/AnalyticsPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud-plugins): org trust-roots control-plane API (#416) (#419)
  crates/mockforge-registry-core/src/error.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/trust_roots.rs
  crates/mockforge-registry-server/src/metrics.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): smoke-run trigger endpoint for hosted mocks (#392)
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): position request-traffic analytics as self-hosted in cloud (#394) (#424)
  book/src/user-guide/cloud/analytics-dashboard.md
  book/src/user-guide/observability.md
  crates/mockforge-ui/ui/e2e-cloud/03-phase2-remaining.js
  crates/mockforge-ui/ui/e2e/analytics-deployed.spec.ts
  crates/mockforge-ui/ui/e2e/pillar-analytics-deployed.spec.ts
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/AnalyticsPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): cloud-native behavioral cloning page (#393)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudBehavioralCloningPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix: smoke trigger checks 'active' status, not 'running' (#392)
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): cloud-mode TestingPage — smoke tests against hosted mocks (#392)
  crates/mockforge-ui/ui/src/components/__tests__/testing/Testing.test.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/CloudSmokeView.tsx
  crates/mockforge-ui/ui/src/pages/TestingPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudSmoke.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): raise incident on smoke-run failure (#392)
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui+registry): cloud-mode fitness-function write paths (#355 item 1)
  crates/mockforge-registry-core/src/models/contract_verification.rs
  crates/mockforge-registry-server/src/handlers/contract_verification.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/FitnessFunctionsPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudContract.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): cloud-native behavioral cloning page (#393) (#426)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudBehavioralCloningPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(test-runner): real FitnessExecutor with latency_threshold (#355 item 2 PR 1)
  crates/mockforge-registry-core/src/models/contract_verification.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-test-runner/src/callbacks.rs
  crates/mockforge-test-runner/src/executors/fitness.rs
  crates/mockforge-test-runner/src/executors/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(test-runner): error_rate fitness evaluator (#355 item 2 PR 2/4)
  crates/mockforge-test-runner/src/executors/fitness.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(test-runner): error_rate fitness evaluator (#355 item 2 PR 2/4) (#432)
  crates/mockforge-test-runner/src/executors/fitness.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(test-runner+registry): contract_stability fitness evaluator (#355 item 2 PR 3/4)
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-test-runner/src/callbacks.rs
  crates/mockforge-test-runner/src/executors/fitness.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(test-runner+registry): contract_stability fitness evaluator (#355 item 2 PR 3/4) (#433)
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-test-runner/src/callbacks.rs
  crates/mockforge-test-runner/src/executors/fitness.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(test-runner+registry): custom_query is self-hosted only (#355 item 2 PR 4/4)
  crates/mockforge-registry-server/src/handlers/contract_verification.rs
  crates/mockforge-test-runner/src/executors/fitness.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(test-runner): real SmokeTestExecutor for hosted-mock deployments (#392) (#423)
  crates/mockforge-test-runner/src/executors/mod.rs
  crates/mockforge-test-runner/src/executors/smoke.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui+registry): cloud-mode fitness-function write paths (#355 item 1) (#430)
  crates/mockforge-registry-core/src/models/contract_verification.rs
  crates/mockforge-registry-server/src/handlers/contract_verification.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/FitnessFunctionsPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudContract.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud-plugins): per-deployment plugin metering endpoint (#417) (#421)
  crates/mockforge-registry-core/src/models/feature_usage.rs
  crates/mockforge-registry-server/src/handlers/cloud_plugin_attachments.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): smoke-run trigger endpoint for hosted mocks (#392, handler) (#425)
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): raise incident on smoke-run failure (#392) (#428)
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): cloud-mode TestingPage — smoke tests against hosted mocks (#392) (#427)
  crates/mockforge-ui/ui/src/components/__tests__/testing/Testing.test.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/CloudSmokeView.tsx
  crates/mockforge-ui/ui/src/pages/TestingPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudSmoke.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(jcs-fuzz): split build/run so link errors don't file fake fuzz issues (#332) (#422)
  .github/workflows/jcs-fuzz.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos
