Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

chore: fix two clippy nits from the backlog batch (doc backticks, unused binding)
  crates/mockforge-analytics/src/lib.rs
  crates/mockforge-kafka/src/broker.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(cli): document bench-pipeline and verify-mocks subcommands
  book/src/api/cli.md
Due: check-added-large-files

infra(demo): keep one demo machine warm (min_machines_running=1)
  fly.demo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

feat(broker): MQTT + AMQP traffic recording into the shared recorder (#715)
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-amqp/src/connection.rs
  crates/mockforge-amqp/src/lib.rs
  crates/mockforge-amqp/src/recording.rs
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-mqtt/src/lib.rs
  crates/mockforge-mqtt/src/recording.rs
  crates/mockforge-mqtt/src/server.rs
  crates/mockforge-mqtt/src/session.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

ci(smoke): point Production Smoke Test at the registry API; keep demo warm
  .github/workflows/production-smoke.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor: move reality_continuum (+ time_travel) to mockforge-foundation (#634)
  Cargo.lock
  crates/mockforge-core/src/lib.rs
  crates/mockforge-foundation/Cargo.toml
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-foundation/src/reality_continuum/blender.rs
  crates/mockforge-foundation/src/reality_continuum/config.rs
  crates/mockforge-foundation/src/reality_continuum/engine.rs
  crates/mockforge-foundation/src/reality_continuum/field_mixer.rs
  crates/mockforge-foundation/src/reality_continuum/merge_strategy.rs
  crates/mockforge-foundation/src/reality_continuum/mod.rs
  crates/mockforge-foundation/src/reality_continuum/schedule.rs
  crates/mockforge-foundation/src/time_travel/cron.rs
  crates/mockforge-foundation/src/time_travel/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(broker): MQTT + AMQP traffic recording into the shared recorder (#715) (#1008)
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-amqp/src/connection.rs
  crates/mockforge-amqp/src/lib.rs
  crates/mockforge-amqp/src/recording.rs
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-mqtt/src/lib.rs
  crates/mockforge-mqtt/src/recording.rs
  crates/mockforge-mqtt/src/server.rs
  crates/mockforge-mqtt/src/session.rs
  fly.demo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

refactor: move reality_continuum (+ time_travel) to mockforge-foundation (#634) (#1010)
  .github/workflows/production-smoke.yml
  Cargo.lock
  crates/mockforge-core/src/lib.rs
  crates/mockforge-foundation/Cargo.toml
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-foundation/src/reality_continuum/blender.rs
  crates/mockforge-foundation/src/reality_continuum/config.rs
  crates/mockforge-foundation/src/reality_continuum/engine.rs
  crates/mockforge-foundation/src/reality_continuum/field_mixer.rs
  crates/mockforge-foundation/src/reality_continuum/merge_strategy.rs
  crates/mockforge-foundation/src/reality_continuum/mod.rs
  crates/mockforge-foundation/src/reality_continuum/schedule.rs
  crates/mockforge-foundation/src/time_travel/cron.rs
  crates/mockforge-foundation/src/time_travel/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(proxy): restore missing egress module + fmt drift on verify-mocks/mcp_server
  crates/mockforge-cli/src/mcp_server.rs
  crates/mockforge-cli/src/verify_mocks_commands.rs
  crates/mockforge-proxy/src/egress.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

style: cargo fmt on mqtt/amqp recording modules
  crates/mockforge-amqp/src/connection.rs
  crates/mockforge-amqp/src/lib.rs
  crates/mockforge-amqp/src/recording.rs
  crates/mockforge-mqtt/src/recording.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): inline live-tail for chaos + flow run triggers (#1021)
  crates/mockforge-ui/ui/src/components/RunLiveTail.tsx
  crates/mockforge-ui/ui/src/components/__tests__/RunLiveTail.test.tsx
  crates/mockforge-ui/ui/src/pages/CloudChaosPage.tsx
  crates/mockforge-ui/ui/src/pages/CloudFlowsPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

style(cli): then_some over then-closure in drift response check
  crates/mockforge-cli/src/verify_mocks_commands.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(proxy): re-apply SSRF guard wiring lost in stash churn (#1012)
  crates/mockforge-foundation/src/reality_continuum/field_mixer.rs
  crates/mockforge-proxy/src/config.rs
  crates/mockforge-proxy/src/conformance.rs
  crates/mockforge-proxy/src/lib.rs
  crates/mockforge-proxy/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

style: apply cargo fmt to the SSRF guard re-apply (#1012)
  crates/mockforge-behavioral-cloning/src/probabilistic_model.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/pipeline_bench.rs
  crates/mockforge-cli/examples/seed_capture_db.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/verify_mocks_commands.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-ftp/src/server.rs
  crates/mockforge-import/src/import/swagger2_convert.rs
  crates/mockforge-intelligence/src/intelligent_behavior/llm_client.rs
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-registry-server/src/database.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/workers/contract_probe.rs
  crates/mockforge-registry-server/tests/diff_finding_incident_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

style: apply cargo fmt to remaining files skipped in the #1008 race
  crates/mockforge-behavioral-cloning/src/probabilistic_model.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/pipeline_bench.rs
  crates/mockforge-cli/examples/seed_capture_db.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/verify_mocks_commands.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-ftp/src/server.rs
  crates/mockforge-import/src/import/swagger2_convert.rs
  crates/mockforge-intelligence/src/intelligent_behavior/llm_client.rs
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-proxy/src/server.rs
  crates/mockforge-registry-server/src/database.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/workers/contract_probe.rs
  crates/mockforge-registry-server/tests/diff_finding_incident_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

style: cargo fmt (re-apply after conflicting merges reintroduced drift)
  crates/mockforge-behavioral-cloning/src/probabilistic_model.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-cli/examples/seed_capture_db.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-ftp/src/server.rs
  crates/mockforge-import/src/import/swagger2_convert.rs
  crates/mockforge-intelligence/src/intelligent_behavior/llm_client.rs
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-proxy/src/server.rs
  crates/mockforge-registry-server/src/database.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/workers/contract_probe.rs
  crates/mockforge-registry-server/tests/diff_finding_incident_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix: restore source files truncated by concurrent-session race
  crates/mockforge-behavioral-cloning/src/probabilistic_model.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/pipeline_bench.rs
  crates/mockforge-cli/examples/seed_capture_db.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/verify_mocks_commands.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-ftp/src/server.rs
  crates/mockforge-import/src/import/swagger2_convert.rs
  crates/mockforge-intelligence/src/intelligent_behavior/llm_client.rs
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-proxy/src/server.rs
  crates/mockforge-registry-server/src/database.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/workers/contract_probe.rs
  crates/mockforge-registry-server/tests/diff_finding_incident_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

Add message filter to the mock Kafka broker
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/filter.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/partitions.rs
  crates/mockforge-kafka/src/server.rs
  crates/mockforge-kafka/src/topics.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): honor --wafbench-verbatim on --targets-file runs (#79)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/pipeline_bench.rs
  crates/mockforge-core/src/chain_execution.rs
  crates/mockforge-core/src/consumer_contracts/usage_recorder.rs
  crates/mockforge-core/src/generative_schema/entity_inference.rs
  crates/mockforge-core/src/import/import_utils.rs
  crates/mockforge-core/src/import/postman_environment.rs
  crates/mockforge-core/src/incidents/store.rs
  crates/mockforge-core/src/record_replay.rs
  crates/mockforge-core/src/snapshots/manager.rs
  crates/mockforge-core/src/workspace.rs
  crates/mockforge-core/src/workspace/request.rs
  crates/mockforge-core/src/workspace_persistence.rs
  crates/mockforge-proxy/src/conformance.rs
  crates/mockforge-proxy/src/egress.rs
  crates/mockforge-proxy/src/server.rs
  crates/mockforge-recorder/src/scrubbing.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry-core): cfg-gate unused Future import (#79)
  crates/mockforge-registry-core/src/incident_bus.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): honor --wafbench-verbatim on --targets-file runs (#79) (#1023)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/pipeline_bench.rs
  crates/mockforge-core/src/chain_execution.rs
  crates/mockforge-core/src/consumer_contracts/usage_recorder.rs
  crates/mockforge-core/src/generative_schema/entity_inference.rs
  crates/mockforge-core/src/import/import_utils.rs
  crates/mockforge-core/src/import/postman_environment.rs
  crates/mockforge-core/src/incidents/store.rs
  crates/mockforge-core/src/record_replay.rs
  crates/mockforge-core/src/snapshots/manager.rs
  crates/mockforge-core/src/workspace.rs
  crates/mockforge-core/src/workspace/request.rs
  crates/mockforge-core/src/workspace_persistence.rs
  crates/mockforge-proxy/src/conformance.rs
  crates/mockforge-proxy/src/egress.rs
  crates/mockforge-proxy/src/server.rs
  crates/mockforge-recorder/src/scrubbing.rs
  crates/mockforge-registry-core/src/incident_bus.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.215
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  book/src/user-guide/waf-testing.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

docs: document AMQP/MQTT recording DB env vars
  book/src/configuration/environment.md
Due: check-added-large-files

chore(release): v0.3.215 (#1024)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/configuration/environment.md
  book/src/reference/changelog.md
  book/src/user-guide/waf-testing.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench): fail missing --wafbench-dir and print per-file traffic stats (#79)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/security_payloads.rs
  crates/mockforge-bench/src/wafbench.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

style(kafka): drop unused std::sync::Arc qualifications
  crates/mockforge-kafka/src/broker.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

style(http): drop unused axum::http qualifications
  crates/mockforge-http/src/metrics_middleware.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

style(cli): drop unused openapiv3::ReferenceOr qualifications
  crates/mockforge-cli/src/mcp_server.rs
  crates/mockforge-cli/src/verify_mocks_commands.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(security): bump wasmtime 36.0.14 and ignore test-only suppaftp advisory
  Cargo.lock
  audit.toml
  crates/mockforge-cli/examples/seed_capture_db.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): fail missing --wafbench-dir and print per-file traffic stats (#79) (#1027)
  Cargo.lock
  audit.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/security_payloads.rs
  crates/mockforge-bench/src/wafbench.rs
  crates/mockforge-cli/examples/seed_capture_db.rs
  crates/mockforge-cli/src/mcp_server.rs
  crates/mockforge-cli/src/verify_mocks_commands.rs
  crates/mockforge-http/src/metrics_middleware.rs
  crates/mockforge-kafka/src/broker.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(release): v0.3.216
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): v0.3.216 (#1028)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench): skip invented Content-Length and uniquify colliding k6 metrics (#79)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/request_gen.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): skip invented Content-Length and uniquify colliding k6 metrics (#79) (#1031)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/request_gen.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.217
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): v0.3.217 (#1032)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench): JSON-encode static k6 paths so WAF \x URIs parse (#79)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
