Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

feat(fixtures): allow protocol updates + surface created_at in viewer
  crates/mockforge-registry-core/src/models/cloud_fixture.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/cloud_fixtures.rs
  crates/mockforge-ui/ui/src/pages/FixturesPage.tsx
  crates/mockforge-ui/ui/src/services/api/fixtures.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(fixtures): wire workspace_id, route_path, creator + bulk delete
  crates/mockforge-registry-core/src/models/cloud_fixture.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/cloud_fixtures.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/src/pages/FixturesPage.tsx
  crates/mockforge-ui/ui/src/services/api/fixtures.ts
  crates/mockforge-ui/ui/src/types/index.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): wire federation/workspace gaps from app.mockforge.dev/federation audit
  crates/mockforge-ui/ui/src/components/federation/FederationList.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceFederationScenariosPanel.tsx
  crates/mockforge-ui/ui/src/hooks/useFederation.ts
  crates/mockforge-ui/ui/src/pages/WorkspacesPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): close remaining federation page gaps (org switcher, route envelope, force-state)
  crates/mockforge-ui/ui/src/components/federation/ActiveScenarioPanel.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationDetail.tsx
  crates/mockforge-ui/ui/src/hooks/useFederation.ts
  crates/mockforge-ui/ui/src/pages/FederationPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(fixtures): allow protocol updates + surface created_at in viewer (#321)
  crates/mockforge-registry-core/src/models/cloud_fixture.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/cloud_fixtures.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/src/pages/FixturesPage.tsx
  crates/mockforge-ui/ui/src/services/api/fixtures.ts
  crates/mockforge-ui/ui/src/types/index.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): wire federation/workspace gaps from federation page audit (#322)
  crates/mockforge-ui/ui/src/components/federation/ActiveScenarioPanel.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationDetail.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationList.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceFederationScenariosPanel.tsx
  crates/mockforge-ui/ui/src/hooks/useFederation.ts
  crates/mockforge-ui/ui/src/pages/FederationPage.tsx
  crates/mockforge-ui/ui/src/pages/WorkspacesPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): wire workspace gaps and remove dead code from workspaces page audit
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/workspaces.rs
  crates/mockforge-ui/ui/src/components/workspace/FidelityScore.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceManagement.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceSyncPanel.tsx
  crates/mockforge-ui/ui/src/pages/WorkspacesPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/WorkspacesPage.test.tsx
  crates/mockforge-ui/ui/src/services/api/workspaces.ts
  crates/mockforge-ui/ui/src/types/index.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): wire workspace audit follow-ups (folder/request CRUD, sync ext, mock envs, stats, dead-code)
  crates/mockforge-core/src/workspace.rs
  crates/mockforge-registry-core/src/models/workspace_request.rs
  crates/mockforge-registry-server/src/handlers/workspace_folders.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/promotions.rs
  crates/mockforge-ui/src/handlers/workspaces.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/src/components/workspace/EnvironmentManager.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceMockEnvironmentsPanel.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceStatsStrip.tsx
  crates/mockforge-ui/ui/src/pages/WorkspacesPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/WorkspacesPage.test.tsx
  crates/mockforge-ui/ui/src/services/api/workspaces.ts
  crates/mockforge-ui/ui/src/types/index.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): wire workspace gaps and remove dead code from workspaces page audit (#323)
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/workspaces.rs
  crates/mockforge-ui/ui/src/components/workspace/FidelityScore.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceManagement.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceSyncPanel.tsx
  crates/mockforge-ui/ui/src/pages/WorkspacesPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/WorkspacesPage.test.tsx
  crates/mockforge-ui/ui/src/services/api/workspaces.ts
  crates/mockforge-ui/ui/src/types/index.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): wire dashboard page gaps and remove dead-end cloud controls
  crates/mockforge-registry-server/src/handlers/cloud_dashboard.rs
  crates/mockforge-ui/ui/src/components/dashboard/CloudActivityFeed.tsx
  crates/mockforge-ui/ui/src/hooks/api/index.ts
  crates/mockforge-ui/ui/src/hooks/api/useCloudDashboardApi.ts
  crates/mockforge-ui/ui/src/pages/DashboardPage.tsx
  crates/mockforge-ui/ui/src/types/index.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(observability,tui): add TPS/RPS/CPS rate metrics in TUI + CSV (#79)
  crates/mockforge-chaos/src/chaos_listener.rs
  crates/mockforge-chaos/src/request_matcher.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-foundation/src/rate_counters.rs
  crates/mockforge-http/src/counting_listener.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/metrics_middleware.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/dashboard.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/models.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cli): add --https-port for nginx-style dual HTTP+HTTPS listener (#79)
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cli): bench-chunked --spec for POST/PUT/PATCH iteration (#79)
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(bench): capture error response samples in bench-chunked (#79)
  crates/mockforge-bench/src/chunked_bench.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): cloud-enablement design docs + AI Studio Phase 1 backend
  crates/mockforge-registry-server/src/ai/client.rs
  crates/mockforge-registry-server/src/ai/mod.rs
  crates/mockforge-registry-server/src/ai/provider.rs
  crates/mockforge-registry-server/src/ai/quota.rs
  crates/mockforge-registry-server/src/handlers/ai_studio.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/lib.rs
  crates/mockforge-registry-server/src/routes.rs
  docs/cloud/CLOUD_AI_STUDIO_DESIGN.md
  docs/cloud/CLOUD_CHAOS_RESILIENCE_DESIGN.md
  docs/cloud/CLOUD_COLLAB_EDITORS_DESIGN.md
  docs/cloud/CLOUD_CONTRACT_VERIFICATION_DESIGN.md
  docs/cloud/CLOUD_IMPORT_DESIGN.md
  docs/cloud/CLOUD_INCIDENTS_DESIGN.md
  docs/cloud/CLOUD_OBSERVABILITY_DESIGN.md
  docs/cloud/CLOUD_PERFORMANCE_DECISION.md
  docs/cloud/CLOUD_RECORDER_BEHAVIORAL_CLONING_DESIGN.md
  docs/cloud/CLOUD_SCENARIO_ORCHESTRATION_DESIGN.md
  docs/cloud/CLOUD_SHOWCASE_LEARNING_DESIGN.md
  docs/cloud/CLOUD_TEST_EXECUTION_DESIGN.md
  docs/cloud/CLOUD_TIME_TRAVEL_DESIGN.md
  docs/cloud/CLOUD_TUNNELS_DESIGN.md
  docs/cloud/CLOUD_USER_MANAGEMENT_CONSOLIDATION.md
  docs/cloud/INTENTIONALLY_LOCAL_FEATURES.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): add cloud-aware aiStudio.ts client for /api/v1/ai-studio/chat
  crates/mockforge-ui/ui/src/services/api/aiStudio.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): add /generate-openapi and /explain-rule AI Studio handlers
  crates/mockforge-registry-server/src/handlers/ai_studio.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/services/api/aiStudio.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): Test Execution Phase 1 — schema + TestSuite CRUD
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/organization.rs
  crates/mockforge-registry-core/src/models/subscription.rs
  crates/mockforge-registry-core/src/models/test_execution.rs
  crates/mockforge-registry-server/migrations/20250101000059_test_execution.sql
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/test_suites.rs
  crates/mockforge-registry-server/src/handlers/usage.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): Incidents Phase 1 — schema + Incident model scaffolding
  crates/mockforge-registry-core/src/models/incident.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-server/migrations/20250101000060_incidents.sql
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cli): add --https-port for nginx-style dual HTTP+HTTPS listener (#79) (#327)
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cli): bench-chunked --spec for POST/PUT/PATCH iteration (#79) (#328)
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(bench): capture error response samples in bench-chunked (#79) (#329)
  crates/mockforge-bench/src/chunked_bench.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(observability,tui): add TPS/RPS/CPS rate metrics in TUI + CSV (#79) (#326)
  crates/mockforge-chaos/src/chaos_listener.rs
  crates/mockforge-chaos/src/request_matcher.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-foundation/src/rate_counters.rs
  crates/mockforge-http/src/counting_listener.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/metrics_middleware.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/dashboard.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/models.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): #3 Incidents handlers + #4 Test Run trigger endpoint
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/notification_channel.rs
  crates/mockforge-registry-core/src/models/routing_rule.rs
  crates/mockforge-registry-core/src/models/test_run.rs
  crates/mockforge-registry-server/src/handlers/incidents.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/notification_channels.rs
  crates/mockforge-registry-server/src/handlers/routing_rules.rs
  crates/mockforge-registry-server/src/handlers/test_runs.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): bump workspace to 0.3.126
  Cargo.lock
  Cargo.toml
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(cloud): Tunnels Phase 1 — schema + reservation CRUD
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/organization.rs
  crates/mockforge-registry-core/src/models/subscription.rs
  crates/mockforge-registry-core/src/models/tunnel.rs
  crates/mockforge-registry-server/migrations/20250101000061_tunnels.sql
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/tunnels.rs
  crates/mockforge-registry-server/src/handlers/usage.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): Showcase + Learning Hub Phase 1 — schema + read paths
  crates/mockforge-registry-core/src/models/learning.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/showcase.rs
  crates/mockforge-registry-server/migrations/20250101000062_showcase_and_learning.sql
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/showcase.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): Time Travel Phase 1 — schema + Snapshot CRUD
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/organization.rs
  crates/mockforge-registry-core/src/models/snapshot.rs
  crates/mockforge-registry-core/src/models/subscription.rs
  crates/mockforge-registry-server/migrations/20250101000063_time_travel.sql
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/snapshots.rs
  crates/mockforge-registry-server/src/handlers/usage.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(changelog): backfill 0.3.119 through 0.3.126
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(changelog): add stub for 0.3.104..0.3.118 gap
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): Scenario/Orchestration Phase 1 — unified flows resource
  crates/mockforge-registry-core/src/models/flow.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-server/migrations/20250101000064_flows.sql
  crates/mockforge-registry-server/src/handlers/flows.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): five Phase-1 schemas + handlers (#2/#6/#7/#8/#15)
  crates/mockforge-registry-core/src/models/capture.rs
  crates/mockforge-registry-core/src/models/chaos.rs
  crates/mockforge-registry-core/src/models/contract_verification.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/observability_query.rs
  crates/mockforge-registry-core/src/models/org_invitation.rs
  crates/mockforge-registry-core/src/models/organization.rs
  crates/mockforge-registry-core/src/models/subscription.rs
  crates/mockforge-registry-server/migrations/20250101000065_observability.sql
  crates/mockforge-registry-server/migrations/20250101000066_chaos.sql
  crates/mockforge-registry-server/migrations/20250101000067_contract_verification.sql
  crates/mockforge-registry-server/migrations/20250101000068_recorder_cloning.sql
  crates/mockforge-registry-server/migrations/20250101000069_org_invitations.sql
  crates/mockforge-registry-server/src/handlers/captures.rs
  crates/mockforge-registry-server/src/handlers/chaos.rs
  crates/mockforge-registry-server/src/handlers/contract_verification.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/observability.rs
  crates/mockforge-registry-server/src/handlers/org_invitations.rs
  crates/mockforge-registry-server/src/handlers/usage.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): wire profile-menu gaps — admin role, email verify, member-since, font size
  crates/mockforge-ui/ui/src/components/auth/AccountSettings.tsx
  crates/mockforge-ui/ui/src/components/auth/Preferences.tsx
  crates/mockforge-ui/ui/src/components/auth/ProfileSettings.tsx
  crates/mockforge-ui/ui/src/stores/__tests__/useAuthStore.test.ts
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
  crates/mockforge-ui/ui/src/types/index.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): wire AI Studio chat to cloud + flip ai-studio nav item
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/AIStudioPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): mockforge-test-runner scaffold + internal callbacks
  Cargo.lock
  Cargo.toml
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-test-runner/Cargo.toml
  crates/mockforge-test-runner/src/bin/runner.rs
  crates/mockforge-test-runner/src/callbacks.rs
  crates/mockforge-test-runner/src/config.rs
  crates/mockforge-test-runner/src/dispatcher.rs
  crates/mockforge-test-runner/src/error.rs
  crates/mockforge-test-runner/src/executors/chaos.rs
  crates/mockforge-test-runner/src/executors/clone_train.rs
  crates/mockforge-test-runner/src/executors/contract.rs
  crates/mockforge-test-runner/src/executors/flow.rs
  crates/mockforge-test-runner/src/executors/mod.rs
  crates/mockforge-test-runner/src/executors/replay.rs
  crates/mockforge-test-runner/src/executors/snapshot.rs
  crates/mockforge-test-runner/src/executors/test.rs
  crates/mockforge-test-runner/src/lib.rs
  crates/mockforge-test-runner/src/queue.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(ui): wire Import page to cloud + flip import nav item (#13)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/ImportPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(cloud): revert duplicate org_invitations module — pre-existing system already handles #15
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/org_invitation.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/org_invitations.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): convert @xyflow/react type-only imports to import type
  crates/mockforge-ui/ui/src/components/graph/EndpointNode.tsx
  crates/mockforge-ui/ui/src/components/graph/ServiceNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/ApiCallNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/ConditionNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/DelayNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/FlowPropertiesPanel.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/LoopNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/ParallelNode.tsx
  crates/mockforge-ui/ui/src/components/state-machine/StateNode.tsx
  crates/mockforge-ui/ui/src/components/state-machine/TransitionEdge.tsx
  crates/mockforge-ui/ui/src/components/world-state/WorldStateGraph.tsx
  crates/mockforge-ui/ui/src/components/world-state/WorldStateNode.tsx
  crates/mockforge-ui/ui/src/pages/GraphPage.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStateMachineEditor.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStudioPage.tsx
  crates/mockforge-ui/ui/src/utils/graphClustering.ts
  crates/mockforge-ui/ui/src/utils/graphLayouts.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
