Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

chore: yanked-dep bumps, self-hosted runner health alert, load-test headroom
  .github/workflows/runner-health.yml
  CHANGELOG.md
  Cargo.lock
  book/src/reference/changelog.md
  tests/load/http_load_high_scale.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

fix(scripts): prune-worktrees skips trees whose branch has unpushed commits
  scripts/prune-worktrees.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(scripts): prune-worktrees skips trees whose branch has unpushed commits (#1137)
  scripts/prune-worktrees.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(runner): refuse a base_path that could rewrite the request authority
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-test-runner/src/executors/test.rs
  crates/mockforge-test-runner/src/target_client.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore: yanked-dep bumps, self-hosted runner health alert, load-test headroom (#1138)
  .github/workflows/runner-health.yml
  CHANGELOG.md
  Cargo.lock
  book/src/reference/changelog.md
  tests/load/http_load_high_scale.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

fix(registry): stop writing emails/usernames to audit logs, bound retention to 400 days, implement SQLite GDPR erase (#1087)
  CHANGELOG.md
  book/src/reference/changelog.md
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations/20250101000089_audit_logs_bounded_retention.sql
  crates/mockforge-registry-server/src/audit_entries.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/oidc.rs
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/src/handlers/password_reset.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/lib.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/workers/audit_log_retention.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/tests/audit_integrity_e2e.rs
  crates/mockforge-registry-server/tests/audit_pii_guard.rs
  crates/mockforge-ui/ui/src/content/legal/dpa.md
  crates/mockforge-ui/ui/src/content/legal/index.ts
  crates/mockforge-ui/ui/src/content/legal/privacy.md
  crates/mockforge-ui/ui/src/content/legal/terms.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): spec path keys and OWASP paths are always URL paths
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/spec_parser.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(runner): route every user-supplied URL through an SSRF-guarded client (#1134)
  .github/workflows/ashburn-image-smoke.yml
  .github/workflows/ashburn-images.yml
  Dockerfile.egress
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/preflight.rs
  crates/mockforge-bench/src/spec_parser.rs
  crates/mockforge-bench/src/ssrf.rs
  crates/mockforge-chaos-proxy/src/lib.rs
  crates/mockforge-test-runner/src/config.rs
  crates/mockforge-test-runner/src/dispatcher.rs
  crates/mockforge-test-runner/src/executors/chain.rs
  crates/mockforge-test-runner/src/executors/chaos.rs
  crates/mockforge-test-runner/src/executors/contract.rs
  crates/mockforge-test-runner/src/executors/integration.rs
  crates/mockforge-test-runner/src/executors/replay.rs
  crates/mockforge-test-runner/src/executors/smoke.rs
  crates/mockforge-test-runner/src/executors/test.rs
  crates/mockforge-test-runner/src/lib.rs
  crates/mockforge-test-runner/src/target_client.rs
  docs/ASHBURN_IMAGE_SUPPLY.md
  scripts/tests/k6_egress_e2e.sh
  scripts/tests/test_ashburn_images.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): stop writing emails/usernames to audit logs, bound retention to 400 days, implement SQLite GDPR erase (#1087) (#1135)
  CHANGELOG.md
  book/src/reference/changelog.md
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations/20250101000089_audit_logs_bounded_retention.sql
  crates/mockforge-registry-server/src/audit_entries.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/oidc.rs
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/src/handlers/password_reset.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/lib.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/workers/audit_log_retention.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/tests/audit_integrity_e2e.rs
  crates/mockforge-registry-server/tests/audit_pii_guard.rs
  crates/mockforge-ui/ui/src/content/legal/dpa.md
  crates/mockforge-ui/ui/src/content/legal/index.ts
  crates/mockforge-ui/ui/src/content/legal/privacy.md
  crates/mockforge-ui/ui/src/content/legal/terms.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

ci: runner-health alerts only when the pool is idle; deploy-ui on hosted runner
  .github/workflows/deploy-ui.yml
  .github/workflows/runner-health.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

test(registry): make the SSRF policy tests race-free
  crates/mockforge-registry-server/src/handlers/test_runs.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: runner-health alerts only when the pool is idle; deploy-ui on hosted runner (#1140)
  .github/workflows/deploy-ui.yml
  .github/workflows/runner-health.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

test(registry): make the SSRF policy tests race-free (#1141)
  crates/mockforge-registry-server/src/handlers/test_runs.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(runner): suite-triggered integration runs execute their real steps
  crates/mockforge-bench/src/ssrf.rs
  crates/mockforge-test-runner/src/executors/test.rs
  crates/mockforge-test-runner/src/target_client.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(deps): bump wasmtime/wasmtime-wasi 36.0.16 -> 36.0.17 for RUSTSEC-2026-0321/0322/0323
  Cargo.lock
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

fix(runner): suite-triggered integration runs execute their real steps; bump wasmtime-wasi for RUSTSEC-2026-0321/0322/0323 (#1143)
  Cargo.lock
  crates/mockforge-bench/src/ssrf.rs
  crates/mockforge-test-runner/src/executors/test.rs
  crates/mockforge-test-runner/src/target_client.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ui): reconcile current-main schemas and confirmation tests
  CHANGELOG.md
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/workspace/__tests__/EnvironmentManager.test.tsx
  crates/mockforge-ui/ui/src/schemas/api.ts
  crates/mockforge-ui/ui/src/services/authUser.ts
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(ui): isolate auth recovery decisions and sync changelog
  book/src/reference/changelog.md
  crates/mockforge-ui/ui/src/services/authSession.ts
  crates/mockforge-ui/ui/src/services/authUser.ts
  crates/mockforge-ui/ui/src/services/tokenStorage.ts
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): align auth test types and isolate identity resolution
  crates/mockforge-ui/ui/src/services/authSession.ts
  crates/mockforge-ui/ui/src/stores/__tests__/useAuthStore.test.ts
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(ui): restore cookie identity before a single refresh
  crates/mockforge-ui/ui/src/services/authUser.ts
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(ui): simplify guarded profile hydration
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(ui): reuse validated token expiry parsing
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(ui): move profile persistence out of auth state transitions
  crates/mockforge-ui/ui/src/services/userProfile.ts
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): repair cloud flow contracts and portal readability
  CHANGELOG.md
  book/src/reference/changelog.md
  crates/mockforge-ui/ui/src/components/federation/FederationDetail.tsx
  crates/mockforge-ui/ui/src/components/services/ServiceToggleCard.tsx
  crates/mockforge-ui/ui/src/components/ui/Dialog.tsx
  crates/mockforge-ui/ui/src/components/ui/button.tsx
  crates/mockforge-ui/ui/src/components/ui/input.tsx
  crates/mockforge-ui/ui/src/components/ui/mui-shim.tsx
  crates/mockforge-ui/ui/src/components/ui/textarea.tsx
  crates/mockforge-ui/ui/src/hooks/__tests__/useThemeSync.contrast.test.ts
  crates/mockforge-ui/ui/src/hooks/useThemeSync.ts
  crates/mockforge-ui/ui/src/index.css
  crates/mockforge-ui/ui/src/pages/ChainsPage.tsx
  crates/mockforge-ui/ui/src/pages/CloudFlowsPage.tsx
  crates/mockforge-ui/ui/src/pages/OrchestrationBuilder.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStateMachineEditor.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStudioPage.tsx
  crates/mockforge-ui/ui/src/services/api/__tests__/cloudFlows.contract.test.ts
  crates/mockforge-ui/ui/src/services/api/cloudFlows.ts
  docs/qa/cloud-portal-2026-10-03.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): align dark dialogs and finish contrast verification
  .github/actions/setup-mdbook/action.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docs-check.yml
  crates/mockforge-ui/ui/src/components/federation/FederationDetail.tsx
  crates/mockforge-ui/ui/src/components/ui/Dialog.tsx
  crates/mockforge-ui/ui/src/components/ui/design-system/Button.tsx
  crates/mockforge-ui/ui/src/components/ui/mui-shim.tsx
  crates/mockforge-ui/ui/src/hooks/__tests__/useThemeSync.contrast.test.ts
  crates/mockforge-ui/ui/src/index.css
  crates/mockforge-ui/ui/src/pages/CloudFlowsPage.tsx
  crates/mockforge-ui/ui/src/pages/CloudRecorderPage.tsx
  crates/mockforge-ui/ui/src/pages/CloudShowcaseAdminPage.tsx
  crates/mockforge-ui/ui/src/pages/CloudSnapshotsPage.tsx
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
  crates/mockforge-ui/ui/src/pages/TunnelsPage.tsx
  docs/qa/cloud-portal-2026-10-03-readability.json
  docs/qa/cloud-portal-2026-10-03.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): use readable primary colors for legacy actions
  crates/mockforge-ui/ui/src/components/dashboard/RequestLog.tsx
  crates/mockforge-ui/ui/src/components/time-travel/TimeTravelWidget.tsx
  crates/mockforge-ui/ui/src/pages/CloudTimeTravelView.tsx
  crates/mockforge-ui/ui/src/pages/TimeTravelPage.tsx
  docs/qa/cloud-portal-2026-10-03.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): repair cloud flow creation and portal readability (#1146)
  .github/actions/setup-mdbook/action.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docs-check.yml
  CHANGELOG.md
  book/src/reference/changelog.md
  crates/mockforge-ui/ui/src/components/dashboard/RequestLog.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationDetail.tsx
  crates/mockforge-ui/ui/src/components/services/ServiceToggleCard.tsx
  crates/mockforge-ui/ui/src/components/time-travel/TimeTravelWidget.tsx
  crates/mockforge-ui/ui/src/components/ui/Dialog.tsx
  crates/mockforge-ui/ui/src/components/ui/button.tsx
  crates/mockforge-ui/ui/src/components/ui/design-system/Button.tsx
  crates/mockforge-ui/ui/src/components/ui/input.tsx
  crates/mockforge-ui/ui/src/components/ui/mui-shim.tsx
  crates/mockforge-ui/ui/src/components/ui/textarea.tsx
  crates/mockforge-ui/ui/src/hooks/__tests__/useThemeSync.contrast.test.ts
  crates/mockforge-ui/ui/src/hooks/useThemeSync.ts
  crates/mockforge-ui/ui/src/index.css
  crates/mockforge-ui/ui/src/pages/ChainsPage.tsx
  crates/mockforge-ui/ui/src/pages/CloudFlowsPage.tsx
  crates/mockforge-ui/ui/src/pages/CloudRecorderPage.tsx
  crates/mockforge-ui/ui/src/pages/CloudShowcaseAdminPage.tsx
  crates/mockforge-ui/ui/src/pages/CloudSnapshotsPage.tsx
  crates/mockforge-ui/ui/src/pages/CloudTimeTravelView.tsx
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
  crates/mockforge-ui/ui/src/pages/OrchestrationBuilder.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStateMachineEditor.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStudioPage.tsx
  crates/mockforge-ui/ui/src/pages/TimeTravelPage.tsx
  crates/mockforge-ui/ui/src/pages/TunnelsPage.tsx
  crates/mockforge-ui/ui/src/services/api/__tests__/cloudFlows.contract.test.ts
  crates/mockforge-ui/ui/src/services/api/cloudFlows.ts
  docs/qa/cloud-portal-2026-10-03-readability.json
  docs/qa/cloud-portal-2026-10-03.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): keep audit hashing free of redundant qualifications
  CHANGELOG.md
  book/src/reference/changelog.md
  crates/mockforge-registry-core/src/models/audit_log.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): keep audit hashing free of redundant qualifications (#1147)
  CHANGELOG.md
  book/src/reference/changelog.md
  crates/mockforge-registry-core/src/models/audit_log.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(legal): database storage is now encrypted at rest
  crates/mockforge-ui/ui/src/content/legal/dpa.md
  crates/mockforge-ui/ui/src/content/legal/index.ts
  crates/mockforge-ui/ui/src/content/legal/privacy.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(legal): database storage is now encrypted at rest (#1148)
  crates/mockforge-ui/ui/src/content/legal/dpa.md
  crates/mockforge-ui/ui/src/content/legal/index.ts
  crates/mockforge-ui/ui/src/content/legal/privacy.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): name the cloud flows page 'Saved Flows' in nav, breadcrumb and heading
  crates/mockforge-ui/ui/src/components/layout/navigation.ts
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudFlowsPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): name the cloud flows page 'Saved Flows' in nav, breadcrumb and heading (#1149)
  crates/mockforge-ui/ui/src/components/layout/navigation.ts
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudFlowsPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(bench): bench-chunked sends valid JSON bodies for JSON content types (#79)
  book/src/user-guide/load-testing.md
  crates/mockforge-bench/src/chunked_bench.rs
  crates/mockforge-bench/src/chunked_command.rs
  docs/bench-command-examples.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.230
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench): bench-chunked sends valid JSON bodies for JSON content types (#79) (#1150)
  book/src/user-guide/load-testing.md
  crates/mockforge-bench/src/chunked_bench.rs
  crates/mockforge-bench/src/chunked_command.rs
  docs/bench-command-examples.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.230 (#1151)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit
