Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

feat(bench,foundation,openapi): stamp client send time + mockforge version (#876) (#880)
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/per_endpoint_summary.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/route.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(ui): SSO login loop + OIDC config UI, re-landed on complete backend (#746)
  crates/mockforge-ui/ui/src/components/auth/AuthGuard.tsx
  crates/mockforge-ui/ui/src/components/auth/LoginForm.tsx
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
  crates/mockforge-ui/ui/src/pages/SsoCallbackPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): AI enqueue quota gate + subscription-status entitlement gating (#865, #870)
  crates/mockforge-registry-core/src/models/test_generation_job.rs
  crates/mockforge-registry-server/src/handlers/ai_studio.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-registry-server/src/handlers/entitlements.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/oidc.rs
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/handlers/test_generation.rs
  crates/mockforge-registry-server/tests/entitlement_subscription_gate_e2e.rs
  crates/mockforge-registry-server/tests/test_generation_quota_gate_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): SOC2 audit-logging hardening — auth events, tamper-evidence, GDPR export, quota atomicity (#871, #872, #867, #873)
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/subscription.rs
  crates/mockforge-registry-server/migrations/20250101000080_audit_log_integrity.sql
  crates/mockforge-registry-server/src/ai/quota.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/gdpr.rs
  crates/mockforge-registry-server/tests/audit_integrity_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): SSO login loop + OIDC config UI, re-landed on complete backend (#746) (#881)
  crates/mockforge-ui/ui/src/components/auth/AuthGuard.tsx
  crates/mockforge-ui/ui/src/components/auth/LoginForm.tsx
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
  crates/mockforge-ui/ui/src/pages/SsoCallbackPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): SOC2 audit-logging hardening — auth events, tamper-evidence, GDPR export, quota atomicity (#871, #872, #867, #873) (#883)
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/subscription.rs
  crates/mockforge-registry-server/migrations/20250101000080_audit_log_integrity.sql
  crates/mockforge-registry-server/src/ai/quota.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/gdpr.rs
  crates/mockforge-registry-server/tests/audit_integrity_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(tui,book): r37 - TUI export client stamps + chaos cookbook + multi-server tabs + Windows install (#79)
  book/src/getting-started/installation.md
  book/src/user-guide/chaos-engineering.md
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/app.rs
  crates/mockforge-tui/src/config.rs
  crates/mockforge-tui/src/keybindings.rs
  crates/mockforge-tui/src/main.rs
  crates/mockforge-tui/src/screens/conformance.rs
  crates/mockforge-tui/src/widgets/help.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore: bump workspace to 0.3.182 + CHANGELOG (r37 — TUI export stamps, multi-server tabs, chaos cookbook, Windows install)
  CHANGELOG.md
  Cargo.toml
  crates/mockforge-registry-server/src/handlers/entitlements.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(tui,book): r37 - TUI export client stamps + chaos cookbook + multi-server tabs + Windows install (#79) (#885)
  book/src/getting-started/installation.md
  book/src/user-guide/chaos-engineering.md
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/app.rs
  crates/mockforge-tui/src/config.rs
  crates/mockforge-tui/src/keybindings.rs
  crates/mockforge-tui/src/main.rs
  crates/mockforge-tui/src/screens/conformance.rs
  crates/mockforge-tui/src/widgets/help.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): AI enqueue quota gate + subscription-status entitlement gating (#865, #870) (#882)
  crates/mockforge-registry-core/src/models/test_generation_job.rs
  crates/mockforge-registry-server/src/handlers/ai_studio.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-registry-server/src/handlers/entitlements.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/oidc.rs
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/handlers/test_generation.rs
  crates/mockforge-registry-server/tests/entitlement_subscription_gate_e2e.rs
  crates/mockforge-registry-server/tests/test_generation_quota_gate_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): emit audit events at SSO/AI/org/billing sites (#866, #873)
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-server/migrations/20250101000081_ai_usage_audit_event.sql
  crates/mockforge-registry-server/src/handlers/ai_studio.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-registry-server/src/handlers/oidc.rs
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/workers/test_generation_worker.rs
  crates/mockforge-registry-server/tests/audit_integrity_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): emit audit events at SSO/AI/org/billing sites (#866, #873) (#886)
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-server/migrations/20250101000081_ai_usage_audit_event.sql
  crates/mockforge-registry-server/src/handlers/ai_studio.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-registry-server/src/handlers/oidc.rs
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/workers/test_generation_worker.rs
  crates/mockforge-registry-server/tests/audit_integrity_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cli,bench,book): r38 - admin-host bind + bench file-upload + cookie/CSRF chain (#79)
  Cargo.lock
  book/src/SUMMARY.md
  book/src/getting-started/quick-start.md
  book/src/reference/bench-custom-checks.md
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

chore: bump to 0.3.183 + CHANGELOG (r38 admin-host, file uploads, cookie/CSRF chain)
  CHANGELOG.md
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(cli,bench,book): r38 - admin-host bind + bench file-upload + cookie/CSRF chain (#79) (#887)
  Cargo.lock
  book/src/SUMMARY.md
  book/src/getting-started/quick-start.md
  book/src/reference/bench-custom-checks.md
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): r39 k6 emitter handles upload + extract + repeat + custom-only (#79)
  Cargo.lock
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

chore: bump to 0.3.184 + CHANGELOG (r39 k6 uploads/extract/repeat/custom-only)
  CHANGELOG.md
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(bench): r39 k6 emitter handles upload + extract + repeat + custom-only (#79) (#889)
  Cargo.lock
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

fix: remove redundant path qualifications (unused_qualifications under Rust 1.96)
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-chaos-orchestration/src/alerts.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/oidc.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

ci: pin Rust toolchain to 1.96.0 + fix CHANGELOG typo
  .github/actions/rust-toolchain/action.yml
  .github/workflows/ci.yml
  .github/workflows/registry-e2e.yml
  CHANGELOG.md
  rust-toolchain.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

fix(openapi): r40 merge + resolve path-level parameters in validator (#888, #79)
  crates/mockforge-openapi/src/openapi_routes/registry.rs
  crates/mockforge-openapi/src/spec.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

ci: pin Rust toolchain to 1.96.0 + fix CHANGELOG typo (#891)
  .github/actions/rust-toolchain/action.yml
  .github/workflows/ci.yml
  .github/workflows/registry-e2e.yml
  CHANGELOG.md
  rust-toolchain.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

chore: bump to 0.3.185 + CHANGELOG (r40 path-level params + $ref resolve)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  summary.json
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore: remove stray summary.json artifact
  summary.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(openapi): r40 — merge + resolve path-level parameters in validator (#888, #79) (#892)
  crates/mockforge-openapi/src/openapi_routes/registry.rs
  crates/mockforge-openapi/src/spec.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix: remove redundant path qualifications (unused_qualifications under Rust 1.96) (#890)
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-chaos-orchestration/src/alerts.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/oidc.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

ci: pin remaining direct dtolnay/rust-toolchain@stable usages to 1.96.0
  .github/workflows/chaos-testing.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docs-check.yml
  .github/workflows/jcs-fuzz.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/plugin-publish.yml
  .github/workflows/release.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: pin remaining direct dtolnay/rust-toolchain@stable usages to 1.96.0 (#893)
  .github/workflows/chaos-testing.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docs-check.yml
  .github/workflows/jcs-fuzz.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/plugin-publish.yml
  .github/workflows/release.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(openapi): remove redundant openapiv3::ReferenceOr qualifications (Rust 1.96)
  crates/mockforge-openapi/src/openapi_routes/registry.rs
  crates/mockforge-openapi/src/spec.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(openapi): remove redundant openapiv3::ReferenceOr qualifications (Rust 1.96) (#894)
  crates/mockforge-openapi/src/openapi_routes/registry.rs
  crates/mockforge-openapi/src/spec.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench,openapi): r41 fresh cookie jar, summary aggregation, category labels (#79)
  Cargo.lock
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/report.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

chore: bump to 0.3.186 + CHANGELOG (r41 fresh jar, summary, categories, upload log)
  CHANGELOG.md
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench,openapi): r41 fresh cookie jar, summary aggregation, category labels (#79) (#895)
  Cargo.lock
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/report.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

fix(openapi): r42 multipart upload no longer 400s in mockforge serve + bump to 0.3.187 (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-ai-core/src/behavior.rs
  crates/mockforge-analytics/src/queries.rs
  crates/mockforge-contracts/src/consumer_contracts/usage_recorder.rs
  crates/mockforge-data/src/dataset/core.rs
  crates/mockforge-data/src/integration_tests.rs
  crates/mockforge-data/src/rag/utils.rs
  crates/mockforge-intelligence/src/ai_studio/debug_analyzer.rs
  crates/mockforge-intelligence/src/behavioral_economics/engine.rs
  crates/mockforge-intelligence/src/intelligent_behavior/behavior.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-tui/src/event.rs
  crates/mockforge-tui/src/screens/chaos.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(openapi): r42 multipart upload no longer 400s in mockforge serve + bump to 0.3.187 (#79) (#897)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-ai-core/src/behavior.rs
  crates/mockforge-analytics/src/queries.rs
  crates/mockforge-contracts/src/consumer_contracts/usage_recorder.rs
  crates/mockforge-data/src/dataset/core.rs
  crates/mockforge-data/src/integration_tests.rs
  crates/mockforge-data/src/rag/utils.rs
  crates/mockforge-intelligence/src/ai_studio/debug_analyzer.rs
  crates/mockforge-intelligence/src/behavioral_economics/engine.rs
  crates/mockforge-intelligence/src/intelligent_behavior/behavior.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-tui/src/event.rs
  crates/mockforge-tui/src/screens/chaos.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(openapi): r43 synthesize spec-declared response headers (Set-Cookie etc) (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/route.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(openapi): r43 synthesize spec-declared response headers (Set-Cookie etc) (#79) (#898)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/route.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench,openapi,foundation): r44 chain-context across iterations + multipart export resilience + emitted-request validation + violation summary (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/route.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench,openapi,foundation): r44 chain-context across iterations + multipart export resilience + emitted-request validation + violation summary (#79) (#901)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/route.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench,foundation,tui): r45 body export 64KB + TUI summary + --validate-requests on native executor (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  audit.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
