Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

chore(release): consolidate #79 17.1-18.5 chain into v0.3.162 (#781)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(registry): close cross-tenant IDOR in test-suite / pillar-analytics / MockAI handlers (#750)
  crates/mockforge-registry-server/src/handlers/mockai.rs
  crates/mockforge-registry-server/src/handlers/pillar_analytics.rs
  crates/mockforge-registry-server/src/handlers/test_suites.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(registry-e2e): pin STORAGE_PATH to a fresh RUNNER_TEMP dir
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): close cross-tenant IDOR in test-suite / pillar-analytics / MockAI handlers (#750) (#772)
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-server/src/handlers/mockai.rs
  crates/mockforge-registry-server/src/handlers/pillar_analytics.rs
  crates/mockforge-registry-server/src/handlers/test_suites.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(registry-e2e): kill stale server on :58080 + verify own pid bound (#782)
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(registry-e2e): clean leftover compose stack before `up` (#782, layer 2)
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(registry-e2e): kill stale server on :58080 + verify own pid bound (#782) (#783)
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(openapi,bench): live-server schema-$ref resolution + CIDR ranges for GEODB source-IP (#79 round 19)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/schema_mutator.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(openapi,bench): live-server schema-$ref resolution + CIDR ranges for GEODB source-IP (#79 round 19) (#784)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/schema_mutator.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(http,cli): shadow mode now gates 200 on --base-path prefix (#79 round 20)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/management/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(http,cli): shadow mode now gates 200 on --base-path prefix (#79 round 20) (#785)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/management/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,cli,docs): --report-missed-cap flag + Expected column + probe reference (#79 round 21.1 + 21.2)
  CHANGELOG.md
  Cargo.toml
  book/src/SUMMARY.md
  book/src/reference/changelog.md
  book/src/reference/conformance-self-test-probes.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/report_html.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,cli,docs): --report-missed-cap flag + Expected column + probe reference (#79 round 21.1 + 21.2) (#786)
  CHANGELOG.md
  Cargo.toml
  book/src/SUMMARY.md
  book/src/reference/changelog.md
  book/src/reference/conformance-self-test-probes.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/report_html.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,cli,tui): #79 round 22 — TUI unknown-enter fix + k6 geo source IPs + IP range syntax + report polish
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/report_html.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/tests/billing_subscriptions_test.rs
  crates/mockforge-bench/tests/dump_k6.rs
  crates/mockforge-bench/tests/issue_79_comprehensive_test.rs
  crates/mockforge-bench/tests/k6_script_validation_test.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,cli,tui): #79 round 22 — TUI unknown-enter fix + k6 geo source IPs + IP range syntax + report polish (#788)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/report_html.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/tests/billing_subscriptions_test.rs
  crates/mockforge-bench/tests/dump_k6.rs
  crates/mockforge-bench/tests/issue_79_comprehensive_test.rs
  crates/mockforge-bench/tests/k6_script_validation_test.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,cli,docs): k6 --local-ips + self-test capture + report polish (#79 round 23)
  .github/workflows/deploy-docs.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/book.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/report_html.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,cli,docs): k6 --local-ips + self-test capture + report polish (#79 round 23) (#790)
  .github/workflows/deploy-docs.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/book.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/report_html.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): geo IP header on ALL probes + cap-aware count links + capture HTML viewer (#79 round 24)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/report_html.rs
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): geo IP header on ALL probes + cap-aware count links + capture HTML viewer (#79 round 24) (#792)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/report_html.rs
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(release,claude): mark plugin-egress/host publish=false + add release/protocol/auth toolkit
  .claude/agents/auth-sentinel.md
  .claude/agents/protocol-parity.md
  .claude/agents/release-guardian.md
  .claude/agents/security-auditor.md
  .claude/commands/release-check.md
  .claude/commands/sqlx-sync.md
  .claude/rules/agent-usage.md
  .claude/skills/issue-fix/SKILL.md
  .claude/skills/protocol-wire/SKILL.md
  .claude/skills/ship-release/SKILL.md
  CLAUDE.md
  crates/mockforge-plugin-egress/Cargo.toml
  crates/mockforge-plugin-host/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

chore(release,claude): mark plugin-egress/host publish=false + add release/protocol/auth toolkit (#795)
  .claude/agents/auth-sentinel.md
  .claude/agents/protocol-parity.md
  .claude/agents/release-guardian.md
  .claude/agents/security-auditor.md
  .claude/commands/release-check.md
  .claude/commands/sqlx-sync.md
  .claude/rules/agent-usage.md
  .claude/skills/issue-fix/SKILL.md
  .claude/skills/protocol-wire/SKILL.md
  .claude/skills/ship-release/SKILL.md
  CLAUDE.md
  crates/mockforge-plugin-egress/Cargo.toml
  crates/mockforge-plugin-host/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

chore(claude): auto-fmt hook, pre-push publish-drift guard, perms allowlist, /round-table, model rationale, shared hookify rules
  .claude/agents/code-explorer.md
  .claude/agents/code-reviewer.md
  .claude/agents/security-auditor.md
  .claude/agents/template-checker.md
  .claude/agents/test-runner.md
  .claude/hookify.protect-cargo-toml.local.md
  .claude/hookify.protect-templates.local.md
  .claude/hookify.reply-lint.local.md
  .claude/hooks/auto-fmt.sh
  .claude/settings.json
  .claude/skills/round-table/SKILL.md
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/check-publish-drift.sh
  scripts/setup-hooks.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(contributing): run setup-hooks.sh to install the pre-push publish-drift hook
  CONTRIBUTING.md
  book/src/contributing/setup.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(workspace): wire 4 orphaned crates into the workspace + fix ai-core bit-rot (#796)
  Cargo.lock
  Cargo.toml
  crates/mockforge-ai-core/Cargo.toml
  crates/mockforge-ai-core/src/error.rs
  crates/mockforge-behavioral-cloning/Cargo.toml
  crates/mockforge-chaos-ml/Cargo.toml
  crates/mockforge-chaos-orchestration/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore: stop tracking generated bench-results/ artifacts
  bench-results/k6-owasp-security-test.js
  bench-results/k6-script.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore: stop tracking generated bench-results/ artifacts (#800)
  bench-results/k6-owasp-security-test.js
  bench-results/k6-script.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(tooling): /new-crate scaffolder + /prune-worktrees disk reclaimer
  .claude/commands/prune-worktrees.md
  .claude/skills/new-crate/SKILL.md
  scripts/new-crate.sh
  scripts/prune-worktrees.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(workspace): wire 4 orphaned crates into the workspace + fix ai-core bit-rot (#796) (#798)
  Cargo.lock
  Cargo.toml
  crates/mockforge-ai-core/Cargo.toml
  crates/mockforge-ai-core/src/error.rs
  crates/mockforge-behavioral-cloning/Cargo.toml
  crates/mockforge-chaos-ml/Cargo.toml
  crates/mockforge-chaos-orchestration/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(tooling): /new-crate scaffolder + /prune-worktrees disk reclaimer (#801)
  .claude/commands/prune-worktrees.md
  .claude/skills/new-crate/SKILL.md
  scripts/new-crate.sh
  scripts/prune-worktrees.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(claude): DX toolkit v2 — auto-fmt hook, pre-push drift guard, /round-table, perms, shared rules (#797)
  .claude/agents/code-explorer.md
  .claude/agents/code-reviewer.md
  .claude/agents/security-auditor.md
  .claude/agents/template-checker.md
  .claude/agents/test-runner.md
  .claude/hookify.protect-cargo-toml.local.md
  .claude/hookify.protect-templates.local.md
  .claude/hookify.reply-lint.local.md
  .claude/hooks/auto-fmt.sh
  .claude/settings.json
  .claude/skills/round-table/SKILL.md
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  book/src/contributing/setup.md
  scripts/check-publish-drift.sh
  scripts/setup-hooks.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(bench,cli,tui): #79 round 25 — content-type swap probes + response schema validation + family rollup + r24 follow-ups
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/report_html.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,cli,tui): #79 round 25 — content-type swap probes + response schema validation + family rollup + r24 follow-ups (#802)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/report_html.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(tui,bench): TUI detail-modal snapshot + human-readable schema error + report dedup (#79 round 26)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/report_html.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(tui,bench): TUI detail-modal snapshot + human-readable schema error + report dedup (#79 round 26) (#803)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/report_html.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): paginated capture viewer + content-type swap variant (b) (#79 round 27)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): paginated capture viewer + content-type swap variant (b) (#79 round 27) (#804)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,openapi): #79 round 28 — reqwest CT-append bug fix + expected_status_range + mismatch filter + per-cat links + server-side CT check
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/report_html.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,openapi): #79 round 28 — reqwest CT-append bug fix + expected_status_range + mismatch filter + per-cat links + server-side CT check (#807)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/report_html.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,foundation,docs): #79 round 29 — response-body schema wording + configurable violation buffer + capacity sizing
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/SUMMARY.md
  book/src/reference/bench-capacity-sizing.md
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-foundation/src/conformance_violations.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,foundation,docs): #79 round 29 — response-body schema wording + configurable violation buffer + capacity sizing (#811)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/SUMMARY.md
  book/src/reference/bench-capacity-sizing.md
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-foundation/src/conformance_violations.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
