Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

ci: migrate high-volume workflows to self-hosted runner
  .github/workflows/benchmarks.yml
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/docker-build.yml
  .github/workflows/fuzz.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): follow-up fixes surfaced by test dispatches
  .github/workflows/integration-tests.yml
  tests/load/http_load.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: re-enable integration-tests triggers; document load-testing's remaining mismatch
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): unbreak the 3 workflows disabled in #126 (#127)
  .github/workflows/contract-validation.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  tests/load/http_load.js
  tests/load/http_load_high_scale.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: migrate high-volume workflows to self-hosted runner (#128)
  .github/workflows/benchmarks.yml
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/docker-build.yml
  .github/workflows/fuzz.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: finish self-hosted migration + align load-testing with user-management-api spec
  .github/workflows/breaking-changes.yml
  .github/workflows/docs-check.yml
  .github/workflows/integration-tests.yml
  .github/workflows/jcs-fuzz.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  tests/load/http_load.js
  tests/load/http_load_high_scale.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: finish self-hosted migration + align load-testing with user-management-api spec (#129)
  .github/workflows/breaking-changes.yml
  .github/workflows/docs-check.yml
  .github/workflows/integration-tests.yml
  .github/workflows/jcs-fuzz.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  tests/load/http_load.js
  tests/load/http_load_high_scale.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(test,http,ci): wire up orphaned e2e binary + harden binary resolution
  .github/workflows/integration-tests.yml
  crates/mockforge-http/src/management/mocks.rs
  crates/mockforge-test/src/process.rs
  tests/tests/e2e.rs
  tests/tests/e2e/helpers/mod.rs
  tests/tests/e2e/mod.rs
  tests/tests/e2e/protocols/grpc_e2e_tests.rs
  tests/tests/e2e/protocols/http_e2e_tests.rs
  tests/tests/e2e/protocols/websocket_e2e_tests.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ci): serialize integration-tests and e2e jobs on self-hosted runner
  .github/workflows/integration-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): guard target/ growth + drop wholesale cache on self-hosted runner
  .github/workflows/integration-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): bump integration-tests timeout 30 -> 60 min
  .github/workflows/integration-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): cap cargo parallelism, add build retry, dedupe workflow runs
  .github/workflows/integration-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): self-heal rustup default on shared self-hosted runner
  .github/workflows/integration-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): isolate CARGO_HOME per workflow to dodge sibling-runner churn
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): use github.run_id for CARGO_HOME isolation (runner.temp is job-scoped)
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): set RUSTUP_TOOLCHAIN=stable at workflow level
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): skip e2e protocol tests from integration-tests parallel step
  .github/workflows/integration-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): quote protocols:: in test --skip arg to fix YAML parse
  .github/workflows/integration-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(analytics,ui): wire pillar-analytics end-to-end
  Cargo.lock
  crates/mockforge-analytics/src/pillar_usage.rs
  crates/mockforge-cli/src/contract_sync_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/registry_commands.rs
  crates/mockforge-core/src/ai_contract_diff/mod.rs
  crates/mockforge-core/src/ai_studio/nl_mock_generator.rs
  crates/mockforge-core/src/contract_validation.rs
  crates/mockforge-core/src/voice/command_parser.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-scenarios/src/installer.rs
  crates/mockforge-scenarios/src/registry.rs
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/src/handlers/pillar_analytics.rs
  crates/mockforge-ui/src/handlers/workspaces.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/pillar_tracking_init.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/e2e/pillar-analytics-rankings-deployed.spec.ts
  crates/mockforge-ui/ui/src/components/analytics/PillarAnalyticsDashboard.tsx
  crates/mockforge-ui/ui/src/components/analytics/PillarRankingsCard.tsx
  crates/mockforge-ui/ui/src/hooks/usePillarAnalytics.ts
  crates/mockforge-ui/ui/src/pages/PillarAnalyticsPage.tsx
  docs/CLOUD_ENVIRONMENTS.md
  docs/CLOUD_ENVIRONMENTS_IMPLEMENTATION.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(analytics,ui): wire pillar-analytics end-to-end (#130)
  Cargo.lock
  crates/mockforge-analytics/src/pillar_usage.rs
  crates/mockforge-cli/src/contract_sync_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/registry_commands.rs
  crates/mockforge-core/src/ai_contract_diff/mod.rs
  crates/mockforge-core/src/ai_studio/nl_mock_generator.rs
  crates/mockforge-core/src/contract_validation.rs
  crates/mockforge-core/src/voice/command_parser.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-scenarios/src/installer.rs
  crates/mockforge-scenarios/src/registry.rs
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/src/handlers/pillar_analytics.rs
  crates/mockforge-ui/src/handlers/workspaces.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/pillar_tracking_init.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/e2e/pillar-analytics-rankings-deployed.spec.ts
  crates/mockforge-ui/ui/src/components/analytics/PillarAnalyticsDashboard.tsx
  crates/mockforge-ui/ui/src/components/analytics/PillarRankingsCard.tsx
  crates/mockforge-ui/ui/src/hooks/usePillarAnalytics.ts
  crates/mockforge-ui/ui/src/pages/PillarAnalyticsPage.tsx
  docs/CLOUD_ENVIRONMENTS.md
  docs/CLOUD_ENVIRONMENTS_IMPLEMENTATION.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(hosted-mocks,ui): wire spec upload, region/project selectors, redeploy, stop/start, custom domain
  crates/mockforge-registry-server/src/deployment/flyio.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/projects.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/e2e/hosted-mocks-deployed.spec.ts
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud-fixtures): wire cloud editor, content, tags end-to-end
  crates/mockforge-registry-core/src/models/cloud_fixture.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/cloud_fixtures.rs
  crates/mockforge-ui/ui/src/hooks/api/index.ts
  crates/mockforge-ui/ui/src/hooks/api/useFixturesApi.ts
  crates/mockforge-ui/ui/src/pages/FixturesPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/FixturesPage.test.tsx
  crates/mockforge-ui/ui/src/services/api/fixtures.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(e2e): cover new fixtures UI wiring on deployed site
  crates/mockforge-ui/ui/e2e/fixtures-deployed.spec.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(fixtures): wire cloud editor, content, tags end-to-end (#132)
  crates/mockforge-registry-core/src/models/cloud_fixture.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/cloud_fixtures.rs
  crates/mockforge-ui/ui/e2e/fixtures-deployed.spec.ts
  crates/mockforge-ui/ui/src/hooks/api/index.ts
  crates/mockforge-ui/ui/src/hooks/api/useFixturesApi.ts
  crates/mockforge-ui/ui/src/pages/FixturesPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/FixturesPage.test.tsx
  crates/mockforge-ui/ui/src/services/api/fixtures.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(hosted-mocks,ui): harden row-action e2e selector to avoid tooltip flake
  crates/mockforge-ui/ui/e2e/hosted-mocks-deployed.spec.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs: update Discord invite link to non-expiring URL
  README.md
  book/src/README.md
  book/src/contributing/release.md
  book/src/contributing/setup.md
  book/src/reference/faq.md
  crates/mockforge-ui/ui/src/pages/FAQPage.tsx
  crates/mockforge-ui/ui/src/pages/SupportPage.tsx
  docs/AI_DRIVEN_MOCKING.md
  docs/AUDIT_TRAILS.md
  docs/CLOUD_DEPLOYMENT.md
  docs/INTEGRATION_ECOSYSTEM.md
  docs/PLUGIN_MARKETPLACE_IMPLEMENTATION.md
  docs/RBAC_GUIDE.md
  docs/cloud/PRICING.md
  docs/mTLS_CONFIGURATION.md
  docs/plugins/POLYGLOT_QUICK_START.md
  examples/plugins/auth-python-oauth/README.md
  sdk/go/mockforge/README.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs: update Discord invite link to non-expiring URL (#133)
  README.md
  book/src/README.md
  book/src/contributing/release.md
  book/src/contributing/setup.md
  book/src/reference/faq.md
  crates/mockforge-ui/ui/src/pages/FAQPage.tsx
  crates/mockforge-ui/ui/src/pages/SupportPage.tsx
  docs/AI_DRIVEN_MOCKING.md
  docs/AUDIT_TRAILS.md
  docs/CLOUD_DEPLOYMENT.md
  docs/INTEGRATION_ECOSYSTEM.md
  docs/PLUGIN_MARKETPLACE_IMPLEMENTATION.md
  docs/RBAC_GUIDE.md
  docs/cloud/PRICING.md
  docs/mTLS_CONFIGURATION.md
  docs/plugins/POLYGLOT_QUICK_START.md
  examples/plugins/auth-python-oauth/README.md
  sdk/go/mockforge/README.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks,ui): wire spec upload, region/project selectors, redeploy, stop/start, custom domain (#131)
  crates/mockforge-registry-server/src/deployment/flyio.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/projects.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/e2e/hosted-mocks-deployed.spec.ts
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

deps: bump aws-sdk-s3 from 1.119.0 to 1.120.0
  Cargo.lock
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

deps: bump aws-sdk-s3 from 1.119.0 to 1.120.0 (#134)
  Cargo.lock
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

ci(deps): bump actions/checkout from 4 to 6
  .github/workflows/benchmarks.yml
  .github/workflows/breaking-changes.yml
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/fuzz.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/plugin-publish.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(deps): bump github/codeql-action from 3 to 4
  .github/workflows/docker-build.yml
  .github/workflows/k8s-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(deps): bump actions/checkout from 4 to 6 (#135)
  .github/workflows/benchmarks.yml
  .github/workflows/breaking-changes.yml
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/fuzz.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/plugin-publish.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(deps): bump github/codeql-action from 3 to 4 (#136)
  .github/workflows/docker-build.yml
  .github/workflows/k8s-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): default OSS/docker builds to local admin mode
  book/src/user-guide/admin-ui.md
  crates/mockforge-ui/ui/.env.production
  crates/mockforge-ui/ui/.env.production.example
  crates/mockforge-ui/ui/.gitignore
  crates/mockforge-ui/ui/src/components/auth/AuthGuard.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/FixturesPage.tsx
  crates/mockforge-ui/ui/src/services/api/dashboard.ts
  crates/mockforge-ui/ui/src/services/api/fixtures.ts
  crates/mockforge-ui/ui/src/services/api/routes.ts
  crates/mockforge-ui/ui/src/services/api/workspaces.ts
  crates/mockforge-ui/ui/src/services/authApi.ts
  crates/mockforge-ui/ui/src/services/conformanceApi.ts
  crates/mockforge-ui/ui/src/services/registryAdminApi.ts
  crates/mockforge-ui/ui/src/stores/useAnalyticsStore.ts
  crates/mockforge-ui/ui/src/utils/apiClient.ts
  crates/mockforge-ui/ui/src/utils/cloudMode.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(services,ui): wire cloud CRUD, workspace scoping, and unassign semantics
  crates/mockforge-registry-core/src/models/cloud_service.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/cloud_services.rs
  crates/mockforge-ui/ui/e2e/services-crud-deployed.spec.ts
  crates/mockforge-ui/ui/src/components/services/EditServiceDialog.tsx
  crates/mockforge-ui/ui/src/components/services/NewServiceDialog.tsx
  crates/mockforge-ui/ui/src/components/services/ServiceToggleCard.tsx
  crates/mockforge-ui/ui/src/components/services/ServicesPanel.tsx
  crates/mockforge-ui/ui/src/pages/ServicesPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudServices.ts
  crates/mockforge-ui/ui/src/services/api/index.ts
  crates/mockforge-ui/ui/src/stores/__tests__/useServiceStore.test.ts
  crates/mockforge-ui/ui/src/stores/useServiceStore.ts
  crates/mockforge-ui/ui/src/types/index.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): default OSS/docker builds to local admin mode (#137)
  book/src/user-guide/admin-ui.md
  crates/mockforge-ui/ui/.env.production
  crates/mockforge-ui/ui/.env.production.example
  crates/mockforge-ui/ui/.gitignore
  crates/mockforge-ui/ui/src/components/auth/AuthGuard.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/FixturesPage.tsx
  crates/mockforge-ui/ui/src/services/api/dashboard.ts
  crates/mockforge-ui/ui/src/services/api/fixtures.ts
  crates/mockforge-ui/ui/src/services/api/routes.ts
  crates/mockforge-ui/ui/src/services/api/workspaces.ts
  crates/mockforge-ui/ui/src/services/authApi.ts
  crates/mockforge-ui/ui/src/services/conformanceApi.ts
  crates/mockforge-ui/ui/src/services/registryAdminApi.ts
  crates/mockforge-ui/ui/src/stores/useAnalyticsStore.ts
  crates/mockforge-ui/ui/src/utils/apiClient.ts
  crates/mockforge-ui/ui/src/utils/cloudMode.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(services,ui): wire cloud CRUD, workspace scoping, and unassign semantics (#139)
  crates/mockforge-registry-core/src/models/cloud_service.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/cloud_services.rs
  crates/mockforge-ui/ui/e2e/services-crud-deployed.spec.ts
  crates/mockforge-ui/ui/src/components/services/EditServiceDialog.tsx
  crates/mockforge-ui/ui/src/components/services/NewServiceDialog.tsx
  crates/mockforge-ui/ui/src/components/services/ServiceToggleCard.tsx
  crates/mockforge-ui/ui/src/components/services/ServicesPanel.tsx
  crates/mockforge-ui/ui/src/pages/ServicesPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudServices.ts
  crates/mockforge-ui/ui/src/services/api/index.ts
  crates/mockforge-ui/ui/src/stores/__tests__/useServiceStore.test.ts
  crates/mockforge-ui/ui/src/stores/useServiceStore.ts
  crates/mockforge-ui/ui/src/types/index.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(docker): canonicalize image registry on ghcr.io/saasy-solutions/mockforge
  .github/workflows/release.yml
  DOCKER.md
  README.md
  helm/mockforge/Chart.yaml
  helm/mockforge/README.md
  helm/mockforge/values.yaml
  k8s/deployment.yaml
  k8s/vault-integration.yaml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos
