Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
    exclude: ^book/
  - id: end-of-file-fixer
    exclude: ^book/
  - id: check-yaml
    exclude: ^(k8s/|helm/|deploy/|templates/)
  - id: check-toml
  - id: check-merge-conflict
  - id: check-added-large-files
    args: ['--maxkb=500']
  - id: check-case-conflict
  - id: mixed-line-ending
    args: ['--fix=lf']
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable

- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: clippy
    args: [--all-targets, --all-features]
  - id: cargo-check

- repo: https://github.com/crate-ci/typos
  rev: v1.16.20
  hooks:
  - id: typos
    exclude: ^(book/|target/|\.git/)

- repo: local
  hooks:
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

fix: filter out 'change' directories from benchmark baseline parsing
  .github/benchmarks/baseline.json
  .github/scripts/compare-benchmarks.js
Due: none

fix: implement real functionality in benchmark tests and fix k8s-operator
  Cargo.lock
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-core/benches/core_benchmarks.rs
  crates/mockforge-k8s-operator/Cargo.toml
  crates/mockforge-k8s-operator/src/controller.rs
  crates/mockforge-k8s-operator/src/crd.rs
  crates/mockforge-k8s-operator/src/main.rs
  crates/mockforge-k8s-operator/src/metrics.rs
  crates/mockforge-k8s-operator/src/reconciler.rs
  crates/mockforge-k8s-operator/src/webhook.rs
Due: rust-fmt, cargo-audit

docs: add comprehensive performance benchmarks documentation
  README.md
  book/src/user-guide/advanced-features/performance-mode.md
  docs/PERFORMANCE_BENCHMARKS.md
  docs/PERFORMANCE_MONITORING.md
Due: none

Add comprehensive test suite and fix build issues
  CLEANUP_AND_FIXES_SUMMARY.md
  Cargo.lock
  TESTING_SUITE_SUMMARY.md
  TEST_VERIFICATION_REPORT.md
  crates/mockforge-core/fuzz/Cargo.lock
  crates/mockforge-core/fuzz/Cargo.toml
  crates/mockforge-core/fuzz/fuzz_targets/fuzz_conditions.rs
  crates/mockforge-core/fuzz/fuzz_targets/fuzz_graphql_query.rs
  crates/mockforge-core/fuzz/fuzz_targets/fuzz_openapi_import.rs
  crates/mockforge-core/fuzz/fuzz_targets/fuzz_protobuf.rs
  crates/mockforge-core/fuzz/fuzz_targets/fuzz_routing.rs
  crates/mockforge-core/fuzz/fuzz_targets/fuzz_schema_generation.rs
  crates/mockforge-core/tests/concurrency_tests.rs
  crates/mockforge-core/tests/cross_protocol_tests.rs
  crates/mockforge-core/tests/error_handling_tests.rs
  crates/mockforge-core/tests/performance_regression_tests.rs
  crates/mockforge-core/tests/prop_conditions_tests.rs
  crates/mockforge-core/tests/prop_routing_tests.proptest-regressions
  crates/mockforge-core/tests/prop_routing_tests.rs
  crates/mockforge-core/tests/prop_tests.rs
  crates/mockforge-data/Cargo.toml
  crates/mockforge-data/tests/data_quality_tests.rs
  crates/mockforge-data/tests/prop_data_generation_tests.proptest-regressions
  crates/mockforge-data/tests/prop_data_generation_tests.rs
  crates/mockforge-grpc/tests/cross_protocol_tests.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-http/tests/error_scenarios_tests.rs
  crates/mockforge-http/tests/security_tests.rs
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-scenarios/tests/state_machine_tests.rs
  crates/mockforge-tracing/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/build.rs
  crates/mockforge-ui/src/handlers/assets.rs
  desktop-app/src/server.rs
Due: rust-fmt, cargo-audit

Fix k6 script generation and UI icon embedding issues
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-ui/build.rs
Due: rust-fmt

fix: add mockforge-data as optional dependency in mockforge-core
  crates/mockforge-core/Cargo.toml
  crates/mockforge-sdk/Cargo.toml
Due: none

fix: correct publish order - publish mockforge-data before mockforge-core
  scripts/publish-crates.sh
Due: none

fix: only convert dependencies for already-published crates
  scripts/publish-crates.sh
Due: none

fix: restore all crate dependencies, not just a few
  scripts/publish-crates.sh
Due: none

fix: automatically restore dependencies at start of publish
  scripts/publish-crates.sh
Due: none

fix: restore function now properly handles table-form dependencies without path
  scripts/publish-crates.sh
Due: none

fix: include mockforge-core in restore list
  scripts/publish-crates.sh
Due: none

fix: add mockforge-core to restore list and manually fix dependency
  crates/mockforge-core/Cargo.toml
  scripts/publish-crates.sh
Due: none

fix: convert mockforge dev-dependencies to path dependencies
  crates/mockforge-core/Cargo.toml
  crates/mockforge-tcp/Cargo.toml
Due: none

fix: add mockforge to restore function targets list
  scripts/publish-crates.sh
Due: none

Add mockforge-sdk, mockforge-ui, mockforge-cli to workspace
  Cargo.toml
Due: cargo-audit

fix: remove path from mockforge-pipelines dep in mockforge-collab
  crates/mockforge-collab/Cargo.toml
Due: none

Fix cargo publish issues: add version requirements to dependencies
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-route-chaos/Cargo.toml
  crates/mockforge-vbr/Cargo.toml
  desktop-app/Cargo.toml
  tests/Cargo.toml
Due: none

fix: update all 0.3.7 dependencies to 0.3.8 with path dependencies
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-performance/Cargo.toml
  crates/mockforge-pipelines/Cargo.toml
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-scenarios/Cargo.toml
  crates/mockforge-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-tcp/Cargo.toml
  crates/mockforge-test/Cargo.toml
  crates/mockforge-world-state/Cargo.toml
  crates/mockforge-ws/Cargo.toml
Due: none

chore: commit remaining version updates
  Cargo.lock
Due: cargo-audit

fix: enable publishing for mockforge-tunnel
  crates/mockforge-tunnel/Cargo.toml
Due: none

chore: update CHANGELOG date for 0.3.8
  CHANGELOG.md
Due: none

fix: enable publishing for mockforge-ui
  crates/mockforge-ui/Cargo.toml
Due: none

fix: add path dependencies for all workspace crates
  Cargo.lock
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-collab/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-schema/Cargo.toml
  crates/mockforge-test/Cargo.toml
  crates/mockforge-world-state/Cargo.toml
Due: cargo-audit

fix: resolve k6 bench issues with --insecure flag, textSummary, and query params
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-core/src/openapi/route.rs
Due: rust-fmt

fix: move insecureSkipTLSVerify to global k6 options (fixes --insecure)
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/tests/billing_subscriptions_test.rs
Due: rust-fmt

feat: add --params-file option for custom parameter values in bench
  crates/mockforge-bench/examples/params-example.json
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/param_overrides.rs
  crates/mockforge-bench/src/request_gen.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: rust-fmt

fix: sanitize k6 CRUD flow metric names (#79 follow-up)
  CHANGELOG.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/crud_flow.rs
  crates/mockforge-bench/src/data_driven.rs
  crates/mockforge-bench/src/dynamic_params.rs
  crates/mockforge-bench/src/invalid_data.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/mock_integration.rs
  crates/mockforge-bench/src/parallel_requests.rs
  crates/mockforge-bench/src/security_payloads.rs
  crates/mockforge-bench/src/spec_parser.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
Due: rust-fmt

fix: add validation to CRUD flow script generation
  CHANGELOG.md
  crates/mockforge-bench/src/command.rs
Due: rust-fmt
