Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

refactor(registry-core): move scope_check (ScopedAuth) into core crate
  crates/mockforge-registry-core/src/lib.rs
  crates/mockforge-registry-core/src/scope_check.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(registry-core): move auth.rs and two_factor.rs into core crate
  Cargo.lock
  crates/mockforge-registry-core/Cargo.toml
  crates/mockforge-registry-core/src/auth.rs
  crates/mockforge-registry-core/src/lib.rs
  crates/mockforge-registry-core/src/two_factor.rs
  crates/mockforge-registry-server/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(registry-core): add SqliteRegistryStore skeleton (Phase 2b)
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(registry-core): add SqliteRegistryStore integration tests (Phase 2c)
  crates/mockforge-registry-core/src/store/sqlite.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(registry-core): gate Postgres-only model impls behind cfg(postgres)
  crates/mockforge-registry-core/src/models/api_token.rs
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/cloud_fixture.rs
  crates/mockforge-registry-core/src/models/cloud_service.rs
  crates/mockforge-registry-core/src/models/cloud_workspace.rs
  crates/mockforge-registry-core/src/models/feature_usage.rs
  crates/mockforge-registry-core/src/models/federation.rs
  crates/mockforge-registry-core/src/models/hosted_mock.rs
  crates/mockforge-registry-core/src/models/login_attempt.rs
  crates/mockforge-registry-core/src/models/mock_environment.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/org_template.rs
  crates/mockforge-registry-core/src/models/organization.rs
  crates/mockforge-registry-core/src/models/plugin.rs
  crates/mockforge-registry-core/src/models/project.rs
  crates/mockforge-registry-core/src/models/review.rs
  crates/mockforge-registry-core/src/models/saml_assertion.rs
  crates/mockforge-registry-core/src/models/scenario.rs
  crates/mockforge-registry-core/src/models/scenario_promotion.rs
  crates/mockforge-registry-core/src/models/scenario_review.rs
  crates/mockforge-registry-core/src/models/settings.rs
  crates/mockforge-registry-core/src/models/sso.rs
  crates/mockforge-registry-core/src/models/subscription.rs
  crates/mockforge-registry-core/src/models/suspicious_activity.rs
  crates/mockforge-registry-core/src/models/template.rs
  crates/mockforge-registry-core/src/models/template_review.rs
  crates/mockforge-registry-core/src/models/user.rs
  crates/mockforge-registry-core/src/models/verification_token.rs
  crates/mockforge-registry-core/src/models/waitlist.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry-core): implement user CRUD in SqliteRegistryStore (Phase 2d)
  crates/mockforge-registry-core/src/store/sqlite.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry-core): implement api_token CRUD in SqliteRegistryStore (Phase 2e)
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations-sqlite/20260101000001_init.sql
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry-core): implement OSS-essential SqliteRegistryStore methods (Phase 2f)
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations-sqlite/20260101000001_init.sql
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): wire mockforge-registry-core into the admin UI (Phase 5a)
  Cargo.lock
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/registry_admin.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): case-insensitive header checks + k6 support for multi-target conformance (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/generator.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(ui): add read-only registry admin HTTP router (Phase 5b)
  crates/mockforge-ui/src/registry_admin.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): mount registry-admin sub-router in start_admin_server (Phase 5c)
  crates/mockforge-ui/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): add registry-admin write endpoints (Phase 5d)
  crates/mockforge-ui/src/registry_admin.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): add JWT auth + admin bootstrap to registry-admin (Phase 4)
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/registry_admin.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): add teams/invitations/quota endpoints to registry-admin (Phase 3)
  Cargo.lock
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/src/registry_admin.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): point k6 conformance report at target_dir in multi-target mode (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(ui): add registry-admin login + dashboard React pages (Phase 6)
  crates/mockforge-ui/ui/src/pages/RegistryAdminPage.tsx
  crates/mockforge-ui/ui/src/pages/RegistryLoginPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/services/registryAdminApi.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(registry-admin): add user guide + Playwright smoke tests (Phase 7)
  crates/mockforge-ui/ui/e2e/registry-admin.spec.ts
  docs/registry-admin.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(deploy): unblock registry-admin Fly + Vercel rollout
  .pre-commit-config.yaml
  Cargo.lock
  audit.toml
  crates/mockforge-ui/ui/vercel.json
  fly.server.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(ui): bypass rbac_middleware for /api/admin/registry/* (deploy hotfix)
  crates/mockforge-ui/src/rbac.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry-core): create SQLite db file if missing on first connect
  crates/mockforge-registry-core/src/store/sqlite.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): bypass AuthGuard for /registry-* paths so RegistryLoginPage renders
  crates/mockforge-ui/ui/src/components/auth/AuthGuard.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): unify login — registry admin uses SaaS auth in cloud mode
  crates/mockforge-ui/ui/src/components/auth/AuthGuard.tsx
  crates/mockforge-ui/ui/src/pages/RegistryAdminPage.tsx
  crates/mockforge-ui/ui/src/pages/RegistryLoginPage.tsx
  crates/mockforge-ui/ui/src/services/registryAdminApi.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat: complete Phase B — unified cloud + OSS registry admin (tasks #22-29)
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/services/registryAdminApi.ts
  crates/mockforge-ui/ui/vercel.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): full registry admin dashboard — members, tokens, quota, invitations
  crates/mockforge-ui/ui/src/pages/RegistryAdminPage.tsx
  crates/mockforge-ui/ui/src/pages/RegistryInvitePage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): fixtures self-reference bug + wire missing OpenAPI import route
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/src/services/api/fixtures.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui,registry): usage dashboard overhaul — AI token tracking, unit fix, UX improvements
  crates/mockforge-registry-server/src/handlers/usage.rs
  crates/mockforge-registry-server/src/middleware/org_rate_limit.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/ai/ApiCritique.tsx
  crates/mockforge-ui/ui/src/components/ai/BehavioralSimulator.tsx
  crates/mockforge-ui/ui/src/components/ai/SystemGenerator.tsx
  crates/mockforge-ui/ui/src/pages/UsageDashboardPage.tsx
  crates/mockforge-ui/ui/src/services/api/usage.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(bench): add --conformance-custom-filter and --export-requests flags (#79)
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  audit.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-http/src/handlers/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(ui,registry): BYOK page overhaul — 4 tabs, encryption fix, model selection, test connection
  crates/mockforge-registry-core/src/models/settings.rs
  crates/mockforge-registry-server/src/handlers/organization_settings.rs
  crates/mockforge-registry-server/src/handlers/settings.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/BYOKConfigPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): API tokens page — scope mismatch fix, rotation UI, status display
  Cargo.lock
  crates/mockforge-ui/ui/src/pages/ApiTokensPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

fix(ui): update E2E tests to match corrected API token scopes
  crates/mockforge-ui/ui/e2e/api-tokens-deployed.spec.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(bench): --export-requests now works with --use-k6 mode (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/executor.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(ui,registry): Organization page overhaul — 8 tabs, full CRUD, E2E tests
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/e2e/organization-deployed.spec.ts
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): stabilize organization E2E tests — timing and loading states
  crates/mockforge-ui/ui/e2e/organization-deployed.spec.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): fix Add Member dialog E2E test — exact text matching
  crates/mockforge-ui/ui/e2e/organization-deployed.spec.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(bench): --export-requests for spec-driven k6 + HAR body extraction (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/har_to_custom.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): escape newlines in POST/PUT body strings in k6 scripts (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/custom.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): add --validate-requests to check requests against OpenAPI spec (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-http/src/handlers/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): fix double-escaping in k6 __captureExchange check names (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/spec_driven.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit
