Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

feat(bench,foundation,tui): #79 round 30 — sub-schema-at-pointer + unique-violation buffer mode
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/route.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,foundation,tui): #79 round 30 — sub-schema-at-pointer + unique-violation buffer mode (#813)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/route.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,cli,foundation): #79 round 31 — required-field sub-schema + serve flags + rustls-only install
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-analytics/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-chaos-orchestration/Cargo.toml
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-pipelines/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-registry/Cargo.toml
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-scenarios/Cargo.toml
  crates/mockforge-test-runner/Cargo.toml
  crates/mockforge-tunnel/Cargo.toml
  crates/mockforge-vbr/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,cli,foundation): #79 round 31 — required-field sub-schema + serve flags + rustls-only install (#815)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-analytics/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-chaos-orchestration/Cargo.toml
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-pipelines/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-registry/Cargo.toml
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-scenarios/Cargo.toml
  crates/mockforge-test-runner/Cargo.toml
  crates/mockforge-tunnel/Cargo.toml
  crates/mockforge-vbr/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(intelligence): #79 round 31 follow-up — MockAI mutation responses honor spec schema
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-intelligence/src/intelligent_behavior/mockai.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(intelligence): #79 round 31 follow-up — MockAI mutation responses honor spec schema (#816)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-intelligence/src/intelligent_behavior/mockai.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,openapi,grpc): #79 round 32 — 415 in conformance buffer + per-endpoint summary + vendored protoc
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/per_endpoint_summary.rs
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-grpc/build.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,openapi,grpc): #79 round 32 — 415 in conformance buffer + per-endpoint summary + vendored protoc (#821)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/per_endpoint_summary.rs
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-grpc/build.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,openapi,cli): #79 round 33 — spec template grouping (#823) + response violation injection (#822)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/per_endpoint_summary.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-openapi/src/response/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,openapi,cli): #79 round 33 — spec template grouping (#823) + response violation injection (#822) (#824)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/per_endpoint_summary.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-openapi/src/response/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): #79 round 34 — strip schema noise, prefix base_path, skip embedded-content (#827, #828, #829)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/per_endpoint_summary.rs
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): #79 round 34 — strip schema noise, prefix base_path, skip embedded-content (#827, #828, #829) (#830)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/per_endpoint_summary.rs
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs: competitive analysis and launch-readiness review (2026-06)
  docs/competitive-analysis-2026-06.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

security(sso): gate SAML provisioning on DNS-verified domain ownership (#833)
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/lib.rs
  crates/mockforge-registry-server/src/sso_domain.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

security(sso): gate SAML provisioning on DNS-verified domain ownership (#833) (#845)
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/lib.rs
  crates/mockforge-registry-server/src/sso_domain.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

security(sso): SSRF-guarded OIDC issuer config + admin domain-verification status (#833, #746)
  crates/mockforge-registry-core/src/models/sso.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/sso_domain.rs
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(sso): full OIDC login flow with domain gate + JWKS validation (#746)
  .typos.toml
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/oidc.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/sso_domain.rs
  crates/mockforge-registry-server/tests/oidc_flow.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

docs: competitive analysis and launch-readiness review (2026-06) (#844)
  docs/competitive-analysis-2026-06.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): SSO login loop + OIDC/domain-verify config UI (#746)
  crates/mockforge-ui/ui/src/components/auth/AuthGuard.tsx
  crates/mockforge-ui/ui/src/components/auth/LoginForm.tsx
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
  crates/mockforge-ui/ui/src/pages/SsoCallbackPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

security(sso): SSRF-guarded OIDC issuer config + admin domain-verification status (#833, #746) (#847)
  crates/mockforge-registry-core/src/models/sso.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/sso_domain.rs
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(protocol): bound attacker-controlled resource use in kafka/smtp/tcp (#752, #753, #754, #755)
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-kafka/src/codec_util.rs
  crates/mockforge-kafka/src/fetch_codec.rs
  crates/mockforge-kafka/src/fetch_nonflex.rs
  crates/mockforge-kafka/src/group_codec.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/listoffsets_codec.rs
  crates/mockforge-kafka/src/partitions.rs
  crates/mockforge-kafka/src/produce_codec.rs
  crates/mockforge-kafka/src/produce_nonflex.rs
  crates/mockforge-kafka/src/topics.rs
  crates/mockforge-smtp/src/lib.rs
  crates/mockforge-smtp/src/server.rs
  crates/mockforge-smtp/tests/integration.rs
  crates/mockforge-tcp/src/lib.rs
  crates/mockforge-tcp/src/server.rs
  crates/mockforge-tcp/tests/tcp_roundtrip_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

security(registry): server-authoritative org plan + parsed-host CSRF allowlist (#733, #760)
  Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/src/middleware/csrf.rs
  crates/mockforge-registry-server/tests/billing_bypass_guard_e2e.rs
  crates/mockforge-registry-server/tests/workspace_content_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

security(registry-admin): require JWT auth on all registry_admin routes (#856)
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/registry_admin.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(core): template injection, concurrency hygiene, parser correctness, desktop build (#758, #759, #761, #764)
  Cargo.lock
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-bench/tests/prop_header_tests.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/contract_drift/budget_engine.rs
  crates/mockforge-core/src/odata_rewrite.rs
  crates/mockforge-core/src/routing.rs
  crates/mockforge-data/Cargo.toml
  crates/mockforge-data/src/persona_graph.rs
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-ftp/src/spec_registry.rs
  crates/mockforge-http/src/handlers/protocol_contracts.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-mqtt/src/broker.rs
  crates/mockforge-mqtt/src/qos.rs
  crates/mockforge-template-expansion/src/lib.rs
  crates/mockforge-test-runner/src/executors/test.rs
  desktop-app/src/server.rs
  tests/tests/drift_budget_integration.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): #79 round 35 — embedded-content variant-b probes treat 4xx as a pass (#859)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(registry): Postgres RLS tenant-isolation backstop (#832) [DRAFT — needs role split + full rollout before merge]
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/org_context.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-server/migrations/20250101000079_rls_tenant_isolation.sql
  crates/mockforge-registry-server/src/handlers/gdpr.rs
  crates/mockforge-registry-server/tests/tenant_isolation_rls.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

security(registry-admin): require JWT auth on all registry_admin routes (#856) (#858)
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/registry_admin.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): #79 round 35 — embedded-content variant-b probes treat 4xx as a pass (#859) (#862)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(protocol): bound attacker-controlled resource use in kafka/smtp/tcp (#752, #753, #754, #755) (#857)
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-kafka/src/codec_util.rs
  crates/mockforge-kafka/src/fetch_codec.rs
  crates/mockforge-kafka/src/fetch_nonflex.rs
  crates/mockforge-kafka/src/group_codec.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/listoffsets_codec.rs
  crates/mockforge-kafka/src/partitions.rs
  crates/mockforge-kafka/src/produce_codec.rs
  crates/mockforge-kafka/src/produce_nonflex.rs
  crates/mockforge-kafka/src/topics.rs
  crates/mockforge-smtp/src/lib.rs
  crates/mockforge-smtp/src/server.rs
  crates/mockforge-smtp/tests/integration.rs
  crates/mockforge-tcp/src/lib.rs
  crates/mockforge-tcp/src/server.rs
  crates/mockforge-tcp/tests/tcp_roundtrip_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

security(registry): server-authoritative org plan + parsed-host CSRF allowlist (#733, #760) (#855)
  Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/src/middleware/csrf.rs
  crates/mockforge-registry-server/tests/billing_bypass_guard_e2e.rs
  crates/mockforge-registry-server/tests/workspace_content_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(core): template injection, concurrency hygiene, parser correctness, desktop build (#758, #759, #761, #764) (#861)
  Cargo.lock
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-bench/tests/prop_header_tests.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/contract_drift/budget_engine.rs
  crates/mockforge-core/src/odata_rewrite.rs
  crates/mockforge-core/src/routing.rs
  crates/mockforge-data/Cargo.toml
  crates/mockforge-data/src/persona_graph.rs
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-ftp/src/spec_registry.rs
  crates/mockforge-http/src/handlers/protocol_contracts.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-mqtt/src/broker.rs
  crates/mockforge-mqtt/src/qos.rs
  crates/mockforge-template-expansion/src/lib.rs
  crates/mockforge-test-runner/src/executors/test.rs
  desktop-app/src/server.rs
  tests/tests/drift_budget_integration.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(sso): re-land OIDC login flow + add /sso/discover endpoint (#746)
  .typos.toml
  crates/mockforge-registry-core/src/models/sso.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations/20250101000079_sso_email_domain.sql
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/oidc.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/sso_domain.rs
  crates/mockforge-registry-server/tests/oidc_flow.rs
  crates/mockforge-registry-server/tests/sso_discover.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

feat(sso): re-land OIDC login flow + add /sso/discover endpoint (#746) (#874)
  .typos.toml
  crates/mockforge-registry-core/src/models/sso.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations/20250101000079_sso_email_domain.sql
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/oidc.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/sso_domain.rs
  crates/mockforge-registry-server/tests/oidc_flow.rs
  crates/mockforge-registry-server/tests/sso_discover.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

fix(bench,cli): #79 round 36 — capture-viewer badge colour follows expected_status_range (#875)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-cli/src/serve.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs(bench): conformance probe taxonomy + --inject-response-violations semantics (#877)
  book/src/reference/conformance-self-test-probes.md
Due: check-added-large-files

docs(bench): conformance probe taxonomy + --inject-response-violations semantics (#877) (#879)
  book/src/reference/conformance-self-test-probes.md
Due: check-added-large-files

fix(bench,cli): #79 round 36 — capture-viewer badge colour follows expected_status_range (#875) (#878)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-cli/src/serve.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,foundation,openapi): stamp client send time + mockforge version (#876)
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/per_endpoint_summary.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/route.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore: append #876 + #877 entries to 0.3.181 CHANGELOG
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos
