Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
    exclude: ^book/
  - id: end-of-file-fixer
    exclude: ^book/
  - id: check-yaml
    exclude: ^(k8s/|helm/|deploy/|templates/)
  - id: check-toml
  - id: check-merge-conflict
  - id: check-added-large-files
    args: ['--maxkb=500']
  - id: check-case-conflict
  - id: mixed-line-ending
    args: ['--fix=lf']
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable

- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: clippy
    args: [--all-targets, --all-features]
  - id: cargo-check

- repo: https://github.com/crate-ci/typos
  rev: v1.16.20
  hooks:
  - id: typos
    exclude: ^(book/|target/|\.git/)

- repo: local
  hooks:
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

feat: add multi-spec support and cross-spec dependency handling to bench command
  CHANGELOG.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/spec_dependencies.rs
  crates/mockforge-bench/src/spec_parser.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: rust-fmt

fix: resolve flaky tests and race conditions across test suite
  crates/mockforge-analytics/src/database.rs
  crates/mockforge-cli/src/cloud_commands.rs
  crates/mockforge-collab/src/api.rs
  crates/mockforge-collab/src/config.rs
  crates/mockforge-collab/src/lib.rs
  crates/mockforge-collab/src/models.rs
  crates/mockforge-collab/src/promotion.rs
  crates/mockforge-collab/tests/promotion_workflow.rs
  crates/mockforge-collab/tests/workspace_tests.rs
  crates/mockforge-core/src/conditions.rs
  crates/mockforge-core/tests/performance_regression_tests.rs
  crates/mockforge-data/tests/prop_data_generation_tests.proptest-regressions
  crates/mockforge-data/tests/prop_data_generation_tests.rs
  crates/mockforge-http/tests/token_integration_test.rs
  crates/mockforge-k8s-operator/src/main.rs
  crates/mockforge-observability/src/prometheus/metrics.rs
  crates/mockforge-plugin-cli/src/commands/new.rs
  crates/mockforge-plugin-cli/src/main.rs
  crates/mockforge-registry-server/src/auth.rs
  crates/mockforge-registry-server/src/config.rs
  crates/mockforge-registry-server/src/models/subscription.rs
  crates/mockforge-registry-server/src/pillar_tracking_init.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/storage.rs
  crates/mockforge-ui/tests/admin_ui_integration_comprehensive.rs
  crates/mockforge-ui/tests/integration.rs
  crates/mockforge-ui/tests/smoke.rs
  crates/mockforge-ui/tests/static_files.rs
  crates/mockforge-vbr/src/snapshots.rs
  tests/test_snapshots/test-snapshot/metadata.json
  tests/tests/advanced_features_integration.rs
  tests/tests/chaos_lab_integration.rs
  tests/tests/mockai_integration.rs
  tests/tests/mockai_openapi_generation_integration.rs
  tests/tests/scenario_marketplace_integration.rs
  tests/tests/temporal_simulation.rs
Due: rust-fmt

fix: restore all crates to workspace members list
  Cargo.toml
Due: cargo-audit

chore: restore path dependencies after publishing v0.3.17
  Cargo.lock
  Cargo.toml
Due: cargo-audit

docs: update CHANGELOG for v0.3.17 release
  CHANGELOG.md
Due: none

Restore path dependencies after publishing v0.3.16
  Cargo.lock
  Cargo.toml
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-plugin-registry/Cargo.toml
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-reporting/Cargo.toml
  crates/mockforge-test/Cargo.toml
  crates/mockforge-tracing/Cargo.toml
  crates/mockforge-tunnel/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-vbr/Cargo.toml
Due: cargo-audit

feat(ui): add type safety, mobile layout fixes, and search/filter to frontend
  crates/mockforge-registry-server/src/config.rs
  crates/mockforge-registry-server/src/handlers/health.rs
  crates/mockforge-registry-server/src/storage.rs
  docs/Admin_UI_Spec.md
  docs/Comparisons.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/RAG_Faker_Data_Generation.md
  docs/Roadmap.md
  docs/Validation_Spec.md
  ui-builder/frontend/package-lock.json
  ui-builder/frontend/package.json
  ui-builder/frontend/src/components/AmqpEndpointForm.tsx
  ui-builder/frontend/src/components/ConfirmDialog.tsx
  ui-builder/frontend/src/components/GraphqlEndpointForm.tsx
  ui-builder/frontend/src/components/GrpcEndpointForm.tsx
  ui-builder/frontend/src/components/HttpEndpointForm.tsx
  ui-builder/frontend/src/components/KafkaEndpointForm.tsx
  ui-builder/frontend/src/components/Layout.tsx
  ui-builder/frontend/src/components/MqttEndpointForm.tsx
  ui-builder/frontend/src/components/ProtocolSelector.tsx
  ui-builder/frontend/src/components/SmtpEndpointForm.tsx
  ui-builder/frontend/src/components/WebsocketEndpointForm.tsx
  ui-builder/frontend/src/hooks/useFormValidation.ts
  ui-builder/frontend/src/lib/api.ts
  ui-builder/frontend/src/lib/validation.ts
  ui-builder/frontend/src/pages/ConfigEditor.tsx
  ui-builder/frontend/src/pages/Dashboard.tsx
  ui-builder/frontend/src/pages/EndpointBuilder.tsx
  ui-builder/frontend/src/types/protocol-configs.ts
  ui-builder/frontend/src/types/swagger-ui-react.d.ts
Due: none

feat(bench): add WAFBench YAML integration for security testing
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/wafbench.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: rust-fmt

chore: add missing crates to workspace and restore path dependencies
  Cargo.lock
  Cargo.toml
Due: cargo-audit

chore: restore path dependencies after publishing remaining v0.3.17 crates
  Cargo.lock
  Cargo.toml
Due: cargo-audit

fix: update doc tests to use rust,ignore for external dependencies
  crates/mockforge-core/src/ai_contract_diff/mod.rs
  crates/mockforge-core/src/ai_studio/api_critique.rs
  crates/mockforge-core/src/ai_studio/behavioral_simulator.rs
  crates/mockforge-core/src/ai_studio/mod.rs
  crates/mockforge-core/src/ai_studio/nl_mock_generator.rs
  crates/mockforge-core/src/ai_studio/system_generator.rs
  crates/mockforge-core/src/behavioral_cloning/mod.rs
  crates/mockforge-core/src/behavioral_economics/mod.rs
  crates/mockforge-core/src/contract_webhooks/mod.rs
  crates/mockforge-core/src/openapi/route.rs
  crates/mockforge-core/src/request_capture/mod.rs
  crates/mockforge-core/src/time_travel/cron.rs
  crates/mockforge-core/src/verification.rs
  crates/mockforge-core/src/voice/hook_transpiler.rs
  crates/mockforge-core/src/voice/mod.rs
Due: rust-fmt

fix(release): add mockforge-core to crates.io publish order
  .github/workflows/release.yml
Due: none

fix(release): publish all crates in dependency order
  .github/workflows/release.yml
Due: none

fix(release): disable sccache for crates.io publish
  .github/workflows/release.yml
Due: none

chore: enable publishing for previously internal crates
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-plugin-registry/Cargo.toml
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-tracing/Cargo.toml
  crates/mockforge-tunnel/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-vbr/Cargo.toml
Due: none

fix(bench): use custom flow config and fix sequential mode path matching
  crates/mockforge-bench/src/command.rs
Due: rust-fmt

docs: prepare release 0.3.21
  CHANGELOG.md
  book/src/reference/changelog.md
Due: none

docs: prepare release 0.3.21
  CHANGELOG.md
  book/src/reference/changelog.md
  crates/mockforge-federation/README.md
  crates/mockforge-registry-server/Cargo.toml
Due: none

feat(bench): add OWASP API Security Top 10 testing mode
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/owasp_api/categories.rs
  crates/mockforge-bench/src/owasp_api/config.rs
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/owasp_api/mod.rs
  crates/mockforge-bench/src/owasp_api/payloads.rs
  crates/mockforge-bench/src/owasp_api/report.rs
  crates/mockforge-bench/src/owasp_api/validators.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
  tests/test_snapshots/test-snapshot/metadata.json
Due: rust-fmt, cargo-audit

chore: release 0.3.22
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-cli/Cargo.toml
Due: cargo-audit

chore: release 0.3.22
  Cargo.lock
  crates/mockforge-cli/Cargo.toml
Due: cargo-audit

fix(bench): use correct variable name in CRUD flow extracted value replacement
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
Due: none

chore: release 0.3.24
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-cli/Cargo.toml
Due: cargo-audit

chore: release 0.3.24
  Cargo.lock
  crates/mockforge-cli/Cargo.toml
Due: cargo-audit

feat(bench): add aliased extraction for CRUD flow value chaining
  crates/mockforge-bench/src/crud_flow.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
Due: rust-fmt

chore: release 0.3.26
  Cargo.toml
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-analytics/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-collab/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-data/Cargo.toml
  crates/mockforge-federation/Cargo.toml
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-k8s-operator/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-performance/Cargo.toml
  crates/mockforge-pipelines/Cargo.toml
  crates/mockforge-plugin-cli/Cargo.toml
  crates/mockforge-plugin-core/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-registry/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-reporting/Cargo.toml
  crates/mockforge-runtime-daemon/Cargo.toml
  crates/mockforge-scenarios/Cargo.toml
  crates/mockforge-schema/Cargo.toml
  crates/mockforge-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-tcp/Cargo.toml
  crates/mockforge-test/Cargo.toml
  crates/mockforge-tunnel/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-vbr/Cargo.toml
  crates/mockforge-world-state/Cargo.toml
  crates/mockforge-ws/Cargo.toml
Due: cargo-audit

feat(bench): add full body extraction and key filtering for CRUD flows
  Cargo.lock
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/crud_flow.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
Due: rust-fmt, cargo-audit
