Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

fix(ui,docker): allow esbuild/vue-demi build scripts under pnpm 11
  crates/mockforge-ui/ui/package.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(release): gate Fly deploy + crates publish + helm on release tests (#447)
  .github/workflows/release.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): cloud Time Travel — Phase 1 runtime proxy (#466)
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/time_travel.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/services/api/cloudTimeTravel.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): cloud World State — Phase 1 runtime proxy (#464)
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/world_state.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/services/api/cloudWorldState.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): cloud Test Generator — Phase 1 data plane (#469)
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/test_generation_job.rs
  crates/mockforge-registry-server/migrations/20250101000076_test_generation_jobs.sql
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/test_generation.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/services/api/cloudTestGenerator.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): cloud TimeTravelPage branch + nav allowlist (#466 Phase 2)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/CloudTimeTravelView.tsx
  crates/mockforge-ui/ui/src/pages/TimeTravelPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): cloud TimeTravelPage branch + nav allowlist (#466 Phase 2) (#530)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/CloudTimeTravelView.tsx
  crates/mockforge-ui/ui/src/pages/TimeTravelPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): cloud WorldStatePage branch + nav allowlist (#464 Phase 2)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/CloudWorldStateView.tsx
  crates/mockforge-ui/ui/src/pages/WorldStatePage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): cloud WorldStatePage branch + nav allowlist (#464 Phase 2) (#531)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/CloudWorldStateView.tsx
  crates/mockforge-ui/ui/src/pages/WorldStatePage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): cloud TestGeneratorPage branch + nav allowlist (#469 Phase 2)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/CloudTestGeneratorView.tsx
  crates/mockforge-ui/ui/src/pages/TestGeneratorPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui,docker): allow esbuild/vue-demi build scripts under pnpm 11 (#525)
  crates/mockforge-ui/ui/package.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): cloud TestGeneratorPage branch + nav allowlist (#469 Phase 2) (#532)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/CloudTestGeneratorView.tsx
  crates/mockforge-ui/ui/src/pages/TestGeneratorPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(release): gate Fly deploy + crates publish + helm on release tests (#447) (#526)
  .github/workflows/release.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui,docker): move onlyBuiltDependencies to pnpm-workspace.yaml (#525 follow-up)
  Dockerfile
  crates/mockforge-ui/ui/pnpm-workspace.yaml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): cloud Test Generator — BYOK LLM worker (#469 Phase 3)
  crates/mockforge-registry-core/src/models/test_generation_job.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/test_generation_worker.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): cloud Test Generator — BYOK LLM worker (#469 Phase 3) (#534)
  crates/mockforge-registry-core/src/models/test_generation_job.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/test_generation_worker.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): cloud Test Generator — platform credits + SSE + concurrent worker (#469 Phase 4)
  crates/mockforge-registry-server/src/handlers/test_generation.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/workers/test_generation_worker.rs
  crates/mockforge-ui/ui/src/pages/CloudTestGeneratorView.tsx
  crates/mockforge-ui/ui/src/services/api/cloudTestGenerator.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): cloud Test Generator — platform credits + SSE + concurrent worker (#469 Phase 4) (#535)
  crates/mockforge-registry-server/src/handlers/test_generation.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/workers/test_generation_worker.rs
  crates/mockforge-ui/ui/src/pages/CloudTestGeneratorView.tsx
  crates/mockforge-ui/ui/src/services/api/cloudTestGenerator.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): cloud World State — proxy + page branch (#464) (#528)
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/world_state.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/CloudWorldStateView.tsx
  crates/mockforge-ui/ui/src/pages/WorldStatePage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudWorldState.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui,docker): move onlyBuiltDependencies to pnpm-workspace.yaml (#525 follow-up) (#533)
  Dockerfile
  crates/mockforge-ui/ui/pnpm-workspace.yaml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui,docker): pin pnpm to 10.15.0 (pre-managed-builds policy)
  crates/mockforge-ui/ui/package.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui,docker): pin pnpm to 10.15.0 (pre-managed-builds policy) (#536)
  crates/mockforge-ui/ui/package.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(ui): hide api-explorer from cloud sidebar (#459 follow-up)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(precommit): scope clippy to changed crates (closes #538)
  .pre-commit-config.yaml
  scripts/precommit/clippy_scoped.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(ci): point security-audit pre-flight at the durable repair (closes #539)
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(ci): point security-audit pre-flight at the durable repair (closes #539) (#541)
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(precommit): scope clippy to changed crates (closes #538) (#540)
  .pre-commit-config.yaml
  scripts/precommit/clippy_scoped.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(cli,core): bind admin server dual-stack so Fly 6PN can reach it (#468)
  Dockerfile
  crates/mockforge-cli/src/progress.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/config/protocol.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(ui): hide api-explorer from cloud sidebar (#459 follow-up) (#537)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(cli,core): bind admin server dual-stack so Fly 6PN can reach it (#468) (#542)
  Dockerfile
  crates/mockforge-cli/src/progress.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/config/protocol.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui/rbac): exempt /api/resilience/ from auth so cloud proxy can reach it (#468)
  crates/mockforge-ui/src/rbac.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry-tests): relax max_projects in cloud_verification e2e fixture
  crates/mockforge-registry-server/tests/cloud_verification_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui/rbac): exempt /api/resilience/ from auth so cloud proxy can reach it (#468) (#544)
  crates/mockforge-ui/src/rbac.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): connections-opened counter + constant-scenario startVUs + --rps preflight warn (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/reporter.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  tests/tests/e2e/protocols/http_e2e_tests.rs
  tests/tests/sdk_integration.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ci/docker): explicit cosign login so signature push to GHCR succeeds
  .github/workflows/docker-build.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry-tests): relax max_projects in cloud_verification e2e fixture (#545)
  crates/mockforge-registry-server/tests/cloud_verification_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(bench): connections-opened counter + constant-scenario startVUs + --rps preflight warn (#79) (#543)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/reporter.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  tests/tests/e2e/protocols/http_e2e_tests.rs
  tests/tests/sdk_integration.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ci/docker): explicit cosign login so signature push to GHCR succeeds (#546)
  .github/workflows/docker-build.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): cloud Test Generator — full stack (#469) (#529)
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/test_generation_job.rs
  crates/mockforge-registry-server/migrations/20250101000076_test_generation_jobs.sql
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/test_generation.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/test_generation_worker.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/CloudTestGeneratorView.tsx
  crates/mockforge-ui/ui/src/pages/TestGeneratorPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudTestGenerator.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): correct import path in CloudTestGeneratorView (stores/useWorkspaceStore)
  crates/mockforge-ui/ui/src/pages/CloudTestGeneratorView.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
