Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

chore(release): v0.3.203 (#941)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench): r56 — record parameter negative probes + k6 OOM guard (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/parallel_executor.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs(changelog): sync book/reference changelog for v0.3.204 (#79)
  book/src/reference/changelog.md
Due: check-added-large-files

fix(bench): r56 — record parameter negative probes + k6 OOM guard (#79) (#942)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/parallel_executor.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

ci(production-smoke): retry transient curl failures + auto-close recovered issues
  .github/workflows/production-smoke.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(production-smoke): retry transient curl failures + auto-close recovered issues (#945)
  .github/workflows/production-smoke.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(bench): r57 — --discard-response-bodies flag + caught/missed legend (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/bench-capacity-sizing.md
  book/src/reference/changelog.md
  book/src/reference/conformance-self-test-probes.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): r57 — --discard-response-bodies flag + caught/missed legend (#79) (#946)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/bench-capacity-sizing.md
  book/src/reference/changelog.md
  book/src/reference/conformance-self-test-probes.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): r58 — ephemeral k6 REST-API port + definite-issues view (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  book/src/reference/conformance-self-test-probes.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/parallel_executor.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): r58 — ephemeral k6 REST-API port + definite-issues view (#79) (#948)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  book/src/reference/conformance-self-test-probes.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/parallel_executor.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

security(registry): bump SAML quick-xml dep to 0.41 + accurate audit note (#919)
  Cargo.lock
  audit.toml
  crates/mockforge-registry-server/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

security(registry): bump SAML quick-xml dep to 0.41 + accurate audit note (#919) (#949)
  Cargo.lock
  audit.toml
  crates/mockforge-registry-server/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(bench): r59 — surface OWASP-accepted probes for WAF testing (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): r59 — surface OWASP-accepted probes for WAF testing (#79) (#951)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): r60 — k6 abortOnFail safety valve to stop OOM on dead targets (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
  crates/mockforge-bench/src/templates/k6_script.hbs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench): r60 — k6 abortOnFail safety valve to stop OOM on dead targets (#79) (#954)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
  crates/mockforge-bench/src/templates/k6_script.hbs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench): r61 — --dns-policy flag to force IPv6 hostname resolution (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): r61 — --dns-policy flag to force IPv6 hostname resolution (#79) (#955)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ci): stop installing nonexistent Rust 1.100.0 in 8 workflows
  .github/workflows/chaos-testing.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docs-check.yml
  .github/workflows/jcs-fuzz.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/plugin-publish.yml
  .github/workflows/release.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): stop installing nonexistent Rust 1.100.0 in 8 workflows (#956)
  .github/workflows/chaos-testing.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docs-check.yml
  .github/workflows/jcs-fuzz.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/plugin-publish.yml
  .github/workflows/release.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(bench): r62 — make the k6 abort-on-error valve opt-out/configurable (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): r62 — make the k6 abort-on-error valve opt-out/configurable (#79) (#957)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

test(foundation): serialize the two global-buffer conformance tests
  crates/mockforge-foundation/src/conformance_violations.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(foundation): serialize the two global-buffer conformance tests (#959)
  crates/mockforge-foundation/src/conformance_violations.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): Postgres RLS tenant-isolation foundation on current main (#832)
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/org_context.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-server/migrations/20250101000082_rls_tenant_isolation.sql
  crates/mockforge-registry-server/src/handlers/gdpr.rs
  crates/mockforge-registry-server/tests/tenant_isolation_rls.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): connection role-split for the RLS backstop (#832)
  crates/mockforge-registry-server/src/database.rs
  crates/mockforge-registry-server/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): RLS coverage for audit/hosted-mocks reads + admin owner pool (#832)
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-server/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): route direct-SQL request-path reads through RLS (#832)
  crates/mockforge-registry-server/src/handlers/cloud_dashboard.rs
  crates/mockforge-registry-server/src/handlers/organization_settings.rs
  crates/mockforge-registry-server/src/handlers/projects.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): complete request-path RLS coverage (writes + dashboard) (#832)
  crates/mockforge-registry-server/src/handlers/cloud_dashboard.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): task-local org guard + Option-2 design for full RLS (#832)
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/org_context.rs
  docs/superpowers/specs/2026-07-27-rls-request-scoped-guard-design.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): r63 — classify target HTTP protocol violations as `protocol` (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): r63 — classify target HTTP protocol violations as `protocol` (#79) (#962)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(intelligence): repair stale doctest that reds every release run
  crates/mockforge-intelligence/src/voice/hook_transpiler.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(intelligence): repair stale doctest that reds every release run (#964)
  crates/mockforge-intelligence/src/voice/hook_transpiler.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): request-path RLS coverage, proven by a NOBYPASSRLS e2e gate (#832)
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/hosted_mock.rs
  crates/mockforge-registry-core/src/models/scenario.rs
  crates/mockforge-registry-core/src/models/template.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/org_context.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-server/migrations/20250101000082_rls_tenant_isolation.sql
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/middleware/org_context.rs
  crates/mockforge-registry-server/src/middleware/rls_org_scope.rs
  crates/mockforge-registry-server/src/routes.rs
  docs/superpowers/specs/2026-07-27-rls-request-scoped-guard-design.md
  scripts/check_rls_coverage.py
  scripts/rls-coverage-baseline.json
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(registry): document the gate's control/rearm modes in its usage header (#832)
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(docker): align every Dockerfile builder with rust-toolchain.toml (1.96)
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.cloud-plugins
  Dockerfile.dev
  Dockerfile.registry
  Dockerfile.runner
  Dockerfile.tunnel
  crates/mockforge-registry-server/Dockerfile
  scripts/check-dockerfile-rust-drift.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): audit events silently dropped on long X-Forwarded-For
  crates/mockforge-registry-core/src/models/audit_log.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): migration advisory lock leaked, hanging the next deploy
  crates/mockforge-registry-server/src/database.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(docker): align every Dockerfile builder with rust-toolchain.toml (1.96) (#966)
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.cloud-plugins
  Dockerfile.dev
  Dockerfile.registry
  Dockerfile.runner
  Dockerfile.tunnel
  crates/mockforge-registry-server/Dockerfile
  scripts/check-dockerfile-rust-drift.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
