Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

fix(registry): bump scenario_stars migration number to clear plugin_takedown collision (#300)
  crates/mockforge-registry-core/migrations/20260101000015_scenario_stars.sql
  crates/mockforge-registry-server/migrations/20250101000058_scenario_stars.sql
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): hosted-mocks audit — close UI/backend wiring gaps
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): hosted-mocks audit — close UI/backend wiring gaps (#301)
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(ci): guard against migration version-prefix collisions
  .github/workflows/migration-guard.yml
  .pre-commit-config.yaml
  scripts/precommit/check_migration_collisions.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(ci): guard against migration version-prefix collisions (#302)
  .github/workflows/migration-guard.yml
  .pre-commit-config.yaml
  scripts/precommit/check_migration_collisions.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(deps): clear cargo-audit advisories — wire CI to audit.toml, bump rand, ignore RUSTSEC-2026-0114
  .github/workflows/ci.yml
  Cargo.lock
  audit.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(deps): clear cargo-audit advisories — wire CI to audit.toml, bump rand, ignore RUSTSEC-2026-0114 (#303)
  .github/workflows/ci.yml
  Cargo.lock
  audit.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(deps): drop AV1 transitive — unblock CI without nasm on runner
  Cargo.lock
  crates/mockforge-registry-core/Cargo.toml
  crates/mockforge-reporting/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(deps): drop AV1 transitive — unblock CI without nasm on runner (#304)
  Cargo.lock
  crates/mockforge-registry-core/Cargo.toml
  crates/mockforge-reporting/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(ci): unblock dependabot queue — clear unused-qualifications + license rejection
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-chaos/src/alerts.rs
  crates/mockforge-cli/src/mqtt_commands.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-cli/src/smtp_commands.rs
  crates/mockforge-core/src/ai_studio/contract_diff_handler.rs
  crates/mockforge-core/src/config/mod.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/protocol_abstraction/auth.rs
  crates/mockforge-core/src/tls.rs
  crates/mockforge-foundation/src/intelligent_behavior/mod.rs
  crates/mockforge-grpc/src/dynamic/router.rs
  crates/mockforge-grpc/src/reflection/mock_proxy/middleware.rs
  crates/mockforge-http/src/fixtures_api.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-http/src/reality_proxy.rs
  crates/mockforge-http/src/route_chaos_runtime.rs
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/swagger_convert.rs
  crates/mockforge-recorder/src/api.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-scenarios/src/installer.rs
  crates/mockforge-scenarios/src/manifest.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/registry_admin.rs
  deny.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

fix(ci): unblock dependabot queue — clear unused-qualifications + license rejection (#305)
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-chaos/src/alerts.rs
  crates/mockforge-cli/src/mqtt_commands.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-cli/src/smtp_commands.rs
  crates/mockforge-core/src/ai_studio/contract_diff_handler.rs
  crates/mockforge-core/src/config/mod.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/protocol_abstraction/auth.rs
  crates/mockforge-core/src/tls.rs
  crates/mockforge-foundation/src/intelligent_behavior/mod.rs
  crates/mockforge-grpc/src/dynamic/router.rs
  crates/mockforge-grpc/src/reflection/mock_proxy/middleware.rs
  crates/mockforge-http/src/fixtures_api.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-http/src/reality_proxy.rs
  crates/mockforge-http/src/route_chaos_runtime.rs
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/swagger_convert.rs
  crates/mockforge-recorder/src/api.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-scenarios/src/installer.rs
  crates/mockforge-scenarios/src/manifest.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/registry_admin.rs
  deny.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

feat(chaos,bench,tui): deepen issue-79 chaos surface — matchers, TCP-level errors, native chunked bench, persistent metrics
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/chunked_bench.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/tests/billing_subscriptions_test.rs
  crates/mockforge-bench/tests/dump_k6.rs
  crates/mockforge-bench/tests/issue_79_comprehensive_test.rs
  crates/mockforge-bench/tests/k6_script_validation_test.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-chaos/src/chaos_listener.rs
  crates/mockforge-chaos/src/config.rs
  crates/mockforge-chaos/src/failure_designer.rs
  crates/mockforge-chaos/src/incident_replay.rs
  crates/mockforge-chaos/src/lib.rs
  crates/mockforge-chaos/src/middleware.rs
  crates/mockforge-chaos/src/request_matcher.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/dashboard.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/models.rs
  docs/CHAOS_ENGINEERING.md
  tests/tests/chaos_lab_integration.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(chaos,bench,tui): deepen issue-79 chaos surface — matchers, TCP-level errors, native chunked bench, persistent metrics (#306)
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/chunked_bench.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/tests/billing_subscriptions_test.rs
  crates/mockforge-bench/tests/dump_k6.rs
  crates/mockforge-bench/tests/issue_79_comprehensive_test.rs
  crates/mockforge-bench/tests/k6_script_validation_test.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-chaos/src/chaos_listener.rs
  crates/mockforge-chaos/src/config.rs
  crates/mockforge-chaos/src/failure_designer.rs
  crates/mockforge-chaos/src/incident_replay.rs
  crates/mockforge-chaos/src/lib.rs
  crates/mockforge-chaos/src/middleware.rs
  crates/mockforge-chaos/src/request_matcher.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/dashboard.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/models.rs
  docs/CHAOS_ENGINEERING.md
  tests/tests/chaos_lab_integration.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(release): bump workspace to 0.3.125
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

docs(tier1): sync user-facing docs with v0.3.125 features
  CONFIG.md
  README.md
  book/src/configuration/environment.md
  book/src/user-guide/chaos-lab.md
  docs/bench-command-examples.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(tier1): sync user-facing docs with v0.3.125 features (#307)
  CONFIG.md
  README.md
  book/src/configuration/environment.md
  book/src/user-guide/chaos-lab.md
  docs/bench-command-examples.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(tier2): expand mdbook coverage of v0.3.125 surface
  book/src/SUMMARY.md
  book/src/api/cli.md
  book/src/configuration/environment.md
  book/src/development/architecture.md
  book/src/reference/config-schema.md
  book/src/user-guide/advanced-behavior.md
  book/src/user-guide/chaos-engineering.md
  book/src/user-guide/load-testing.md
Due: check-added-large-files

docs(tier2): expand mdbook coverage of v0.3.125 surface (#308)
  book/src/SUMMARY.md
  book/src/api/cli.md
  book/src/configuration/environment.md
  book/src/development/architecture.md
  book/src/reference/config-schema.md
  book/src/user-guide/advanced-behavior.md
  book/src/user-guide/chaos-engineering.md
  book/src/user-guide/load-testing.md
Due: check-added-large-files

docs(tier4): CI gate for docs / code drift + doc 16 missing env vars
  .github/workflows/docs-check.yml
  Makefile
  book/src/api/cli.md
  book/src/configuration/environment.md
  scripts/check_docs_drift.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(tier4): CI gate for docs / code drift + doc 16 missing env vars (#309)
  .github/workflows/docs-check.yml
  Makefile
  book/src/api/cli.md
  book/src/configuration/environment.md
  scripts/check_docs_drift.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(book): add observability, rate-limiting, and TUI-dashboard chapters
  book/src/SUMMARY.md
  book/src/user-guide/observability.md
  book/src/user-guide/rate-limiting.md
  book/src/user-guide/tui-dashboard.md
Due: check-added-large-files

docs(book): add observability, rate-limiting, and TUI-dashboard chapters (#310)
  book/src/SUMMARY.md
  book/src/user-guide/observability.md
  book/src/user-guide/rate-limiting.md
  book/src/user-guide/tui-dashboard.md
Due: check-added-large-files

docs(book): add AI / RAG-driven mock data chapter
  book/src/SUMMARY.md
  book/src/user-guide/ai-rag.md
Due: check-added-large-files

docs(book): add AI / RAG-driven mock data chapter (#311)
  book/src/SUMMARY.md
  book/src/user-guide/ai-rag.md
Due: check-added-large-files

docs(book): plugin system deep-dive — hook points, publishing, verification
  book/src/user-guide/plugins.md
Due: check-added-large-files

docs(book): plugin system deep-dive — hook points, publishing, verification (#312)
  book/src/user-guide/plugins.md
Due: check-added-large-files

docs(gate): add config-field drift gate + document max_body_size_bytes
  .github/workflows/docs-check.yml
  CONFIG.md
  Makefile
  book/src/reference/config-schema.md
  book/src/user-guide/advanced-behavior.md
  book/src/user-guide/chaos-engineering.md
  docs/CHAOS_ENGINEERING.md
  scripts/check_config_field_drift.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(gate): add config-field drift gate + document max_body_size_bytes (#314)
  .github/workflows/docs-check.yml
  CONFIG.md
  Makefile
  book/src/reference/config-schema.md
  book/src/user-guide/advanced-behavior.md
  book/src/user-guide/chaos-engineering.md
  docs/CHAOS_ENGINEERING.md
  scripts/check_config_field_drift.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(gate): tier 4.5 — extend drift gate with doc->code + per-flag warnings
  book/src/api/cli.md
  scripts/check_docs_drift.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(gate): tier 4.5 — extend drift gate with doc->code + per-flag warnings (#315)
  book/src/api/cli.md
  scripts/check_docs_drift.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(book): correct gRPC / GraphQL / WebSocket protocol chapters
  book/src/user-guide/graphql-mocking.md
  book/src/user-guide/grpc-mocking.md
  book/src/user-guide/websocket-mocking.md
  book/src/user-guide/websocket-mocking/replay.md
Due: check-added-large-files

docs(book): correct gRPC / GraphQL / WebSocket protocol chapters (#316)
  book/src/user-guide/graphql-mocking.md
  book/src/user-guide/grpc-mocking.md
  book/src/user-guide/websocket-mocking.md
  book/src/user-guide/websocket-mocking/replay.md
Due: check-added-large-files

docs(book): correct MQTT and AMQP protocol chapters
  book/src/protocols/amqp/configuration.md
  book/src/protocols/mqtt/configuration.md
Due: check-added-large-files

docs(book): correct MQTT and AMQP protocol chapters (#317)
  book/src/protocols/amqp/configuration.md
  book/src/protocols/mqtt/configuration.md
Due: check-added-large-files

docs(book): correct SMTP/FTP defaults + add new TCP chapter
  book/src/SUMMARY.md
  book/src/protocols/ftp/configuration.md
  book/src/protocols/ftp/getting-started.md
  book/src/protocols/smtp/configuration.md
  book/src/protocols/smtp/getting-started.md
  book/src/protocols/tcp/getting-started.md
Due: check-added-large-files

docs(book): correct SMTP/FTP defaults + add new TCP chapter (#318)
  book/src/SUMMARY.md
  book/src/protocols/ftp/configuration.md
  book/src/protocols/ftp/getting-started.md
  book/src/protocols/smtp/configuration.md
  book/src/protocols/smtp/getting-started.md
  book/src/protocols/tcp/getting-started.md
Due: check-added-large-files

docs(gate): clear stale env-var doc warnings (173 -> 115)
  book/src/api/cli.md
  book/src/configuration/advanced.md
  book/src/configuration/environment.md
  docs/archive/BEHAVIORAL_CLONING.md
  docs/archive/CONFIGURATION_SPEC.md
  docs/archive/RESILIENCE_PATTERNS.md
  docs/archive/protocols-MQTT.md
  docs/archive/protocols-WEBSOCKET.md
  scripts/check_docs_drift.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(gate): clear stale env-var doc warnings (173 -> 115) (#319)
  book/src/api/cli.md
  book/src/configuration/advanced.md
  book/src/configuration/environment.md
  docs/archive/BEHAVIORAL_CLONING.md
  docs/archive/CONFIGURATION_SPEC.md
  docs/archive/RESILIENCE_PATTERNS.md
  docs/archive/protocols-MQTT.md
  docs/archive/protocols-WEBSOCKET.md
  scripts/check_docs_drift.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
