Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
    exclude: ^book/
  - id: end-of-file-fixer
    exclude: ^book/
  - id: check-yaml
    exclude: ^(k8s/|helm/|deploy/|templates/)
  - id: check-toml
  - id: check-merge-conflict
  - id: check-added-large-files
    args: ['--maxkb=500']
  - id: check-case-conflict
  - id: mixed-line-ending
    args: ['--fix=lf']
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable

- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: clippy
    args: [--all-targets, --all-features]
  - id: cargo-check

- repo: https://github.com/crate-ci/typos
  rev: v1.16.20
  hooks:
  - id: typos
    exclude: ^(book/|target/|\.git/)

- repo: local
  hooks:
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

Complete all remaining features and fix issues
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/smtp_commands.rs
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-core/src/openapi_routes/registry.rs
  crates/mockforge-core/src/protocol_abstraction/mod.rs
  crates/mockforge-data/src/rag/engine.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-ui/tests/admin_handlers.rs
Due: rust-fmt

feat: enhance SMTP with advanced email filtering and STARTTLS improvements
  Cargo.lock
  benches/lib.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/smtp_commands.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/protocol_abstraction/mod.rs
  crates/mockforge-core/src/protocol_abstraction/streaming.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-smtp/src/lib.rs
  crates/mockforge-smtp/src/server.rs
  crates/mockforge-smtp/src/spec_registry.rs
  crates/mockforge-smtp/tests/integration.rs
  crates/mockforge-ui/ui/src/pages/ConfigPage.tsx
  docs/PROTOCOL_IMPLEMENTATION_GUIDE.md
  fixtures/amqp/notification_queue.json
  fixtures/kafka/user_events.json
  fixtures/mqtt/sensor_data.json
  fixtures/rabbitmq/order_events.json
Due: rust-fmt, cargo-audit

Add MQTT protocol support with broker mocking, CLI commands, and documentation
  Cargo.lock
  Cargo.toml
  book/src/SUMMARY.md
  book/src/protocols/mqtt/configuration.md
  book/src/protocols/mqtt/examples.md
  book/src/protocols/mqtt/fixtures.md
  book/src/protocols/mqtt/getting-started.md
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/mqtt_commands.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-mqtt/benches/mqtt_benchmarks.rs
  crates/mockforge-mqtt/src/broker.rs
  crates/mockforge-mqtt/src/fixtures.rs
  crates/mockforge-mqtt/src/lib.rs
  crates/mockforge-mqtt/src/qos.rs
  crates/mockforge-mqtt/src/server.rs
  crates/mockforge-mqtt/src/spec_registry.rs
  crates/mockforge-mqtt/src/topics.rs
  crates/mockforge-mqtt/tests/integration.rs
  crates/mockforge-observability/src/prometheus/metrics.rs
  crates/mockforge-smtp/src/server.rs
  fixtures/amqp/notification_queue.json
  fixtures/kafka/user_events.json
  fixtures/mqtt/sensor_data.json
  fixtures/rabbitmq/order_events.json
Due: rust-fmt, cargo-audit

Add MQTT protocol support with broker mocking, CLI commands, and documentation
  crates/mockforge-cli/src/mqtt_commands.rs
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-mqtt/benches/mqtt_benchmarks.rs
  crates/mockforge-mqtt/src/fixtures.rs
  crates/mockforge-mqtt/src/lib.rs
  crates/mockforge-mqtt/src/qos.rs
  crates/mockforge-mqtt/src/server.rs
  crates/mockforge-mqtt/src/spec_registry.rs
  crates/mockforge-mqtt/src/topics.rs
  crates/mockforge-mqtt/tests/integration.rs
Due: rust-fmt

feat: Add complete FTP server mocking implementation
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  book/src/SUMMARY.md
  book/src/protocols/ftp/configuration.md
  book/src/protocols/ftp/examples.md
  book/src/protocols/ftp/fixtures.md
  book/src/protocols/ftp/getting-started.md
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/ftp_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-ftp/benches/ftp_benchmarks.rs
  crates/mockforge-ftp/lib.d
  crates/mockforge-ftp/src/commands.rs
  crates/mockforge-ftp/src/fixtures.rs
  crates/mockforge-ftp/src/lib.rs
  crates/mockforge-ftp/src/server.rs
  crates/mockforge-ftp/src/spec_registry.rs
  crates/mockforge-ftp/src/storage.rs
  crates/mockforge-ftp/src/vfs.rs
  crates/mockforge-ftp/tests/integration.rs
Due: rust-fmt, cargo-audit

fix: Apply formatting and end-of-file fixes
  crates/mockforge-cli/src/ftp_commands.rs
  crates/mockforge-ftp/benches/ftp_benchmarks.rs
  crates/mockforge-ftp/src/storage.rs
Due: rust-fmt

feat: implement comprehensive Kafka mock server
  Cargo.lock
  Cargo.toml
  book/src/protocols/kafka/configuration.md
  book/src/protocols/kafka/fixtures.md
  book/src/protocols/kafka/getting-started.md
  book/src/protocols/kafka/testing-patterns.md
  crates/mockforge-cli/src/kafka_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/encryption.rs
  crates/mockforge-core/src/encryption/algorithms.rs
  crates/mockforge-core/src/encryption/errors.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/protocol_abstraction/mod.rs
  crates/mockforge-core/src/protocol_abstraction/streaming.rs
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-kafka/benches/kafka_benchmarks.rs
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/consumer_groups.rs
  crates/mockforge-kafka/src/fixtures.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/metrics.rs
  crates/mockforge-kafka/src/partitions.rs
  crates/mockforge-kafka/src/protocol.rs
  crates/mockforge-kafka/src/spec_registry.rs
  crates/mockforge-kafka/src/topics.rs
  crates/mockforge-kafka/tests/integration.rs
Due: rust-fmt, cargo-audit

feat: implement AMQP broker server and CLI integration
  Cargo.lock
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-amqp/benches/amqp_benchmarks.rs
  crates/mockforge-amqp/src/bindings.rs
  crates/mockforge-amqp/src/broker.rs
  crates/mockforge-amqp/src/consumers.rs
  crates/mockforge-amqp/src/exchanges.rs
  crates/mockforge-amqp/src/fixtures.rs
  crates/mockforge-amqp/src/lib.rs
  crates/mockforge-amqp/src/messages.rs
  crates/mockforge-amqp/src/protocol.rs
  crates/mockforge-amqp/src/queues.rs
  crates/mockforge-amqp/src/spec_registry.rs
  crates/mockforge-amqp/tests/integration.rs
  crates/mockforge-cli/src/amqp_commands.rs
  crates/mockforge-cli/src/main.rs
  fixtures/amqp/order-processing.yaml
Due: rust-fmt, cargo-audit

feat(amqp): implement advanced AMQP features
  book/src/protocols/amqp/configuration.md
  book/src/protocols/amqp/fixtures.md
  book/src/protocols/amqp/getting-started.md
  crates/mockforge-amqp/benches/amqp_benchmarks.rs
  crates/mockforge-amqp/src/exchanges.rs
  crates/mockforge-amqp/src/fixtures.rs
  crates/mockforge-amqp/src/messages.rs
  crates/mockforge-amqp/src/protocol.rs
  crates/mockforge-amqp/src/queues.rs
  crates/mockforge-amqp/tests/integration.rs
  crates/mockforge-cli/src/amqp_commands.rs
  fixtures/amqp/order-processing.yaml
Due: rust-fmt

Fix Clippy warnings and update CI workflow to exclude tests
  .github/workflows/ci.yml
  crates/mockforge-amqp/tests/integration.rs
  crates/mockforge-cli/src/kafka_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/smtp_commands.rs
  crates/mockforge-core/src/protocol_abstraction/streaming.rs
  crates/mockforge-ftp/benches/ftp_benchmarks.rs
  crates/mockforge-ftp/src/vfs.rs
  crates/mockforge-ftp/tests/integration.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-kafka/benches/kafka_benchmarks.rs
  crates/mockforge-kafka/tests/integration.rs
  crates/mockforge-mqtt/benches/mqtt_benchmarks.rs
  crates/mockforge-mqtt/src/qos.rs
  crates/mockforge-smtp/benches/smtp_benchmarks.rs
  crates/mockforge-smtp/src/server.rs
  crates/mockforge-smtp/tests/integration.rs
Due: rust-fmt

Update Cargo.toml metadata for publishing to crates.io
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
Due: none

Update path dependencies to version dependencies for publishing
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-data/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
Due: none

Fix compilation errors and path dependencies for publishing
  Cargo.toml
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-data/Cargo.toml
  crates/mockforge-data/src/drift.rs
  crates/mockforge-data/src/lib.rs
  crates/mockforge-data/src/rag/config.rs
  crates/mockforge-data/src/rag/providers.rs
  crates/mockforge-data/src/rag/storage.rs
  crates/mockforge-data/src/rag/utils.rs
  crates/mockforge-data/src/schema.rs
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-ws/src/ai_event_generator.rs
Due: rust-fmt, cargo-audit

Update dependencies and enhance feature flags for mockforge-cli and mockforge-http
  AGENTS.md
  Cargo.lock
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-ui/Cargo.toml
  scripts/dev.sh
Due: rust-fmt, cargo-audit

Refactor traffic shaping logic to support multiple token buckets
  crates/mockforge-core/src/traffic_shaping.rs
Due: rust-fmt

Add `once_cell` dependency and apply `#[serde(default)]` to configuration structs
  Cargo.lock
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/encryption.rs
  crates/mockforge-core/src/overrides.rs
  crates/mockforge-core/src/request_scripting.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/tests/uuid_override_e2e.rs
Due: rust-fmt, cargo-audit

chore: wip release prep
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/openapi/response.rs
  crates/mockforge-core/src/openapi/spec.rs
  crates/mockforge-core/src/openapi_routes/registry.rs
  crates/mockforge-core/src/validation.rs
  crates/mockforge-ftp/src/lib.rs
  crates/mockforge-graphql/src/lib.rs
  crates/mockforge-grpc/src/lib.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-plugin-sdk/src/lib.rs
  crates/mockforge-plugin-sdk/src/macros.rs
  crates/mockforge-smtp/src/lib.rs
  crates/mockforge-ws/src/lib.rs
  mockforge.yaml
Due: rust-fmt

chore: release {{version}}
  Cargo.lock
  Cargo.toml
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-data/Cargo.toml
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-ws/Cargo.toml
  examples/plugins/response-graphql/Cargo.toml
  test_openapi_demo/Cargo.toml
Due: cargo-audit

chore: release 0.1.1
  Cargo.lock
  Cargo.toml
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-data/Cargo.toml
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-ws/Cargo.toml
  examples/plugins/response-graphql/Cargo.toml
  test_openapi_demo/Cargo.toml
Due: cargo-audit

docs: update changelog for 0.1.1
  CHANGELOG.md
  book/src/reference/changelog.md
Due: none

build: align release tooling with cargo-release 0.25
  release.toml
  scripts/check-changelog.sh
Due: none

build: add release wrapper with changelog guard
  release.toml
  scripts/check-changelog.sh
  scripts/release.sh
Due: none

build: automate changelog generation during release
  scripts/release.sh
  scripts/update-changelog.sh
Due: none

build: require execute flag for release wrapper
  scripts/release.sh
Due: none

docs: update changelog for 0.1.2
  CHANGELOG.md
  book/src/reference/changelog.md
Due: none

build: move workspace release metadata into Cargo.toml
  Cargo.toml
  release.toml
Due: cargo-audit

build: fix release metadata field name
  Cargo.toml
Due: cargo-audit

build: remove per-crate release metadata
  Cargo.toml
Due: cargo-audit

build: centralize release metadata in release.toml
  Cargo.toml
  release.toml
Due: cargo-audit

build: drop publish-order for cargo-release 0.25
  release.toml
Due: none
