Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

fix(amqp): bound frame size before allocating — close pre-auth remote OOM (#751)
  crates/mockforge-amqp/src/protocol.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

style(amqp): rustfmt the frame-size guard (#751)
  crates/mockforge-amqp/src/protocol.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): SSOConfiguration.email_domain + domain lookup (#746)
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/sso.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(openapi): prefer a 2xx status on the success path, not the first-listed response (#756)
  crates/mockforge-openapi/src/route.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(openapi): static-vs-param route precedence + reject empty trailing path params (#757)
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(registry): generalize SSO JIT provisioning for SAML+OIDC (#746)
  crates/mockforge-registry-server/src/handlers/sso.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): SSO email-domain discovery endpoint (#746)
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(sso): design spec for SSO completion — SAML login loop + OIDC (#746) [skip ci] (#770)
  docs/superpowers/specs/2026-05-30-sso-completion-design.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): OIDC SSO login + callback with ID-token validation + audit successful SSO logins (#746)
  Cargo.lock
  Cargo.toml
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/migrations/20250101000080_sso_login_audit_event.sql
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/oidc.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

ci: trim per-PR self-hosted runner load (4 workflows)
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): SSO config accepts OIDC fields + email_domain (#746)
  crates/mockforge-registry-core/src/models/sso.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): SSO domain-ownership verification via DNS TXT (#746)
  Cargo.toml
  crates/mockforge-registry-core/src/models/sso.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/migrations/20250101000081_sso_domain_verification.sql
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): security probes in conformance self-test (#79 round 17.3) (#732)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

ci: trim per-PR self-hosted runner load (4 workflows) (#776)
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): enforce verified email-domain at SSO login + SSRF guard on OIDC issuer (#746)
  crates/mockforge-registry-server/src/handlers/oidc.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(sdk-go): make the Go SDK publishable — correct tag scheme + green build (#674)
  .github/workflows/go-publish-sdk.yml
  sdk/go/mockforge/plugin.go
  sdk/go/mockserver_integration_test.go
  sdk/go/mockserver_test.go
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): SSO login loop + OIDC/domain-verify config UI (#746)
  crates/mockforge-ui/ui/src/components/auth/AuthGuard.tsx
  crates/mockforge-ui/ui/src/components/auth/LoginForm.tsx
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
  crates/mockforge-ui/ui/src/pages/SsoCallbackPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(sdk-java): wire Maven Central publish via Central Portal (#674)
  .github/workflows/maven-publish-sdk.yml
  sdk/java/pom.xml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(amqp): bound frame size before allocating — close pre-auth remote OOM (#751) (#773)
  crates/mockforge-amqp/src/protocol.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(changelog): remove stray merge-conflict marker before 0.3.153 entry
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(changelog): remove stray merge-conflict marker before 0.3.153 entry (#780)
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(openapi): prefer a 2xx status on the success path, not the first-listed response (#756) (#774)
  crates/mockforge-openapi/src/route.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(sdk-go): make the Go SDK publishable — correct tag scheme + green build (#674) (#777)
  .github/workflows/go-publish-sdk.yml
  sdk/go/mockforge/plugin.go
  sdk/go/mockserver_integration_test.go
  sdk/go/mockserver_test.go
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(openapi): static-vs-param route precedence + reject empty trailing path params (#757) (#775)
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(sdk-java): wire Maven Central publish via Central Portal (#674) (#779)
  .github/workflows/maven-publish-sdk.yml
  sdk/java/pom.xml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(bench): spec-level audit alongside self-test (#79 round 17.4)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/spec_audit.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): spec-level audit alongside self-test (#79 round 17.4) (#736)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/spec_audit.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): OWASP/WAF unification in self-test (#79 round 17.5)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): OWASP/WAF unification in self-test (#79 round 17.5) (#737)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): OWASP coverage table explains the "-" rows (#79 round 18.4)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/report.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): OWASP coverage table explains the "-" rows (#79 round 18.4) (#742)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/report.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(openapi,bench): resolve nested \$ref against full spec context (#79 round 18.3)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-openapi/src/lib.rs
  crates/mockforge-openapi/src/schema_ref_resolver.rs
  crates/mockforge-openapi/src/validation.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(openapi,bench): resolve nested \$ref against full spec context (#79 round 18.3) (#741)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-openapi/src/lib.rs
  crates/mockforge-openapi/src/schema_ref_resolver.rs
  crates/mockforge-openapi/src/validation.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): self-contained HTML conformance report (#79 round 17.6)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/report_html.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,cli): GEODB multi-source-IP testing in self-test (#79 round 18.5)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): self-contained HTML conformance report (#79 round 17.6) (#738)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/report_html.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): self-test honours --base-path + misconfig warning + accurate header (#79 round 18.1 + 18.2)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/reporter.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,cli): GEODB multi-source-IP testing in self-test (#79 round 18.5) (#744)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): self-test honours --base-path + misconfig warning + accurate header (#79 round 18.1 + 18.2) (#740)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/reporter.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(release): consolidate #79 17.1-18.5 chain into v0.3.162
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit
