Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit, cargo-test

.pre-commit-config.yaml:

repos:
  # Basic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^book/
      - id: end-of-file-fixer
        exclude: ^book/
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # Rust hooks
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: clippy
        args: [--all-targets, --all-features, --, -D, warnings]
      - id: cargo-check

  # Custom fmt hook that works with individual files
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust fmt
        entry: bash -c 'if [ $# -eq 0 ]; then cargo fmt --check; else cargo fmt --check -- "$@"; fi'
        language: system
        files: \.(rs)$
        exclude: ^(target/|book/)
        pass_filenames: true

  # Spell check
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.20
    hooks:
      - id: typos
        exclude: ^(book/|target/|\.git/)

  # Security audit
  - repo: local
    hooks:
      - id: cargo-audit
        name: cargo audit
        entry: cargo
        args: [audit]
        language: system
        pass_filenames: false
        files: ^Cargo\.(toml|lock)$

  # Test runner
  - repo: local
    hooks:
      - id: cargo-test
        name: cargo test
        entry: cargo
        args: [test, --workspace]
        language: system
        pass_filenames: false
        files: \.(rs|toml)$
        exclude: ^(target/|book/)

chore(core): minimal clippy cleanups and local ignore
  .gitignore
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/latency.rs
  crates/mockforge-core/src/openapi.rs
  crates/mockforge-core/src/routing.rs
Due: rust-fmt, cargo-test

style: workspace rustfmt + whitespace cleanup (trailing whitespace, EOF newline)
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/error.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-core/src/proxy.rs
  crates/mockforge-core/src/server_utils.rs
  crates/mockforge-core/src/validation.rs
  crates/mockforge-data/src/dataset.rs
  crates/mockforge-data/src/faker.rs
  crates/mockforge-data/src/generator.rs
  crates/mockforge-data/src/lib.rs
  crates/mockforge-data/src/rag.rs
  crates/mockforge-data/src/schema.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/tests/smoke.rs
Due: rust-fmt, cargo-test

refactor(config): derive Default for ServerConfig and remove manual implementation
  crates/mockforge-core/src/config.rs
Due: rust-fmt, cargo-test

feat(core): OpenAPI request body validation (phase 1)
  Cargo.toml
  crates/mockforge-core/src/openapi.rs
  crates/mockforge-core/src/openapi_routes.rs
Due: rust-fmt, cargo-audit, cargo-test

feat(core): parameter parsing + groundwork for query/path validation
  crates/mockforge-core/src/openapi.rs
  crates/mockforge-core/src/openapi_routes.rs
Due: rust-fmt, cargo-test

feat(core): parse parameter schema for query/path/header/cookie via ParameterSchemaOrContent
  crates/mockforge-core/src/openapi.rs
Due: rust-fmt, cargo-test

feat(core): add validate_request_with(path, method, path_params, query_params, body)
  crates/mockforge-core/src/openapi_routes.rs
Due: rust-fmt, cargo-test

test(core): acceptance tests for validate_request_with (params + email/uri formats)
  Cargo.toml
  crates/mockforge-core/src/openapi_routes.rs
Due: rust-fmt, cargo-audit, cargo-test

core: add email and uri format validation in OpenAPI schema validation; wire once_cell regex; tests pass
  Cargo.lock
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/openapi.rs
Due: rust-fmt, cargo-audit, cargo-test

core: add deep resolution for schemas and parameters; resolve requestBodies/responses refs; thread resolver through operation mapping; fix param path formatting; add ref-based test
  crates/mockforge-core/src/openapi.rs
  crates/mockforge-core/src/openapi_routes.rs
Due: rust-fmt, cargo-test

core: support oneOf/anyOf/allOf in schema mapping and validation; handle openapiv3 Any schema; add composite validation tests; fix string format match; heuristic to avoid vacuous oneOf matches
  crates/mockforge-core/src/openapi.rs
  crates/mockforge-core/src/openapi_routes.rs
Due: rust-fmt, cargo-test

core: validate headers and cookies; add param coercion (string->int/float/bool, CSV arrays) for query/header/cookie; extend API with validate_request_with_all; add tests
  crates/mockforge-core/src/openapi_routes.rs
Due: rust-fmt, cargo-test

core: add ipv4/ipv6/hostname formats; additionalProperties support; query styles (spaceDelimited/pipeDelimited/deepObject) with coercion; capture parameter style/explode; tests added; all green
  crates/mockforge-core/src/openapi.rs
  crates/mockforge-core/src/openapi_routes.rs
Due: rust-fmt, cargo-test

core(http): validate requests in generated handlers (path/query/header/cookie/body) using OpenAPI schemas; return 400 on validation errors
  crates/mockforge-core/src/openapi_routes.rs
Due: rust-fmt, cargo-test

core: add validation options (disabled/warn/enforce), aggregate error reporting, response validation toggle; env flags for modes; aggregate schema errors; update HTTP handlers to include detail
  crates/mockforge-core/src/openapi.rs
  crates/mockforge-core/src/openapi_routes.rs
Due: rust-fmt, cargo-test

cli+http+core: wire validation options via CLI flags and config; add HttpConfig fields; pass options to HTTP builder; add detailed error objects; per-route overrides infra
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/openapi.rs
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-http/src/lib.rs
Due: rust-fmt, cargo-test

wire validation_overrides from config via options; richer error details include offending values; runtime admin endpoint to toggle validation mode/flags; env-based runtime overrides in validator
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-http/src/lib.rs
Due: rust-fmt, cargo-test

admin UI: add Validation Settings panel with mode/aggregate/response toggles using /__mockforge/validation; docs + example config for validation flags and overrides
  config.example.yaml
  crates/mockforge-ui/static/admin.html
  crates/mockforge-ui/static/admin.js
Due: none

tests: add overrides warn-mode and admin-skip prefix tests; README: add Validation Modes section
  README.md
  crates/mockforge-core/src/openapi_routes.rs
Due: rust-fmt, cargo-test

runtime overrides: Admin UI per-route overrides editor + env JSON support; validator reads overrides; e2e test for runtime toggling via /__mockforge/validation
  Cargo.lock
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/tests/validation_e2e.rs
  crates/mockforge-ui/static/admin.js
Due: rust-fmt, cargo-audit, cargo-test

UI routes: prefill per-route modes from overrides; add filter/sort/search and only-overrides; error details include expected enum and item hints; e2e test for per-route override via Admin API
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/openapi.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/tests/validation_e2e.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/models.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/static/admin.html
  crates/mockforge-ui/static/admin.js
Due: rust-fmt, cargo-test

chore: finalize jsonschema 0.33 API update in validator
  crates/mockforge-core/src/validation.rs
Due: rust-fmt, cargo-test

docs(changelog): document OpenAPI request validation, modes, admin UI, and jsonschema 0.33 update
  CHANGELOG.md
Due: none

fix(ws): test connects to /ws route; all workspace tests pass locally
  crates/mockforge-ws/tests/ws_templating_e2e.rs
Due: rust-fmt, cargo-test

ci: fix MSRV to 1.82; correct typos config; format sources
  .github/workflows/ci.yml
  .typos.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/openapi.rs
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-core/src/templating.rs
  crates/mockforge-core/src/validation.rs
  crates/mockforge-core/tests/schema_constraints.rs
  crates/mockforge-data/src/dataset.rs
  crates/mockforge-data/src/faker.rs
  crates/mockforge-data/src/generator.rs
  crates/mockforge-data/src/lib.rs
  crates/mockforge-data/src/provider.rs
  crates/mockforge-grpc/src/lib.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/overrides.rs
  crates/mockforge-http/tests/response_example_expand_e2e.rs
  crates/mockforge-http/tests/response_status_2xx_e2e.rs
  crates/mockforge-http/tests/validation_e2e.rs
  crates/mockforge-http/tests/validation_status_422_e2e.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ws/src/lib.rs
  crates/mockforge-ws/tests/ws_templating_e2e.rs
Due: rust-fmt, cargo-test

ci: install protoc for build (tests, coverage, msrv)
  .github/workflows/ci.yml
Due: none

ci: re-enable clippy fail on warnings (stable)
  .github/workflows/ci.yml
Due: none

ci: fix Codecov input (files instead of file)
  .github/workflows/ci.yml
Due: none

ci: enable sccache + matrix caching for faster builds; print stats
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: use mozilla sccache-action (GHA backend) instead of apt; expect cache hits in subsequent runs
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none
