Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

feat(registry): auto-send verification email at signup (#448)
  crates/mockforge-registry-server/src/handlers/auth.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui,docs): reconcile pricing to Pro $29 / Team $99 (#445)
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
  crates/mockforge-ui/ui/src/pages/PricingPage.tsx
  docs/cloud/PRICING.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): gate deployments/workspaces/members on plan limits + past_due (#449)
  crates/mockforge-registry-server/src/handlers/cloud_workspaces.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/organizations.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): quote run: values to avoid YAML scalar parse on ::error:: colons (#446)
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(ui): hide cloud-redundant Metrics and Performance nav items (#463, #467) (#477)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(tests): marketplace_e2e auth fields + org route path (#446)
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): cloud-mode workspace request logs (#462) (#475)
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/runtime_logs.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/hooks/api/useLogsApi.ts
  crates/mockforge-ui/ui/src/services/api/cloudLogs.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): auto-send verification email at signup (#448) (#458)
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
  crates/mockforge-ui/ui/src/pages/PricingPage.tsx
  docs/cloud/PRICING.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): gate deployments/workspaces/members on plan limits + past_due (#449) (#479)
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-server/src/handlers/cloud_workspaces.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): cloud-mode Observability — execute saved queries (#465) (#480)
  crates/mockforge-registry-server/src/handlers/observability.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/ObservabilityPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudObservability.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): cost cap on hosted-mocks proxy — body size limit + per-deployment RPS (#450)
  crates/mockforge-registry-server/src/deployment/mod.rs
  crates/mockforge-registry-server/src/deployment/rate_limit.rs
  crates/mockforge-registry-server/src/deployment/router.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): paid-flow E2E test — protocol gates + workspace limit (#451)
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-server/tests/paid_flow_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(chaos,bench,http): close out #79 round-4 — full fault stats, client visibility, RPS/CPS
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/reporter.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/tests/billing_subscriptions_test.rs
  crates/mockforge-bench/tests/dump_k6.rs
  crates/mockforge-bench/tests/issue_79_comprehensive_test.rs
  crates/mockforge-bench/tests/k6_script_validation_test.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-chaos/src/latency.rs
  crates/mockforge-chaos/src/metrics.rs
  crates/mockforge-chaos/src/middleware.rs
  crates/mockforge-chaos/src/traffic_shaping.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/middleware/keepalive_hint.rs
  crates/mockforge-http/src/middleware/mod.rs
  crates/mockforge-tui/src/screens/chaos.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(grpc): YAML-driven per-method response overrides (#485)
  crates/mockforge-core/src/config/protocol.rs
  crates/mockforge-grpc/examples/flexible_grpc.rs
  crates/mockforge-grpc/src/dynamic/mod.rs
  crates/mockforge-grpc/src/dynamic/router.rs
  crates/mockforge-grpc/tests/grpc_client_e2e.rs
  crates/mockforge-grpc/tests/grpc_server_e2e_test.rs
  crates/mockforge-grpc/tests/http_bridge_tests.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(kafka): YAML-declared seed messages per topic (#486)
  crates/mockforge-core/src/config/protocol.rs
  crates/mockforge-kafka/src/broker.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(kafka): add user-guide page covering setup, seeding, and faults (#488)
  book/src/SUMMARY.md
  book/src/user-guide/kafka-mocking.md
Due: check-added-large-files

feat(registry): enforce requests_per_30d on hosted-mock proxy (#449)
  crates/mockforge-registry-server/src/deployment/router.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/middleware/org_rate_limit.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

test(registry): e2e paid-flow webhook + protocol gating (#451)
  .github/workflows/registry-e2e.yml
  Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/tests/paid_flow_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(ui): mock cloudMode in TestingPage tests so they exercise the local view (#447)
  crates/mockforge-ui/ui/src/pages/__tests__/TestingPage.test.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(kafka): YAML-driven fault injection (produce_throttle, produce_not_leader, offset_out_of_range) (#487)
  crates/mockforge-core/src/config/protocol.rs
  crates/mockforge-kafka/src/broker.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(grpc): YAML-driven per-method response overrides (#485) (#489)
  crates/mockforge-core/src/config/protocol.rs
  crates/mockforge-grpc/examples/flexible_grpc.rs
  crates/mockforge-grpc/src/dynamic/mod.rs
  crates/mockforge-grpc/src/dynamic/router.rs
  crates/mockforge-grpc/tests/grpc_client_e2e.rs
  crates/mockforge-grpc/tests/grpc_server_e2e_test.rs
  crates/mockforge-grpc/tests/http_bridge_tests.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(kafka): YAML-declared seed messages per topic (#486) (#490)
  crates/mockforge-core/src/config/protocol.rs
  crates/mockforge-kafka/src/broker.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(kafka): add user-guide page covering setup, seeding, and faults (#488) (#492)
  book/src/SUMMARY.md
  book/src/user-guide/kafka-mocking.md
Due: check-added-large-files

feat(kafka): YAML-driven fault injection (produce_throttle, produce_not_leader, offset_out_of_range) (#487) (#491)
  crates/mockforge-core/src/config/protocol.rs
  crates/mockforge-kafka/src/broker.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): enforce requests_per_30d on hosted-mock proxy (#449) (#494)
  crates/mockforge-registry-server/src/deployment/router.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/middleware/org_rate_limit.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(chaos,bench,http): close out #79 round-4 — full fault stats, client visibility, RPS/CPS (#484)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/reporter.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/tests/billing_subscriptions_test.rs
  crates/mockforge-bench/tests/dump_k6.rs
  crates/mockforge-bench/tests/issue_79_comprehensive_test.rs
  crates/mockforge-bench/tests/k6_script_validation_test.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-chaos/src/latency.rs
  crates/mockforge-chaos/src/metrics.rs
  crates/mockforge-chaos/src/middleware.rs
  crates/mockforge-chaos/src/traffic_shaping.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/middleware/keepalive_hint.rs
  crates/mockforge-http/src/middleware/mod.rs
  crates/mockforge-tui/src/screens/chaos.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

test(registry): e2e paid-flow webhook + protocol gating (#451) (#495)
  .github/workflows/registry-e2e.yml
  Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/tests/paid_flow_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(ui): mock cloudMode in TestingPage tests so they exercise the local view (#447) (#496)
  crates/mockforge-ui/ui/src/pages/__tests__/TestingPage.test.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): resolve cargo via shutil.which + CARGO_HOME/~/.cargo fallbacks in cargo_audit.py (#447)
  scripts/precommit/cargo_audit.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): cost-ceiling on hosted-mock proxy (body cap + RPS) (#450)
  crates/mockforge-registry-core/src/models/organization.rs
  crates/mockforge-registry-server/src/deployment/router.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ci): resolve cargo via shutil.which + CARGO_HOME/~/.cargo fallbacks in cargo_audit.py (#447) (#499)
  scripts/precommit/cargo_audit.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): daily fly compute-spend alert worker (#450 criterion 3)
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/workers/fly_spend_alert.rs
  crates/mockforge-registry-server/src/workers/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(core): strip unnecessary std::collections:: qualification on HashMap (#500)
  crates/mockforge-core/src/config/protocol.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): cost-ceiling on hosted-mock proxy (body cap + RPS) (#450) (#493)
  crates/mockforge-registry-core/src/models/organization.rs
  crates/mockforge-registry-server/src/deployment/router.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix: workspace-wide unused_qualifications cleanup, batch 1 (#500 follow-up)
  crates/mockforge-amqp/src/broker.rs
  crates/mockforge-amqp/tests/integration.rs
  crates/mockforge-core/src/config/protocol.rs
  crates/mockforge-ftp/src/fixtures.rs
  crates/mockforge-ftp/src/storage.rs
  crates/mockforge-graphql/tests/graphql_tests.rs
  crates/mockforge-plugin-cli/src/commands/publish.rs
  crates/mockforge-plugin-core/src/plugins/react_client_generator.rs
  crates/mockforge-plugin-core/src/plugins/svelte_client_generator.rs
  crates/mockforge-plugin-core/src/plugins/vue_client_generator.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-registry-core/src/models/hosted_mock.rs
  crates/mockforge-registry-core/src/models/subscription.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-tunnel/src/server.rs
  examples/plugins/response-graphql/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix: workspace unused_qualifications cleanup, batch 2 (#503)
  crates/mockforge-registry-server/src/email.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-registry-server/src/handlers/flows.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/oauth.rs
  crates/mockforge-registry-server/src/handlers/otlp.rs
  crates/mockforge-registry-server/src/handlers/public_keys.rs
  crates/mockforge-registry-server/src/handlers/snapshots.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/handlers/test_suites.rs
  crates/mockforge-registry-server/src/handlers/tunnels.rs
  crates/mockforge-registry-server/src/handlers/workspace_import.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
  crates/mockforge-test-runner/src/executors/replay.rs
  crates/mockforge-test-runner/src/executors/test.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

ci: speed up Security Audit ~10x by preinstalling tools + dropping no-op clippy
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(core): strip unnecessary std::collections:: qualification on HashMap (#500) (#501)
  crates/mockforge-core/src/config/protocol.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt
