Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

feat(federation): wire audit findings and scenario activation lifecycle
  Cargo.lock
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/feature_usage.rs
  crates/mockforge-registry-core/src/models/federation_scenario_activation.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/migrations-sqlite/20260101000010_federation_scenario_activations.sql
  crates/mockforge-registry-server/migrations/20250101000038_federation_scenario_activations.sql
  crates/mockforge-registry-server/migrations/20250101000039_federations_services_gin_index.sql
  crates/mockforge-registry-server/src/handlers/federations.rs
  crates/mockforge-registry-server/src/handlers/scenarios.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-runtime-daemon/Cargo.toml
  crates/mockforge-runtime-daemon/src/lib.rs
  crates/mockforge-scenarios/Cargo.toml
  crates/mockforge-scenarios/src/federation_runtime.rs
  crates/mockforge-scenarios/src/lib.rs
  crates/mockforge-scenarios/src/manifest.rs
  crates/mockforge-ui/src/handlers/federation_api.rs
  crates/mockforge-ui/ui/src/components/federation/ActiveScenarioPanel.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationDetail.tsx
  crates/mockforge-ui/ui/src/components/federation/index.ts
  crates/mockforge-ui/ui/src/hooks/useFederation.ts
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

test(federation): add e2e integration and Playwright smoke for scenario activation
  crates/mockforge-registry-server/tests/federation_scenarios_e2e.rs
  crates/mockforge-ui/ui/e2e/federation-scenarios-deployed.spec.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(federation): wire audit findings and ship scenario activation lifecycle (#140)
  Cargo.lock
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/feature_usage.rs
  crates/mockforge-registry-core/src/models/federation_scenario_activation.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/migrations-sqlite/20260101000010_federation_scenario_activations.sql
  crates/mockforge-registry-server/migrations/20250101000038_federation_scenario_activations.sql
  crates/mockforge-registry-server/migrations/20250101000039_federations_services_gin_index.sql
  crates/mockforge-registry-server/src/handlers/federations.rs
  crates/mockforge-registry-server/src/handlers/scenarios.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/tests/federation_scenarios_e2e.rs
  crates/mockforge-runtime-daemon/Cargo.toml
  crates/mockforge-runtime-daemon/src/lib.rs
  crates/mockforge-scenarios/Cargo.toml
  crates/mockforge-scenarios/src/federation_runtime.rs
  crates/mockforge-scenarios/src/lib.rs
  crates/mockforge-scenarios/src/manifest.rs
  crates/mockforge-ui/src/handlers/federation_api.rs
  crates/mockforge-ui/ui/e2e/federation-scenarios-deployed.spec.ts
  crates/mockforge-ui/ui/src/components/federation/ActiveScenarioPanel.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationDetail.tsx
  crates/mockforge-ui/ui/src/components/federation/index.ts
  crates/mockforge-ui/ui/src/hooks/useFederation.ts
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ui): import cloudServicesApi from services/api barrel
  crates/mockforge-ui/ui/src/stores/useServiceStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): import cloudServicesApi from services/api barrel (#142)
  crates/mockforge-ui/ui/src/stores/useServiceStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(services,ui): show Add Service in empty state + refetch after workspace reassign
  crates/mockforge-ui/ui/e2e/services-crud-deployed.spec.ts
  crates/mockforge-ui/ui/src/pages/ServicesPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudServices.ts
  crates/mockforge-ui/ui/src/stores/useServiceStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(services,ui): show Add Service in empty state + refetch after workspace reassign (#143)
  crates/mockforge-ui/ui/e2e/services-crud-deployed.spec.ts
  crates/mockforge-ui/ui/src/pages/ServicesPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudServices.ts
  crates/mockforge-ui/ui/src/stores/useServiceStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(ui): harden cloud build + add regression tests for services wiring
  crates/mockforge-ui/ui/package.json
  crates/mockforge-ui/ui/src/pages/__tests__/ServicesPage.test.tsx
  crates/mockforge-ui/ui/src/services/api/__tests__/cloudServices.contract.test.ts
  crates/mockforge-ui/ui/src/services/api/index.ts
  crates/mockforge-ui/ui/src/stores/__tests__/useServiceStore.test.ts
  crates/mockforge-ui/ui/vite.config.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(ui): harden cloud build + add regression tests for services wiring (#144)
  crates/mockforge-ui/ui/package.json
  crates/mockforge-ui/ui/src/pages/__tests__/ServicesPage.test.tsx
  crates/mockforge-ui/ui/src/services/api/__tests__/cloudServices.contract.test.ts
  crates/mockforge-ui/ui/src/services/api/index.ts
  crates/mockforge-ui/ui/src/stores/__tests__/useServiceStore.test.ts
  crates/mockforge-ui/ui/vite.config.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(docker-build): stop failing on advisory Grype/Dockle findings and drop dead update-deployment job
  .github/workflows/docker-build.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs: correct amd64-only note in GHCR pull section
  DOCKER.md
  README.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(docker-build): stop failing on advisory Grype/Dockle findings and drop dead update-deployment job (#145)
  .github/workflows/docker-build.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(docker): canonicalize image registry on GHCR (#141)
  .github/workflows/release.yml
  DOCKER.md
  README.md
  helm/mockforge/Chart.yaml
  helm/mockforge/README.md
  helm/mockforge/values.yaml
  k8s/deployment.yaml
  k8s/vault-integration.yaml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(deploy,ui): align docs and comments with Cloudflare Pages migration [skip ci]
  crates/mockforge-ui/ui/src/hooks/useWebSocket.ts
  crates/mockforge-ui/ui/src/services/registryAdminApi.ts
  deploy/PRODUCTION_SETUP.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(readme): fix accuracy drift against current codebase
  README.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs: fix Docker, benchmark, and k6 drift; fix broken compose env var
  DOCKER.md
  README.md
  docker-compose.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(precommit): pin hooks to pre-commit stage to eliminate double-run
  .pre-commit-config.yaml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(docker): build admin UI inside image instead of shipping placeholder
  .dockerignore
  Dockerfile
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): fixtures v2 with protocol + tags fields
  crates/mockforge-registry-core/src/models/cloud_fixture.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/cloud_fixtures.rs
  crates/mockforge-ui/ui/src/hooks/api/index.ts
  crates/mockforge-ui/ui/src/hooks/api/useFixturesApi.ts
  crates/mockforge-ui/ui/src/pages/FixturesPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/FixturesPage.test.tsx
  crates/mockforge-ui/ui/src/services/api/fixtures.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

build(docker): multi-stage image that builds the real admin UI bundle
  .dockerignore
  Dockerfile
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(docker): build admin UI inside image instead of shipping placeholder (#147)
  .dockerignore
  Dockerfile
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(deploy): rewrite PRODUCTION_SETUP for Cloudflare Pages admin UI
  deploy/PRODUCTION_SETUP.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(docker,config): build with all-protocols and add Kafka env overrides
  Dockerfile
  crates/mockforge-core/src/config/mod.rs
  docker-compose.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(docker,config): build with all-protocols and add Kafka env overrides (#148)
  Dockerfile
  crates/mockforge-core/src/config/mod.rs
  docker-compose.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(precommit): stop clippy running twice per commit
  .pre-commit-config.yaml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(precommit): tighten merge-conflict check, drop stale rust-fmt/typos excludes
  .pre-commit-config.yaml
  scripts/precommit/offline_checks.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(precommit): unify cargo-audit ignore list in audit.toml
  .pre-commit-config.yaml
  audit.toml
  scripts/precommit/cargo_audit.py
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

fix(kafka): make ApiVersions v3 + Metadata v4 handshake actually work
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/protocol.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(kafka): make ApiVersions v3 + Metadata v4 handshake actually work (#149)
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/protocol.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(kafka): load the nested-topology fixture YAML the examples ship
  crates/mockforge-kafka/src/fixture_file.rs
  crates/mockforge-kafka/src/fixtures.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/spec_registry.rs
  crates/mockforge-kafka/tests/fixture_schema.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(kafka): load the nested-topology fixture YAML the examples ship (#150)
  crates/mockforge-kafka/src/fixture_file.rs
  crates/mockforge-kafka/src/fixtures.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/spec_registry.rs
  crates/mockforge-kafka/tests/fixture_schema.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(kafka): advertise real topics in Metadata v4 responses
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/protocol.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(kafka): advertise real topics in Metadata v4 responses (#151)
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/protocol.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(kafka): implement Produce v9 with real RecordBatch v2 storage
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/produce_codec.rs
  crates/mockforge-kafka/src/protocol.rs
  crates/mockforge-kafka/tests/produce_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(kafka): implement Produce v9 with real RecordBatch v2 storage (#152)
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/produce_codec.rs
  crates/mockforge-kafka/src/protocol.rs
  crates/mockforge-kafka/tests/produce_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(kafka): implement Fetch v12 so consumers can read produced records
  Cargo.lock
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/fetch_codec.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/produce_codec.rs
  crates/mockforge-kafka/src/protocol.rs
  crates/mockforge-kafka/tests/fetch_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(kafka): implement Fetch v12 so consumers can read produced records (#153)
  Cargo.lock
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/fetch_codec.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/produce_codec.rs
  crates/mockforge-kafka/src/protocol.rs
  crates/mockforge-kafka/tests/fetch_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ws,cli): --ws-replay-file now actually takes effect
  Cargo.lock
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/config/mod.rs
  crates/mockforge-ws/Cargo.toml
  crates/mockforge-ws/tests/ws_replay_cli_path.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ws,cli): --ws-replay-file now actually takes effect (#154)
  Cargo.lock
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/config/mod.rs
  crates/mockforge-ws/Cargo.toml
  crates/mockforge-ws/tests/ws_replay_cli_path.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

test(grpc): add real tonic-client round-trip against SayHello
  crates/mockforge-grpc/tests/grpc_client_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt
