Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

fix: resolve flaky env var tests and Tauri 2.x API compatibility
  crates/mockforge-registry-server/src/handlers/health.rs
  desktop-app/src/commands.rs
  desktop-app/src/main.rs
  desktop-app/src/system_tray.rs
  desktop-app/src/theme.rs
  desktop-app/src/updater.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat: implement cloud SaaS platform (Phases 1-4)
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  Cargo.lock
  Dockerfile.registry
  ROADMAP.md
  crates/mockforge-cli/src/cloud_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/migrations/20250101000025_fix_region_default.sql
  crates/mockforge-registry-server/migrations/20250101000026_waitlist_subscribers.sql
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/deployment/router.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/waitlist.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/models/hosted_mock.rs
  crates/mockforge-registry-server/src/models/mod.rs
  crates/mockforge-registry-server/src/models/organization.rs
  crates/mockforge-registry-server/src/models/waitlist.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/storage.rs
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
  crates/mockforge-ui/ui/vercel.json
  deploy/PRODUCTION_SETUP.md
  fly.registry.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs: tighten cloud docs and add mdbook checks
  .github/workflows/docs-check.yml
  book/book.toml
  book/src/README.md
  book/src/SUMMARY.md
  book/src/getting-started/cloud-first.md
  book/src/user-guide/cloud-workspaces.md
  book/src/user-guide/cloud/analytics-dashboard.md
  book/src/user-guide/cloud/federation.md
  book/src/user-guide/cloud/mockops-pipelines.md
  scripts/automated-tests/test-docs.sh
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

docs: fix broken homepage badges
  README.md
  book/src/README.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui,cli,tui): implement 11 missing admin API endpoints for TUI dashboard (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/cloud_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-federation/src/federation.rs
  crates/mockforge-tui/src/app.rs
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/admin.rs
  crates/mockforge-ui/src/handlers/chains.rs
  crates/mockforge-ui/src/handlers/chaos_api.rs
  crates/mockforge-ui/src/handlers/federation_api.rs
  crates/mockforge-ui/src/handlers/recorder_api.rs
  crates/mockforge-ui/src/handlers/vbr_api.rs
  crates/mockforge-ui/src/handlers/world_state_proxy.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/tests/admin_handlers.rs
  crates/mockforge-ui/tests/admin_ui_build.rs
  crates/mockforge-ui/tests/admin_ui_integration_comprehensive.rs
  crates/mockforge-ui/tests/integration.rs
  crates/mockforge-ui/tests/playground_integration.rs
  crates/mockforge-ui/tests/smoke.rs
  crates/mockforge-ui/tests/static_files.rs
  examples/tests/test_routing.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(analytics): make migrations idempotent with IF NOT EXISTS guards (#79)
  .gitignore
  Dockerfile.registry
  crates/mockforge-analytics/migrations/001_analytics_schema.sql
  crates/mockforge-analytics/src/database.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-ui/ui/.env.production
  crates/mockforge-ui/ui/.gitignore
  crates/mockforge-ui/ui/pnpm-lock.yaml
  crates/mockforge-ui/ui/vercel.json
  deploy/PRODUCTION_SETUP.md
  fly.registry.toml
  tests/test_snapshots/test-snapshot/metadata.json
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

chore: gitignore generated bench-results directory
  .gitignore
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(bench): add OWASP API Top 10 coverage mapping to conformance reports (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/report.rs
  crates/mockforge-bench/src/conformance/sarif.rs
  crates/mockforge-bench/src/conformance/spec.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ui,bench): fix routes proxy, improve OWASP coverage reporting (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/report.rs
  crates/mockforge-ui/src/handlers.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(tui): add g/G and PgUp/PgDn to routes screen status hint (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-tui/src/screens/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ui,bench): resolve empty routes + add endpoint details to conformance (#79)
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/report.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-core/src/request_logger.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-ui/src/handlers.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): capture full request/response details for conformance failures (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/report.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/executor.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(core,bench): resolve 3 conformance test failures (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-core/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): eliminate misleading error rate in conformance output (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): conformance report UX + custom test authoring (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/report.rs
  crates/mockforge-bench/src/conformance/spec.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): custom conformance checks now emit failure details (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-sdk/src/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench,http,ui,sdk): native conformance executor + API + UI + SDK (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/report.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/handlers/conformance.rs
  crates/mockforge-http/src/handlers/mod.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-sdk/src/conformance.rs
  crates/mockforge-sdk/src/lib.rs
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/ConformancePage.tsx
  crates/mockforge-ui/ui/src/services/conformanceApi.ts
  crates/mockforge-ui/ui/src/types/conformance.ts
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): deduplicate native executor checks + write failure details file (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/executor.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): add --conformance-delay and k6 output logging (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-http/src/handlers/conformance.rs
  crates/mockforge-sdk/src/conformance.rs
  crates/mockforge-ui/ui/src/types/conformance.ts
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ui): cloud mode session drops, toast crashes, and missing API stubs
  crates/mockforge-ui/ui/src/pages/ApiTokensPage.tsx
  crates/mockforge-ui/ui/src/pages/BYOKConfigPage.tsx
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
  crates/mockforge-ui/ui/src/pages/LearningHubPage.tsx
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
  crates/mockforge-ui/ui/src/utils/apiClient.ts
  crates/mockforge-ui/ui/vercel.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): auto-create personal org on registration, fix seed password hashes
  crates/mockforge-registry-server/migrations/20250101000027_fix_seed_password_hashes.sql
  crates/mockforge-registry-server/migrations/20250101000028_fix_seed_password_hashes_v2.sql
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(cli): send email field in login request to match registry API schema
  crates/mockforge-cli/src/cloud_commands.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): cloud mode support, auth fixes, and runtime error hardening
  .typos.toml
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/dist/sw.js
  crates/mockforge-ui/ui/public/sw.js
  crates/mockforge-ui/ui/src/components/auth/LoginForm.tsx
  crates/mockforge-ui/ui/src/components/auth/UserProfile.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/hooks/useKeyboardNavigation.ts
  crates/mockforge-ui/ui/src/services/authApi.ts
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
  crates/mockforge-ui/ui/src/stores/useServiceStore.ts
  crates/mockforge-ui/ui/src/types/index.ts
  crates/mockforge-ui/ui/src/utils/apiClient.ts
  crates/mockforge-ui/ui/src/utils/serviceWorker.ts
  deploy/PRODUCTION_SETUP.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

fix(ui,cli): resolve cloud mode crashes, 401s, and CLI login flow
  crates/mockforge-cli/src/cloud_commands.rs
  crates/mockforge-ui/ui/src/components/plugins/PluginList.tsx
  crates/mockforge-ui/ui/src/components/workspace/EnvironmentManager.tsx
  crates/mockforge-ui/ui/src/main.tsx
  crates/mockforge-ui/ui/src/pages/LearningHubPage.tsx
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
  crates/mockforge-ui/ui/src/utils/apiClient.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(cli): read access_token from login response (not token)
  crates/mockforge-cli/src/cloud_commands.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): resolve all cloud mode page crashes across 56 pages
  crates/mockforge-ui/ui/src/components/ai/AIStudioNav.tsx
  crates/mockforge-ui/ui/src/components/chaos/NetworkProfileSelector.tsx
  crates/mockforge-ui/ui/src/components/chaos/ProfileExporter.tsx
  crates/mockforge-ui/ui/src/components/proxy/ProxyInspector.tsx
  crates/mockforge-ui/ui/src/components/state-machine/StatePreviewPanel.tsx
  crates/mockforge-ui/ui/src/pages/AIStudioPage.tsx
  crates/mockforge-ui/ui/src/pages/ContractDiffPage.tsx
  crates/mockforge-ui/ui/src/pages/FitnessFunctionsPage.tsx
  crates/mockforge-ui/ui/src/pages/MockAIPage.tsx
  crates/mockforge-ui/ui/src/pages/ObservabilityPage.tsx
  crates/mockforge-ui/ui/src/pages/OrchestrationExecutionView.tsx
  crates/mockforge-ui/ui/src/pages/ResiliencePage.tsx
  crates/mockforge-ui/ui/src/pages/ShowcasePage.tsx
  crates/mockforge-ui/ui/src/pages/VoicePage.tsx
  crates/mockforge-ui/ui/src/utils/apiClient.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): eliminate cloud console errors, fix remaining crashes, add E2E test scripts
  crates/mockforge-ui/ui/e2e-cloud/00-full-sweep.js
  crates/mockforge-ui/ui/e2e-cloud/01-phase1-auth.js
  crates/mockforge-ui/ui/e2e-cloud/02-phase2-interactions.js
  crates/mockforge-ui/ui/e2e-cloud/03-phase2-remaining.js
  crates/mockforge-ui/ui/e2e-cloud/04-phase4-cross-cutting.js
  crates/mockforge-ui/ui/src/hooks/useAnalyticsStream.ts
  crates/mockforge-ui/ui/src/hooks/useWebSocket.ts
  crates/mockforge-ui/ui/src/pages/ConformancePage.tsx
  crates/mockforge-ui/ui/src/pages/IncidentDashboardPage.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStudioPage.tsx
  crates/mockforge-ui/ui/src/utils/apiClient.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(cloud): end-to-end deployment pipeline, storage fallback, and remaining console errors
  Cargo.lock
  crates/mockforge-cli/src/cloud_commands.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/auth.rs
  crates/mockforge-registry-server/src/deployment/flyio.rs
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/storage.rs
  crates/mockforge-ui/ui/src/hooks/useSSE.ts
  crates/mockforge-ui/ui/src/pages/ConformancePage.tsx
  crates/mockforge-ui/ui/src/services/conformanceApi.ts
  crates/mockforge-ui/ui/src/stores/useAnalyticsStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): k6 conformance delay + 429 detection + error clarity (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/report.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(cloud): auto-detect Fly.io registry images and pass API token for cross-app pulls
  .dockerignore
  crates/mockforge-registry-server/src/deployment/flyio.rs
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(cli): load OpenAPI spec from MOCKFORGE_CONFIG env var for cloud deployments
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(core): handle OData function call paths in OpenAPI specs (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-core/src/openapi/route.rs
  crates/mockforge-core/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(core): support OData function call paths via URI rewrite layer (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/odata_rewrite.rs
  crates/mockforge-core/src/openapi/route.rs
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(cloud): add deployment deletion CLI command and background cleanup worker
  crates/mockforge-cli/src/cloud_commands.rs
  crates/mockforge-registry-server/src/deployment/cleanup.rs
  crates/mockforge-registry-server/src/deployment/flyio.rs
  crates/mockforge-registry-server/src/deployment/mod.rs
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/main.rs
  fly.server.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

fix(ui): prevent auth gate bypass and scope cloud sidebar navigation
  crates/mockforge-ui/ui/src/components/__tests__/auth/AuthGuard.test.tsx
  crates/mockforge-ui/ui/src/components/auth/AuthGuard.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(http,ui): add API explorer for hosted mock deployments
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-http/static/docs.html
  crates/mockforge-registry-server/src/deployment/flyio.rs
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-ui/ui/eslint.config.js
  crates/mockforge-ui/ui/package.json
  crates/mockforge-ui/ui/pnpm-lock.yaml
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/ApiExplorerPage.tsx
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
  crates/mockforge-ui/ui/src/vite-env.d.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): add redeploy command for hosted mock deployments
  crates/mockforge-cli/src/cloud_commands.rs
  crates/mockforge-registry-server/src/deployment/flyio.rs
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(cloud): prevent orchestrator from interfering with redeployments
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(http): load spec into ManagementState and use config-driven port
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(http): load OpenAPI spec into ManagementState for API explorer
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt
