Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

feat(registry): 24h past_due grace period before blocking deploys (#449)
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix: workspace unused_qualifications cleanup, batch 3 (#505)
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/spec_parser.rs
  crates/mockforge-chaos/src/api.rs
  crates/mockforge-grpc/src/dynamic/http_bridge/handlers.rs
  crates/mockforge-http/src/handlers/forecasting.rs
  crates/mockforge-http/src/handlers/semantic_drift.rs
  crates/mockforge-http/src/middleware/behavioral_cloning.rs
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/spec_registry.rs
  crates/mockforge-smtp/tests/smtp_deliver_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix: workspace unused_qualifications cleanup, batch 4 — full workspace clean (#509)
  crates/mockforge-grpc/src/dynamic/http_bridge/handlers.rs
  crates/mockforge-http/src/file_server.rs
  crates/mockforge-http/src/handlers/semantic_drift.rs
  crates/mockforge-http/src/handlers/threat_modeling.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/op_middleware.rs
  crates/mockforge-http/src/verification.rs
  crates/mockforge-http/tests/deceptive_deploy_test.rs
  crates/mockforge-kafka/tests/fixture_triggers.rs
  crates/mockforge-mqtt/src/lib.rs
  crates/mockforge-recorder/src/api.rs
  crates/mockforge-recorder/src/protocols/graphql.rs
  crates/mockforge-recorder/src/protocols/grpc.rs
  crates/mockforge-recorder/src/sync_drift.rs
  crates/mockforge-recorder/src/sync_snapshots.rs
  crates/mockforge-recorder/src/sync_traffic.rs
  crates/mockforge-ws/src/handlers.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

ci: stop rustup-init from polluting ~/.profile (#510)
  .github/actions/rust-toolchain/action.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix: workspace-wide unused_qualifications cleanup, batch 1 (#500 follow-up) (#502)
  crates/mockforge-amqp/src/broker.rs
  crates/mockforge-amqp/tests/integration.rs
  crates/mockforge-ftp/src/fixtures.rs
  crates/mockforge-ftp/src/storage.rs
  crates/mockforge-graphql/tests/graphql_tests.rs
  crates/mockforge-plugin-cli/src/commands/publish.rs
  crates/mockforge-plugin-core/src/plugins/react_client_generator.rs
  crates/mockforge-plugin-core/src/plugins/svelte_client_generator.rs
  crates/mockforge-plugin-core/src/plugins/vue_client_generator.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-registry-core/src/models/hosted_mock.rs
  crates/mockforge-registry-core/src/models/subscription.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-tunnel/src/server.rs
  examples/plugins/response-graphql/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

ci: widen warning-gate to workspace for unused_qualifications
  scripts/lint-warning-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(bench): --rps with default ramp-up scenario produced 0 requests (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/reporter.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/middleware/conn_diagnostics.rs
  crates/mockforge-http/src/middleware/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

ci: widen warning-gate to workspace for unused_qualifications (#513)
  scripts/lint-warning-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: stop rustup-init from polluting ~/.profile (#510) (#512)
  .github/actions/rust-toolchain/action.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ci): production smoke test workflow against api.mockforge.dev (#452)
  .github/workflows/production-smoke.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): daily fly compute-spend alert worker (#450 criterion 3) (#497)
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/workers/fly_spend_alert.rs
  crates/mockforge-registry-server/src/workers/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): 24h past_due grace period before blocking deploys (#449) (#507)
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(bench): --rps with default ramp-up scenario produced 0 requests (#79) (#514)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/reporter.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/middleware/conn_diagnostics.rs
  crates/mockforge-http/src/middleware/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

ci: speed up Security Audit ~10x by preinstalling tools + dropping no-op clippy (#506)
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ci): production smoke test workflow against api.mockforge.dev (#452) (#483)
  .github/workflows/production-smoke.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(chaos,cli,ui): resilience middleware + /api/resilience mount (#468 Phase 2)
  Cargo.lock
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-chaos/src/lib.rs
  crates/mockforge-chaos/src/resilience_middleware.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/tests/admin_ui_build.rs
  crates/mockforge-ui/tests/admin_ui_integration_comprehensive.rs
  crates/mockforge-ui/tests/integration.rs
  crates/mockforge-ui/tests/smoke.rs
  crates/mockforge-ui/tests/static_files.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(chaos,cli,ui): resilience middleware + /api/resilience mount (#468 Phase 2) (#518)
  Cargo.lock
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-chaos/src/lib.rs
  crates/mockforge-chaos/src/resilience_middleware.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/tests/admin_ui_build.rs
  crates/mockforge-ui/tests/admin_ui_integration_comprehensive.rs
  crates/mockforge-ui/tests/integration.rs
  crates/mockforge-ui/tests/smoke.rs
  crates/mockforge-ui/tests/static_files.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(chaos,cli): honour --circuit-breaker / --bulkhead CLI flags (#468 follow-up)
  crates/mockforge-chaos/src/lib.rs
  crates/mockforge-chaos/src/resilience_middleware.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): cloud scaffold for Resilience dashboard (#468 Phase 1)
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/resilience.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/ResiliencePage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudResilience.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(http,bench,ui,tui): server-side connection lifecycle gauges + bench connection counts (#79 round 6)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/reporter.rs
  crates/mockforge-foundation/src/rate_counters.rs
  crates/mockforge-http/src/counting_listener.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/dashboard.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/models.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(registry,ui): cloud scaffold for Resilience dashboard (#468 Phase 1) (#517)
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/resilience.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/ResiliencePage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudResilience.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(chaos,cli): honour --circuit-breaker / --bulkhead CLI flags (#468 follow-up) (#519)
  crates/mockforge-chaos/src/lib.rs
  crates/mockforge-chaos/src/resilience_middleware.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http,bench,ui,tui): server-side connection lifecycle gauges + bench connection counts (#79 round 6) (#520)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/reporter.rs
  crates/mockforge-foundation/src/rate_counters.rs
  crates/mockforge-http/src/counting_listener.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/dashboard.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/models.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(deps,registry): lettre 0.11.21 → 0.11.22 (RUSTSEC-2026-0141) + clippy cleanup
  Cargo.lock
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

feat(registry,ui): cloud resilience runtime proxy (#468 follow-up)
  .typos.toml
  crates/mockforge-registry-server/src/handlers/resilience.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/ResiliencePage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudResilience.ts
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

feat(registry,ui): cloud-enable Virtual Backends — consistency lifecycle presets (#461)
  crates/mockforge-registry-server/migrations/20250101000075_virtual_entities.sql
  crates/mockforge-registry-server/src/handlers/consistency.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/VirtualBackendsPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudConsistency.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry/orchestrator): enable admin server on hosted-mock deploys (#468)
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(deps,registry): lettre 0.11.21 → 0.11.22 (RUSTSEC-2026-0141) + clippy cleanup (#521)
  Cargo.lock
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

feat(registry,ui): cloud-enable Virtual Backends — consistency lifecycle presets (#461) (#516)
  crates/mockforge-registry-server/migrations/20250101000075_virtual_entities.sql
  crates/mockforge-registry-server/src/handlers/consistency.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/VirtualBackendsPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudConsistency.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): cloud resilience runtime proxy (#468 follow-up) (#522)
  .typos.toml
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/resilience.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/ResiliencePage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudResilience.ts
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

chore(release): bump workspace to 0.3.135
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(registry): finish #449 — usage_limit_exceeded body + past_due read-only mode + 402
  crates/mockforge-registry-core/src/error.rs
  crates/mockforge-registry-server/src/deployment/router.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/metrics.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/middleware/org_rate_limit.rs
  crates/mockforge-registry-server/src/middleware/past_due_writes.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/tests/usage_limits_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(http,registry): drain workspace-wide unused_qualifications regressions
  crates/mockforge-http/src/counting_listener.rs
  crates/mockforge-registry-server/src/handlers/resilience.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): bump workspace to 0.3.135 (#523)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(registry): finish #449 — usage_limit_exceeded body + past_due read-only + 402 (#515)
  crates/mockforge-http/src/counting_listener.rs
  crates/mockforge-registry-core/src/error.rs
  crates/mockforge-registry-server/src/deployment/router.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/resilience.rs
  crates/mockforge-registry-server/src/metrics.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/middleware/org_rate_limit.rs
  crates/mockforge-registry-server/src/middleware/past_due_writes.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/tests/usage_limits_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): bump workspace to 0.3.136
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): bump workspace to 0.3.136 (#524)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit
