Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

feat(bench): add OWASP/security/wafbench/crud-flow cloud_api wrappers (#364)
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): remove dead else branch in AIStudioPage chat handler
  crates/mockforge-ui/ui/src/pages/AIStudioPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): remove dead else branch in AIStudioPage chat handler (#365)
  crates/mockforge-ui/ui/src/pages/AIStudioPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): rename Tape -> CassetteTape in CloudRecorderPage
  crates/mockforge-ui/ui/src/pages/CloudRecorderPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): rename Tape -> CassetteTape in CloudRecorderPage (#366)
  crates/mockforge-ui/ui/src/pages/CloudRecorderPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(test-runner): wire mockforge_bench::cloud_api into bench/conformance/owasp executors
  Cargo.lock
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-test-runner/Cargo.toml
  crates/mockforge-test-runner/src/executors/test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(test-runner): wire mockforge_bench::cloud_api into bench/conformance/owasp executors (#367)
  Cargo.lock
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-test-runner/Cargo.toml
  crates/mockforge-test-runner/src/executors/test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(test-runner): register security/wafbench/crud_flow run kinds
  crates/mockforge-test-runner/src/executors/mod.rs
  crates/mockforge-test-runner/src/executors/test.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(test-runner): register security/wafbench/crud_flow run kinds (#368)
  crates/mockforge-test-runner/src/executors/mod.rs
  crates/mockforge-test-runner/src/executors/test.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud-runs): SSRF guard + Dockerfile.runner with k6 + WAFBench rules
  Dockerfile.runner
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/ssrf.rs
  fly.runner.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

feat(cloud-runs): SSRF guard + Dockerfile.runner with k6 + WAFBench rules (#369)
  Dockerfile.runner
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/ssrf.rs
  fly.runner.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

feat(registry-server): apply SSRF guard at trigger_run before enqueue
  Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/handlers/test_runs.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(registry-server): apply SSRF guard at trigger_run before enqueue (#371)
  Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/handlers/test_runs.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(cloud-runs): add data-driven kind backed by Tigris-hosted test vectors
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-test-runner/src/executors/mod.rs
  crates/mockforge-test-runner/src/executors/test.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud-runs): add data-driven kind backed by Tigris-hosted test vectors (#372)
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-test-runner/src/executors/mod.rs
  crates/mockforge-test-runner/src/executors/test.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud-runs): add cloud recorder proxy (Phase 5)
  crates/mockforge-registry-core/src/models/cloud_proxy.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-server/migrations/20250101000072_cloud_proxy_sessions.sql
  crates/mockforge-registry-server/src/handlers/cloud_proxy.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud-runs): add cloud recorder proxy (Phase 5) (#373)
  crates/mockforge-registry-core/src/models/cloud_proxy.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-server/migrations/20250101000072_cloud_proxy_sessions.sql
  crates/mockforge-registry-server/src/handlers/cloud_proxy.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): cloud recorder proxy admin tab (Phase 6)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudProxyPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/services/api/cloudProxy.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): cloud recorder proxy admin tab (Phase 6) (#374)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudProxyPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/services/api/cloudProxy.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud-runs): Tigris upload-URL endpoint + capture detail view
  crates/mockforge-registry-server/src/handlers/cloud_runs.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/storage.rs
  crates/mockforge-ui/ui/src/pages/CloudProxyPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudRuns.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud-runs): Tigris upload-URL endpoint + capture detail view (#375)
  crates/mockforge-registry-server/src/handlers/cloud_runs.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/storage.rs
  crates/mockforge-ui/ui/src/pages/CloudProxyPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudRuns.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): data-driven suite wizard — Tigris upload + suite create
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudDataDrivenWizardPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/services/api/cloudTestRuns.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): data-driven suite wizard — Tigris upload + suite create (#376)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudDataDrivenWizardPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/services/api/cloudTestRuns.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud-runs): cloud_api lib + test-runner integration + SSRF guard + Dockerfile.runner (#370)
  Cargo.lock
  Dockerfile.runner
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/ssrf.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/handlers/test_runs.rs
  crates/mockforge-test-runner/Cargo.toml
  crates/mockforge-test-runner/src/executors/mod.rs
  crates/mockforge-test-runner/src/executors/test.rs
  fly.runner.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ui): import useEffect in IntegrationTestBuilder
  crates/mockforge-ui/ui/src/pages/IntegrationTestBuilder.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): header workspace switcher — fix cloud pages "Select a workspace" dead-end
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): header workspace switcher — fix cloud pages "Select a workspace" dead-end (#379)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): import useEffect in IntegrationTestBuilder (#378)
  crates/mockforge-ui/ui/src/pages/IntegrationTestBuilder.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): decode plugin.rating_avg as Decimal, not f64
  crates/mockforge-registry-core/src/models/plugin.rs
  crates/mockforge-registry-server/src/handlers/admin.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): cloud-mode crash on /config — skip local-only API calls
  crates/mockforge-ui/ui/src/hooks/api/useConfigApi.ts
  crates/mockforge-ui/ui/src/hooks/api/useServerApi.ts
  crates/mockforge-ui/ui/src/hooks/api/useValidationApi.ts
  crates/mockforge-ui/ui/src/pages/ConfigPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/ConfigPage.test.tsx
  crates/mockforge-ui/ui/src/utils/apiClient.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): decode plugin.rating_avg as Decimal, not f64 (#380)
  crates/mockforge-registry-core/src/models/plugin.rs
  crates/mockforge-registry-server/src/handlers/admin.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): accept f64 min_confidence in generate-openapi-from-traffic
  crates/mockforge-registry-server/src/handlers/mockai.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(deploy): pin wrangler@4.85.0 in Makefile and package.json
  Makefile
  crates/mockforge-ui/ui/package.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): cloud-enable Showcase + Learning Hub via cloudCommunity adapter
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/ShowcasePage.tsx
  crates/mockforge-ui/ui/src/services/api/__tests__/cloudCommunity.test.ts
  crates/mockforge-ui/ui/src/services/api/cloudCommunity.ts
  crates/mockforge-ui/ui/src/services/communityApi.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud-plugins): Phase 0 demand-validation CTA on cloud plugin-registry
  crates/mockforge-registry-core/src/models/cloud_plugin_beta_interest.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-server/migrations/20250101000073_cloud_plugin_beta_interest.sql
  crates/mockforge-registry-server/src/handlers/cloud_plugins.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/plugins/CloudPluginsBetaCta.tsx
  crates/mockforge-ui/ui/src/components/plugins/__tests__/CloudPluginsBetaCta.test.tsx
  crates/mockforge-ui/ui/src/pages/PluginRegistryPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudPlugins.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(cloud-plugins): trust & permission RFC for cloud plugin runtime
  docs/plugins/security/cloud-trust-permissions-rfc.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(cloud-plugins): build-vs-buy spike — recommend in-house with portability
  docs/plugins/security/cloud-runtime-build-vs-buy-spike.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos
