Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

refactor(proxy,http): move reality_proxy middleware to mockforge-proxy (#555 phase 8) (#628)
  Cargo.lock
  crates/mockforge-http/src/reality_proxy.rs
  crates/mockforge-proxy/Cargo.toml
  crates/mockforge-proxy/src/lib.rs
  crates/mockforge-proxy/src/reality.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(grafana): commit baseline dashboards as code (#645)
  grafana/README.md
  grafana/dashboards/mockforge-marketplace.json
  grafana/dashboards/mockforge-service-overview.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(core): refresh consumer_mapping deferral rationale (#605) (#627)
  crates/mockforge-core/src/contract_drift/consumer_mapping.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(http): drop stale #555 TODO; document remaining cleavage (#555) (#641)
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): optional bearer-token auth for /metrics (closes #647) (#652)
  crates/mockforge-registry-server/src/main.rs
  fly.registry.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

feat(registry): resolve-side incident dispatch across all channels (closes #629) (#653)
  crates/mockforge-registry-core/src/models/incident.rs
  crates/mockforge-registry-server/src/workers/incident_dispatcher.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(http,openapi,foundation): body-truncation early-response + pillar log spam (#79 round 11) (#655)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-foundation/src/pillar_tracking.rs
  crates/mockforge-http/src/contract_diff_middleware.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(intelligence,http): move rag_ai_generator to mockforge-intelligence (#555 phase 10) (#640)
  crates/mockforge-http/src/rag_ai_generator.rs
  crates/mockforge-intelligence/src/lib.rs
  crates/mockforge-intelligence/src/rag_ai_generator.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(intelligence,http): move ai_handler to mockforge-intelligence (#656)
  crates/mockforge-http/src/ai_handler.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/src/ai_handler.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(observability,cli): Sentry support in mockforge-cli for hosted-mocks (#643)
  Cargo.lock
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-observability/src/lib.rs
  crates/mockforge-observability/src/logging.rs
  crates/mockforge-observability/src/sentry_init.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(intelligence,http): split management/ai_gen.rs by topic, move AI subset (#656)
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/management/ai_gen.rs
  crates/mockforge-http/src/management/chaos_admin.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-http/src/management/rule_explanations.rs
  crates/mockforge-http/src/management/traffic_to_openapi.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/handlers/mod.rs
  crates/mockforge-intelligence/src/handlers/spec_generation.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

refactor(intelligence,http): split management/ai_gen.rs by topic, move AI subset (#656) (#658)
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/management/ai_gen.rs
  crates/mockforge-http/src/management/chaos_admin.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-http/src/management/rule_explanations.rs
  crates/mockforge-http/src/management/traffic_to_openapi.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/handlers/mod.rs
  crates/mockforge-intelligence/src/handlers/spec_generation.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

chore(release): gate tag publish on cargo install smoke test (#639)
  .github/workflows/release.yml
  scripts/smoke-test-install.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(billing): add 14-day Stripe trial period to Pro/Team checkout (#649)
  crates/mockforge-registry-server/src/config.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  fly.registry.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

refactor(intelligence,http): move ai_handler to mockforge-intelligence (#656) (#657)
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/ai_handler.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management/ai_gen.rs
  crates/mockforge-http/src/management/chaos_admin.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-http/src/management/rule_explanations.rs
  crates/mockforge-http/src/management/traffic_to_openapi.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/ai_handler.rs
  crates/mockforge-intelligence/src/handlers/mod.rs
  crates/mockforge-intelligence/src/handlers/spec_generation.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

feat(billing): public /api/v1/billing/config + dynamic Pricing CTA copy (#651)
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/PricingPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(tui,bench,http,foundation): server-side Conformance screen + r12 fixes (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/reporter.rs
  crates/mockforge-bench/src/spec_parser.rs
  crates/mockforge-foundation/Cargo.toml
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-foundation/src/pillar_tracking.rs
  crates/mockforge-http/src/management/conformance.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-tui/src/api/client.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/conformance.rs
  crates/mockforge-tui/src/screens/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(tui): Conformance screen extras — filters, pause, export, clear, top-endpoints (#79 round 12)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-tui/src/api/client.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

feat(tui,bench): Conformance screen + r12 fixes (#79) (#659)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/reporter.rs
  crates/mockforge-bench/src/spec_parser.rs
  crates/mockforge-foundation/Cargo.toml
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-foundation/src/pillar_tracking.rs
  crates/mockforge-http/src/management/conformance.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-tui/src/api/client.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/conformance.rs
  crates/mockforge-tui/src/screens/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(tui,ui): make Conformance tab actually appear + expose endpoint on admin server (#79 round 12 hotfix)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-tui/src/app.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(tui,ui): make Conformance tab actually appear + expose endpoint on admin server (#79 round 12 hotfix) (#660)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-tui/src/app.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(tui): move Conformance tab before Verification so Tab nav reaches it (#79 round 12 follow-up)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-tui/src/app.rs
  crates/mockforge-tui/src/screens/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(tui): move Conformance tab before Verification so Tab nav reaches it (#79 round 12 follow-up) (#662)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-tui/src/app.rs
  crates/mockforge-tui/src/screens/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(openapi,foundation,tui,ui): conformance validator fires on default flow + unknown-paths feed + response-shape category (#79 round 13)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-foundation/src/unknown_paths.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/route.rs
  crates/mockforge-tui/src/api/client.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/conformance.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(registry): wire registry-server to shared mockforge_observability::init_sentry
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/main.rs
  fly.registry.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

docs: reconcile FEATURE_COVERAGE_REVIEW + matrix with 2026-05-25 audit (#688)
  docs/COMPETITIVE_FEATURE_MATRIX.md
  docs/FEATURE_COVERAGE_REVIEW.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(observability,cli): zero-config OTel auto-detection from env (#687)
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/config/operational.rs
  docs/OPENTELEMETRY.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(observability): emit drift Prometheus metrics + chaos/async/workspace dashboards (#678, #684)
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-observability/src/lib.rs
  crates/mockforge-observability/src/prometheus/metrics.rs
  crates/mockforge-observability/src/prometheus/mod.rs
  grafana/dashboards/mockforge-async-protocols.json
  grafana/dashboards/mockforge-chaos.json
  grafana/dashboards/mockforge-workspace.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

ci: unblock chronic main CI breakage — 5 failing checks across 3 root causes
  .github/workflows/ci.yml
  crates/mockforge-http/src/contract_diff_middleware.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/ui/pnpm-workspace.yaml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(openapi,foundation,tui,ui): conformance validator fires on default flow + unknown-paths feed + response-shape category (#79 round 13) (#663)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-foundation/src/unknown_paths.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/route.rs
  crates/mockforge-tui/src/api/client.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/conformance.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

ci: promote unused_qualifications into the main PR clippy step
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): wire registry-server to shared mockforge_observability::init_sentry (#664)
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/main.rs
  fly.registry.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

test(ui,foundation): end-to-end Reality Slider hot-reload coverage (#672)
  crates/mockforge-foundation/src/latency.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/tests/reality_slider_hot_reload.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(scripts): dev-host cleanup script for mockforge worktree pattern
  scripts/dev-host-cleanup.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(kafka): opt-in offset persistence — survives broker restart (#676)
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/group_coordinator.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs: reconcile FEATURE_COVERAGE_REVIEW + matrix with 2026-05-25 audit (#688) (#689)
  docs/COMPETITIVE_FEATURE_MATRIX.md
  docs/FEATURE_COVERAGE_REVIEW.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(recorder): impl TraceQueryProvider so the recorder feeds behavioral cloning (#675)
  crates/mockforge-recorder/src/lib.rs
  crates/mockforge-recorder/src/trace_query.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

ci(sdk): publish workflows for Python / Java / .NET / Go SDKs (#674)
  .github/workflows/go-publish-sdk.yml
  .github/workflows/maven-publish-sdk.yml
  .github/workflows/nuget-publish-sdk.yml
  .github/workflows/python-publish-sdk.yml
  sdk/PUBLISHING.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(data): persistent RAG storage + honest vector-db error (#669)
  crates/mockforge-data/src/rag/storage.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry-server): contract-verification probe scheduler (#671)
  crates/mockforge-registry-core/src/models/contract_verification.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/workers/contract_probe.rs
  crates/mockforge-registry-server/src/workers/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt
