Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  language: system
  pass_filenames: false

fix: add missing Query import and version requirements for crates.io publishing
  Cargo.lock
  crates/mockforge-http/src/management.rs
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-plugin-registry/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-reporting/Cargo.toml
  crates/mockforge-tracing/Cargo.toml
  scripts/publish-crates.sh
Due: rust-fmt, cargo-audit

chore: bump version to 0.1.4 for new features
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
Due: cargo-audit

Release independent packages
  PUBLISHING.md
Due: none

security: fix protobuf vulnerability (RUSTSEC-2024-0437)
  Cargo.lock
  Cargo.toml
  crates/mockforge-analytics/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-ftp/src/server.rs
  crates/mockforge-k8s-operator/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
Due: rust-fmt, cargo-audit

Release 0.1.6
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
Due: cargo-audit

fix: publish mockforge-chaos before mockforge-reporting
  scripts/publish-crates.sh
Due: none

fix: add version requirements to all mockforge path dependencies
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-k8s-operator/Cargo.toml
  crates/mockforge-sdk/Cargo.toml
Due: none

fix: add description field to mockforge-analytics
  crates/mockforge-analytics/Cargo.toml
Due: none

fix: enable SQLx offline mode for mockforge-collab publishing
  crates/mockforge-collab/.cargo/config.toml
  crates/mockforge-collab/Cargo.toml
Due: none

fix: update mockforge-plugin-core version to 0.1.6 in plugin-sdk
  Cargo.lock
  crates/mockforge-plugin-sdk/Cargo.toml
Due: cargo-audit

chore: update mockforge-plugin-core to version 0.1.6
  crates/mockforge-collab/crates/mockforge-collab/.cargo/config.toml
  crates/mockforge-plugin-loader/Cargo.toml
Due: none

docs: comprehensive plugin architecture documentation
  book/src/api/plugin-api.md
  book/src/development/plugin-development.md
Due: none

feat: add browser mobile proxy mode implementation
  BROWSER_MOBILE_PROXY_COMPLETE.md
  crates/mockforge-http/src/proxy_server.rs
  docs/BROWSER_MOBILE_PROXY_MODE.md
  tests/proxy_verification_tests.rs
Due: rust-fmt

feat: Add configuration file support for mock generation
  Cargo.lock
  Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/generate_config.rs
  crates/mockforge-core/src/lib.rs
  docs/IMPLEMENTATION_SUMMARY_GENERATE_CONFIG.md
  docs/generate-configuration.md
  examples/mockforge.example.json
  examples/mockforge.example.toml
  examples/mockforge.example.yaml
Due: rust-fmt, cargo-audit

Update Cargo.lock after merge
  Cargo.lock
Due: cargo-audit

Fix compilation issues in mockforge-collab and mockforge-ui
  Cargo.lock
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-ui/Cargo.toml
Due: cargo-audit

feat: Add enhanced mock data generation with OpenAPI support
  Cargo.lock
  crates/mockforge-cli/src/main.rs
  crates/mockforge-data/Cargo.toml
  crates/mockforge-data/src/lib.rs
  crates/mockforge-data/src/mock_data_tests.rs
  crates/mockforge-data/src/mock_generator.rs
  crates/mockforge-data/src/mock_server.rs
  docs/ENHANCED_MOCK_DATA_GENERATION.md
  examples/enhanced-mock-data-generation/Cargo.toml
  examples/enhanced-mock-data-generation/README.md
  examples/enhanced-mock-data-generation/main.rs
Due: rust-fmt, cargo-audit

fix: Remove tests that access private fields in mock data tests
  crates/mockforge-data/src/mock_data_tests.rs
Due: rust-fmt

fix: update Cargo.lock and format client generator tests
  Cargo.lock
  crates/mockforge-plugin-core/src/client_generator_tests.rs
  crates/mockforge-sdk/src/server.rs
  crates/mockforge-sdk/tests/admin_api_tests.rs
  crates/mockforge-sdk/tests/error_handling_tests.rs
Due: rust-fmt, cargo-audit

Enhance CLI with progress indicators, error handling, and code quality improvements
  Cargo.lock
  crates/mockforge-cli/CLI_REFERENCE.md
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/README.md
  crates/mockforge-cli/src/import_commands.rs
  crates/mockforge-cli/src/kafka_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/progress.rs
  crates/mockforge-cli/src/tests.rs
Due: rust-fmt, cargo-audit

Add unified spec parser with enhanced validation and error reporting
  README.md
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/import/openapi_import.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/openapi/spec.rs
  crates/mockforge-core/src/spec_parser.rs
Due: rust-fmt

Add comprehensive documentation and example workflows
  book/src/SUMMARY.md
  book/src/getting-started/getting-started.md
  book/src/reference/common-issues.md
  book/src/tutorials/mock-openapi-spec.md
  book/src/tutorials/react-workflow.md
  book/src/tutorials/vue-workflow.md
Due: none

Implement output control features for MockForge generator
  OUTPUT_CONTROL_REVIEW.md
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/generate_config.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/output_control.rs
  crates/mockforge-core/src/spec_parser.rs
  crates/mockforge-core/tests/output_control_tests.rs
  docs/generate-configuration.md
  examples/output-control-demo.toml
Due: rust-fmt

docs: update changelog for release
  CHANGELOG.md
  book/src/reference/changelog.md
Due: none

chore: release {{version}}
  Cargo.lock
  Cargo.toml
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-collab/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
  crates/mockforge-reporting/Cargo.toml
  crates/mockforge-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-test/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ws/Cargo.toml
  examples/plugins/response-graphql/Cargo.toml
  examples/test-integration/Cargo.toml
  test_openapi_demo/Cargo.toml
Due: cargo-audit

docs: finalize changelog for v0.2.0 release
  CHANGELOG.md
  book/src/reference/changelog.md
Due: none

chore: convert path dependencies to version dependencies for v0.2.0 publish
  Cargo.lock
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ws/Cargo.toml
Due: cargo-audit

Add automated test coverage for Kafka, MQTT, AMQP, FTP, and Recorder
  scripts/automated-tests/ISSUES_FOUND.md
  scripts/automated-tests/README.md
  scripts/automated-tests/test-amqp.sh
  scripts/automated-tests/test-ftp.sh
  scripts/automated-tests/test-kafka.sh
  scripts/automated-tests/test-mqtt.sh
  scripts/automated-tests/test-recorder.sh
  scripts/run-automated-tests.sh
Due: none

Fix client generator operation IDs, parameter handling, and type generation
  crates/mockforge-plugin-core/src/client_generator.rs
  crates/mockforge-plugin-core/src/client_generator_tests.rs
  crates/mockforge-plugin-core/src/plugins/react_client_generator.rs
Due: rust-fmt

Bump version to 0.2.1
  Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
Due: cargo-audit

Fix v0.2.1 verification issues: request bodies, type formatting, method names, and OpenAPI examples
  Cargo.lock
  Dockerfile
  V0.2.1_VERIFICATION_FIXES_REVIEW.md
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-core/src/codegen/rust_generator.rs
  crates/mockforge-core/src/codegen/typescript_generator.rs
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-plugin-core/src/client_generator.rs
  crates/mockforge-plugin-core/src/plugins/react_client_generator.rs
  crates/mockforge-plugin-core/src/plugins/svelte_client_generator.rs
  crates/mockforge-plugin-core/src/plugins/vue_client_generator.rs
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-registry/Cargo.toml
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-reporting/Cargo.toml
  crates/mockforge-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-tracing/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ws/Cargo.toml
  scripts/publish-crates.sh
Due: rust-fmt, cargo-audit

chore: bump version to 0.2.2
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
Due: cargo-audit

chore: restore path dependencies after publishing v0.2.2
  Cargo.lock
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ws/Cargo.toml
Due: cargo-audit

Fix OpenAPI example extraction and request body parameter generation
  Cargo.lock
  crates/mockforge-core/src/openapi/response.rs
  crates/mockforge-plugin-core/src/client_generator_tests.rs
  crates/mockforge-plugin-core/src/plugins/react_client_generator.rs
  crates/mockforge-ui/ui/e2e/TIMEOUT_FIXES.md
  crates/mockforge-ui/ui/e2e/dashboard.spec.ts
  crates/mockforge-ui/ui/e2e/helpers.ts
  crates/mockforge-ui/ui/e2e/test-helpers.ts
Due: rust-fmt, cargo-audit

Format code with rustfmt
  crates/mockforge-core/src/openapi/response.rs
  crates/mockforge-plugin-core/src/client_generator_tests.rs
  crates/mockforge-ui/ui/e2e/TIMEOUT_FIXES.md
  crates/mockforge-ui/ui/e2e/dashboard.spec.ts
  crates/mockforge-ui/ui/e2e/helpers.ts
  crates/mockforge-ui/ui/e2e/test-helpers.ts
Due: rust-fmt

chore: bump version to 0.2.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
Due: cargo-audit

Path conditions:
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
