Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

feat(cloud): TestExecutor: stub → synthetic-pass mode (#4 / #18)
  crates/mockforge-test-runner/src/executors/test.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): Grid shim emits CSS custom properties so responsive cols work
  crates/mockforge-ui/ui/src/components/ui/mui-shim.tsx
  crates/mockforge-ui/ui/src/index.css
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): registry pushes test_runs to Redis queue (closes #4 / #18 trigger gap)
  crates/mockforge-registry-server/src/handlers/test_runs.rs
  crates/mockforge-registry-server/src/lib.rs
  crates/mockforge-registry-server/src/run_queue.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): chaos + flow run triggers + synthetic-pass executors (#7 #9)
  crates/mockforge-registry-core/src/models/routing_rule.rs
  crates/mockforge-registry-server/src/handlers/chaos.rs
  crates/mockforge-registry-server/src/handlers/flows.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-test-runner/src/executors/chaos.rs
  crates/mockforge-test-runner/src/executors/flow.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): sxToStyle conflated spacing scale with raw px sizing
  crates/mockforge-ui/ui/src/components/ui/mui-shim.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): theme Chart.js via brand tokens
  crates/mockforge-ui/ui/src/components/analytics/LatencyTrendChart.tsx
  crates/mockforge-ui/ui/src/components/analytics/PillarUsageChart.tsx
  crates/mockforge-ui/ui/src/components/analytics/RequestRateChart.tsx
  crates/mockforge-ui/ui/src/components/analytics/RequestTimeSeriesChart.tsx
  crates/mockforge-ui/ui/src/components/chaos/LatencyGraph.tsx
  crates/mockforge-ui/ui/src/components/metrics/FailureCounter.tsx
  crates/mockforge-ui/ui/src/components/metrics/LatencyHistogram.tsx
  crates/mockforge-ui/ui/src/main.tsx
  crates/mockforge-ui/ui/src/pages/TestExecutionDashboard.tsx
  crates/mockforge-ui/ui/src/utils/chartTheme.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): snapshot + contract diff triggers + 4 synthetic-pass executors (#6 #8 #10)
  crates/mockforge-registry-server/src/handlers/contract_verification.rs
  crates/mockforge-registry-server/src/handlers/snapshots.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-test-runner/src/executors/clone_train.rs
  crates/mockforge-test-runner/src/executors/contract.rs
  crates/mockforge-test-runner/src/executors/replay.rs
  crates/mockforge-test-runner/src/executors/snapshot.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): polymorphic test_runs + clone/replay triggers + cross-table mirror
  crates/mockforge-registry-core/src/models/test_run.rs
  crates/mockforge-registry-server/migrations/20250101000070_test_runs_polymorphic_source.sql
  crates/mockforge-registry-server/src/handlers/captures.rs
  crates/mockforge-registry-server/src/handlers/chaos.rs
  crates/mockforge-registry-server/src/handlers/contract_verification.rs
  crates/mockforge-registry-server/src/handlers/flows.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/handlers/snapshots.rs
  crates/mockforge-registry-server/src/handlers/test_runs.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): SSE stream of test_run events (#4 / #18)
  crates/mockforge-registry-server/src/handlers/test_runs.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): cron-driven test_run scheduler (#4)
  Cargo.lock
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/test_execution.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/test_schedules.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/test_schedule_runner.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(cloud): incident dispatcher + snapshot retention workers (#3 #10)
  crates/mockforge-registry-core/src/models/incident.rs
  crates/mockforge-registry-core/src/models/snapshot.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/workers/incident_dispatcher.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/snapshot_retention.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): chaos report row created on run finish (#7)
  crates/mockforge-registry-core/src/models/chaos.rs
  crates/mockforge-registry-server/migrations/20250101000071_chaos_report_unique.sql
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): notification-channel test-fire endpoint (#3)
  crates/mockforge-registry-server/src/handlers/notification_channels.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/workers/incident_dispatcher.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): suite config drives runs + next_fire_at preview (#4)
  crates/mockforge-registry-server/src/handlers/test_runs.rs
  crates/mockforge-registry-server/src/handlers/test_schedules.rs
  crates/mockforge-registry-server/src/workers/test_schedule_runner.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): GET /ai-studio/quota for proactive UI banners (#1)
  crates/mockforge-registry-server/src/handlers/ai_studio.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): aiStudio.getQuota() client + AiQuotaResponse type (#1)
  crates/mockforge-ui/ui/src/services/api/aiStudio.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): cross-deployment trace query (#2)
  crates/mockforge-registry-server/src/handlers/observability.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): real DNS-backed custom-domain verification (#5)
  Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/handlers/tunnels.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(cloud): real synchronous workspace snapshot capture (#10)
  crates/mockforge-registry-server/src/handlers/snapshots.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): snapshot diff against current/another snapshot (#10)
  crates/mockforge-registry-server/src/handlers/snapshots.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cli): mockforge cloud test run subcommand (#4)
  crates/mockforge-cli/src/cloud_commands.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): vitest aliases + Tabs auto-indexing for MUI shim
  crates/mockforge-ui/ui/src/components/ui/mui-shim.tsx
  crates/mockforge-ui/ui/vitest.config.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): incident stats endpoint for dashboard (#3)
  crates/mockforge-registry-server/src/handlers/incidents.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): flow runs use FlowVersion config (#9)
  crates/mockforge-registry-server/src/handlers/flows.rs
  crates/mockforge-test-runner/src/executors/flow.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): synchronous snapshot restore (#10)
  crates/mockforge-registry-server/src/handlers/snapshots.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(ci): disable cron triggers on 5 nice-to-have workflows
  .github/workflows/chaos-testing.yml
  .github/workflows/fuzz.yml
  .github/workflows/jcs-fuzz.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): cloud API clients for incidents/snapshots/tunnels/test-runs/observability/notifications
  crates/mockforge-ui/ui/src/services/api/cloudIncidents.ts
  crates/mockforge-ui/ui/src/services/api/cloudNotifications.ts
  crates/mockforge-ui/ui/src/services/api/cloudObservability.ts
  crates/mockforge-ui/ui/src/services/api/cloudSnapshots.ts
  crates/mockforge-ui/ui/src/services/api/cloudTestRuns.ts
  crates/mockforge-ui/ui/src/services/api/cloudTunnels.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): chaos runs honor campaign config + safety cap (#7)
  crates/mockforge-registry-server/src/handlers/chaos.rs
  crates/mockforge-test-runner/src/executors/chaos.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(ci): group Dependabot updates so weekly batch is 2 PRs not 13
  .github/dependabot.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): retire User Management sidebar entry; fold into Organization (#15)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): showcase admin authoring CRUD (#12)
  crates/mockforge-registry-core/src/models/showcase.rs
  crates/mockforge-registry-server/src/handlers/showcase.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): cloudFlows client for state-machine / scenarios collab (#9 #14)
  crates/mockforge-ui/ui/src/services/api/cloudFlows.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): cloud-aware TunnelsPage rewrite + default_org_id wiring (#5)
  crates/mockforge-registry-server/src/handlers/users_me.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/hooks/useCloudOrgId.ts
  crates/mockforge-ui/ui/src/pages/TunnelsPage.tsx
  crates/mockforge-ui/ui/src/services/authApi.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): NotificationChannelsPage — first-class config for incident dispatch (#3)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/NotificationChannelsPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): CloudSnapshotsPage — capture/diff/restore for active workspace (#10)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudSnapshotsPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): CloudIncidentsPage — org-wide dashboard for cloud incidents (#3)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudIncidentsPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): CloudTestRunsPage — org-wide run history with SSE live tail (#4)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudTestRunsPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): CloudTracesPage — cross-deployment OTLP trace search (#2)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudTracesPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): CloudChaosPage + cloudChaosApi — campaign authoring + run history (#7)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudChaosPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/services/api/cloudChaos.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
