Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
    exclude: ^book/
  - id: end-of-file-fixer
    exclude: ^book/
  - id: check-yaml
    exclude: ^(k8s/|helm/|deploy/|templates/)
  - id: check-toml
  - id: check-merge-conflict
  - id: check-added-large-files
    args: ['--maxkb=500']
  - id: check-case-conflict
  - id: mixed-line-ending
    args: ['--fix=lf']
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable

- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: clippy
    args: [--all-targets, --all-features]
  - id: cargo-check

- repo: https://github.com/crate-ci/typos
  rev: v1.16.20
  hooks:
  - id: typos
    exclude: ^(book/|target/|\.git/)

- repo: local
  hooks:
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

feat: Implement Contract Fitness Functions, Consumer Impact Analysis, and Multi-Protocol Contracts
  crates/mockforge-core/src/contract_drift/budget_engine.rs
  crates/mockforge-core/src/contract_drift/consumer_mapping.rs
  crates/mockforge-core/src/contract_drift/fitness.rs
  crates/mockforge-core/src/contract_drift/grpc_contract.rs
  crates/mockforge-core/src/contract_drift/mod.rs
  crates/mockforge-core/src/contract_drift/mqtt_kafka_contracts.rs
  crates/mockforge-core/src/contract_drift/protocol_contracts.rs
  crates/mockforge-core/src/contract_drift/types.rs
  crates/mockforge-core/src/contract_drift/websocket_contract.rs
  crates/mockforge-http/src/auth/oidc.rs
  crates/mockforge-http/src/contract_diff_middleware.rs
  crates/mockforge-http/src/handlers/behavioral_cloning.rs
  crates/mockforge-http/src/handlers/consistency.rs
  crates/mockforge-http/src/handlers/drift_budget.rs
  crates/mockforge-http/src/handlers/fidelity.rs
  crates/mockforge-http/src/handlers/pr_generation.rs
  crates/mockforge-http/src/handlers/protocol_contracts.rs
  crates/mockforge-http/src/handlers/snapshots.rs
  crates/mockforge-http/src/handlers/webhook_test.rs
  crates/mockforge-http/src/handlers/xray.rs
  crates/mockforge-http/src/health.rs
  crates/mockforge-http/src/latency_profiles.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/metrics_middleware.rs
  crates/mockforge-http/src/op_middleware.rs
  crates/mockforge-http/src/rag_ai_generator.rs
  crates/mockforge-http/src/state_machine_api.rs
  crates/mockforge-recorder/src/sync_drift.rs
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/ConsumerImpactPanel.tsx
  crates/mockforge-ui/ui/src/components/ProtocolContractEditor.tsx
  crates/mockforge-ui/ui/src/pages/ContractDiffPage.tsx
  crates/mockforge-ui/ui/src/pages/FitnessFunctionsPage.tsx
  crates/mockforge-ui/ui/src/pages/IncidentDashboardPage.tsx
  crates/mockforge-ui/ui/src/services/driftApi.ts
  crates/mockforge-ui/ui/src/services/protocolContractsApi.ts
  docs/CONSUMER_IMPACT_ANALYSIS.md
  docs/DRIFT_BUDGETS.md
  docs/PILLARS.md
  docs/PROTOCOL_CONTRACTS.md
Due: rust-fmt

feat(cloud): Complete Cloud pillar implementation and fix compilation issues
  .cargo/config.toml
  crates/mockforge-analytics/migrations/002_pillar_usage.sql
  crates/mockforge-analytics/src/error.rs
  crates/mockforge-analytics/src/lib.rs
  crates/mockforge-analytics/src/pillar_usage.rs
  crates/mockforge-collab/.cargo/config.toml
  crates/mockforge-collab/src/permissions.rs
  crates/mockforge-core/src/workspace.rs
  crates/mockforge-core/src/workspace/mock_environment.rs
  crates/mockforge-core/src/workspace/request.rs
  crates/mockforge-core/src/workspace/scenario_promotion.rs
  crates/mockforge-registry-server/Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/migrations/20250101000020_mock_environments.sql
  crates/mockforge-registry-server/migrations/20250101000021_scenario_promotions.sql
  crates/mockforge-registry-server/migrations/20250101000022_org_templates.sql
  crates/mockforge-registry-server/src/config.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/org_templates.rs
  crates/mockforge-registry-server/src/handlers/pillar_analytics.rs
  crates/mockforge-registry-server/src/handlers/scenario_promotions.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/models/mock_environment.rs
  crates/mockforge-registry-server/src/models/mod.rs
  crates/mockforge-registry-server/src/models/org_template.rs
  crates/mockforge-registry-server/src/models/scenario_promotion.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/src/rbac.rs
  crates/mockforge-ui/ui/src/components/analytics/ContractsPillarDetails.tsx
  crates/mockforge-ui/ui/src/components/analytics/PillarAnalyticsDashboard.tsx
  crates/mockforge-ui/ui/src/components/analytics/PillarOverviewCards.tsx
  crates/mockforge-ui/ui/src/components/analytics/PillarUsageChart.tsx
  crates/mockforge-ui/ui/src/components/analytics/RealityPillarDetails.tsx
  crates/mockforge-ui/ui/src/components/analytics/TimeRangeSelector.tsx
  crates/mockforge-ui/ui/src/components/analytics/index.ts
  crates/mockforge-ui/ui/src/hooks/usePillarAnalytics.ts
Due: rust-fmt

feat: Implement MockForge AI Studio - Unified AI Copilot
  crates/mockforge-core/src/ai_studio/artifact_freezer.rs
  crates/mockforge-core/src/ai_studio/budget_manager.rs
  crates/mockforge-core/src/ai_studio/chat_orchestrator.rs
  crates/mockforge-core/src/ai_studio/config.rs
  crates/mockforge-core/src/ai_studio/conversation_store.rs
  crates/mockforge-core/src/ai_studio/debug_analyzer.rs
  crates/mockforge-core/src/ai_studio/mod.rs
  crates/mockforge-core/src/ai_studio/nl_mock_generator.rs
  crates/mockforge-core/src/ai_studio/persona_generator.rs
  crates/mockforge-core/src/intelligent_behavior/llm_client.rs
  crates/mockforge-core/src/intelligent_behavior/mod.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/ai_studio.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/AIStudioPage.tsx
Due: rust-fmt

feat: Implement pillar tagging system and documentation enhancements
  README.md
  book/src/SUMMARY.md
  book/src/getting-started/ai-first.md
  book/src/getting-started/contracts-first.md
  book/src/getting-started/getting-started.md
  book/src/getting-started/reality-first.md
  crates/mockforge-core/src/ai_contract_diff/mod.rs
  crates/mockforge-core/src/ai_studio/mod.rs
  crates/mockforge-core/src/chaos_utilities.rs
  crates/mockforge-core/src/contract_drift/mod.rs
  crates/mockforge-core/src/contract_validation.rs
  crates/mockforge-core/src/generative_schema/mod.rs
  crates/mockforge-core/src/latency.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/pillars.rs
  crates/mockforge-core/src/reality.rs
  crates/mockforge-core/src/reality_continuum/mod.rs
  crates/mockforge-core/src/schema_diff.rs
  crates/mockforge-core/src/templating.rs
  crates/mockforge-core/src/validation.rs
  crates/mockforge-core/src/voice/mod.rs
  crates/mockforge-observability/src/prometheus/metrics.rs
  docs/DRIFT_BUDGETS.md
  docs/JOURNEYS_BY_PILLAR.md
  docs/PERSONAS.md
  docs/PROTOCOL_CONTRACTS.md
  docs/REALITY_CONTINUUM.md
  docs/REALITY_SLIDER.md
  docs/contributing/PILLAR_QUERIES.md
  docs/contributing/PILLAR_TAGGING.md
  scripts/pillar-coverage.sh
  scripts/pillar-usage.sh
  vscode-extension/package.json
  vscode-extension/src/commands/generateMockScenario.ts
Due: rust-fmt

feat: Complete pillar enhancement gaps - VS Code extension and docs
  PILLAR_ENHANCEMENT_VERIFICATION.md
  PILLAR_GAPS_IMPLEMENTATION_SUMMARY.md
  docs/BEHAVIORAL_CLONING.md
  docs/CONSENT_RISK_SIMULATION.md
  docs/CONSUMER_IMPACT_ANALYSIS.md
  docs/MARKETPLACE_MONITORING.md
  docs/OIDC_SIMULATION.md
  docs/TOKEN_LIFECYCLE_SCENARIOS.md
  jetbrains-plugin/README.md
  vscode-extension/package.json
  vscode-extension/src/commands/generateMockScenario.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/services/languageServer.ts
  vscode-extension/src/services/mockPreviewProvider.ts
  vscode-extension/src/services/mockforgeClient.ts
  vscode-extension/src/types/js-yaml.d.ts
Due: none

feat: add comprehensive integration tests for 0.3.0 features and update changelog
  CHANGELOG.md
  tests/tests/behavioral_cloning_integration.rs
  tests/tests/drift_budget_integration.rs
  tests/tests/drift_gitops_integration.rs
  tests/tests/smart_personas_v2.rs
  tests/tests/voice_workspace_creation.rs
Due: rust-fmt

fix: update publish script to handle Phase 1 crate dependencies correctly
  scripts/publish-crates.sh
Due: none

chore: Restore path dependencies after 0.3.2 publish
  Cargo.lock
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-collab/Cargo.toml
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-tcp/Cargo.toml
  crates/mockforge-test/Cargo.toml
  crates/mockforge-tracing/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ws/Cargo.toml
Due: cargo-audit

feat(security): implement email, Slack, and webhook notification services
  crates/mockforge-core/src/security/access_review_notifications.rs
  crates/mockforge-core/src/security/email.rs
  crates/mockforge-core/src/security/mod.rs
  crates/mockforge-core/src/security/slack.rs
Due: rust-fmt

feat: Implement Invisible Mock Server experience (DevX Pillar)
  Cargo.toml
  browser-extension/src/background/service-worker.ts
  browser-extension/src/devtools/SnapshotDiffPanel.tsx
  browser-extension/src/devtools/panel.tsx
  browser-extension/src/preview/MockPreview.tsx
  browser-extension/src/shared/api-client.ts
  browser-extension/src/shared/types.ts
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/handlers/mod.rs
  crates/mockforge-http/src/handlers/snapshot_diff.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-runtime-daemon/Cargo.toml
  crates/mockforge-runtime-daemon/src/auto_generator.rs
  crates/mockforge-runtime-daemon/src/config.rs
  crates/mockforge-runtime-daemon/src/detector.rs
  crates/mockforge-runtime-daemon/src/lib.rs
Due: rust-fmt, cargo-audit

feat(ai-studio): Add API Critique, System Generator, and Behavioral Simulator
  crates/mockforge-core/src/ai_studio/api_critique.rs
  crates/mockforge-core/src/ai_studio/behavioral_simulator.rs
  crates/mockforge-core/src/ai_studio/chat_orchestrator.rs
  crates/mockforge-core/src/ai_studio/mod.rs
  crates/mockforge-core/src/ai_studio/system_generator.rs
  crates/mockforge-http/src/handlers/ai_studio.rs
  crates/mockforge-http/src/handlers/mod.rs
  crates/mockforge-runtime-daemon/src/auto_generator.rs
  crates/mockforge-ui/ui/src/components/ai/ApiCritique.tsx
  crates/mockforge-ui/ui/src/components/ai/BehavioralSimulator.tsx
  crates/mockforge-ui/ui/src/components/ai/SystemGenerator.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/index.css
  crates/mockforge-ui/ui/src/pages/AIStudioPage.tsx
Due: rust-fmt

perf: fix benchmark regressions and optimize measurements
  .github/benchmarks/README.md
  .github/benchmarks/REGRESSION_ANALYSIS.md
  .github/benchmarks/baseline.json
  crates/mockforge-core/benches/core_benchmarks.rs
  crates/mockforge-core/src/openapi/spec.rs
Due: rust-fmt

docs: update benchmark documentation with final optimizations
  .github/benchmarks/README.md
  .github/benchmarks/REGRESSION_ANALYSIS.md
  .github/benchmarks/baseline.json
Due: none

perf: optimize template rendering by avoiding unnecessary operations
  .github/benchmarks/REGRESSION_ANALYSIS.md
  crates/mockforge-core/src/templating.rs
Due: rust-fmt

Format code with rustfmt
  Cargo.lock
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/tests/billing_subscriptions_test.rs
  crates/mockforge-bench/tests/fixtures/billing_subscriptions_v1.json
Due: rust-fmt, cargo-audit

Bump all crates to version 0.3.3
  Cargo.lock
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-analytics/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-collab/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-data/Cargo.toml
  crates/mockforge-federation/Cargo.toml
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-performance/Cargo.toml
  crates/mockforge-pipelines/Cargo.toml
  crates/mockforge-plugin-cli/Cargo.toml
  crates/mockforge-plugin-core/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-registry/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-reporting/Cargo.toml
  crates/mockforge-runtime-daemon/Cargo.toml
  crates/mockforge-scenarios/Cargo.toml
  crates/mockforge-schema/Cargo.toml
  crates/mockforge-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-tcp/Cargo.toml
  crates/mockforge-test/Cargo.toml
  crates/mockforge-tracing/Cargo.toml
  crates/mockforge-tunnel/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-vbr/Cargo.toml
  crates/mockforge-world-state/Cargo.toml
  crates/mockforge-ws/Cargo.toml
Due: cargo-audit

Fix k6 script generation with operation IDs containing dots/hyphens
  CHANGELOG.md
  Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/tests/billing_subscriptions_test.rs
  crates/mockforge-bench/tests/fixtures/billing_subscriptions_v1.json
Due: rust-fmt, cargo-audit

Fix k6 metric name validation error (issue #79)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
Due: rust-fmt

chore: fix formatting (pre-commit hooks)
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/plugin-publish.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-ui/ui/package.json
  crates/mockforge-ui/ui/src/components/graph/EndpointNode.tsx
  crates/mockforge-ui/ui/src/components/graph/ServiceNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/ApiCallNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/ConditionNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/DelayNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/FlowPropertiesPanel.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/LoopNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/ParallelNode.tsx
  crates/mockforge-ui/ui/src/components/state-machine/StateNode.tsx
  crates/mockforge-ui/ui/src/components/state-machine/TransitionEdge.tsx
  crates/mockforge-ui/ui/src/components/state-machine/__tests__/StateNode.test.tsx
  crates/mockforge-ui/ui/src/components/world-state/WorldStateGraph.tsx
  crates/mockforge-ui/ui/src/components/world-state/WorldStateNode.tsx
  crates/mockforge-ui/ui/src/main.tsx
  crates/mockforge-ui/ui/src/pages/GraphPage.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStateMachineEditor.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStudioPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/ScenarioStateMachineEditor.test.tsx
  crates/mockforge-ui/ui/src/utils/graphClustering.ts
  crates/mockforge-ui/ui/src/utils/graphLayouts.ts
Due: none

fix: update all mockforge dependency versions to 0.3.3 in mockforge-http
  crates/mockforge-http/Cargo.toml
Due: none

Fix Docker build, k8s validation, and spell check issues
  .github/workflows/docker-build.yml
  .github/workflows/k8s-tests.yml
  .typos.toml
  Dockerfile
Due: none

Fix mockforge-smtp version constraint from 0.2.0 to 0.3.3
  crates/mockforge-http/Cargo.toml
Due: none

Optimize workflows: update deprecated actions and add path filters
  .github/workflows/breaking-changes.yml
  .github/workflows/contract-validation.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/plugin-publish.yml
  .github/workflows/test.yml
Due: none

Fix k6 metric name validation error (issue #79) (#80)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
Due: rust-fmt

Fix kubectl validation to skip server connection
  .github/workflows/k8s-tests.yml
Due: none

Fix kubectl validation to prevent server connection attempts
  .github/workflows/k8s-tests.yml
Due: none

Skip CRDs in kubectl validation to avoid server connection
  .github/workflows/k8s-tests.yml
Due: none

fix: fix GitHub Actions workflow failures
  .github/workflows/contract-diff.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/test.yml
  Dockerfile
Due: none

fix: update MSRV from 1.82 to 1.75
  .github/workflows/ci.yml
Due: none
