Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
    exclude: ^book/
  - id: end-of-file-fixer
    exclude: ^book/
  - id: check-yaml
    exclude: ^(k8s/|helm/|deploy/|templates/)
  - id: check-toml
  - id: check-merge-conflict
  - id: check-added-large-files
    args: ['--maxkb=500']
  - id: check-case-conflict
  - id: mixed-line-ending
    args: ['--fix=lf']
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable

- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: clippy
    args: [--all-targets, --all-features]
  - id: cargo-check

- repo: https://github.com/crate-ci/typos
  rev: v1.16.20
  hooks:
  - id: typos
    exclude: ^(book/|target/|\.git/)

- repo: local
  hooks:
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

fix(vbr): fix RwLock deadlock in JsonDatabase execute methods
  crates/mockforge-vbr/src/database.rs
Due: rust-fmt

fix(bench): apply --base-path to conformance test script URLs (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
Due: rust-fmt, cargo-audit

fix(ci): fix pre-existing CI workflow failures across 5 workflows
  .github/workflows/contract-validation.yml
  .github/workflows/docker-build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/test.yml
  crates/mockforge-chaos/src/protocols/graphql.rs
  crates/mockforge-kafka/tests/integration.rs
Due: rust-fmt

fix(ci): add libfontconfig1-dev to all CI workflow system dependencies
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/contract-validation.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: bump version to 0.3.61
  Cargo.lock
  Cargo.toml
Due: cargo-audit

fix(ci): add missing GTK system deps and fix gh-pages git config in release workflow
  .github/workflows/release.yml
Due: none

chore: bump version to 0.3.62
  Cargo.lock
  Cargo.toml
Due: cargo-audit

fix(ci): exclude mockforge-desktop from release workflow builds
  .github/workflows/release.yml
Due: none

chore: bump version to 0.3.63
  Cargo.lock
  Cargo.toml
Due: cargo-audit

fix(ci): add libwebkit2gtk-4.0-dev and include mockforge-desktop in CI
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: bump version to 0.3.64
  Cargo.lock
  Cargo.toml
Due: cargo-audit

chore: bump version to 0.3.65
  Cargo.lock
  Cargo.toml
Due: cargo-audit

fix(ci): revert webkit2gtk addition, keep desktop crate excluded
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

fix(strict-check): resolve remaining vbr/http warning-gate failures
  crates/mockforge-http/src/management.rs
  crates/mockforge-vbr/src/integration.rs
  crates/mockforge-vbr/src/mutation_rules.rs
  crates/mockforge-vbr/src/snapshots.rs
Due: rust-fmt

feat(sdk): replace plugin stubs with concrete defaults
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/contract-validation.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Cargo.lock
  desktop-app/Cargo.toml
  desktop-app/capabilities/default.json
  desktop-app/src/commands.rs
  desktop-app/src/main.rs
  desktop-app/src/notifications.rs
  desktop-app/src/shortcuts.rs
  desktop-app/src/system_tray.rs
  desktop-app/src/theme.rs
  desktop-app/src/updater.rs
  desktop-app/tauri.conf.json
  sdk/go/mockforge/plugin.go
  sdk/python/mockforge_plugin/sdk.py
Due: rust-fmt, cargo-audit

feat(http): implement XPath request-match evaluation
  crates/mockforge-http/src/management.rs
Due: rust-fmt

feat(ui): implement sync change detection endpoint
  crates/mockforge-ui/src/handlers/workspaces.rs
Due: rust-fmt

feat(ui-builder): fetch sidebar version from management api
  ui-builder/frontend/src/components/Layout.tsx
Due: none

feat(recorder): apply query filters and pagination
  crates/mockforge-recorder/src/query.rs
Due: rust-fmt

feat(core): validate OpenAPI cookie parameters
  crates/mockforge-core/src/openapi/validation.rs
Due: rust-fmt

feat(vbr): restore snapshots for json backend
  crates/mockforge-vbr/src/snapshots.rs
Due: rust-fmt

feat(chaos): implement GitOps manifest sync and apply
  crates/mockforge-chaos/src/gitops.rs
  crates/mockforge-recorder/src/query.rs
Due: rust-fmt

feat(plugin-loader): detect runtime from wasm exports
  crates/mockforge-plugin-loader/src/runtime_adapter.rs
Due: rust-fmt

feat(registry): parse deployment metrics endpoint data
  crates/mockforge-registry-server/src/deployment/metrics.rs
Due: none

feat(core): implement API token access review flow
  crates/mockforge-core/src/security/access_review.rs
  crates/mockforge-core/src/security/access_review_service.rs
Due: rust-fmt

feat(collab): implement custom backup storage backend
  crates/mockforge-collab/Cargo.toml
  crates/mockforge-collab/src/backup.rs
Due: rust-fmt

feat(collab): add S3 backup creation support
  crates/mockforge-collab/src/backup.rs
Due: rust-fmt

feat(plugin-loader): implement database and KMS key source fallbacks
  crates/mockforge-plugin-loader/src/validator.rs
Due: rust-fmt

feat(core): implement protocol fitness fallback schema heuristics
  crates/mockforge-core/src/contract_drift/fitness.rs
Due: rust-fmt

feat(plugin-loader): implement registry plugin installation
  crates/mockforge-plugin-loader/src/installer.rs
Due: rust-fmt

feat(ui): implement time travel scenario load from storage
  crates/mockforge-ui/src/time_travel_handlers.rs
Due: rust-fmt

feat(http): implement sequence-scoped edge amplification
  crates/mockforge-http/src/handlers/behavioral_cloning.rs
Due: rust-fmt

feat(core): implement protobuf descriptor validation
  crates/mockforge-core/src/validation.rs
Due: rust-fmt

docs(core): remove stale placeholder wording in context collector
  crates/mockforge-core/src/failure_analysis/context_collector.rs
Due: rust-fmt

feat(cli): implement vbr manage entities and data commands
  crates/mockforge-cli/src/vbr_commands.rs
Due: rust-fmt

feat(data): implement rag storage backend factory fallbacks
  crates/mockforge-data/src/rag/storage.rs
Due: rust-fmt

feat(core): allow Kafka Avro/Protobuf contract schema fallback
  crates/mockforge-core/src/contract_drift/mqtt_kafka_contracts.rs
Due: rust-fmt

feat(cli): implement local plugin search command
  crates/mockforge-cli/src/plugin_commands.rs
Due: rust-fmt

feat(scenarios): implement mockai and vbr integration stubs
  crates/mockforge-scenarios/src/mockai_integration.rs
  crates/mockforge-scenarios/src/schema_alignment.rs
  crates/mockforge-scenarios/src/vbr_integration.rs
Due: rust-fmt

fix(core): persist workspace registry configuration
  crates/mockforge-core/src/workspace/registry.rs
Due: rust-fmt
