Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

fix(ci): make the Kubernetes Tests workflow pass
  .github/workflows/k8s-tests.yml
  helm/mockforge/values.yaml
  k8s/deployment.yaml
  k8s/network-policy.yaml
  k8s/pod-security.yaml
  k8s/redis.yaml
  scripts/k8s-deploy-core.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): isolate kubeconfig and KinD cluster name per run on shared self-hosted host
  .github/workflows/k8s-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): make the Kubernetes Tests workflow pass (#1118)
  .github/workflows/k8s-tests.yml
  helm/mockforge/values.yaml
  k8s/deployment.yaml
  k8s/network-policy.yaml
  k8s/pod-security.yaml
  k8s/redis.yaml
  scripts/k8s-deploy-core.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: fix Code Coverage e2e failures; drop the dead release-binaries jobs
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): load tests hit the built-in rate limiter, not mockforge
  .github/workflows/load-testing.yml
  tests/load/check_thresholds.py
  tests/load/compare_baseline.py
  tests/load/http_load.js
  tests/load/http_load_high_scale.js
  tests/load/thresholds/extended.json
  tests/load/thresholds/standard.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): load tests hit the built-in rate limiter, not mockforge (#1122)
  .github/workflows/load-testing.yml
  tests/load/check_thresholds.py
  tests/load/compare_baseline.py
  tests/load/http_load.js
  tests/load/http_load_high_scale.js
  tests/load/thresholds/extended.json
  tests/load/thresholds/standard.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): review fixes for RLS follow-ups (#1087)
  crates/mockforge-registry-server/migrations/20250101000087_rls_join_policies.sql
  crates/mockforge-registry-server/src/handlers/scenario_promotions.rs
  crates/mockforge-registry-server/tests/rls_join/verification_and_tests.rs
  scripts/check_rls_coverage.py
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: fix Code Coverage e2e failures; drop the dead release-binaries jobs (#1121)
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

style(registry): drop unnecessary sha2:: qualification in rls_join e2e (#1087)
  crates/mockforge-registry-server/tests/rls_join/verification_and_tests.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): restore workspace ownership after root-run Checkov action
  .github/workflows/k8s-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): restore workspace ownership after root-run Checkov action (#1123)
  .github/workflows/k8s-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: keep Coverage within runner disk; fix Contract Diff spec detection, comparison and PR comment
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: keep Coverage within runner disk; fix Contract Diff spec detection, comparison and PR comment (#1119)
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): close cross-tenant chaos injection and capture-body exfiltration
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-server/src/handlers/captures.rs
  crates/mockforge-registry-server/src/handlers/chaos.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/handlers/snapshots.rs
  crates/mockforge-registry-server/tests/cross_tenant_chaos_capture_e2e.rs
  crates/mockforge-registry-server/tests/rls_join/flows_snapshots_chaos.rs
  crates/mockforge-test-runner/src/callbacks.rs
  crates/mockforge-test-runner/src/executors/chaos.rs
  scripts/check_rls_coverage.py
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(intelligence): stop leaking a MockAI session per write request
  crates/mockforge-intelligence/src/intelligent_behavior/mockai.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(intelligence): stop leaking a MockAI session per write request (#1125)
  crates/mockforge-intelligence/src/intelligent_behavior/mockai.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): close cross-tenant chaos injection and capture-body exfiltration (#1124)
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-server/src/handlers/captures.rs
  crates/mockforge-registry-server/src/handlers/chaos.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/handlers/snapshots.rs
  crates/mockforge-registry-server/tests/cross_tenant_chaos_capture_e2e.rs
  crates/mockforge-registry-server/tests/rls_join/flows_snapshots_chaos.rs
  crates/mockforge-test-runner/src/callbacks.rs
  crates/mockforge-test-runner/src/executors/chaos.rs
  scripts/check_rls_coverage.py
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ci): give the extended load test a realistic think time
  tests/load/http_load_high_scale.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): run the load-test server on random free ports
  .github/workflows/load-testing.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): realistic think time and random ports for the load tests (#1126)
  .github/workflows/load-testing.yml
  tests/load/http_load_high_scale.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): three failures on main (rbac env race, RunLiveTail render race, benchmark baseline push to protected main)
  .github/workflows/benchmarks.yml
  crates/mockforge-ui/src/rbac.rs
  crates/mockforge-ui/ui/src/components/__tests__/RunLiveTail.test.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ci): three failures on main (rbac env race, RunLiveTail render race, benchmark baseline push to protected main) (#1127)
  .github/workflows/benchmarks.yml
  crates/mockforge-ui/src/rbac.rs
  crates/mockforge-ui/ui/src/components/__tests__/RunLiveTail.test.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): foreign capture sessions and contract rows read exactly like missing ones (#1087)
  crates/mockforge-registry-server/src/handlers/captures.rs
  crates/mockforge-registry-server/src/handlers/contract_verification.rs
  crates/mockforge-registry-server/tests/cross_tenant_chaos_capture_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): foreign capture sessions and contract rows read exactly like missing ones (#1087) (#1128)
  crates/mockforge-registry-server/src/handlers/captures.rs
  crates/mockforge-registry-server/src/handlers/contract_verification.rs
  crates/mockforge-registry-server/tests/cross_tenant_chaos_capture_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(release): v0.3.229
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): v0.3.229 (#1129)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

ci(runner): publish mockforge-test-runner image for Ashburn
  .github/workflows/ashburn-image-smoke.yml
  .github/workflows/ashburn-images.yml
  Dockerfile.runner
  docs/ASHBURN_IMAGE_SUPPLY.md
  fly.runner.toml
  scripts/tests/test_ashburn_images.py
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

ci(runner): publish mockforge-test-runner image for Ashburn (#1130)
  .github/workflows/ashburn-image-smoke.yml
  .github/workflows/ashburn-images.yml
  Dockerfile.runner
  docs/ASHBURN_IMAGE_SUPPLY.md
  fly.runner.toml
  scripts/tests/test_ashburn_images.py
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

fix(k8s): give each replica its own recorder volume; make chaos job runnable
  .github/workflows/k8s-tests.yml
  CHANGELOG.md
  book/src/reference/changelog.md
  book/src/reference/faq.md
  deploy/README.md
  deploy/prometheus/alerts/mockforge-alerts.yml
  deploy/runbooks/high-error-rate.md
  deploy/runbooks/instances-low.md
  deploy/runbooks/mockforge-down.md
  deploy/runbooks/pvc-almost-full.md
  deploy/runbooks/slo-breach.md
  deploy/runbooks/slo-fast-burn.md
  helm/mockforge/README.md
  helm/mockforge/templates/_helpers.tpl
  helm/mockforge/templates/hpa.yaml
  helm/mockforge/templates/pvc-legacy.yaml
  helm/mockforge/templates/pvc.yaml
  helm/mockforge/templates/service-headless.yaml
  helm/mockforge/templates/workload.yaml
  helm/mockforge/values.yaml
  k8s/hpa.yaml
  k8s/pvc.yaml
  k8s/statefulset.yaml
  scripts/k8s-deploy-core.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(k8s): give each replica its own recorder volume; make chaos job runnable (#1131)
  .github/workflows/k8s-tests.yml
  CHANGELOG.md
  book/src/reference/changelog.md
  book/src/reference/faq.md
  deploy/README.md
  deploy/prometheus/alerts/mockforge-alerts.yml
  deploy/runbooks/high-error-rate.md
  deploy/runbooks/instances-low.md
  deploy/runbooks/mockforge-down.md
  deploy/runbooks/pvc-almost-full.md
  deploy/runbooks/slo-breach.md
  deploy/runbooks/slo-fast-burn.md
  helm/mockforge/README.md
  helm/mockforge/templates/_helpers.tpl
  helm/mockforge/templates/hpa.yaml
  helm/mockforge/templates/pvc-legacy.yaml
  helm/mockforge/templates/pvc.yaml
  helm/mockforge/templates/service-headless.yaml
  helm/mockforge/templates/workload.yaml
  helm/mockforge/values.yaml
  k8s/hpa.yaml
  k8s/pvc.yaml
  k8s/statefulset.yaml
  scripts/k8s-deploy-core.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(runner): pin WAFBench so Dockerfile.runner builds
  Dockerfile.runner
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(runner): pin WAFBench so Dockerfile.runner builds (#1132)
  Dockerfile.runner
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(runner): route every user-supplied URL through an SSRF-guarded client
  crates/mockforge-bench/src/ssrf.rs
  crates/mockforge-test-runner/src/executors/chain.rs
  crates/mockforge-test-runner/src/executors/contract.rs
  crates/mockforge-test-runner/src/executors/integration.rs
  crates/mockforge-test-runner/src/executors/replay.rs
  crates/mockforge-test-runner/src/executors/smoke.rs
  crates/mockforge-test-runner/src/executors/test.rs
  crates/mockforge-test-runner/src/lib.rs
  crates/mockforge-test-runner/src/target_client.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(cli): reject contract-diff --capture-id, fix admin-host help, document MOCKFORGE_OVERRIDES_ENABLED
  CONFIG.md
  book/src/configuration/environment.md
  book/src/user-guide/ai-contract-diff.md
  crates/mockforge-cli/src/contract_diff_commands.rs
  crates/mockforge-cli/src/main.rs
  scripts/docs-cli-surface.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(runner): close the conformance, chaos-external, preflight, IPv6 and k6 SSRF bypasses
  .github/workflows/ashburn-image-smoke.yml
  .github/workflows/ashburn-images.yml
  Dockerfile.egress
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/preflight.rs
  crates/mockforge-bench/src/ssrf.rs
  crates/mockforge-chaos-proxy/src/lib.rs
  crates/mockforge-test-runner/src/config.rs
  crates/mockforge-test-runner/src/dispatcher.rs
  crates/mockforge-test-runner/src/executors/chaos.rs
  crates/mockforge-test-runner/src/executors/test.rs
  crates/mockforge-test-runner/src/target_client.rs
  docs/ASHBURN_IMAGE_SUPPLY.md
  scripts/tests/k6_egress_e2e.sh
  scripts/tests/test_ashburn_images.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(cli): reject contract-diff --capture-id, fix admin-host help, document MOCKFORGE_OVERRIDES_ENABLED (#1136)
  CONFIG.md
  book/src/configuration/environment.md
  book/src/user-guide/ai-contract-diff.md
  crates/mockforge-cli/src/contract_diff_commands.rs
  crates/mockforge-cli/src/main.rs
  scripts/docs-cli-surface.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
