Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  language: system
  pass_filenames: false

build: mark example crates as non-publishable
  examples/plugins/response-graphql/Cargo.toml
  test_openapi_demo/Cargo.toml
Due: none

docs: update changelog for 0.1.2
  CHANGELOG.md
  book/src/reference/changelog.md
Due: none

build: manage version references via wrapper
  release.toml
  scripts/release.sh
  scripts/update-version-refs.sh
Due: none

build: make version update tolerant
  scripts/update-version-refs.sh
Due: none

docs: prepare release 0.1.2
  CHANGELOG.md
  book/src/reference/changelog.md
Due: none

chore: release {{version}}
  Cargo.lock
  Cargo.toml
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-data/Cargo.toml
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-ws/Cargo.toml
  examples/plugins/response-graphql/Cargo.toml
  test_openapi_demo/Cargo.toml
Due: cargo-audit

chore: release 0.1.2
  Cargo.lock
  Cargo.toml
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-data/Cargo.toml
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-ws/Cargo.toml
  examples/plugins/response-graphql/Cargo.toml
  test_openapi_demo/Cargo.toml
Due: cargo-audit

build: parameterize publish script with workspace version
  scripts/publish-crates.sh
Due: none

build: extend publish script for internal crates
  scripts/publish-crates.sh
Due: none

build: enable publishing for mockforge-ui and mockforge-cli
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  scripts/publish-crates.sh
Due: none

feat: add mockforge-test crate and integration testing examples
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/mockforge-test/Cargo.toml
  crates/mockforge-test/README.md
  crates/mockforge-test/src/config.rs
  crates/mockforge-test/src/error.rs
  crates/mockforge-test/src/health.rs
  crates/mockforge-test/src/lib.rs
  crates/mockforge-test/src/process.rs
  crates/mockforge-test/src/scenario.rs
  crates/mockforge-test/src/server.rs
  crates/mockforge-test/tests/integration_test.rs
  examples/test-integration/Cargo.toml
  examples/test-integration/FINAL-STATUS.md
  examples/test-integration/README.md
  examples/test-integration/SETUP.md
  examples/test-integration/STATUS.md
  examples/test-integration/SUCCESS.md
  examples/test-integration/TEST-RESULTS.md
  examples/test-integration/playwright/README.md
  examples/test-integration/playwright/package-lock.json
  examples/test-integration/playwright/package.json
  examples/test-integration/playwright/playwright.config.ts
  examples/test-integration/playwright/tests/example.spec.ts
  examples/test-integration/src/bin/test_server.rs
  examples/test-integration/test-api.json
  examples/test-integration/vitest/README.md
  examples/test-integration/vitest/package-lock.json
  examples/test-integration/vitest/package.json
  examples/test-integration/vitest/tests/example.test.ts
  examples/test-integration/vitest/tests/setup.ts
  examples/test-integration/vitest/vitest.config.ts
Due: rust-fmt, cargo-audit

feat: add HTTP scenario switching for OpenAPI response examples
  crates/mockforge-core/src/openapi/response.rs
  crates/mockforge-core/src/openapi/route.rs
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-core/tests/test_scenario_switching.rs
  docs/SCENARIOS.md
  examples/scenario-switching-demo.yaml
Due: rust-fmt

feat: add programmable WebSocket handlers
  Cargo.lock
  WS_HANDLERS.md
  crates/mockforge-ws/Cargo.toml
  crates/mockforge-ws/src/handlers.rs
  crates/mockforge-ws/src/lib.rs
  crates/mockforge-ws/tests/ws_handlers_e2e.rs
  examples/ws-handlers/chat_handler.rs
  examples/ws-handlers/echo_handler.rs
  examples/ws-handlers/main.rs
Due: rust-fmt, cargo-audit

feat: add native GraphQL operation handlers with advanced features
  Cargo.lock
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-graphql/src/cache.rs
  crates/mockforge-graphql/src/handlers.rs
  crates/mockforge-graphql/src/lib.rs
  crates/mockforge-graphql/src/registry.rs
  crates/mockforge-graphql/src/resolvers.rs
  crates/mockforge-graphql/src/schema_watcher.rs
  crates/mockforge-graphql/src/subscriptions.rs
  crates/mockforge-graphql/tests/integration_test.rs
  examples/graphql/ADVANCED_FEATURES.md
  examples/graphql/README.md
  examples/graphql/schema.graphql
Due: rust-fmt, cargo-audit

feat: add capture scrubbing and deterministic replay
  Cargo.lock
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-recorder/src/lib.rs
  crates/mockforge-recorder/src/recorder.rs
  crates/mockforge-recorder/src/scrubbing.rs
  crates/mockforge-recorder/tests/scrubbing_integration_test.rs
  docs/CAPTURE.md
Due: rust-fmt, cargo-audit

feat: add unified config & profiles with multi-format support
  CONFIG.md
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/tests/config_profiles_test.rs
  examples/mockforge.config.ts
  examples/mockforge.config.yaml
Due: rust-fmt

feat: add Kubernetes-style health endpoint aliases and dashboard shortcut
  crates/mockforge-ui/src/routes.rs
  docs/HEALTH_ENDPOINTS.md
Due: rust-fmt

docs: add roadmap completion summary
  ROADMAP_COMPLETION_SUMMARY.md
Due: none

docs: update CHANGELOG for 0.1.3 release
  CHANGELOG.md
Due: none

docs: prepare release 0.1.3
  CHANGELOG.md
  book/src/reference/changelog.md
Due: none

chore: release {{version}}
  Cargo.lock
  Cargo.toml
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-data/Cargo.toml
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-test/Cargo.toml
  crates/mockforge-ws/Cargo.toml
  examples/plugins/response-graphql/Cargo.toml
  examples/test-integration/Cargo.toml
  test_openapi_demo/Cargo.toml
Due: cargo-audit

fix: add version specifications to dependencies for crates.io publishing
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-data/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ws/Cargo.toml
Due: cargo-audit

feat: add low-code UI builder for visual endpoint creation
  UI_BUILDER_COMPLETE.md
  UI_BUILDER_IMPLEMENTATION.md
  UI_BUILDER_INTEGRATED.md
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-http/src/ui_builder.rs
  crates/mockforge-ui/src/routes.rs
  ui-builder/ARCHITECTURE.md
  ui-builder/DEPLOYMENT.md
  ui-builder/INTEGRATION_GUIDE.md
  ui-builder/QUICKSTART.md
  ui-builder/README.md
  ui-builder/frontend/.gitignore
  ui-builder/frontend/index.html
  ui-builder/frontend/package-lock.json
  ui-builder/frontend/package.json
  ui-builder/frontend/postcss.config.js
  ui-builder/frontend/src/App.tsx
  ui-builder/frontend/src/components/GrpcEndpointForm.tsx
  ui-builder/frontend/src/components/HttpEndpointForm.tsx
  ui-builder/frontend/src/components/Layout.tsx
  ui-builder/frontend/src/components/ProtocolSelector.tsx
  ui-builder/frontend/src/components/WebsocketEndpointForm.tsx
  ui-builder/frontend/src/index.css
  ui-builder/frontend/src/lib/api.ts
  ui-builder/frontend/src/lib/utils.ts
  ui-builder/frontend/src/main.tsx
  ui-builder/frontend/src/pages/ConfigEditor.tsx
  ui-builder/frontend/src/pages/Dashboard.tsx
  ui-builder/frontend/src/pages/EndpointBuilder.tsx
  ui-builder/frontend/src/store/useEndpointStore.ts
  ui-builder/frontend/tailwind.config.js
  ui-builder/frontend/tsconfig.json
  ui-builder/frontend/tsconfig.node.json
  ui-builder/frontend/vite.config.ts
Due: rust-fmt

feat: add comprehensive OpenAPI/AsyncAPI spec integration with enhanced features
  crates/mockforge-core/src/import/asyncapi_import.rs
  crates/mockforge-core/src/import/mod.rs
  crates/mockforge-core/src/import/openapi_import.rs
  crates/mockforge-core/src/import/schema_data_generator.rs
  crates/mockforge-http/src/ai_handler.rs
  crates/mockforge-http/src/rag_ai_generator.rs
  crates/mockforge-http/src/ui_builder.rs
  ui-builder/frontend/package-lock.json
  ui-builder/frontend/package.json
  ui-builder/frontend/src/App.tsx
  ui-builder/frontend/src/components/Layout.tsx
  ui-builder/frontend/src/lib/api.ts
  ui-builder/frontend/src/pages/ApiDocs.tsx
  ui-builder/frontend/src/pages/Dashboard.tsx
Due: rust-fmt

style: apply rustfmt formatting to OpenAPI/AsyncAPI integration code
  crates/mockforge-core/src/import/asyncapi_import.rs
  crates/mockforge-core/src/import/mod.rs
  crates/mockforge-core/src/import/openapi_import.rs
  crates/mockforge-core/src/import/schema_data_generator.rs
  crates/mockforge-http/src/ai_handler.rs
  crates/mockforge-http/src/ui_builder.rs
Due: rust-fmt

feat: add Smart Mock Data Generator with token-based templating
  Cargo.lock
  SMART_MOCK_DATA_IMPLEMENTATION_SUMMARY.md
  crates/mockforge-data/Cargo.toml
  crates/mockforge-data/benches/token_resolver_bench.rs
  crates/mockforge-data/src/domains.rs
  crates/mockforge-data/src/lib.rs
  crates/mockforge-data/src/token_resolver.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/token_response.rs
  crates/mockforge-http/src/ui_builder.rs
  crates/mockforge-http/tests/token_integration_test.rs
  crates/mockforge-ui/src/routes.rs
  docs/SMART_MOCK_DATA_GENERATOR.md
  examples/smart-mock-data/README.md
  examples/smart-mock-data/main.rs
Due: rust-fmt, cargo-audit

feat: implement complete REST API for Cloud Collaboration Mode
  COLLABORATION_PROGRESS.md
  crates/mockforge-collab/src/api.rs
  crates/mockforge-collab/src/lib.rs
  crates/mockforge-collab/src/middleware.rs
  crates/mockforge-collab/src/server.rs
  crates/mockforge-collab/src/user.rs
Due: rust-fmt

feat: add version control API handlers for Cloud Collaboration Mode
  crates/mockforge-collab/src/api.rs
  crates/mockforge-collab/src/middleware.rs
  crates/mockforge-collab/src/server.rs
Due: rust-fmt

refactor: improve version control API with validation, permissions, and docs
  CODE_REVIEW_VERSION_CONTROL.md
  crates/mockforge-collab/src/api.rs
  crates/mockforge-collab/src/middleware.rs
Due: rust-fmt

feat: add comprehensive integration test suite for Cloud Collaboration API
  Cargo.lock
  crates/mockforge-collab/Cargo.toml
  crates/mockforge-collab/tests/README.md
  crates/mockforge-collab/tests/auth_tests.rs
  crates/mockforge-collab/tests/common/mod.rs
  crates/mockforge-collab/tests/version_control_tests.rs
  crates/mockforge-collab/tests/workspace_tests.rs
Due: rust-fmt, cargo-audit

feat: add Quick REST Mock Mode with advanced query features
  crates/mockforge-cli/src/main.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/quick_mock.rs
Due: rust-fmt

feat: add Schema-Driven Mock Generation with CLI and HTTP API
  Cargo.lock
  Cargo.toml
  crates/mockforge-cli/src/import_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-http/src/spec_import.rs
  crates/mockforge-http/tests/spec_import_test.rs
  docs/SCHEMA_DRIVEN_MOCKS.md
  examples/specs/iot-asyncapi.yaml
  examples/specs/petstore-openapi.yaml
Due: rust-fmt, cargo-audit

feat: add comprehensive async/event protocol support (Kafka, MQTT, AMQP)
  ASYNC_PROTOCOLS.md
  ASYNC_PROTOCOLS_IMPLEMENTATION_SUMMARY.md
  README.md
  crates/mockforge-cli/src/main.rs
  examples/microservices-event-bus/README.md
  examples/microservices-event-bus/fixtures/kafka/orders.yaml
  examples/microservices-event-bus/fixtures/mqtt/sensors.yaml
  examples/microservices-event-bus/mockforge-config.yaml
Due: rust-fmt

feat: add Developer SDK / Embedded Agent (Rust, Node.js, Python, Go)
  Cargo.lock
  Cargo.toml
  FINAL_COMMIT_READY.md
  SDK_CODE_REVIEW_FIXES.md
  SDK_FEATURE_COMPLETE.md
  SDK_IMPLEMENTATION_SUMMARY.md
  crates/mockforge-sdk/Cargo.toml
  crates/mockforge-sdk/src/builder.rs
  crates/mockforge-sdk/src/error.rs
  crates/mockforge-sdk/src/ffi.rs
  crates/mockforge-sdk/src/lib.rs
  crates/mockforge-sdk/src/server.rs
  crates/mockforge-sdk/src/stub.rs
  crates/mockforge-sdk/tests/integration_tests.rs
  examples/sdk-rust/README.md
  sdk/FOLLOW_UP_ISSUES.md
  sdk/KNOWN_LIMITATIONS.md
  sdk/README.md
  sdk/go/go.mod
  sdk/go/mockserver.go
  sdk/go/mockserver_test.go
  sdk/go/stub_builder.go
  sdk/nodejs/jest.config.js
  sdk/nodejs/package.json
  sdk/nodejs/src/__tests__/mockServer.test.ts
  sdk/nodejs/src/index.ts
  sdk/nodejs/src/mockServer.ts
  sdk/nodejs/src/stubBuilder.ts
  sdk/nodejs/src/types.ts
  sdk/nodejs/tsconfig.json
  sdk/python/mockforge_sdk/__init__.py
  sdk/python/mockforge_sdk/mock_server.py
  sdk/python/mockforge_sdk/stub_builder.py
  sdk/python/mockforge_sdk/types.py
  sdk/python/pytest.ini
  sdk/python/setup.py
  sdk/python/tests/test_mock_server.py
Due: rust-fmt, cargo-audit

docs: add post-commit summary and GitHub issues for SDK follow-up work
  SDK_POST_COMMIT_SUMMARY.md
  sdk/GITHUB_ISSUES.md
Due: none

feat(sdk): add port discovery, admin API, dynamic stubs, and quality improvements
  CODE_REVIEW.md
  COMMIT_SUMMARY.md
  EXPLORATION_SUMMARY.md
  FIXES_APPLIED.md
  MOCKFORGE_CODE_REFERENCE.md
  MOCKFORGE_SDK_EXPLORATION.md
  PRE_COMMIT_SUMMARY.md
  SDK_COMMIT_MESSAGE.md
  SDK_EXPLORATION_INDEX.md
  SDK_IMPROVEMENTS_SUMMARY.md
  crates/mockforge-sdk/src/admin.rs
  crates/mockforge-sdk/src/builder.rs
  crates/mockforge-sdk/src/error.rs
  crates/mockforge-sdk/src/lib.rs
  crates/mockforge-sdk/src/stub.rs
  crates/mockforge-sdk/tests/admin_api_tests.rs
  crates/mockforge-sdk/tests/dynamic_stub_tests.rs
  crates/mockforge-sdk/tests/error_handling_tests.rs
  crates/mockforge-sdk/tests/port_discovery_tests.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
