Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

chore: untrack .claude/settings.local.json and ignore it [skip ci]
  .claude/settings.local.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore: ignore .claude/settings.local.json [skip ci]
  .gitignore
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore: stop tracking local Claude settings
  .claude/settings.local.json
  .gitignore
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): preserve benchmark comparison failure outcome
  .github/workflows/benchmarks.yml
  scripts/tests/test_benchmark_gate.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): run the MSRV lane on its intended Rust toolchain
  .github/workflows/ci.yml
  scripts/tests/test_msrv_toolchain.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore: stop tracking local Claude settings (#1156)
  .claude/settings.local.json
  .gitignore
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs: mirror the Rust minimum change in the book changelog
  book/src/reference/changelog.md
  scripts/tests/test_msrv_toolchain.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): preserve benchmark comparison failure outcome (#1157)
  .github/workflows/benchmarks.yml
  scripts/tests/test_benchmark_gate.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

test: evaluate the reviewed PR 1154 lockfile on verified main
  Cargo.lock
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

test: run one bounded paired benchmark diagnostic for PR 1154
  .github/workflows/1154-paired-performance.yml
  scripts/paired_benchmarks.py
  scripts/tests/test_paired_benchmarks.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

test(sdk): isolate and verify occupied-port failures
  crates/mockforge-sdk/tests/error_handling_tests.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(sdk): isolate and verify occupied-port failures (#1159)
  crates/mockforge-sdk/tests/error_handling_tests.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(bench): support raw chunked bodies and clarify rate reports
  CHANGELOG.md
  book/src/user-guide/load-testing.md
  crates/mockforge-bench/src/chunked_command.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(bench): support raw chunked bodies and clarify rate reports (#1160)
  CHANGELOG.md
  book/src/user-guide/load-testing.md
  crates/mockforge-bench/src/chunked_command.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.231
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  scripts/docs-cli-surface.json
  scripts/tests/test_msrv_toolchain.py
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): v0.3.231 (#1161)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  scripts/docs-cli-surface.json
  scripts/tests/test_msrv_toolchain.py
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(ci): separate plugin publication requests from crate releases
  .github/workflows/ci.yml
  .github/workflows/plugin-publish.yml
  scripts/plugin_publish_request.py
  scripts/tests/test_plugin_publish_request.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(test): retain sibling server port claims through child cleanup
  crates/mockforge-test/src/lib.rs
  crates/mockforge-test/src/port_reservation.rs
  crates/mockforge-test/src/process.rs
  crates/mockforge-test/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): keep flow row actions and live streams responsive
  crates/mockforge-ui/ui/src/components/RunLiveTail.tsx
  crates/mockforge-ui/ui/src/components/__tests__/RunLiveTail.test.tsx
  crates/mockforge-ui/ui/src/pages/CloudFlowsPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/CloudFlowsPage.test.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

perf(core): avoid diagnostic iteration for valid JSON
  crates/mockforge-core/benches/core_benchmarks.rs
  crates/mockforge-core/src/validation.rs
  crates/mockforge-core/tests/validation_tests.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(cloud): repair navigation, account recovery and run cleanup
  crates/mockforge-registry-server/src/handlers/test_runs.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/tests/rls_join/verification_and_tests.rs
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/__tests__/AppRouting.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/auth/AuthGuard.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/auth/LoginForm.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/auth/UserProfile.test.tsx
  crates/mockforge-ui/ui/src/components/auth/AuthGuard.tsx
  crates/mockforge-ui/ui/src/components/auth/LoginForm.tsx
  crates/mockforge-ui/ui/src/components/auth/UserProfile.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/layout/CommandPalette.tsx
  crates/mockforge-ui/ui/src/components/layout/__tests__/AppShellGlobalSearch.test.tsx
  crates/mockforge-ui/ui/src/hooks/__tests__/useHistory.test.ts
  crates/mockforge-ui/ui/src/hooks/useHistory.ts
  crates/mockforge-ui/ui/src/pages/CloudTestRunsPage.tsx
  crates/mockforge-ui/ui/src/pages/PasswordRecoveryPage.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStateMachineEditor.tsx
  crates/mockforge-ui/ui/src/pages/SupportPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/CloudTestRunsPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/PasswordRecoveryPage.test.tsx
  crates/mockforge-ui/ui/src/services/api/cloudTestRuns.ts
  crates/mockforge-ui/ui/src/services/authApi.ts
  docs/cloud/CLOUD_TEST_EXECUTION_DESIGN.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(ui): separate stream, recovery and run presentation
  crates/mockforge-ui/ui/src/components/RunLiveTail.tsx
  crates/mockforge-ui/ui/src/components/__tests__/RunLiveTail.test.tsx
  crates/mockforge-ui/ui/src/components/auth/recovery/RequestPasswordResetForm.tsx
  crates/mockforge-ui/ui/src/components/auth/recovery/ResetPasswordForm.tsx
  crates/mockforge-ui/ui/src/components/auth/recovery/recoveryValidation.ts
  crates/mockforge-ui/ui/src/components/auth/recovery/useRecoverySubmission.ts
  crates/mockforge-ui/ui/src/components/test-runs/RunHistoryTable.tsx
  crates/mockforge-ui/ui/src/components/test-runs/RunSummary.tsx
  crates/mockforge-ui/ui/src/components/test-runs/__tests__/RunSummary.test.tsx
  crates/mockforge-ui/ui/src/components/test-runs/runActions.ts
  crates/mockforge-ui/ui/src/components/test-runs/runEventBuffer.ts
  crates/mockforge-ui/ui/src/components/test-runs/runStatusStyles.ts
  crates/mockforge-ui/ui/src/components/test-runs/runStreamEvents.ts
  crates/mockforge-ui/ui/src/hooks/useRunLiveTail.ts
  crates/mockforge-ui/ui/src/pages/CloudTestRunsPage.tsx
  crates/mockforge-ui/ui/src/pages/PasswordRecoveryPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

perf(core): avoid diagnostic iteration for valid JSON (#1165)
  crates/mockforge-core/benches/core_benchmarks.rs
  crates/mockforge-core/src/validation.rs
  crates/mockforge-core/tests/validation_tests.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(auth): bind PostgreSQL password reset expiry correctly
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-server/tests/rls_join/verification_and_tests.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.232
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  scripts/docs-cli-surface.json
  scripts/publish-crates.sh
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(auth): bind PostgreSQL password reset expiry correctly (#1168)
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-server/tests/rls_join/verification_and_tests.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.232 (#1169)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  scripts/docs-cli-surface.json
  scripts/publish-crates.sh
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(ci): compare paired immutable benchmark revisions
  .github/workflows/benchmarks.yml
  CHANGELOG.md
  book/src/reference/changelog.md
  scripts/ci/paired_benchmarks.py
  scripts/tests/test_paired_benchmarks.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(ci): separate benchmark measurement helpers
  .github/workflows/benchmarks.yml
  scripts/ci/benchmark_measurements.py
  scripts/ci/paired_benchmarks.py
  scripts/tests/test_paired_benchmarks.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): isolate benchmark timings from shared builds
  .github/workflows/benchmarks.yml
  CHANGELOG.md
  book/src/reference/changelog.md
  scripts/tests/test_paired_benchmarks.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): isolate and pair immutable benchmark revisions (#1170)
  .github/workflows/benchmarks.yml
  CHANGELOG.md
  book/src/reference/changelog.md
  scripts/ci/benchmark_measurements.py
  scripts/ci/paired_benchmarks.py
  scripts/tests/test_paired_benchmarks.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(release): report successful crate publication accurately
  .github/workflows/ci.yml
  CHANGELOG.md
  scripts/publish-crates.sh
  scripts/tests/test_publish_crates_status.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs: mirror publication status changelog in the book
  book/src/reference/changelog.md
Due: check-added-large-files

ci: keep plugin contract step and add publisher status check
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(release): report successful crate publication accurately (#1171)
  .github/workflows/ci.yml
  CHANGELOG.md
  book/src/reference/changelog.md
  scripts/publish-crates.sh
  scripts/tests/test_publish_crates_status.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos
