Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
    exclude: ^book/
  - id: end-of-file-fixer
    exclude: ^book/
  - id: check-yaml
    exclude: ^(k8s/|helm/|deploy/|templates/)
  - id: check-toml
  - id: check-merge-conflict
  - id: check-added-large-files
    args: ['--maxkb=500']
  - id: check-case-conflict
  - id: mixed-line-ending
    args: ['--fix=lf']
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable

- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: clippy
    args: [--all-targets, --all-features]
  - id: cargo-check

- repo: https://github.com/crate-ci/typos
  rev: v1.16.20
  hooks:
  - id: typos
    exclude: ^(book/|target/|\.git/)

- repo: local
  hooks:
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

Complete latency recording integration and fix WorkspaceConfig reality_level field
  crates/mockforge-chaos/src/api.rs
  crates/mockforge-chaos/src/latency.rs
  crates/mockforge-chaos/src/middleware.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/workspace.rs
  crates/mockforge-core/src/workspace/core.rs
  crates/mockforge-core/src/workspace_persistence.rs
Due: rust-fmt

Implement Reality Slider feature with hot-reload support
  .github/workflows/ci.yml
  .gitlab-ci.yml
  Cargo.lock
  crates/mockforge-chaos/src/api.rs
  crates/mockforge-chaos/src/middleware.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/intelligent_behavior/mockai.rs
  crates/mockforge-core/src/latency.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/reality.rs
  crates/mockforge-core/tests/reality_hot_reload_test.rs
  crates/mockforge-core/tests/reality_integration_test.rs
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/admin.rs
  crates/mockforge-ui/src/handlers/chains.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/src/components/reality/RealityIndicator.tsx
  crates/mockforge-ui/ui/src/components/reality/RealityPresetManager.tsx
  crates/mockforge-ui/ui/src/components/reality/RealitySlider.tsx
  crates/mockforge-ui/ui/src/components/reality/__tests__/RealityIndicator.test.tsx
  crates/mockforge-ui/ui/src/components/reality/__tests__/RealitySlider.test.tsx
  crates/mockforge-ui/ui/src/hooks/useApi.ts
  crates/mockforge-ui/ui/src/hooks/useRealityShortcuts.ts
  crates/mockforge-ui/ui/src/pages/ConfigPage.tsx
  crates/mockforge-ui/ui/src/pages/DashboardPage.tsx
  crates/mockforge-ui/ui/src/services/api.ts
  deploy/docker-compose.ci.yml
  docs/REALITY_SLIDER.md
  docs/REALITY_SLIDER_HOT_RELOAD_PLAN.md
  docs/REALITY_SLIDER_INTEGRATION.md
Due: rust-fmt, cargo-audit

Fix test compilation errors in reality integration and hot-reload tests
  crates/mockforge-core/src/intelligent_behavior/mockai.rs
  crates/mockforge-core/tests/reality_hot_reload_test.rs
  crates/mockforge-core/tests/reality_integration_test.rs
Due: rust-fmt

Configure SQLx and integrate mockforge-collab with mockforge-core
  Cargo.lock
  crates/mockforge-chaos/src/api.rs
  crates/mockforge-chaos/src/config.rs
  crates/mockforge-chaos/src/fault.rs
  crates/mockforge-chaos/src/latency_metrics.rs
  crates/mockforge-chaos/src/middleware.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-collab/Cargo.toml
  crates/mockforge-collab/migrations/002_fork_merge.sql
  crates/mockforge-collab/migrations/003_backup_metadata.sql
  crates/mockforge-collab/src/api.rs
  crates/mockforge-collab/src/backup.rs
  crates/mockforge-collab/src/config.rs
  crates/mockforge-collab/src/core_bridge.rs
  crates/mockforge-collab/src/lib.rs
  crates/mockforge-collab/src/merge.rs
  crates/mockforge-collab/src/models.rs
  crates/mockforge-collab/src/server.rs
  crates/mockforge-collab/src/sync.rs
  crates/mockforge-collab/src/workspace.rs
  crates/mockforge-collab/tests/common/mod.rs
  crates/mockforge-collab/tests/fork_merge_backup_tests.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/latency.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/reality.rs
  crates/mockforge-core/src/workspace_persistence.rs
  crates/mockforge-core/tests/reality_hot_reload_test.rs
  crates/mockforge-core/tests/reality_integration_test.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/routes.rs
  tests/tests/chaos_lab_integration.rs
Due: rust-fmt, cargo-audit

Add enhanced scenario marketplace features
  Cargo.lock
  crates/mockforge-cli/src/scenario_commands.rs
  crates/mockforge-scenarios/Cargo.toml
  crates/mockforge-scenarios/src/domain_pack.rs
  crates/mockforge-scenarios/src/installer.rs
  crates/mockforge-scenarios/src/lib.rs
  crates/mockforge-scenarios/src/manifest.rs
  crates/mockforge-scenarios/src/mockai_integration.rs
  crates/mockforge-scenarios/src/package.rs
  crates/mockforge-scenarios/src/preview.rs
  crates/mockforge-scenarios/src/registry.rs
  crates/mockforge-scenarios/src/schema_alignment.rs
  crates/mockforge-scenarios/src/vbr_integration.rs
  docs/SCENARIOS_MARKETPLACE.md
  docs/SCENARIO_MARKETPLACE_ENHANCED_FEATURES.md
  tests/Cargo.toml
  tests/tests/scenario_marketplace_integration.rs
Due: rust-fmt, cargo-audit

Implement ForgeConnect SDK with full feature set
  browser-extension/manifest.json
  browser-extension/src/background/service-worker.ts
  browser-extension/src/devtools/panel.tsx
  browser-extension/src/preview/MockPreview.tsx
  browser-extension/src/preview/MockPreviewService.ts
  browser-extension/src/preview/index.ts
  browser-extension/src/preview/mock-sw.js
  browser-extension/src/shared/api-client.ts
  browser-extension/src/shared/types.ts
  sdk/browser/src/adapters/AngularAdapter.ts
  sdk/browser/src/adapters/VueAdapter.ts
  sdk/browser/src/core/EnvironmentManager.ts
  sdk/browser/src/core/ForgeConnect.ts
  sdk/browser/src/core/MockForgeClient.ts
  sdk/browser/src/core/OAuthPassthrough.ts
  sdk/browser/src/core/OfflineMockServer.ts
  sdk/browser/src/core/OfflineStorage.ts
  sdk/browser/src/core/RequestInterceptor.ts
  sdk/browser/src/core/SyncQueue.ts
  sdk/browser/src/index.ts
  sdk/browser/src/types.ts
  sdk/browser/src/utils/requestAnalyzer.ts
  sdk/browser/src/utils/responseGenerator.ts
Due: none

Add GraphQL + REST Playground with workspace filtering
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/playground.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/tests/playground_integration.rs
  crates/mockforge-ui/ui/e2e/playground.spec.ts
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/layout/Navigation.tsx
  crates/mockforge-ui/ui/src/components/playground/CodeSnippetGenerator.tsx
  crates/mockforge-ui/ui/src/components/playground/GraphQLIntrospection.tsx
  crates/mockforge-ui/ui/src/components/playground/HistoryPanel.tsx
  crates/mockforge-ui/ui/src/components/playground/RequestPanel.tsx
  crates/mockforge-ui/ui/src/components/playground/ResponsePanel.tsx
  crates/mockforge-ui/ui/src/components/playground/__tests__/CodeSnippetGenerator.test.tsx
  crates/mockforge-ui/ui/src/components/playground/__tests__/HistoryPanel.test.tsx
  crates/mockforge-ui/ui/src/components/playground/__tests__/RequestPanel.test.tsx
  crates/mockforge-ui/ui/src/components/playground/__tests__/ResponsePanel.test.tsx
  crates/mockforge-ui/ui/src/pages/PlaygroundPage.tsx
  crates/mockforge-ui/ui/src/services/api.ts
  crates/mockforge-ui/ui/src/stores/__tests__/usePlaygroundStore.test.ts
  crates/mockforge-ui/ui/src/stores/usePlaygroundStore.ts
Due: rust-fmt

Implement complete Deceptive Deploy feature
  crates/mockforge-cli/src/deploy_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/scenario_commands.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/middleware/rate_limit.rs
  crates/mockforge-http/tests/deceptive_deploy_test.rs
Due: rust-fmt

Implement Voice + LLM Interface with STT backends
  Cargo.lock
  STT_ENHANCEMENTS_COMPLETE.md
  VOICE_LLM_IMPLEMENTATION_REVIEW.md
  crates/mockforge-chaos/src/lib.rs
  crates/mockforge-chaos/src/middleware.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/deploy_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/speech_to_text.rs
  crates/mockforge-cli/src/voice_commands.rs
  crates/mockforge-collab/src/api.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/voice/command_parser.rs
  crates/mockforge-core/src/voice/conversation.rs
  crates/mockforge-core/src/voice/mod.rs
  crates/mockforge-core/src/voice/spec_generator.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-http/src/management_ws.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/playground.rs
  crates/mockforge-ui/src/handlers/voice.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/tests/playground_integration.rs
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/voice/VoiceInput.tsx
  crates/mockforge-ui/ui/src/pages/VoicePage.tsx
  tests/tests/advanced_features_integration.rs
  tests/tests/chaos_lab_integration.rs
  tests/tests/mockai_openapi_generation_integration.rs
  tests/tests/mockai_rule_explanations_integration.rs
  tests/tests/scenario_marketplace_integration.rs
Due: rust-fmt, cargo-audit

Add Reality Continuum feature for blending mock and real data sources
  config.example.yaml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/priority_handler.rs
  crates/mockforge-core/src/reality_continuum/blender.rs
  crates/mockforge-core/src/reality_continuum/config.rs
  crates/mockforge-core/src/reality_continuum/engine.rs
  crates/mockforge-core/src/reality_continuum/merge_strategy.rs
  crates/mockforge-core/src/reality_continuum/mod.rs
  crates/mockforge-core/src/reality_continuum/schedule.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/routes.rs
  docs/REALITY_CONTINUUM.md
  tests/tests/reality_continuum.rs
Due: rust-fmt

Implement Smart Personas feature for consistent cross-endpoint data generation
  SMART_PERSONAS_CODE_REVIEW.md
  crates/mockforge-data/src/consistency.rs
  crates/mockforge-data/src/integration_tests.rs
  crates/mockforge-data/src/lib.rs
  crates/mockforge-data/src/mock_generator.rs
  crates/mockforge-data/src/persona.rs
  crates/mockforge-data/src/persona_backstory.rs
  crates/mockforge-data/src/persona_templates.rs
Due: rust-fmt

feat: Complete Generative Schema Mode and achieve 100% roadmap completion
  ROADMAP_100_PERCENT_COMPLETE.md
  ROADMAP_VERIFICATION_AND_PLAN.md
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/generative_schema/ecosystem_generator.rs
  crates/mockforge-core/src/generative_schema/entity_inference.rs
  crates/mockforge-core/src/generative_schema/mod.rs
  crates/mockforge-core/src/generative_schema/naming_rules.rs
  crates/mockforge-core/src/generative_schema/route_generator.rs
  crates/mockforge-core/src/generative_schema/schema_builder.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/priority_handler.rs
Due: rust-fmt

chore: bump version to 0.2.8
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-audit

Fix file server route syntax for Axum 0.8 compatibility
  crates/mockforge-http/src/file_server.rs
Due: rust-fmt

Fix Axum 0.8 route syntax in state_machine_api.rs
  crates/mockforge-http/src/state_machine_api.rs
Due: rust-fmt

Implement organization management endpoints
  crates/mockforge-registry-server/IMPLEMENTATION_COMPLETE.md
  crates/mockforge-registry-server/OUTSTANDING_ITEMS.md
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/organization_settings.rs
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/src/models/mod.rs
  crates/mockforge-registry-server/src/routes.rs
Due: none

fix: resolve all compilation errors across workspace
  Cargo.lock
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-core/src/config.rs
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-ui/build.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/admin.rs
  crates/mockforge-ui/src/handlers/assets.rs
  crates/mockforge-ui/src/handlers/chains.rs
  crates/mockforge-ui/src/routes.rs
  desktop-app/Cargo.toml
  desktop-app/icons/icon.icns
  desktop-app/icons/icon.ico
  desktop-app/src/commands.rs
  desktop-app/src/main.rs
  desktop-app/src/notifications.rs
  desktop-app/src/shortcuts.rs
  desktop-app/src/system_tray.rs
  desktop-app/tauri.conf.json
  tests/tests/mockai_openapi_generation_integration.rs
Due: rust-fmt, cargo-audit

fix: update all test files for new function signatures
  Cargo.lock
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/speech_to_text.rs
  crates/mockforge-ui/tests/admin_handlers.rs
  crates/mockforge-ui/tests/admin_ui_build.rs
  crates/mockforge-ui/tests/admin_ui_integration_comprehensive.rs
  crates/mockforge-ui/tests/integration.rs
  crates/mockforge-ui/tests/playground_integration.rs
  crates/mockforge-ui/tests/smoke.rs
  crates/mockforge-ui/tests/static_files.rs
Due: rust-fmt, cargo-audit

feat: Smart Personas with array generation and relationship inference
  Dockerfile
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/openapi/response.rs
  crates/mockforge-core/src/reality_continuum/blender.rs
  crates/mockforge-http/src/lib.rs
Due: rust-fmt

fix: implement custom routes, template expansion, latency injection, and init improvements
  crates/mockforge-cli/src/main.rs
  crates/mockforge-http/src/lib.rs
Due: rust-fmt

security: Upgrade wasmtime to 36.0.3 to fix RUSTSEC-2025-0118
  Cargo.lock
  crates/mockforge-plugin-core/Cargo.toml
  crates/mockforge-plugin-core/src/runtime.rs
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-loader/src/runtime_adapter.rs
  crates/mockforge-plugin-loader/src/sandbox.rs
  crates/mockforge-plugin-sdk/Cargo.toml
Due: rust-fmt, cargo-audit

Format code: Apply rustfmt and whitespace cleanup
  CHANGELOG.md
  crates/mockforge-http/src/auth/jwks_converter.rs
  crates/mockforge-http/src/auth/oidc.rs
  crates/mockforge-http/src/auth/risk_engine.rs
  crates/mockforge-http/src/auth/token_lifecycle.rs
  crates/mockforge-http/src/handlers/auth_helpers.rs
  crates/mockforge-http/src/handlers/consent.rs
  crates/mockforge-http/src/handlers/oauth2_server.rs
  crates/mockforge-http/src/handlers/risk_simulation.rs
  crates/mockforge-http/src/handlers/token_lifecycle.rs
  docs/CONSENT_RISK_SIMULATION.md
  docs/OIDC_SIMULATION.md
  docs/TOKEN_LIFECYCLE_SCENARIOS.md
  scripts/publish-crates.sh
Due: rust-fmt

feat: Implement Time Travel & Snapshots and Frontend X-Ray Mode
  Cargo.lock
  browser-extension/src/content/content-script.ts
  browser-extension/src/content/xray-overlay.ts
  browser-extension/src/devtools/panel.tsx
  browser-extension/src/devtools/xray-panel.tsx
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/snapshot_commands.rs
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/behavioral_cloning/edge_amplifier.rs
  crates/mockforge-core/src/behavioral_cloning/mod.rs
  crates/mockforge-core/src/behavioral_cloning/probabilistic_model.rs
  crates/mockforge-core/src/behavioral_cloning/sequence_learner.rs
  crates/mockforge-core/src/behavioral_cloning/types.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/consistency/adapters/mod.rs
  crates/mockforge-core/src/consistency/engine.rs
  crates/mockforge-core/src/consistency/mod.rs
  crates/mockforge-core/src/consistency/types.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/snapshots/manager.rs
  crates/mockforge-core/src/snapshots/mod.rs
  crates/mockforge-core/src/snapshots/types.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/consistency/http_adapter.rs
  crates/mockforge-http/src/consistency/middleware.rs
  crates/mockforge-http/src/consistency/mod.rs
  crates/mockforge-http/src/handlers/behavioral_cloning.rs
  crates/mockforge-http/src/handlers/consistency.rs
  crates/mockforge-http/src/handlers/mod.rs
  crates/mockforge-http/src/handlers/snapshots.rs
  crates/mockforge-http/src/handlers/xray.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/middleware/behavioral_cloning.rs
  crates/mockforge-http/src/middleware/mod.rs
  crates/mockforge-recorder/src/database.rs
Due: rust-fmt, cargo-audit

feat: implement AI-Native Interface Deepening features
  crates/mockforge-cli/src/voice_commands.rs
  crates/mockforge-core/src/failure_analysis/context_collector.rs
  crates/mockforge-core/src/failure_analysis/mod.rs
  crates/mockforge-core/src/failure_analysis/narrative_generator.rs
  crates/mockforge-core/src/failure_analysis/types.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/voice/command_parser.rs
  crates/mockforge-core/src/voice/hook_transpiler.rs
  crates/mockforge-core/src/voice/mod.rs
  crates/mockforge-core/src/voice/workspace_scenario_generator.rs
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/failure_analysis.rs
  crates/mockforge-ui/src/handlers/voice.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/src/components/failure/NarrativeView.tsx
  crates/mockforge-ui/ui/src/components/hooks/NLHookEditor.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceScenarioCreator.tsx
  crates/mockforge-ui/ui/src/pages/VoicePage.tsx
Due: rust-fmt

feat: implement Scenario Studio Visual Editor with React Flow
  crates/mockforge-core/src/scenario_studio/flow.rs
  crates/mockforge-core/src/scenario_studio/mod.rs
  crates/mockforge-core/src/scenario_studio/types.rs
  crates/mockforge-http/src/handlers/scenario_studio.rs
  crates/mockforge-ui/ui/src/components/scenario-studio/ApiCallNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/ConditionNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/DelayNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/FlowExecutor.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/FlowPropertiesPanel.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/LoopNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/ParallelNode.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStudioPage.tsx
Due: rust-fmt

feat: Implement Drift Budget & GitOps for API Sync + AI Contract Diff
  config.example.yaml
  crates/mockforge-core/src/consistency/adapters/mod.rs
  crates/mockforge-core/src/consistency/engine.rs
  crates/mockforge-core/src/consistency/mod.rs
  crates/mockforge-core/src/consistency/persona_graph_response.rs
  crates/mockforge-core/src/consistency/types.rs
  crates/mockforge-core/src/contract_drift/breaking_change_detector.rs
  crates/mockforge-core/src/contract_drift/budget_engine.rs
  crates/mockforge-core/src/contract_drift/field_tracking.rs
  crates/mockforge-core/src/contract_drift/mod.rs
  crates/mockforge-core/src/contract_drift/types.rs
  crates/mockforge-core/src/drift_gitops/handler.rs
  crates/mockforge-core/src/drift_gitops/mod.rs
  crates/mockforge-core/src/failure_analysis/context_collector.rs
  crates/mockforge-core/src/incidents/integrations/jira.rs
  crates/mockforge-core/src/incidents/integrations/slack.rs
  crates/mockforge-core/src/incidents/manager.rs
  crates/mockforge-core/src/incidents/mod.rs
  crates/mockforge-core/src/incidents/types.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/voice/workspace_scenario_generator.rs
  crates/mockforge-core/src/workspace.rs
  crates/mockforge-http/migrations/20250127000002_drift_budget_enhancements.sql
  crates/mockforge-http/src/handlers/consistency.rs
  crates/mockforge-http/src/handlers/drift_budget.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-recorder/src/lib.rs
  crates/mockforge-recorder/src/sync.rs
  crates/mockforge-recorder/src/sync_drift.rs
  docs/DRIFT_BUDGETS.md
Due: rust-fmt

feat: Complete Behavioral Cloning v1 implementation and refactor architecture
  crates/mockforge-cli/src/flow_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/behavioral_cloning/edge_amplifier.rs
  crates/mockforge-core/src/behavioral_cloning/mod.rs
  crates/mockforge-core/src/behavioral_cloning/probabilistic_model.rs
  crates/mockforge-core/src/behavioral_cloning/sequence_learner.rs
  crates/mockforge-core/src/behavioral_cloning/types.rs
  crates/mockforge-core/src/priority_handler.rs
  crates/mockforge-http/src/handlers/behavioral_cloning.rs
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-recorder/src/behavioral_cloning/flow_compiler.rs
  crates/mockforge-recorder/src/behavioral_cloning/flow_recorder.rs
  crates/mockforge-recorder/src/behavioral_cloning/mod.rs
  crates/mockforge-recorder/src/behavioral_cloning/replay_engine.rs
  crates/mockforge-recorder/src/behavioral_cloning/scenario_types.rs
  crates/mockforge-recorder/src/behavioral_cloning/storage.rs
  crates/mockforge-recorder/src/database.rs
  crates/mockforge-recorder/src/lib.rs
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/behavioral_cloning.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/behavioral-cloning/CompileFlowModal.tsx
  crates/mockforge-ui/ui/src/components/behavioral-cloning/FlowDetails.tsx
  crates/mockforge-ui/ui/src/components/behavioral-cloning/FlowList.tsx
  crates/mockforge-ui/ui/src/components/behavioral-cloning/ScenarioList.tsx
  crates/mockforge-ui/ui/src/components/behavioral-cloning/TagFlowModal.tsx
  crates/mockforge-ui/ui/src/components/layout/Navigation.tsx
  crates/mockforge-ui/ui/src/components/workspace/FidelityScore.tsx
  crates/mockforge-ui/ui/src/pages/BehavioralCloningPage.tsx
  crates/mockforge-ui/ui/src/services/api.ts
  crates/mockforge-ui/ui/src/types/index.ts
  docs/BEHAVIORAL_CLONING.md
Due: rust-fmt

fix: use proper vosk API by matching on CompleteResult enum
  crates/mockforge-cli/src/speech_to_text.rs
Due: rust-fmt

feat: Enhance Reality feature with observability, cross-protocol consistency, and time-aware lifecycles
  crates/mockforge-core/src/consistency/mod.rs
  crates/mockforge-core/src/consistency/state_model_registry.rs
  crates/mockforge-core/src/reality_continuum/config.rs
  crates/mockforge-core/src/reality_continuum/mod.rs
  crates/mockforge-core/src/reality_continuum/response_trace.rs
  crates/mockforge-core/src/request_logger.rs
  crates/mockforge-data/src/lib.rs
  crates/mockforge-data/src/persona_lifecycle.rs
  crates/mockforge-data/src/persona_lifecycle_response.rs
  crates/mockforge-http/src/consistency/middleware.rs
  crates/mockforge-http/src/consistency/mod.rs
  crates/mockforge-http/src/consistency/response_enrichment.rs
  crates/mockforge-http/src/handlers/consistency.rs
  crates/mockforge-http/src/handlers/risk_simulation.rs
  crates/mockforge-http/src/request_logging.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/playground.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/src/time_travel_handlers.rs
  crates/mockforge-ui/ui/src/components/playground/ResponsePanel.tsx
  crates/mockforge-ui/ui/src/components/reality/RealityTracePanel.tsx
  crates/mockforge-ui/ui/src/components/reality/ResponseTraceModal.tsx
  crates/mockforge-ui/ui/src/components/time-travel/TimeTravelWidget.tsx
  crates/mockforge-ui/ui/src/hooks/useApi.ts
  crates/mockforge-ui/ui/src/services/api.ts
  examples/scenarios/e2e-persona-flow/README.md
  examples/scenarios/e2e-persona-flow/config.yaml
  examples/scenarios/e2e-persona-flow/openapi.yaml
  examples/scenarios/e2e-persona-flow/scenario.yaml
Due: rust-fmt
