Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

ci: run Registry E2E on hosted runners
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: replace unpullable MinIO images with pgsty/minio
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-server/docker-compose.yml
  docker-compose.e2e.yml
  docker-compose.rls-gate.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: run Registry E2E on hosted runners (#1078)
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-server/docker-compose.yml
  docker-compose.e2e.yml
  docker-compose.rls-gate.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): make pnpm type-check build every tsconfig project
  CLAUDE.md
  crates/mockforge-ui/ui/package.json
  crates/mockforge-ui/ui/tsconfig.json
  crates/mockforge-ui/ui/tsconfig.node.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): type-correct unit test fixtures and mocks
  crates/mockforge-ui/ui/src/components/__tests__/RunLiveTail.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/error/ErrorBoundary.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/fixtures/FixtureEditor.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/logs/Logs.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/services/Services.test.tsx
  crates/mockforge-ui/ui/src/components/playground/__tests__/CodeSnippetGenerator.test.tsx
  crates/mockforge-ui/ui/src/components/state-machine/__tests__/StateNode.test.tsx
  crates/mockforge-ui/ui/src/components/workspace/__tests__/EnvironmentManager.test.tsx
  crates/mockforge-ui/ui/src/components/workspace/__tests__/ResponseHistory.test.tsx
  crates/mockforge-ui/ui/src/components/workspace/__tests__/SyncStatusIndicator.test.tsx
  crates/mockforge-ui/ui/src/hooks/__tests__/useHistory.test.ts
  crates/mockforge-ui/ui/src/pages/__tests__/ChainsPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/ConfigPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/DashboardPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/LogsPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/PluginsPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/TestingPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/WorkspacesPage.test.tsx
  crates/mockforge-ui/ui/src/stores/__tests__/useAuthStore.test.ts
  crates/mockforge-ui/ui/src/stores/__tests__/usePlaygroundStore.test.ts
  crates/mockforge-ui/ui/src/utils/__tests__/curlGenerator.test.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): add tsconfig.test.json and drop unused imports in tests
  crates/mockforge-ui/ui/src/components/__tests__/autocomplete/Autocomplete.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/dashboard/Dashboard.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/error/ErrorBoundary.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/fixtures/FixtureEditor.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/layout/Layout.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/logs/Logs.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/marketplace/MarketplaceTabs.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/metrics/Metrics.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/plugins/Plugins.test.tsx
  crates/mockforge-ui/ui/src/components/__tests__/services/Services.test.tsx
  crates/mockforge-ui/ui/src/components/reality/__tests__/RealitySlider.test.tsx
  crates/mockforge-ui/ui/src/components/state-machine/__tests__/StateNode.test.tsx
  crates/mockforge-ui/ui/src/hooks/__tests__/useApi.test.ts
  crates/mockforge-ui/ui/src/hooks/__tests__/useHistory.test.ts
  crates/mockforge-ui/ui/src/pages/__tests__/LogsPage.test.tsx
  crates/mockforge-ui/ui/src/test/setup.ts
  crates/mockforge-ui/ui/tsconfig.test.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): align legal sub-processor list with production infrastructure
  crates/mockforge-ui/ui/src/content/legal/dpa.md
  crates/mockforge-ui/ui/src/content/legal/index.ts
  crates/mockforge-ui/ui/src/content/legal/privacy.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): post-login redirect, public /legal pages, pillar chart loading, billing plan status
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/__tests__/AppRouting.test.tsx
  crates/mockforge-ui/ui/src/components/analytics/PillarUsageChart.tsx
  crates/mockforge-ui/ui/src/components/analytics/__tests__/PillarAnalytics.test.tsx
  crates/mockforge-ui/ui/src/components/auth/AuthGuard.tsx
  crates/mockforge-ui/ui/src/components/auth/HelpSupport.tsx
  crates/mockforge-ui/ui/src/components/auth/LoginForm.tsx
  crates/mockforge-ui/ui/src/components/auth/PostAuthRedirect.tsx
  crates/mockforge-ui/ui/src/components/cookie/CookieConsentBanner.tsx
  crates/mockforge-ui/ui/src/content/legal/dpa.md
  crates/mockforge-ui/ui/src/content/legal/index.ts
  crates/mockforge-ui/ui/src/content/legal/privacy.md
  crates/mockforge-ui/ui/src/content/legal/terms.md
  crates/mockforge-ui/ui/src/hooks/usePillarAnalytics.ts
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
  crates/mockforge-ui/ui/src/pages/DPAPage.tsx
  crates/mockforge-ui/ui/src/pages/LegalDocumentPage.tsx
  crates/mockforge-ui/ui/src/pages/PillarAnalyticsPage.tsx
  crates/mockforge-ui/ui/src/pages/PrivacyPage.tsx
  crates/mockforge-ui/ui/src/pages/TermsPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/BillingPage.test.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/utils/__tests__/postAuthRedirect.test.ts
  crates/mockforge-ui/ui/src/utils/billingSubscription.ts
  crates/mockforge-ui/ui/src/utils/mode.ts
  crates/mockforge-ui/ui/src/utils/postAuthRedirect.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): narrow legal at-rest encryption claims to Cloudflare R2
  crates/mockforge-ui/ui/src/content/legal/dpa.md
  crates/mockforge-ui/ui/src/content/legal/privacy.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

test(ui): drop unused React imports now that type-check is enforced
  crates/mockforge-ui/ui/src/components/analytics/__tests__/PillarAnalytics.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/BillingPage.test.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): launch polish for observability, status, org, plugins, email verification
  crates/mockforge-registry-server/src/handlers/status.rs
  crates/mockforge-registry-server/src/handlers/verification.rs
  crates/mockforge-ui/ui/src/components/auth/AccountSettings.tsx
  crates/mockforge-ui/ui/src/components/auth/UserProfile.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/marketplace/MarketplaceTabs.tsx
  crates/mockforge-ui/ui/src/components/plugins/CloudPluginsBetaCta.tsx
  crates/mockforge-ui/ui/src/pages/CloudContractPage.tsx
  crates/mockforge-ui/ui/src/pages/CloudPluginsPage.tsx
  crates/mockforge-ui/ui/src/pages/CloudWorldStateView.tsx
  crates/mockforge-ui/ui/src/pages/EmailVerificationPage.tsx
  crates/mockforge-ui/ui/src/pages/NotificationChannelsPage.tsx
  crates/mockforge-ui/ui/src/pages/ObservabilityPage.tsx
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
  crates/mockforge-ui/ui/src/pages/PluginRegistryPage.tsx
  crates/mockforge-ui/ui/src/pages/StatusPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudObservability.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): post-login redirect, public /legal pages, pillar chart loading, billing plan status (#1073)
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/__tests__/AppRouting.test.tsx
  crates/mockforge-ui/ui/src/components/analytics/PillarUsageChart.tsx
  crates/mockforge-ui/ui/src/components/analytics/__tests__/PillarAnalytics.test.tsx
  crates/mockforge-ui/ui/src/components/auth/AuthGuard.tsx
  crates/mockforge-ui/ui/src/components/auth/HelpSupport.tsx
  crates/mockforge-ui/ui/src/components/auth/LoginForm.tsx
  crates/mockforge-ui/ui/src/components/auth/PostAuthRedirect.tsx
  crates/mockforge-ui/ui/src/components/cookie/CookieConsentBanner.tsx
  crates/mockforge-ui/ui/src/content/legal/dpa.md
  crates/mockforge-ui/ui/src/content/legal/index.ts
  crates/mockforge-ui/ui/src/content/legal/privacy.md
  crates/mockforge-ui/ui/src/content/legal/terms.md
  crates/mockforge-ui/ui/src/hooks/usePillarAnalytics.ts
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
  crates/mockforge-ui/ui/src/pages/DPAPage.tsx
  crates/mockforge-ui/ui/src/pages/LegalDocumentPage.tsx
  crates/mockforge-ui/ui/src/pages/PillarAnalyticsPage.tsx
  crates/mockforge-ui/ui/src/pages/PrivacyPage.tsx
  crates/mockforge-ui/ui/src/pages/TermsPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/BillingPage.test.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/utils/__tests__/postAuthRedirect.test.ts
  crates/mockforge-ui/ui/src/utils/billingSubscription.ts
  crates/mockforge-ui/ui/src/utils/mode.ts
  crates/mockforge-ui/ui/src/utils/postAuthRedirect.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): launch polish for observability, status, org, plugins, email verification (#1074)
  crates/mockforge-registry-server/src/handlers/status.rs
  crates/mockforge-registry-server/src/handlers/verification.rs
  crates/mockforge-ui/ui/src/components/auth/AccountSettings.tsx
  crates/mockforge-ui/ui/src/components/auth/UserProfile.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/marketplace/MarketplaceTabs.tsx
  crates/mockforge-ui/ui/src/components/plugins/CloudPluginsBetaCta.tsx
  crates/mockforge-ui/ui/src/pages/CloudContractPage.tsx
  crates/mockforge-ui/ui/src/pages/CloudPluginsPage.tsx
  crates/mockforge-ui/ui/src/pages/CloudWorldStateView.tsx
  crates/mockforge-ui/ui/src/pages/EmailVerificationPage.tsx
  crates/mockforge-ui/ui/src/pages/NotificationChannelsPage.tsx
  crates/mockforge-ui/ui/src/pages/ObservabilityPage.tsx
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
  crates/mockforge-ui/ui/src/pages/PluginRegistryPage.tsx
  crates/mockforge-ui/ui/src/pages/StatusPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudObservability.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): register Scenario Studio node types under backend snake_case step_type
  crates/mockforge-ui/ui/src/components/scenario-studio/ApiCallNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/FlowPropertiesPanel.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/__tests__/stepTypes.test.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/stepTypes.ts
  crates/mockforge-ui/ui/src/pages/ScenarioStudioPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): register Scenario Studio node types under backend snake_case step_type (#1080)
  crates/mockforge-ui/ui/src/components/scenario-studio/ApiCallNode.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/FlowPropertiesPanel.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/__tests__/stepTypes.test.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/stepTypes.ts
  crates/mockforge-ui/ui/src/pages/ScenarioStudioPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry,ui,docs): plugin search 500 on popular/security sort, working top-bar page search, label experimental docs
  book/src/SUMMARY.md
  book/src/user-guide/deceptive-deploys.md
  book/src/user-guide/voice-llm-interface.md
  crates/mockforge-registry-core/src/models/plugin.rs
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
  crates/mockforge-ui/ui/e2e/dashboard-deployed.spec.ts
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/layout/__tests__/AppShellGlobalSearch.test.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry,ui,docs): plugin search 500 on popular/security sort, working top-bar page search, label experimental docs (#1082)
  book/src/SUMMARY.md
  book/src/user-guide/deceptive-deploys.md
  book/src/user-guide/voice-llm-interface.md
  crates/mockforge-registry-core/src/models/plugin.rs
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
  crates/mockforge-ui/ui/e2e/dashboard-deployed.spec.ts
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/layout/__tests__/AppShellGlobalSearch.test.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(ui): fix AppShellGlobalSearch type errors caught by tsconfig.test (#1082)
  crates/mockforge-ui/ui/src/components/layout/__tests__/AppShellGlobalSearch.test.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

test(ui): fix AppShellGlobalSearch type errors caught by tsconfig.test (#1082) (#1084)
  crates/mockforge-ui/ui/src/components/layout/__tests__/AppShellGlobalSearch.test.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): redesign the authenticated app shell and dashboard
  crates/mockforge-ui/ui/src/components/__tests__/layout/Layout.test.tsx
  crates/mockforge-ui/ui/src/components/auth/HelpSupport.tsx
  crates/mockforge-ui/ui/src/components/auth/UserProfile.tsx
  crates/mockforge-ui/ui/src/components/dashboard/ServerTable.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/layout/CommandPalette.tsx
  crates/mockforge-ui/ui/src/components/layout/ConnectionStatus.tsx
  crates/mockforge-ui/ui/src/components/layout/Header.tsx
  crates/mockforge-ui/ui/src/components/layout/Sidebar.tsx
  crates/mockforge-ui/ui/src/components/layout/WorkspaceSwitcher.tsx
  crates/mockforge-ui/ui/src/components/layout/__tests__/AppShellGlobalSearch.test.tsx
  crates/mockforge-ui/ui/src/components/layout/navigation.ts
  crates/mockforge-ui/ui/src/components/metrics/LatencyHistogram.tsx
  crates/mockforge-ui/ui/src/components/reality/RealitySlider.tsx
  crates/mockforge-ui/ui/src/components/services/ServicesPanel.tsx
  crates/mockforge-ui/ui/src/components/time-travel/TimeTravelWidget.tsx
  crates/mockforge-ui/ui/src/components/ui/Card.tsx
  crates/mockforge-ui/ui/src/components/ui/Section.tsx
  crates/mockforge-ui/ui/src/components/ui/ThemeToggle.tsx
  crates/mockforge-ui/ui/src/components/ui/button.tsx
  crates/mockforge-ui/ui/src/components/ui/design-system/Button.tsx
  crates/mockforge-ui/ui/src/components/ui/design-system/Card.tsx
  crates/mockforge-ui/ui/src/components/ui/design-system/PageHeader.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/index.css
  crates/mockforge-ui/ui/src/pages/DashboardPage.tsx
  crates/mockforge-ui/ui/src/pages/ServicesPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/DashboardPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/ServicesPage.test.tsx
  crates/mockforge-ui/ui/src/themes.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(core,http,ui): live response overrides in mockforge serve
  CONFIG.md
  book/src/configuration/advanced.md
  book/src/configuration/files.md
  book/src/user-guide/http-mocking/custom-responses.md
  crates/mockforge-cli/src/config_commands.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/config/mod.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/openapi_rewriter.rs
  crates/mockforge-core/src/overrides.rs
  crates/mockforge-core/src/overrides/loader.rs
  crates/mockforge-core/src/overrides/matcher.rs
  crates/mockforge-core/src/overrides/models.rs
  crates/mockforge-core/tests/overrides_edge_cases.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/op_middleware.rs
  crates/mockforge-http/src/overrides.rs
  crates/mockforge-http/tests/overrides_live_e2e.rs
  crates/mockforge-openapi/src/lib.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/response_rewriter.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/overrides_api.rs
  docs/ENVIRONMENT_VARIABLES.md
  docs/plans/response-overrides.md
  overrides/README.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): clear typos Spell Check on new Spanish i18n strings
  .typos.toml
  crates/mockforge-ui/ui/src/i18n/translations.ts
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

ci(smoke): point production smoke at api.mockforge.dev and erase its account (#1087)
  .github/workflows/production-smoke.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(deps): bump wasmtime 36.0.14 -> 36.0.16 to clear RUSTSEC-2026-0314/0316
  Cargo.lock
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

fix(deps): bump wasmtime/wasmtime-wasi to 36.0.16 for RUSTSEC-2026-0316 and RUSTSEC-2026-0314
  Cargo.lock
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

fix(deps): bump wasmtime/wasmtime-wasi to 36.0.16 for RUSTSEC-2026-0316 and RUSTSEC-2026-0314 (#1092)
  Cargo.lock
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

fix(desktop): pass the overrides handle to build_router_with_chains_and_multi_tenant
  desktop-app/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): per-hosted-mock response override rules, pushed live over 6PN
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/hosted_mock_overrides.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/resilience.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/tests/hosted_mock_overrides_e2e.rs
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): Overrides page for response override rules
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/layout/__tests__/AppShellGlobalSearch.test.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/OverridesPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/OverridesPage.test.tsx
  crates/mockforge-ui/ui/src/pages/overrides/__tests__/ruleDraft.test.ts
  crates/mockforge-ui/ui/src/pages/overrides/ruleDraft.ts
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/services/api/overrides.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(core,http,ui): live response overrides in mockforge serve (#1088)
  CONFIG.md
  book/src/configuration/advanced.md
  book/src/configuration/files.md
  book/src/user-guide/http-mocking/custom-responses.md
  crates/mockforge-cli/src/config_commands.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/config/mod.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/openapi_rewriter.rs
  crates/mockforge-core/src/overrides.rs
  crates/mockforge-core/src/overrides/loader.rs
  crates/mockforge-core/src/overrides/matcher.rs
  crates/mockforge-core/src/overrides/models.rs
  crates/mockforge-core/tests/overrides_edge_cases.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/op_middleware.rs
  crates/mockforge-http/src/overrides.rs
  crates/mockforge-http/tests/overrides_live_e2e.rs
  crates/mockforge-openapi/src/lib.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/response_rewriter.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/overrides_api.rs
  desktop-app/src/server.rs
  docs/ENVIRONMENT_VARIABLES.md
  docs/plans/response-overrides.md
  overrides/README.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): Overrides page for response override rules (#1095)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/layout/__tests__/AppShellGlobalSearch.test.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/OverridesPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/OverridesPage.test.tsx
  crates/mockforge-ui/ui/src/pages/overrides/__tests__/ruleDraft.test.ts
  crates/mockforge-ui/ui/src/pages/overrides/ruleDraft.ts
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/services/api/overrides.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): per-hosted-mock response override rules, pushed live over 6PN (#1094)
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/hosted_mock_overrides.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/resilience.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/tests/hosted_mock_overrides_e2e.rs
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(release): v0.3.226
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): v0.3.226 (#1097)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(registry): drop audit_logs user FK so GDPR erase works for users with audit rows (#1087)
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-server/migrations/20250101000085_audit_logs_drop_user_fk.sql
  crates/mockforge-registry-server/tests/audit_integrity_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): GDPR erasure audit row records user_id only, not email (#1087)
  crates/mockforge-registry-server/src/handlers/gdpr.rs
  crates/mockforge-registry-server/tests/audit_integrity_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos
