Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

docs(registry): rewrite marketplace doc to match real Rust backend; fix plugin publish modal fetch (#667)
  crates/mockforge-ui/ui/src/components/marketplace/PublishPluginModal.tsx
  docs/PLUGIN_MARKETPLACE_PRODUCTION.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): OptionalAuthUser resolves bearer token on public routes (#724)
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/middleware/optional_auth.rs
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(tui,bench): export dedup + self-test coverage gaps (#79 round 16) (#723)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(http,ui): AMQP broker admin UI + management API (#682)
  Cargo.lock
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/builder.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-http/src/management/protocols.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/AmqpBrokerPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs(registry): rewrite marketplace doc to match real Rust backend; fix plugin publish modal fetch (#667) (#726)
  crates/mockforge-ui/ui/src/components/marketplace/PublishPluginModal.tsx
  docs/PLUGIN_MARKETPLACE_PRODUCTION.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): email channel accepts recipient arrays + CC/BCC/reply-to (#630) (#725)
  crates/mockforge-registry-server/src/email.rs
  crates/mockforge-registry-server/src/handlers/support.rs
  crates/mockforge-registry-server/src/workers/incident_dispatcher.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): OptionalAuthUser resolves bearer token on public routes (#724) (#727)
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/middleware/optional_auth.rs
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(http,ui): AMQP broker admin UI + management API (#682) (#728)
  Cargo.lock
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/builder.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-http/src/management/protocols.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/AmqpBrokerPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(tui,foundation,openapi,ui): clipboard copy + total_ok counter (#79 round 17.1)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-tui/Cargo.toml
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/conformance.rs
  crates/mockforge-ui/src/handlers.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

test(registry): green the registry-e2e suite (paid_flow + workspace_content)
  crates/mockforge-registry-server/tests/paid_flow_e2e.rs
  crates/mockforge-registry-server/tests/workspace_content_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(http,cli): wire Kafka admin API to the live broker (#682 follow-up)
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/builder.rs
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

feat(tui,foundation,openapi,ui): clipboard copy + total_ok counter (#79 round 17.1) (#729)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-tui/Cargo.toml
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/conformance.rs
  crates/mockforge-ui/src/handlers.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(mqtt,http): point MQTT admin API at the live SessionManager (#730)
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-http/src/management/protocols.rs
  crates/mockforge-mqtt/src/lib.rs
  crates/mockforge-mqtt/src/server.rs
  crates/mockforge-mqtt/src/session.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(registry): green the registry-e2e suite (paid_flow + workspace_content) (#734)
  crates/mockforge-registry-server/tests/paid_flow_e2e.rs
  crates/mockforge-registry-server/tests/workspace_content_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(bench): schema-driven request-body mutator for self-test (#79 round 17.2)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/schema_mutator.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(observability): serve the global metrics registry at /metrics (#743)
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-observability/src/lib.rs
  crates/mockforge-observability/src/prometheus/metrics.rs
  crates/mockforge-observability/src/prometheus/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): hosted-mock overage keeps responding (soft quota) + 100% alert (#748)
  crates/mockforge-registry-server/src/deployment/router.rs
  crates/mockforge-registry-server/src/email.rs
  crates/mockforge-registry-server/src/workers/usage_threshold_checker.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(bench): schema-driven request-body mutator for self-test (#79 round 17.2) (#731)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/schema_mutator.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(registry): gate Admin role to the Team plan (#749)
  Cargo.lock
  crates/mockforge-registry-server/src/handlers/organizations.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

ci(registry-e2e): debug build instead of --release so the lane can survive the shared runner
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix: clear unused_qualifications errors failing the --all-features clippy ratchet on main
  crates/mockforge-bench/src/command.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-ui/src/handlers.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): annual billing support — checkout routing + interval surfacing (#747)
  Cargo.lock
  crates/mockforge-registry-server/src/config.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  docs/ENVIRONMENT_VARIABLES.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

fix(http,cli): wire Kafka admin API to the live broker (#682 follow-up) (#735)
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/builder.rs
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

feat(ui): monthly/annual billing toggle on Billing + Pricing pages (#747)
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
  crates/mockforge-ui/ui/src/pages/PricingPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(mqtt,http): point MQTT admin API at the live SessionManager (#730) (#739)
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-http/src/management/protocols.rs
  crates/mockforge-mqtt/src/lib.rs
  crates/mockforge-mqtt/src/server.rs
  crates/mockforge-mqtt/src/session.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): gate organization plan changes
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/tests/workspace_content_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(observability): export Kafka/AMQP/MQTT broker metrics to Prometheus + dashboards (#684)
  README.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-observability/src/lib.rs
  crates/mockforge-observability/src/prometheus/metrics.rs
  crates/mockforge-observability/src/prometheus/mod.rs
  crates/mockforge-ui/src/handlers.rs
  grafana/README.md
  grafana/dashboards/mockforge-async-protocols.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(observability): export Kafka/AMQP/MQTT broker metrics to Prometheus + dashboards (#684) (#769)
  README.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-observability/src/lib.rs
  crates/mockforge-observability/src/prometheus/metrics.rs
  crates/mockforge-observability/src/prometheus/mod.rs
  crates/mockforge-ui/src/handlers.rs
  grafana/README.md
  grafana/dashboards/mockforge-async-protocols.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

ci(registry-e2e): debug build instead of --release so the lane can survive the shared runner (#765)
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): hosted-mock overage keeps responding (soft quota) + 100% alert (#748) (#762)
  crates/mockforge-registry-server/src/deployment/router.rs
  crates/mockforge-registry-server/src/email.rs
  crates/mockforge-registry-server/src/workers/usage_threshold_checker.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): gate Admin role to the Team plan (#749) (#763)
  Cargo.lock
  crates/mockforge-registry-server/src/handlers/organizations.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

feat(registry,ui): annual billing — backend routing + monthly/annual toggle (#747) (#767)
  crates/mockforge-registry-server/src/config.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
  crates/mockforge-ui/ui/src/pages/PricingPage.tsx
  docs/ENVIRONMENT_VARIABLES.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(sso): design spec for SSO completion — SAML login loop + OIDC (#746) [skip ci]
  docs/superpowers/specs/2026-05-30-sso-completion-design.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(registry-e2e): make the lane required-safe via a skip-aware gate
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(sso): implementation plan for SSO completion (#746) [skip ci]
  docs/superpowers/plans/2026-05-30-sso-completion.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): add email_domain to sso_configurations for SSO discovery (#746)
  crates/mockforge-registry-server/migrations/20250101000079_sso_email_domain.sql
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(registry-e2e): make the lane required-safe via a skip-aware gate (#771)
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(bench): security probes in conformance self-test (#79 round 17.3)
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
