Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit, cargo-test

.pre-commit-config.yaml:

repos:
  # Basic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^book/
      - id: end-of-file-fixer
        exclude: ^book/
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # Rust hooks
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: clippy
        args: [--all-targets, --all-features, --, -D, warnings]
      - id: cargo-check

  # Custom fmt hook that works with individual files
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust fmt
        entry: bash -c 'if [ $# -eq 0 ]; then cargo fmt --check; else cargo fmt --check -- "$@"; fi'
        language: system
        files: \.(rs)$
        exclude: ^(target/|book/)
        pass_filenames: true

  # Spell check
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.20
    hooks:
      - id: typos
        exclude: ^(book/|target/|\.git/)

  # Security audit
  - repo: local
    hooks:
      - id: cargo-audit
        name: cargo audit
        entry: cargo
        args: [audit]
        language: system
        pass_filenames: false
        files: ^Cargo\.(toml|lock)$

  # Test runner
  - repo: local
    hooks:
      - id: cargo-test
        name: cargo test
        entry: cargo
        args: [test, --workspace]
        language: system
        pass_filenames: false
        files: \.(rs|toml)$
        exclude: ^(target/|book/)

docs: clarify openapi_spec field as HTTP server spec file
  book/src/api/cli.md
  book/src/configuration/files.md
  config.dev.yaml
  config.example.yaml
  config.template.yaml
  crates/mockforge-core/src/config.rs
  demo-config.yaml
  examples/config-with-metrics.yaml
  mockforge.example.yaml
Due: rust-fmt, cargo-test

docs(cli): refactor sync command docs to daemon-focused model with best practices
  book/src/api/cli.md
  book/src/user-guide/sync.md
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/sync_watcher.rs
Due: rust-fmt, cargo-test

feat(cli): add configurable log level for tracing
  crates/mockforge-cli/src/main.rs
Due: rust-fmt, cargo-test

perf: add timing instrumentation to gRPC and HTTP server initialization
  STARTUP_LATENCY_ADDRESSED.md
  benchmarks/startup/CHANGES.md
  benchmarks/startup/README.md
  benchmarks/startup/STARTUP_LATENCY_ANALYSIS.md
  benchmarks/startup/generate_large_spec.py
  benchmarks/startup/large_api_100_endpoints.json
  benchmarks/startup/measure_startup.sh
  benchmarks/startup/proto/order_service.proto
  benchmarks/startup/proto/product_service.proto
  benchmarks/startup/proto/user_service.proto
  benchmarks/startup/quick_test.sh
  benchmarks/startup/test_timing.rs
  crates/mockforge-grpc/src/dynamic/mod.rs
  crates/mockforge-http/src/lib.rs
  examples/startup_benchmark.rs
Due: rust-fmt, cargo-test

feat(config): add max_request_logs to Config struct for memory management
  MEMORY_OPTIMIZATION_SUMMARY.md
  crates/mockforge-core/src/lib.rs
  crates/mockforge-plugin-core/src/runtime.rs
  docs/MEMORY_FOOTPRINT.md
Due: rust-fmt, cargo-test

feat: add async methods for key derivation and management
  crates/mockforge-core/src/encryption/derivation.rs
  crates/mockforge-core/src/encryption/key_management.rs
  crates/mockforge-core/src/request_scripting.rs
  crates/mockforge-ui/src/handlers.rs
  docs/CONCURRENCY_THREADING.md
Due: rust-fmt, cargo-test

feat: implement user authentication and authorization middleware
  crates/mockforge-ui/tests/admin_ui_integration_comprehensive.rs
  docs/ADMIN_UI_TEST_COVERAGE.md
Due: rust-fmt, cargo-test

feat: improve cross-platform compatibility for workspace sync
  CROSS_PLATFORM_IMPROVEMENTS.md
  SYNC_README.md
  crates/mockforge-core/src/workspace/sync.rs
  crates/mockforge-core/tests/sync_cross_platform_tests.rs
  docs/CROSS_PLATFORM_GUIDE.md
Due: rust-fmt, cargo-test

feat: update benchmark data structure and parsing logic
  .github/benchmarks/baseline.json
  .github/scripts/compare-benchmarks.js
  benchmark-output.txt
Due: none

feat: update dependencies in Cargo files
  Cargo.lock
  TEST_COVERAGE_REPORT.md
  crates/mockforge-core/tests/chain_execution_e2e_test.rs
  crates/mockforge-grpc/tests/grpc_server_e2e_test.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/tests/comprehensive_integration_test.rs
Due: rust-fmt, cargo-audit, cargo-test

feat(cli): add plugin support and refactor config structs
  CLI_COMPILATION_STATUS.md
  COMPILATION_FIXES.md
  Cargo.lock
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/plugin_commands.rs
  crates/mockforge-cli/tests/config_validation_tests.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/ai_handler.rs
  crates/mockforge-http/src/http_tracing_middleware.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-http/tests/failure_scenarios_test.rs
  docs/FAILURE_SCENARIO_TESTING.md
Due: rust-fmt, cargo-audit, cargo-test

build: add JWT and time-related dependencies to fuzz crate
  crates/mockforge-core/fuzz/Cargo.lock
Due: none

feat(ai): integrate AI response generation into OpenAPI routes
  AI_IMPLEMENTATION_STATUS.md
  AI_RESPONSE_IMPLEMENTATION_SUMMARY.md
  crates/mockforge-core/src/ai_response.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/openapi/response.rs
  crates/mockforge-core/src/openapi/route.rs
  docs/AI_RESPONSE_GENERATION.md
  examples/openapi-ai-chatbot.yaml
Due: rust-fmt, cargo-test

feat(chaos): enhance scenario management with recording and replay capabilities
  AI_GENERATOR_USAGE.md
  Cargo.lock
  PLUGIN_UPDATE_IMPLEMENTATION.md
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-chaos/src/api.rs
  crates/mockforge-chaos/src/lib.rs
  crates/mockforge-chaos/src/observability_api.rs
  crates/mockforge-chaos/src/trace_collector.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/registry_commands.rs
  crates/mockforge-core/src/openapi/response.rs
  crates/mockforge-core/src/openapi/route.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/rag_ai_generator.rs
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-plugin-loader/IMPLEMENTATION_SUMMARY.md
  crates/mockforge-plugin-loader/SIGNATURE_VERIFICATION.md
  crates/mockforge-plugin-loader/src/git.rs
  crates/mockforge-plugin-loader/src/installer.rs
  crates/mockforge-plugin-loader/src/lib.rs
  crates/mockforge-plugin-loader/src/metadata.rs
  crates/mockforge-plugin-loader/src/signature.rs
  crates/mockforge-plugin-loader/src/signature_gen.rs
  crates/mockforge-plugin-loader/tests/signature_tests.rs
  crates/mockforge-ui/src/handlers/health.rs
Due: rust-fmt, cargo-audit, cargo-test

feat(cli): enhance network and chaos engineering options in CLI
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/chaos_utilities.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/network_profiles.rs
  docs/CHAOS_ENGINE_INTEGRATION_GUIDE.md
  docs/NETWORK_PROFILES_AND_CHAOS.md
  examples/chaos_engine_integration.rs
Due: rust-fmt, cargo-test

feat(plugin): add response modifier plugin and enhance runtime limits
  Cargo.lock
  crates/mockforge-plugin-core/Cargo.toml
  crates/mockforge-plugin-core/src/lib.rs
  crates/mockforge-plugin-core/src/response.rs
  crates/mockforge-plugin-core/src/runtime.rs
  docs/plugins/development-guide.md
  templates/plugin-template/.gitignore
  templates/plugin-template/Cargo.toml
  templates/plugin-template/README.md
  templates/plugin-template/USAGE.md
  templates/plugin-template/cargo-generate.toml
  templates/plugin-template/plugin.yaml
  templates/plugin-template/src/lib.rs
Due: rust-fmt, cargo-audit, cargo-test

feat(docs): enhance deployment documentation and CI workflow for Helm charts
  .github/workflows/release.yml
  DOCKER.md
  deploy/README.md
  deploy/docker-compose.ci.yml
  deploy/docker-compose.minimal.yml
  deploy/docker-compose.production.yml
  deploy/nginx/nginx.conf
  docs/deployment/README.md
  docs/deployment/aws.md
  docs/deployment/azure.md
  docs/deployment/digitalocean.md
  docs/deployment/gcp.md
  helm/mockforge/README.md
  helm/mockforge/templates/NOTES.txt
  helm/mockforge/templates/_helpers.tpl
  helm/mockforge/templates/configmap.yaml
  helm/mockforge/templates/deployment.yaml
  helm/mockforge/templates/hpa.yaml
  helm/mockforge/templates/ingress.yaml
  helm/mockforge/templates/pvc.yaml
  helm/mockforge/templates/service.yaml
  helm/mockforge/templates/serviceaccount.yaml
  helm/mockforge/templates/servicemonitor.yaml
Due: none

feat(core): add intelligent behavior module to enhance functionality
  crates/mockforge-core/src/intelligent_behavior/behavior.rs
  crates/mockforge-core/src/intelligent_behavior/cache.rs
  crates/mockforge-core/src/intelligent_behavior/config.rs
  crates/mockforge-core/src/intelligent_behavior/context.rs
  crates/mockforge-core/src/intelligent_behavior/embedding_client.rs
  crates/mockforge-core/src/intelligent_behavior/llm_client.rs
  crates/mockforge-core/src/intelligent_behavior/memory.rs
  crates/mockforge-core/src/intelligent_behavior/mod.rs
  crates/mockforge-core/src/intelligent_behavior/rules.rs
  crates/mockforge-core/src/intelligent_behavior/session.rs
  crates/mockforge-core/src/intelligent_behavior/types.rs
  crates/mockforge-core/src/lib.rs
  docs/INTELLIGENT_BEHAVIOR_GUIDE.md
  docs/INTELLIGENT_BEHAVIOR_IMPLEMENTATION.md
  docs/INTELLIGENT_BEHAVIOR_SUMMARY.md
  docs/INTELLIGENT_MOCK_BEHAVIOR.md
  examples/intelligent-behavior-ecommerce.yaml
Due: rust-fmt, cargo-test

feat(cli): introduce AI-powered API specification suggestion feature
  Cargo.lock
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/intelligent_behavior/config.rs
  crates/mockforge-core/src/intelligent_behavior/context.rs
  crates/mockforge-core/src/intelligent_behavior/memory.rs
  crates/mockforge-core/src/intelligent_behavior/mod.rs
  crates/mockforge-core/src/intelligent_behavior/rules.rs
  crates/mockforge-core/src/intelligent_behavior/spec_suggestion.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/rag_ai_generator.rs
  docs/AI_SCHEMA_EXTRAPOLATION.md
  examples/ai-suggestions/README.md
  examples/ai-suggestions/endpoint-with-request.json
  examples/ai-suggestions/paths-only.json
  examples/ai-suggestions/single-endpoint.json
Due: rust-fmt, cargo-audit, cargo-test

feat(core): introduce time travel module and enhance templating context
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/templating.rs
  crates/mockforge-core/src/time_travel.rs
  crates/mockforge-core/src/time_travel_handler.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/src/time_travel_handlers.rs
  docs/TIME_TRAVEL.md
  examples/README-time-travel.md
  examples/time-travel-demo.sh
  examples/time-travel-demo.yaml
Due: rust-fmt, cargo-test

feat(mockforge): add load testing capabilities with mockforge-bench
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/README.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/error.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/reporter.rs
  crates/mockforge-bench/src/request_gen.rs
  crates/mockforge-bench/src/scenarios.rs
  crates/mockforge-bench/src/spec_parser.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  docs/BENCH_COMMAND_DESIGN.md
  docs/bench-command-examples.md
Due: rust-fmt, cargo-audit, cargo-test

feat(smtp): introduce SMTP server functionality for email testing
  Cargo.lock
  Cargo.toml
  README.md
  book/src/protocols/smtp/configuration.md
  book/src/protocols/smtp/examples.md
  book/src/protocols/smtp/fixtures.md
  book/src/protocols/smtp/getting-started.md
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/chain_execution.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/intelligent_behavior/behavior.rs
  crates/mockforge-core/src/protocol_abstraction/middleware.rs
  crates/mockforge-core/src/protocol_abstraction/mod.rs
  crates/mockforge-core/src/time_travel_handler.rs
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-smtp/README.md
  crates/mockforge-smtp/benches/smtp_benchmarks.rs
  crates/mockforge-smtp/src/fixtures.rs
  crates/mockforge-smtp/src/lib.rs
  crates/mockforge-smtp/src/server.rs
  crates/mockforge-smtp/src/spec_registry.rs
  crates/mockforge-smtp/tests/integration.rs
  docs/PROTOCOL_EXPANSION_ROADMAP.md
  docs/PROTOCOL_EXPANSION_SUMMARY.md
  docs/PROTOCOL_IMPLEMENTATION_GUIDE.md
  docs/SMTP_POC_STATUS.md
  examples/protocols/README.md
  examples/protocols/ftp/file-server.yaml
  examples/protocols/kafka/order-events.yaml
  examples/protocols/mqtt/iot-sensors.yaml
  examples/protocols/smtp/welcome-email.yaml
Due: rust-fmt, cargo-audit, cargo-test

feat(smtp): improve SMTP server functionality and add error handling
  MVP_FEATURES_COMPLETE.md
  PLUGIN_MARKETPLACE_MVP_SUMMARY.md
  PLUGIN_REGISTRY_COMPLETE.md
  crates/mockforge-registry-server/.env.example
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/Dockerfile
  crates/mockforge-registry-server/GETTING_STARTED.md
  crates/mockforge-registry-server/Makefile
  crates/mockforge-registry-server/README.md
  crates/mockforge-registry-server/docker-compose.yml
  crates/mockforge-registry-server/migrations/20250101000001_init.sql
  crates/mockforge-registry-server/migrations/20250101000002_seed_data.sql
  crates/mockforge-registry-server/src/auth.rs
  crates/mockforge-registry-server/src/config.rs
  crates/mockforge-registry-server/src/database.rs
  crates/mockforge-registry-server/src/error.rs
  crates/mockforge-registry-server/src/handlers/admin.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/health.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-registry-server/src/handlers/reviews.rs
  crates/mockforge-registry-server/src/handlers/stats.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/middleware/rate_limit.rs
  crates/mockforge-registry-server/src/models/mod.rs
  crates/mockforge-registry-server/src/models/plugin.rs
  crates/mockforge-registry-server/src/models/review.rs
  crates/mockforge-registry-server/src/models/user.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/storage.rs
  crates/mockforge-registry-server/test-api-complete.sh
  crates/mockforge-registry-server/test-api.sh
  docs/PLUGIN_MARKETPLACE_IMPLEMENTATION.md
Due: rust-fmt, cargo-test

chore(dependencies): update dependencies and enhance security
  Cargo.lock
  SECURITY_AUDIT_REPORT.md
  SECURITY_FIXES_FINAL_REPORT.md
  SECURITY_FIXES_SUMMARY.md
  SECURITY_IMPLEMENTATION_COMPLETE.md
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-core/src/encryption/key_rotation.rs
  crates/mockforge-core/src/validation.rs
  crates/mockforge-http/src/auth.rs
  crates/mockforge-http/src/auth/admin_auth.rs
  crates/mockforge-http/src/auth/audit_log.rs
  crates/mockforge-http/src/middleware/rate_limit.rs
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-plugin-loader/src/memory_tracking.rs
  crates/mockforge-ui/ui/src/components/ui/Toast.tsx
  docs/PENETRATION_TESTING_GUIDE.md
  docs/SECURITY_WHITEPAPER.md
Due: rust-fmt, cargo-audit, cargo-test

feat(tracing): integrate OpenTelemetry and enhance logging capabilities
  Cargo.lock
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-observability/src/lib.rs
  crates/mockforge-observability/src/logging.rs
  crates/mockforge-observability/src/tracing_integration.rs
  docs/STRUCTURED_LOGGING.md
  examples/config-with-structured-logging.yaml
Due: rust-fmt, cargo-audit, cargo-test

feat(prometheus): integrate Prometheus metrics and enhance observability
  Cargo.lock
  Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/registry_commands.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/middleware/mod.rs
  crates/mockforge-http/src/middleware/rate_limit.rs
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-observability/src/logging.rs
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-loader/src/lib.rs
  crates/mockforge-plugin-loader/src/runtime_adapter.rs
  crates/mockforge-registry-server/Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/database.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-registry-server/src/handlers/stats.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-ui/src/handlers/analytics.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/tests/static_files.rs
  examples/tests/test_routing.rs
Due: rust-fmt, cargo-audit, cargo-test

feat(workspace): introduce multi-tenant workspace management and metrics
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/workspace_commands.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/multi_tenant/middleware.rs
  crates/mockforge-core/src/multi_tenant/mod.rs
  crates/mockforge-core/src/multi_tenant/registry.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-observability/src/prometheus/metrics.rs
  crates/mockforge-ui/src/handlers/workspaces.rs
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceManagement.tsx
  docs/MULTI_TENANT_COMPLETE.md
  docs/multi-tenant-implementation-summary.md
  docs/multi-tenant-testing-guide.md
  docs/multi-tenant-workspaces.md
  examples/multi-tenant-config.yaml
  examples/multi-tenant-test-config.yaml
  examples/multi-tenant-usage.md
Due: rust-fmt, cargo-test

feat(coverage): add coverage reporting and UI integration
  COVERAGE_IMPLEMENTATION_SUMMARY.md
  crates/mockforge-http/src/coverage.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/static/coverage.html
  crates/mockforge-observability/src/logging.rs
  crates/mockforge-observability/src/prometheus/mod.rs
  docs/COVERAGE.md
  examples/coverage_demo_backup.rs
  test_coverage.sh
Due: rust-fmt, cargo-test

Add automated testing framework for core MockForge functionality
  scripts/automated-tests/test-admin-ui.sh
  scripts/automated-tests/test-advanced.sh
  scripts/automated-tests/test-ai.sh
  scripts/automated-tests/test-chaos.sh
  scripts/automated-tests/test-cli.sh
  scripts/automated-tests/test-data-generation.sh
  scripts/automated-tests/test-docker.sh
  scripts/automated-tests/test-docs.sh
  scripts/automated-tests/test-edge-cases.sh
  scripts/automated-tests/test-env-vars.sh
  scripts/automated-tests/test-final-checks.sh
  scripts/automated-tests/test-graphql.sh
  scripts/automated-tests/test-grpc.sh
  scripts/automated-tests/test-http.sh
  scripts/automated-tests/test-import-export.sh
  scripts/automated-tests/test-installation.sh
  scripts/automated-tests/test-observability.sh
  scripts/automated-tests/test-performance.sh
  scripts/automated-tests/test-plugins.sh
  scripts/automated-tests/test-post-release.sh
  scripts/automated-tests/test-security.sh
  scripts/automated-tests/test-smtp.sh
  scripts/automated-tests/test-websocket.sh
  scripts/automated-tests/test-workspace-sync.sh
  scripts/run-automated-tests.sh
Due: none

feat: implement workspace auto-discovery and clean up placeholder comments
  crates/mockforge-grpc/src/dynamic/http_bridge/handlers.rs
  crates/mockforge-grpc/src/dynamic/mod.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-plugin-loader/src/sandbox.rs
Due: rust-fmt, cargo-test

fix: address clippy warnings and errors across codebase
  Cargo.toml
  crates/mockforge-chaos/src/ab_testing.rs
  crates/mockforge-chaos/src/analytics.rs
  crates/mockforge-chaos/src/api.rs
  crates/mockforge-chaos/src/dashboard.rs
  crates/mockforge-chaos/src/integrations.rs
  crates/mockforge-chaos/src/observability_api.rs
  crates/mockforge-chaos/src/rate_limit.rs
  crates/mockforge-chaos/src/scenario_scheduler.rs
  crates/mockforge-core/src/request_scripting.rs
  crates/mockforge-core/src/workspace/registry.rs
  crates/mockforge-core/src/workspace_persistence.rs
  crates/mockforge-plugin-loader/src/git.rs
  crates/mockforge-plugin-loader/src/lib.rs
  crates/mockforge-plugin-loader/src/registry.rs
  crates/mockforge-plugin-loader/src/remote.rs
  crates/mockforge-plugin-loader/src/sandbox.rs
  crates/mockforge-plugin-loader/src/signature.rs
  crates/mockforge-plugin-loader/src/validator.rs
  crates/mockforge-plugin-sdk/src/builders.rs
  crates/mockforge-plugin-sdk/src/macros.rs
  crates/mockforge-ui/tests/admin_handlers.rs
  examples/plugins/response-graphql/src/lib.rs
Due: rust-fmt, cargo-audit, cargo-test

Relax git commit hooks - remove cargo-test and allow clippy warnings
  .pre-commit-config.yaml
  crates/mockforge-chaos/src/api.rs
  crates/mockforge-cli/tests/config_validation_tests.rs
  crates/mockforge-core/src/encryption.rs
  crates/mockforge-registry-server/src/auth.rs
  crates/mockforge-registry-server/src/config.rs
  crates/mockforge-registry-server/src/database.rs
  crates/mockforge-registry-server/src/error.rs
  crates/mockforge-registry-server/src/handlers/admin.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-registry-server/src/handlers/reviews.rs
  crates/mockforge-registry-server/src/handlers/stats.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/models/mod.rs
  crates/mockforge-registry-server/src/models/plugin.rs
  crates/mockforge-registry-server/src/models/review.rs
  crates/mockforge-registry-server/src/models/user.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/storage.rs
  crates/mockforge-ui/tests/smoke.rs
  templates/plugin-template/src/lib.rs
Due: rust-fmt, cargo-test

feat: implement protocol registry system and unified fixtures
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/error.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/protocol_abstraction/auth.rs
  crates/mockforge-core/src/protocol_abstraction/matcher.rs
  crates/mockforge-core/src/protocol_abstraction/middleware.rs
  crates/mockforge-core/src/protocol_abstraction/mod.rs
  crates/mockforge-core/src/protocol_abstraction/protocol_registry.rs
  crates/mockforge-core/src/protocol_abstraction/streaming.rs
  crates/mockforge-core/tests/protocol_registry_integration.rs
  crates/mockforge-graphql/src/registry.rs
  crates/mockforge-grpc/src/reflection/error_handling.rs
  crates/mockforge-grpc/src/reflection/smart_mock_generator.rs
  crates/mockforge-smtp/src/server.rs
  crates/mockforge-ui/ui/src/components/dashboard/ProtocolDashboard.tsx
  crates/mockforge-ws/tests/ws_proxy_e2e.rs
Due: rust-fmt, cargo-test

fix: resolve MessagePattern import issues in protocol abstraction tests
  crates/mockforge-core/src/protocol_abstraction/auth.rs
  crates/mockforge-core/src/protocol_abstraction/matcher.rs
  crates/mockforge-core/src/protocol_abstraction/middleware.rs
Due: rust-fmt, cargo-test

fix: add newline to audit.toml (end-of-file-fixer)
  .pre-commit-config.yaml
  Cargo.lock
  audit.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/protocol_abstraction/auth.rs
  crates/mockforge-core/src/protocol_abstraction/matcher.rs
  crates/mockforge-core/src/protocol_abstraction/middleware.rs
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-tracing/Cargo.toml
Due: rust-fmt, cargo-audit, cargo-test
