Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

fix(ui): correct import path in CloudTestGeneratorView (stores/useWorkspaceStore) (#547)
  crates/mockforge-ui/ui/src/pages/CloudTestGeneratorView.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): wire email notification channel via EmailService (#551)
  crates/mockforge-registry-server/src/email.rs
  crates/mockforge-registry-server/src/workers/incident_dispatcher.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): cloud Time Travel — proxy + page branch (#466) (#527)
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/time_travel.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/CloudTimeTravelView.tsx
  crates/mockforge-ui/ui/src/pages/TimeTravelPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudTimeTravel.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): real-time runtime-logs SSE via Fly NATS subscription (#556)
  Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/fly_nats.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

docs(http): ADR auditing mockforge-http for intelligence/proxy extraction (#555)
  docs/adr/0001-mockforge-http-extraction.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ci): nightly hosted-mocks smoke workflow (#554)
  .github/workflows/hosted-mocks-smoke.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): wire email notification channel via EmailService (#551) (#557)
  crates/mockforge-registry-server/src/email.rs
  crates/mockforge-registry-server/src/workers/incident_dispatcher.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(recorder): per-capture cloud forwarder with backpressure + retry (#553)
  Cargo.lock
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-recorder/src/cloud_sync.rs
  crates/mockforge-recorder/src/recorder.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(registry): wire PagerDuty notification channel via Events API v2 (#552)
  crates/mockforge-registry-server/src/workers/incident_dispatcher.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): add OTLP gRPC trace receiver alongside HTTP/JSON (#548)
  Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/handlers/otlp.rs
  crates/mockforge-registry-server/src/lib.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/otlp_grpc.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(plugin-host): fetch and refresh active trust roots from registry (#549)
  Cargo.lock
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/signing.rs
  crates/mockforge-plugin-host/src/trust_root_cache.rs
  crates/mockforge-plugin-host/tests/trust_root_lifecycle.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(registry,security): HSM-backed platform signing-root rotation via AWS KMS (#550)
  Cargo.lock
  Cargo.toml
  crates/mockforge-platform-signing/Cargo.toml
  crates/mockforge-platform-signing/README.md
  crates/mockforge-platform-signing/src/aws_kms.rs
  crates/mockforge-platform-signing/src/lib.rs
  crates/mockforge-platform-signing/src/rotation.rs
  crates/mockforge-platform-signing/src/signer.rs
  crates/mockforge-platform-signing/src/verifier.rs
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/migrations/20250101000077_platform_signing_audit_events.sql
  crates/mockforge-registry-server/src/lib.rs
  crates/mockforge-registry-server/src/platform_signing.rs
  docs/plugins/security/platform-signing-rotation-runbook.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(registry): real-time runtime-logs SSE via Fly NATS subscription (#556) (#559)
  Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/fly_nats.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(ci): stable per-runner CARGO_HOME + scope rust-cache by runner (#446)
  .github/workflows/benchmarks.yml
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/jcs-fuzz.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/registry-e2e.yml
  .github/workflows/release.yml
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(intelligence,core): extract pr_generation, break intelligence ↔ core cycle (#562 phase 1)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-collab/Cargo.toml
  crates/mockforge-collab/src/promotion.rs
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/lib.rs
  crates/mockforge-http/src/handlers/behavioral_cloning.rs
  crates/mockforge-http/src/handlers/pr_generation.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/behavioral_cloning/edge_amplifier.rs
  crates/mockforge-intelligence/src/behavioral_cloning/sequence_learner.rs
  crates/mockforge-intelligence/src/lib.rs
  crates/mockforge-intelligence/src/pr_generation/generator.rs
  crates/mockforge-intelligence/src/pr_generation/github.rs
  crates/mockforge-intelligence/src/pr_generation/gitlab.rs
  crates/mockforge-intelligence/src/pr_generation/mod.rs
  crates/mockforge-intelligence/src/pr_generation/templates.rs
  crates/mockforge-intelligence/src/pr_generation/types.rs
  crates/mockforge-pipelines/Cargo.toml
  crates/mockforge-pipelines/src/steps/create_pr.rs
  crates/mockforge-recorder/src/sync.rs
  crates/mockforge-recorder/src/sync_gitops.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ci): move CARGO_HOME to job-level env (runner.name unavailable workflow-side)
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(http): ADR auditing mockforge-http for intelligence/proxy extraction (#555) (#561)
  docs/adr/0001-mockforge-http-extraction.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): set CARGO_HOME in setup step via GITHUB_ENV (#446 followup)
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ci): nightly hosted-mocks smoke workflow (#554) (#563)
  .github/workflows/hosted-mocks-smoke.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): wire PagerDuty notification channel via Events API v2 (#552) (#558)
  crates/mockforge-registry-server/src/workers/incident_dispatcher.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): add OTLP gRPC trace receiver alongside HTTP/JSON (#548) (#566)
  Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/handlers/otlp.rs
  crates/mockforge-registry-server/src/lib.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/otlp_grpc.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(plugin-host): fetch and refresh active trust roots from registry (#549) (#565)
  Cargo.lock
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/signing.rs
  crates/mockforge-plugin-host/src/trust_root_cache.rs
  crates/mockforge-plugin-host/tests/trust_root_lifecycle.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(intelligence,core): extract pr_generation, break intelligence ↔ core cycle (#562 phase 1) (#571)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-collab/Cargo.toml
  crates/mockforge-collab/src/promotion.rs
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/lib.rs
  crates/mockforge-http/src/handlers/behavioral_cloning.rs
  crates/mockforge-http/src/handlers/pr_generation.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/behavioral_cloning/edge_amplifier.rs
  crates/mockforge-intelligence/src/behavioral_cloning/sequence_learner.rs
  crates/mockforge-intelligence/src/lib.rs
  crates/mockforge-intelligence/src/pr_generation/generator.rs
  crates/mockforge-intelligence/src/pr_generation/github.rs
  crates/mockforge-intelligence/src/pr_generation/gitlab.rs
  crates/mockforge-intelligence/src/pr_generation/mod.rs
  crates/mockforge-intelligence/src/pr_generation/templates.rs
  crates/mockforge-intelligence/src/pr_generation/types.rs
  crates/mockforge-pipelines/Cargo.toml
  crates/mockforge-pipelines/src/steps/create_pr.rs
  crates/mockforge-recorder/src/sync.rs
  crates/mockforge-recorder/src/sync_gitops.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(registry,security): HSM-backed platform signing-root rotation via AWS KMS (#550) (#567)
  Cargo.lock
  Cargo.toml
  crates/mockforge-platform-signing/Cargo.toml
  crates/mockforge-platform-signing/README.md
  crates/mockforge-platform-signing/src/aws_kms.rs
  crates/mockforge-platform-signing/src/lib.rs
  crates/mockforge-platform-signing/src/rotation.rs
  crates/mockforge-platform-signing/src/signer.rs
  crates/mockforge-platform-signing/src/verifier.rs
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/migrations/20250101000077_platform_signing_audit_events.sql
  crates/mockforge-registry-server/src/lib.rs
  crates/mockforge-registry-server/src/platform_signing.rs
  docs/plugins/security/platform-signing-rotation-runbook.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ci): stable per-runner CARGO_HOME + scope rust-cache by runner (#446) (#570)
  .github/workflows/benchmarks.yml
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/jcs-fuzz.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/registry-e2e.yml
  .github/workflows/release.yml
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(recorder): per-capture cloud forwarder with backpressure + retry (#553) (#564)
  Cargo.lock
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-recorder/src/cloud_sync.rs
  crates/mockforge-recorder/src/recorder.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs(changelog): cloud-parity + post-#543 entries for 0.3.137 (CHANGELOG + book mirror)
  CHANGELOG.md
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(intelligence,core): extract intelligent_behavior (#562 phase 2)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-core/src/lib.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/intelligent_behavior/behavior.rs
  crates/mockforge-intelligence/src/intelligent_behavior/cache.rs
  crates/mockforge-intelligence/src/intelligent_behavior/condition_evaluator.rs
  crates/mockforge-intelligence/src/intelligent_behavior/config.rs
  crates/mockforge-intelligence/src/intelligent_behavior/context.rs
  crates/mockforge-intelligence/src/intelligent_behavior/embedding_client.rs
  crates/mockforge-intelligence/src/intelligent_behavior/history.rs
  crates/mockforge-intelligence/src/intelligent_behavior/llm_client.rs
  crates/mockforge-intelligence/src/intelligent_behavior/memory.rs
  crates/mockforge-intelligence/src/intelligent_behavior/mockai.rs
  crates/mockforge-intelligence/src/intelligent_behavior/mod.rs
  crates/mockforge-intelligence/src/intelligent_behavior/mutation_analyzer.rs
  crates/mockforge-intelligence/src/intelligent_behavior/openapi_generator.rs
  crates/mockforge-intelligence/src/intelligent_behavior/pagination_intelligence.rs
  crates/mockforge-intelligence/src/intelligent_behavior/persona_integration_test.rs
  crates/mockforge-intelligence/src/intelligent_behavior/persona_verification.md
  crates/mockforge-intelligence/src/intelligent_behavior/relationship_inference.rs
  crates/mockforge-intelligence/src/intelligent_behavior/rule_generator.rs
  crates/mockforge-intelligence/src/intelligent_behavior/rules.rs
  crates/mockforge-intelligence/src/intelligent_behavior/session.rs
  crates/mockforge-intelligence/src/intelligent_behavior/spec_suggestion.rs
  crates/mockforge-intelligence/src/intelligent_behavior/sub_scenario.rs
  crates/mockforge-intelligence/src/intelligent_behavior/types.rs
  crates/mockforge-intelligence/src/intelligent_behavior/validation_generator.rs
  crates/mockforge-intelligence/src/intelligent_behavior/visual_layout.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs(changelog): dedupe 0.3.137 H2 heading (mdbook toc preprocessor)
  CHANGELOG.md
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(intelligence,core): extract threat_modeling (#562 phase 3)
  CHANGELOG.md
  crates/mockforge-core/src/ai_contract_diff/correction_proposer.rs
  crates/mockforge-core/src/ai_contract_diff/diff_analyzer.rs
  crates/mockforge-core/src/ai_contract_diff/mod.rs
  crates/mockforge-core/src/ai_contract_diff/recommendation_engine.rs
  crates/mockforge-core/src/ai_contract_diff/semantic_analyzer.rs
  crates/mockforge-core/src/contract_drift/mod.rs
  crates/mockforge-intelligence/src/lib.rs
  crates/mockforge-intelligence/src/threat_modeling/dos_analyzer.rs
  crates/mockforge-intelligence/src/threat_modeling/error_analyzer.rs
  crates/mockforge-intelligence/src/threat_modeling/mod.rs
  crates/mockforge-intelligence/src/threat_modeling/pii_detector.rs
  crates/mockforge-intelligence/src/threat_modeling/remediation_generator.rs
  crates/mockforge-intelligence/src/threat_modeling/schema_analyzer.rs
  crates/mockforge-intelligence/src/threat_modeling/threat_analyzer.rs
  crates/mockforge-intelligence/src/threat_modeling/types.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(intelligence,core): extract threat_modeling (#562 phase 3) (#574)
  CHANGELOG.md
  crates/mockforge-core/src/ai_contract_diff/correction_proposer.rs
  crates/mockforge-core/src/ai_contract_diff/diff_analyzer.rs
  crates/mockforge-core/src/ai_contract_diff/mod.rs
  crates/mockforge-core/src/ai_contract_diff/recommendation_engine.rs
  crates/mockforge-core/src/ai_contract_diff/semantic_analyzer.rs
  crates/mockforge-core/src/contract_drift/mod.rs
  crates/mockforge-intelligence/src/lib.rs
  crates/mockforge-intelligence/src/threat_modeling/dos_analyzer.rs
  crates/mockforge-intelligence/src/threat_modeling/error_analyzer.rs
  crates/mockforge-intelligence/src/threat_modeling/mod.rs
  crates/mockforge-intelligence/src/threat_modeling/pii_detector.rs
  crates/mockforge-intelligence/src/threat_modeling/remediation_generator.rs
  crates/mockforge-intelligence/src/threat_modeling/schema_analyzer.rs
  crates/mockforge-intelligence/src/threat_modeling/threat_analyzer.rs
  crates/mockforge-intelligence/src/threat_modeling/types.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(intelligence,foundation,core): extract ai_contract_diff, re-home pillar_tracking (#562 phase 4)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-core/src/lib.rs
  crates/mockforge-foundation/Cargo.toml
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-foundation/src/pillar_tracking.rs
  crates/mockforge-foundation/src/pillars.rs
  crates/mockforge-intelligence/src/ai_contract_diff/confidence_scorer.rs
  crates/mockforge-intelligence/src/ai_contract_diff/correction_proposer.rs
  crates/mockforge-intelligence/src/ai_contract_diff/diff_analyzer.rs
  crates/mockforge-intelligence/src/ai_contract_diff/mod.rs
  crates/mockforge-intelligence/src/ai_contract_diff/recommendation_engine.rs
  crates/mockforge-intelligence/src/ai_contract_diff/semantic_analyzer.rs
  crates/mockforge-intelligence/src/ai_contract_diff/types.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(intelligence,foundation,core): extract ai_contract_diff, re-home pillar_tracking (#562 phase 4) (#575)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-core/src/lib.rs
  crates/mockforge-foundation/Cargo.toml
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-foundation/src/pillar_tracking.rs
  crates/mockforge-foundation/src/pillars.rs
  crates/mockforge-intelligence/src/ai_contract_diff/confidence_scorer.rs
  crates/mockforge-intelligence/src/ai_contract_diff/correction_proposer.rs
  crates/mockforge-intelligence/src/ai_contract_diff/diff_analyzer.rs
  crates/mockforge-intelligence/src/ai_contract_diff/mod.rs
  crates/mockforge-intelligence/src/ai_contract_diff/recommendation_engine.rs
  crates/mockforge-intelligence/src/ai_contract_diff/semantic_analyzer.rs
  crates/mockforge-intelligence/src/ai_contract_diff/types.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(intelligence,core): extract contract_validation + failure_analysis (#562 phase 5)
  CHANGELOG.md
  crates/mockforge-core/src/lib.rs
  crates/mockforge-intelligence/src/contract_validation.rs
  crates/mockforge-intelligence/src/failure_analysis/context_collector.rs
  crates/mockforge-intelligence/src/failure_analysis/mod.rs
  crates/mockforge-intelligence/src/failure_analysis/narrative_generator.rs
  crates/mockforge-intelligence/src/failure_analysis/types.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(intelligence,core): extract contract_validation + failure_analysis (#562 phase 5) (#576)
  CHANGELOG.md
  crates/mockforge-core/src/lib.rs
  crates/mockforge-intelligence/src/contract_validation.rs
  crates/mockforge-intelligence/src/failure_analysis/context_collector.rs
  crates/mockforge-intelligence/src/failure_analysis/mod.rs
  crates/mockforge-intelligence/src/failure_analysis/narrative_generator.rs
  crates/mockforge-intelligence/src/failure_analysis/types.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(intelligence,foundation,core): extract reality, re-home chaos_utilities (#562 phase 6)
  CHANGELOG.md
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/reality_apply.rs
  crates/mockforge-foundation/src/chaos_utilities.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-intelligence/src/lib.rs
  crates/mockforge-intelligence/src/reality.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(intelligence,foundation,core): extract reality, re-home chaos_utilities (#562 phase 6) (#577)
  CHANGELOG.md
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/reality_apply.rs
  crates/mockforge-foundation/src/chaos_utilities.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-intelligence/src/lib.rs
  crates/mockforge-intelligence/src/reality.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(changelog): 0.3.137 cloud-parity + post-#543 entries (#569)
  CHANGELOG.md
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(intelligence,core): extract voice leaves, keep workspace_builder in core (#562 phase 7)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/voice.rs
  crates/mockforge-core/src/voice_workspace.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/lib.rs
  crates/mockforge-intelligence/src/voice/command_parser.rs
  crates/mockforge-intelligence/src/voice/conversation.rs
  crates/mockforge-intelligence/src/voice/hook_transpiler.rs
  crates/mockforge-intelligence/src/voice/mod.rs
  crates/mockforge-intelligence/src/voice/spec_generator.rs
  crates/mockforge-intelligence/src/voice/workspace_scenario_generator.rs
  crates/mockforge-ui/src/handlers/voice.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(intelligence,core): extract voice leaves, keep workspace_builder in core (#562 phase 7) (#578)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/voice.rs
  crates/mockforge-core/src/voice_workspace.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/lib.rs
  crates/mockforge-intelligence/src/voice/command_parser.rs
  crates/mockforge-intelligence/src/voice/conversation.rs
  crates/mockforge-intelligence/src/voice/hook_transpiler.rs
  crates/mockforge-intelligence/src/voice/mod.rs
  crates/mockforge-intelligence/src/voice/spec_generator.rs
  crates/mockforge-intelligence/src/voice/workspace_scenario_generator.rs
  crates/mockforge-ui/src/handlers/voice.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
