Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

feat(ui): CloudFlowsPage — versioned scenario/state-machine/orchestration/chain editor (#9 #14)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudFlowsPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): CloudContractPage + cloudContractApi — monitored services + diff history (#8)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudContractPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/services/api/cloudContract.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): CloudRecorderPage + cloudRecorderApi — sessions + clone training (#6)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudRecorderPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/services/api/cloudRecorder.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): CloudAIQuotaBanner on the AI Studio page (#1)
  crates/mockforge-ui/ui/src/components/ai/CloudAIQuotaBanner.tsx
  crates/mockforge-ui/ui/src/pages/AIStudioPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): showcase admin list + CloudShowcaseAdminPage (#12)
  crates/mockforge-registry-core/src/models/showcase.rs
  crates/mockforge-registry-server/src/handlers/showcase.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/CloudShowcaseAdminPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
  crates/mockforge-ui/ui/src/services/api/cloudShowcase.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): real HTTP replay against target_url (#6)
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-test-runner/src/callbacks.rs
  crates/mockforge-test-runner/src/executors/replay.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): real OpenAPI spec fetch + endpoint enumeration in ContractExecutor (#8)
  Cargo.lock
  crates/mockforge-test-runner/Cargo.toml
  crates/mockforge-test-runner/src/executors/contract.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

ops: registry-migrate Makefile target (closes #17)
  Makefile
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): real OWASP header-presence scan in TestExecutor (#4 / kind=owasp)
  crates/mockforge-test-runner/src/executors/test.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): S3-compatible blob storage for large snapshot manifests (#10)
  crates/mockforge-registry-server/src/handlers/snapshots.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/storage.rs
  crates/mockforge-registry-server/src/workers/snapshot_retention.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ops: provision Tigris on mockforge-registry + fall back to AWS-standard env vars
  crates/mockforge-registry-server/src/config.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): real reqwest-based load runner for kind=bench (#4)
  crates/mockforge-test-runner/src/executors/test.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): traffic-aware contract diff (declared vs hit) (#8)
  crates/mockforge-registry-server/src/handlers/contract_verification.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-test-runner/src/callbacks.rs
  crates/mockforge-test-runner/src/executors/contract.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): real chaos hook against hosted-mock targets (#7)
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-test-runner/src/callbacks.rs
  crates/mockforge-test-runner/src/executors/chaos.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): structured run-summary panels for bench/owasp/contract/chaos/replay (#4 #6 #7 #8)
  crates/mockforge-ui/ui/src/pages/CloudTestRunsPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): add patterns filter to cargo-security dependabot group
  .github/dependabot.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): tunnel-reservation lookup endpoint + relay deployment doc (#5)
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/routes.rs
  docs/cloud/CLOUD_TUNNEL_RELAY_DEPLOYMENT.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud): RegistryTunnelStore behind cloud-validation feature (#5)
  Cargo.lock
  crates/mockforge-tunnel/Cargo.toml
  crates/mockforge-tunnel/src/cloud_validation.rs
  crates/mockforge-tunnel/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(cloud): tunnel relay deployable as Fly app (#5 operational)
  Dockerfile.tunnel
  crates/mockforge-tunnel/src/bin/tunnel-server.rs
  crates/mockforge-tunnel/src/cloud_validation.rs
  fly.tunnel.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

fix(tunnel): wire ConnectInfo extension so rate-limit middleware works (#5)
  Dockerfile.tunnel
  crates/mockforge-tunnel/src/bin/tunnel-server.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(deploy): systemd unit + run-forever wrapper for unattended runs (#79)
  deploy/scripts/README.md
  deploy/scripts/run-forever.sh
  deploy/systemd/README.md
  deploy/systemd/mockforge.service
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(http,observability): layer metrics middleware on production router (#79)
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/metrics_middleware.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cli): bench-chunked --base-path, humantime --duration, --validate-requests, --export-requests (#79)
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): MockAI suite — rule explanations, learn, voice, traffic-based OpenAPI (#353)
  crates/mockforge-registry-core/src/models/mockai_rule_explanation.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-server/migrations/20250101000072_mockai_rule_explanations.sql
  crates/mockforge-registry-server/src/handlers/ai_studio.rs
  crates/mockforge-registry-server/src/handlers/mockai.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/hooks/NLHookEditor.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/voice/VoiceInput.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceScenarioCreator.tsx
  crates/mockforge-ui/ui/src/pages/MockAIOpenApiGeneratorPage.tsx
  crates/mockforge-ui/ui/src/pages/MockAIPage.tsx
  crates/mockforge-ui/ui/src/pages/MockAIRulesPage.tsx
  crates/mockforge-ui/ui/src/services/api/aiStudio.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(http,observability): layer metrics middleware on production router (#79) (#351)
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/metrics_middleware.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): real chain execution + ChainsPage cloud dispatch (#354)
  crates/mockforge-test-runner/src/executors/chain.rs
  crates/mockforge-test-runner/src/executors/flow.rs
  crates/mockforge-test-runner/src/executors/mod.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/ChainsPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): IntegrationExecutor + cloud dispatch on Integration Test Builder (#356)
  crates/mockforge-test-runner/src/executors/integration.rs
  crates/mockforge-test-runner/src/executors/mod.rs
  crates/mockforge-test-runner/src/executors/test.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/IntegrationTestBuilder.tsx
  crates/mockforge-ui/ui/src/services/api/cloudTestRuns.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(deploy): systemd unit + run-forever wrapper for unattended runs (#79) (#350)
  deploy/scripts/README.md
  deploy/scripts/run-forever.sh
  deploy/systemd/README.md
  deploy/systemd/mockforge.service
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cli): bench-chunked --base-path, humantime --duration, --validate-requests, --export-requests (#79) (#352)
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): real fitness function evaluation + page cloud dispatch (#355)
  Cargo.lock
  crates/mockforge-registry-server/src/handlers/contract_verification.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-test-runner/Cargo.toml
  crates/mockforge-test-runner/src/callbacks.rs
  crates/mockforge-test-runner/src/executors/contract.rs
  crates/mockforge-test-runner/src/executors/fitness.rs
  crates/mockforge-test-runner/src/executors/mod.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/FitnessFunctionsPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudFitness.ts
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(ci): disable cron triggers on 5 nice-to-have workflows (#347)
  .github/dependabot.yml
  .github/workflows/chaos-testing.yml
  .github/workflows/fuzz.yml
  .github/workflows/jcs-fuzz.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): wire dashboard page gaps and remove dead-end cloud controls (#325)
  crates/mockforge-registry-server/src/handlers/cloud_dashboard.rs
  crates/mockforge-ui/ui/src/components/dashboard/CloudActivityFeed.tsx
  crates/mockforge-ui/ui/src/hooks/api/index.ts
  crates/mockforge-ui/ui/src/hooks/api/useCloudDashboardApi.ts
  crates/mockforge-ui/ui/src/pages/DashboardPage.tsx
  crates/mockforge-ui/ui/src/types/index.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): wire profile-menu gaps — admin role, email verify, member-since, font size (#330)
  crates/mockforge-ui/ui/src/components/auth/AccountSettings.tsx
  crates/mockforge-ui/ui/src/components/auth/Preferences.tsx
  crates/mockforge-ui/ui/src/components/auth/ProfileSettings.tsx
  crates/mockforge-ui/ui/src/stores/__tests__/useAuthStore.test.ts
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
  crates/mockforge-ui/ui/src/types/index.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(bench): add cloud_api wrappers for run_bench/run_conformance
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(cloud): real chain execution + ChainsPage cloud dispatch (#354) (#358)
  crates/mockforge-test-runner/src/executors/chain.rs
  crates/mockforge-test-runner/src/executors/flow.rs
  crates/mockforge-test-runner/src/executors/mod.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/ChainsPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): IntegrationExecutor + cloud dispatch on Integration Test Builder (#356) (#359)
  crates/mockforge-test-runner/src/executors/integration.rs
  crates/mockforge-test-runner/src/executors/mod.rs
  crates/mockforge-test-runner/src/executors/test.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/IntegrationTestBuilder.tsx
  crates/mockforge-ui/ui/src/services/api/cloudTestRuns.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud): MockAI suite — rule explanations, learn, voice, traffic-based OpenAPI (#353) (#357)
  crates/mockforge-registry-core/src/models/mockai_rule_explanation.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-server/migrations/20250101000072_mockai_rule_explanations.sql
  crates/mockforge-registry-server/src/handlers/ai_studio.rs
  crates/mockforge-registry-server/src/handlers/mockai.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/hooks/NLHookEditor.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/voice/VoiceInput.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceScenarioCreator.tsx
  crates/mockforge-ui/ui/src/pages/MockAIOpenApiGeneratorPage.tsx
  crates/mockforge-ui/ui/src/pages/MockAIPage.tsx
  crates/mockforge-ui/ui/src/pages/MockAIRulesPage.tsx
  crates/mockforge-ui/ui/src/services/api/aiStudio.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(bench): add OWASP/security/wafbench/crud-flow cloud_api wrappers
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
