Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

refactor(intelligence,core): extract incidents AI-coupled pieces (#562 phase 9)
  Cargo.lock
  crates/mockforge-core/src/incidents/mod.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/incidents/integrations.rs
  crates/mockforge-intelligence/src/incidents/integrations/jira.rs
  crates/mockforge-intelligence/src/incidents/integrations/slack.rs
  crates/mockforge-intelligence/src/incidents/mod.rs
  crates/mockforge-intelligence/src/incidents/semantic_manager.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(intelligence,core): extract incidents AI-coupled pieces (#562 phase 9) (#601)
  Cargo.lock
  crates/mockforge-core/src/incidents/mod.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/incidents/integrations.rs
  crates/mockforge-intelligence/src/incidents/integrations/jira.rs
  crates/mockforge-intelligence/src/incidents/integrations/slack.rs
  crates/mockforge-intelligence/src/incidents/mod.rs
  crates/mockforge-intelligence/src/incidents/semantic_manager.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor: delete dead core/contract_drift/forecasting + repoint cli (#600)
  crates/mockforge-cli/src/governance_commands.rs
  crates/mockforge-core/src/contract_drift/forecasting/forecaster.rs
  crates/mockforge-core/src/contract_drift/forecasting/mod.rs
  crates/mockforge-core/src/contract_drift/forecasting/pattern_analyzer.rs
  crates/mockforge-core/src/contract_drift/forecasting/statistical_model.rs
  crates/mockforge-core/src/contract_drift/forecasting/types.rs
  crates/mockforge-core/src/contract_drift/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(contracts): delete dead duplicate incidents module (#600)
  Cargo.lock
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-contracts/src/contract_drift/forecasting/forecaster.rs
  crates/mockforge-contracts/src/contract_drift/forecasting/pattern_analyzer.rs
  crates/mockforge-contracts/src/incidents/integrations.rs
  crates/mockforge-contracts/src/incidents/integrations/jira.rs
  crates/mockforge-contracts/src/incidents/integrations/slack.rs
  crates/mockforge-contracts/src/incidents/manager.rs
  crates/mockforge-contracts/src/incidents/mod.rs
  crates/mockforge-contracts/src/incidents/store.rs
  crates/mockforge-contracts/src/incidents/types.rs
  crates/mockforge-contracts/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor: consolidate incidents to core + delete dead duplicates (#600) (#603)
  Cargo.lock
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/governance_commands.rs
  crates/mockforge-contracts/src/contract_drift/forecasting/forecaster.rs
  crates/mockforge-contracts/src/contract_drift/forecasting/pattern_analyzer.rs
  crates/mockforge-contracts/src/incidents/integrations.rs
  crates/mockforge-contracts/src/incidents/integrations/jira.rs
  crates/mockforge-contracts/src/incidents/integrations/slack.rs
  crates/mockforge-contracts/src/incidents/manager.rs
  crates/mockforge-contracts/src/incidents/mod.rs
  crates/mockforge-contracts/src/incidents/store.rs
  crates/mockforge-contracts/src/incidents/types.rs
  crates/mockforge-contracts/src/lib.rs
  crates/mockforge-core/src/contract_drift/forecasting/forecaster.rs
  crates/mockforge-core/src/contract_drift/forecasting/mod.rs
  crates/mockforge-core/src/contract_drift/forecasting/pattern_analyzer.rs
  crates/mockforge-core/src/contract_drift/forecasting/statistical_model.rs
  crates/mockforge-core/src/contract_drift/forecasting/types.rs
  crates/mockforge-core/src/contract_drift/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs(specs): design for contract_drift duplicate consolidation (#602)
  docs/superpowers/specs/2026-05-21-contract-drift-consolidation-design.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(plans): implementation plan for contract_drift consolidation (#602)
  docs/superpowers/plans/2026-05-21-contract-drift-consolidation.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(foundation): promote FitnessFunction/Scope/FunctionType from core (#602)
  crates/mockforge-core/src/contract_drift/fitness.rs
  crates/mockforge-foundation/src/contract_drift_types.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(contracts): delete dead duplicate consumer_mapping + fitness (#602)
  crates/mockforge-contracts/src/contract_drift/consumer_mapping.rs
  crates/mockforge-contracts/src/contract_drift/fitness.rs
  crates/mockforge-contracts/src/contract_drift/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor: consolidate duplicate contract_drift modules (#602) (#606)
  crates/mockforge-contracts/src/contract_drift/consumer_mapping.rs
  crates/mockforge-contracts/src/contract_drift/fitness.rs
  crates/mockforge-contracts/src/contract_drift/mod.rs
  crates/mockforge-core/src/contract_drift/fitness.rs
  crates/mockforge-foundation/src/contract_drift_types.rs
  docs/superpowers/plans/2026-05-21-contract-drift-consolidation.md
  docs/superpowers/specs/2026-05-21-contract-drift-consolidation-design.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(proxy,http): move proxy_server from mockforge-http to mockforge-proxy (#555 phase 1)
  Cargo.lock
  crates/mockforge-http/src/proxy_server.rs
  crates/mockforge-proxy/Cargo.toml
  crates/mockforge-proxy/src/lib.rs
  crates/mockforge-proxy/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(deps): add prost-reflect + jsonschema to contracts; contracts dep to core (#604 prep)
  crates/mockforge-contracts/Cargo.toml
  crates/mockforge-core/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

docs(specs): design for #604 — migrate 7 core-only contract_drift modules to contracts
  docs/superpowers/specs/2026-05-21-contract-drift-core-only-audit-design.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(plans): implementation plan for #604 contract_drift migration
  docs/superpowers/plans/2026-05-21-contract-drift-core-only-audit.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(contracts): move types + breaking_change_detector + field_tracking from core (#604)
  Cargo.lock
  crates/mockforge-contracts/src/contract_drift/breaking_change_detector.rs
  crates/mockforge-contracts/src/contract_drift/field_tracking.rs
  crates/mockforge-contracts/src/contract_drift/mod.rs
  crates/mockforge-contracts/src/contract_drift/types.rs
  crates/mockforge-core/src/contract_drift/budget_engine.rs
  crates/mockforge-core/src/contract_drift/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

docs(contracts): fix stale 'only in core' docstring after #604 task 2 move
  crates/mockforge-contracts/src/contract_drift/types.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(contracts): move protocol_contracts cluster + finalize NOTE (#604)
  Cargo.lock
  crates/mockforge-contracts/Cargo.toml
  crates/mockforge-contracts/src/contract_drift/grpc_contract.rs
  crates/mockforge-contracts/src/contract_drift/mod.rs
  crates/mockforge-contracts/src/contract_drift/mqtt_kafka_contracts.rs
  crates/mockforge-contracts/src/contract_drift/protocol_contracts.rs
  crates/mockforge-contracts/src/contract_drift/websocket_contract.rs
  crates/mockforge-core/src/contract_drift/fitness.rs
  crates/mockforge-core/src/contract_drift/mod.rs
  crates/mockforge-http/src/handlers/protocol_contracts.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(proxy,http): move proxy_server from mockforge-http to mockforge-proxy (#555 phase 1) (#607)
  Cargo.lock
  crates/mockforge-http/src/proxy_server.rs
  crates/mockforge-proxy/Cargo.toml
  crates/mockforge-proxy/src/lib.rs
  crates/mockforge-proxy/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor: migrate 7 contract_drift modules from core to contracts (#604) (#608)
  Cargo.lock
  crates/mockforge-contracts/Cargo.toml
  crates/mockforge-contracts/src/contract_drift/breaking_change_detector.rs
  crates/mockforge-contracts/src/contract_drift/field_tracking.rs
  crates/mockforge-contracts/src/contract_drift/grpc_contract.rs
  crates/mockforge-contracts/src/contract_drift/mod.rs
  crates/mockforge-contracts/src/contract_drift/mqtt_kafka_contracts.rs
  crates/mockforge-contracts/src/contract_drift/protocol_contracts.rs
  crates/mockforge-contracts/src/contract_drift/types.rs
  crates/mockforge-contracts/src/contract_drift/websocket_contract.rs
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/contract_drift/budget_engine.rs
  crates/mockforge-core/src/contract_drift/fitness.rs
  crates/mockforge-core/src/contract_drift/mod.rs
  crates/mockforge-http/src/handlers/protocol_contracts.rs
  docs/superpowers/plans/2026-05-21-contract-drift-core-only-audit.md
  docs/superpowers/specs/2026-05-21-contract-drift-core-only-audit-design.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(intelligence,http): move pr_generation handler to mockforge-intelligence (#555 phase 2)
  Cargo.lock
  audit.toml
  crates/mockforge-http/src/handlers/pr_generation.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/handlers/mod.rs
  crates/mockforge-intelligence/src/handlers/pr_generation.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(intelligence,http): move pr_generation handler to mockforge-intelligence (#555 phase 2) (#610)
  Cargo.lock
  audit.toml
  crates/mockforge-http/src/handlers/pr_generation.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/handlers/mod.rs
  crates/mockforge-intelligence/src/handlers/pr_generation.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(http): post-#604 handler cleanup — drop stale comment, unify imports (#609)
  crates/mockforge-http/src/handlers/protocol_contracts.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(specs): design for post-#604 cleanups (#609)
  docs/superpowers/specs/2026-05-22-post-604-cleanups-design.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(plans): implementation plan for post-#604 cleanups (#609)
  docs/superpowers/plans/2026-05-22-post-604-cleanups.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(deps): promote tempfile + bytes to workspace deps; allowlist RUSTSEC-2026-0149 (#609)
  Cargo.toml
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-contracts/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-data/Cargo.toml
  crates/mockforge-plugin-egress/Cargo.toml
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-tunnel/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

refactor(intelligence,http): move database wrapper to intelligence (#555 prereq)
  Cargo.lock
  audit.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/migrations/20250127000002_drift_budget_enhancements.sql
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/database.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor: post-#604 cleanups — stale comment + workspace deps (#609) (#612)
  Cargo.toml
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-contracts/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-data/Cargo.toml
  crates/mockforge-http/src/handlers/protocol_contracts.rs
  crates/mockforge-plugin-egress/Cargo.toml
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-tunnel/Cargo.toml
  docs/superpowers/plans/2026-05-22-post-604-cleanups.md
  docs/superpowers/specs/2026-05-22-post-604-cleanups-design.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs(specs): design for #609 deferred dep cleanups
  docs/superpowers/specs/2026-05-22-deferred-dep-cleanups-design.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(deps): switch mockforge-collab optional bytes to workspace (#609 deferred)
  Cargo.toml
  crates/mockforge-collab/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(deps): delete unused bytes dep from mockforge-tcp (#609 deferred)
  Cargo.lock
  crates/mockforge-tcp/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

docs(plans): implementation plan for #609 deferred dep cleanups
  docs/superpowers/plans/2026-05-22-deferred-dep-cleanups.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(deps): promote prost-reflect to workspace deps; bump grpc 0.14→0.16 (#609 deferred)
  Cargo.lock
  Cargo.toml
  crates/mockforge-contracts/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

refactor(intelligence,http): move database wrapper to intelligence (#555 prereq) (#611)
  Cargo.lock
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/migrations/20250127000002_drift_budget_enhancements.sql
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/database.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs(specs): design for #555 phase 3 — semantic_drift handler extraction
  docs/superpowers/specs/2026-05-22-555-phase-3-semantic-drift-design.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(plans): implementation plan for #555 phase 3 — semantic_drift extraction
  docs/superpowers/plans/2026-05-22-555-phase-3-semantic-drift.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(bench): cap VU recommendation + iteration coverage (#79 round 10)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/reporter.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(intelligence,http): move semantic_drift handler to mockforge-intelligence (#555 phase 3)
  crates/mockforge-http/src/handlers/mod.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/src/handlers/mod.rs
  crates/mockforge-intelligence/src/handlers/semantic_drift.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(deps): close #609 deferred items — prost-reflect promotion, tcp dead-dep, collab optional bytes (#613)
  Cargo.lock
  Cargo.toml
  crates/mockforge-collab/Cargo.toml
  crates/mockforge-contracts/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-tcp/Cargo.toml
  docs/superpowers/plans/2026-05-22-deferred-dep-cleanups.md
  docs/superpowers/specs/2026-05-22-deferred-dep-cleanups-design.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

refactor(intelligence,http): move semantic_drift handler to mockforge-intelligence (#555 phase 3)
  crates/mockforge-http/src/handlers/semantic_drift.rs
  crates/mockforge-intelligence/src/handlers/mod.rs
  crates/mockforge-intelligence/src/handlers/semantic_drift.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt
