Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

fix(registry): drop audit_logs user FK so GDPR erase works for users with audit rows (#1087) (#1093)
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-server/migrations/20250101000085_audit_logs_drop_user_fk.sql
  crates/mockforge-registry-server/src/handlers/gdpr.rs
  crates/mockforge-registry-server/tests/audit_integrity_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(bench,ci): Windows release build, Test job disk exhaustion, RLS lane psql
  .github/workflows/ci.yml
  .github/workflows/registry-e2e.yml
  crates/mockforge-bench/src/qos_bench.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(bench): bench-chunked --rps/--cps + campaign rounds, fix chunk pacing (#79)
  CHANGELOG.md
  book/src/api/cli.md
  book/src/user-guide/load-testing.md
  crates/mockforge-bench/src/chunked_bench.rs
  crates/mockforge-bench/src/chunked_command.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.227
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(bench): bench-chunked --rps/--cps + campaign rounds, fix chunk pacing (#79) (#1102)
  CHANGELOG.md
  book/src/api/cli.md
  book/src/user-guide/load-testing.md
  crates/mockforge-bench/src/chunked_bench.rs
  crates/mockforge-bench/src/chunked_command.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.227 (#1103)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(ci): sanitize the RLS gate's compose project name for hosted runners
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(http,registry,ui): require a per-deployment token for control-plane writes on hosted mocks (#1085)
  Cargo.lock
  book/src/configuration/environment.md
  book/src/reference/faq.md
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management_auth.rs
  crates/mockforge-registry-core/Cargo.toml
  crates/mockforge-registry-core/src/auth.rs
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/handlers/management_token.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/time_travel.rs
  crates/mockforge-registry-server/src/handlers/world_state.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/tests/hosted_mock_overrides_e2e.rs
  crates/mockforge-ui/ui/src/components/hosted/ManagementTokenField.tsx
  crates/mockforge-ui/ui/src/components/hosted/__tests__/ManagementTokenField.test.tsx
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench,ci): Windows release build, Test job disk exhaustion, RLS lane psql (#1101)
  .github/workflows/ci.yml
  .github/workflows/registry-e2e.yml
  crates/mockforge-bench/src/qos_bench.rs
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs: name the R2 bucket production actually uses (#1049)
  deploy/PRODUCTION_SETUP.md
  fly.registry.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

ci(smoke): point production smoke at api.mockforge.dev and erase its account (#1087) (#1089)
  .github/workflows/production-smoke.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

perf(kafka): binary-search sparse offsets in fetch/has_offset (#992)
  crates/mockforge-kafka/src/partitions.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(http,registry,ui): require a per-deployment token for control-plane writes on hosted mocks (#1085) (#1105)
  Cargo.lock
  book/src/configuration/environment.md
  book/src/reference/faq.md
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management_auth.rs
  crates/mockforge-registry-core/Cargo.toml
  crates/mockforge-registry-core/src/auth.rs
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/handlers/management_token.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/time_travel.rs
  crates/mockforge-registry-server/src/handlers/world_state.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/tests/hosted_mock_overrides_e2e.rs
  crates/mockforge-ui/ui/src/components/hosted/ManagementTokenField.tsx
  crates/mockforge-ui/ui/src/components/hosted/__tests__/ManagementTokenField.test.tsx
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

Add message filter to the mock Kafka broker (#992)
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/filter.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/partitions.rs
  crates/mockforge-kafka/src/server.rs
  crates/mockforge-kafka/src/topics.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): drop unnecessary sha2:: qualification that breaks clippy on main (#1105)
  crates/mockforge-registry-core/src/auth.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): drop unnecessary qualifications flagged by -D unused_qualifications (#1105)
  crates/mockforge-registry-core/src/auth.rs
  crates/mockforge-registry-server/src/handlers/management_token.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): drop unnecessary sha2:: qualification that breaks clippy on main (#1105) (#1106)
  crates/mockforge-registry-core/src/auth.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): drop unnecessary qualifications flagged by -D unused_qualifications (#1105) (#1107)
  crates/mockforge-registry-server/src/handlers/management_token.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): drop unnecessary reqwest::header qualification that breaks CI clippy (#1105)
  crates/mockforge-registry-server/src/handlers/management_token.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(release): v0.3.228
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): v0.3.228 (#1109)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

test(bench): de-flake campaign_repeat_until_stops_on_wall_clock (#79)
  crates/mockforge-bench/src/chunked_command.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(bench): de-flake campaign_repeat_until_stops_on_wall_clock (#79) (#1110)
  crates/mockforge-bench/src/chunked_command.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(http): serialize conn_diagnostics env-var tests to fix a parallel race
  crates/mockforge-http/src/middleware/conn_diagnostics.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(http): serialize conn_diagnostics env-var tests to fix a parallel race (#1111)
  crates/mockforge-http/src/middleware/conn_diagnostics.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(http): delete uncompiled builder.rs
  crates/mockforge-http/src/builder.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(http): delete uncompiled builder.rs (#1112)
  crates/mockforge-http/src/builder.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

ci: publish images on the Hetzner runners instead of a Fly BuildKit VM
  .github/actions/setup-flyctl/action.yml
  .github/workflows/ashburn-images.yml
  .github/workflows/docker-build.yml
  .github/workflows/fly-publisher-cleanup.yml
  docs/IMAGE_PUBLISHER_ISOLATION.md
  scripts/ci/fly_buildkit_publish.py
  scripts/tests/test_ashburn_images.py
  scripts/tests/test_fly_buildkit_publish.py
  scripts/verify-image-publisher.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: publish images on the Hetzner runners instead of a Fly BuildKit VM (#1113)
  .github/actions/setup-flyctl/action.yml
  .github/workflows/ashburn-images.yml
  .github/workflows/docker-build.yml
  .github/workflows/fly-publisher-cleanup.yml
  docs/IMAGE_PUBLISHER_ISOLATION.md
  scripts/ci/fly_buildkit_publish.py
  scripts/tests/test_ashburn_images.py
  scripts/tests/test_fly_buildkit_publish.py
  scripts/verify-image-publisher.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): instrument request span instead of holding enter() across await
  CHANGELOG.md
  book/src/reference/changelog.md
  crates/mockforge-registry-server/src/middleware/request_id.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(legal): state database row-level security in DPA and privacy policy (#1087)
  crates/mockforge-ui/ui/src/content/legal/dpa.md
  crates/mockforge-ui/ui/src/content/legal/index.ts
  crates/mockforge-ui/ui/src/content/legal/privacy.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(legal): state database row-level security in DPA and privacy policy (#1087) (#1115)
  crates/mockforge-ui/ui/src/content/legal/dpa.md
  crates/mockforge-ui/ui/src/content/legal/index.ts
  crates/mockforge-ui/ui/src/content/legal/privacy.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): hash the cloud bundle's entry JS/CSS so deploys can't strand cached browsers
  crates/mockforge-ui/ui/vite.config.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): hash the cloud bundle's entry JS/CSS so deploys can't strand cached browsers (#1116)
  crates/mockforge-ui/ui/vite.config.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): instrument request span instead of holding enter() across await (#1114)
  CHANGELOG.md
  book/src/reference/changelog.md
  crates/mockforge-registry-server/src/middleware/request_id.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): default org falls back to membership for member-only users (#1087)
  crates/mockforge-registry-core/src/models/organization.rs
  crates/mockforge-registry-server/src/handlers/users_me.rs
  crates/mockforge-registry-server/src/middleware/org_context.rs
  crates/mockforge-registry-server/tests/rls_coverage_e2e.rs
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): default org falls back to membership for member-only users (#1087) (#1117)
  crates/mockforge-registry-core/src/models/organization.rs
  crates/mockforge-registry-server/src/handlers/users_me.rs
  crates/mockforge-registry-server/src/middleware/org_context.rs
  crates/mockforge-registry-server/tests/rls_coverage_e2e.rs
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt
