Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

fix(bench): JSON-encode static k6 paths so WAF \x URIs parse (#79) (#1034)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.218
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): v0.3.218 (#1035)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench): force HTTP/1.1 for WAF Connection headers (#79)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/request_gen.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): drop unused Path qualification for CI clippy (#79)
  crates/mockforge-bench/src/command.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): drop unused BTreeMap qualification in self-test helper (#79)
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): force HTTP/1.1 for WAF Connection headers (#79) (#1037)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/request_gen.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.219
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): v0.3.219 (#1038)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench): drop duplicate traffic-breakdown JSON aliases (#79)
  crates/mockforge-bench/src/command.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): drop duplicate traffic-breakdown JSON aliases (#79) (#1039)
  crates/mockforge-bench/src/command.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.220
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): v0.3.220 (#1040)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(openapi): coerce OAS 3.1 type arrays so specs load (#79)
  crates/mockforge-openapi/src/spec.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(openapi): coerce OAS 3.1 type arrays so specs load (#79) (#1041)
  crates/mockforge-openapi/src/spec.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.221
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): v0.3.221 (#1042)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

Add message filter to the mock Kafka broker
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/filter.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/partitions.rs
  crates/mockforge-kafka/src/server.rs
  crates/mockforge-kafka/src/topics.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): collapse per-op k6 metrics on huge/longevity runs (#79)
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): collapse per-op k6 metrics on huge/longevity runs (#79) (#1045)
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.222
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): v0.3.222 (#1046)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(bench): --repeat-until / --rounds for multi-target campaigns (#79)
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.223
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(bench): --repeat-until / --rounds for multi-target campaigns (#79) (#1047)
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.223 (#1048)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

docs: name the R2 bucket production actually uses
  deploy/PRODUCTION_SETUP.md
  fly.registry.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

feat(bench): campaign log control + per-round stats (#79)
  crates/mockforge-amqp/src/connection.rs
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-chaos/src/analytics.rs
  crates/mockforge-chaos/src/multi_tenancy.rs
  crates/mockforge-chaos/src/template_marketplace.rs
  crates/mockforge-cli/examples/seed_capture_db.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-grpc/src/reflection/rag_synthesis.rs
  crates/mockforge-http/src/handlers/pipelines.rs
  crates/mockforge-http/src/handlers/snapshot_diff.rs
  crates/mockforge-import/src/import/import_utils.rs
  crates/mockforge-import/src/import/postman_environment.rs
  crates/mockforge-import/src/import/swagger2_convert.rs
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-scenarios/src/studio_pack.rs
  crates/mockforge-smtp/src/spec_registry.rs
  crates/mockforge-ui/src/audit.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/admin.rs
  crates/mockforge-ui/src/handlers/community.rs
  crates/mockforge-ui/src/handlers/failure_analysis.rs
  crates/mockforge-ui/src/handlers/pillar_analytics.rs
  crates/mockforge-vbr/src/database.rs
  crates/mockforge-vbr/src/snapshots.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore: drain remaining unused_qualifications sites (#79)
  crates/mockforge-amqp/src/protocol.rs
  crates/mockforge-foundation/src/pillar_tracking.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ci): pull MinIO images from quay.io in e2e compose (#79)
  docker-compose.e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): pull MinIO images from quay.io in remaining compose files (#79)
  crates/mockforge-registry-server/docker-compose.yml
  docker-compose.rls-gate.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(proxy): serialize env-var-mutating tests to prevent race (#79)
  crates/mockforge-proxy/src/reality.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(lint,deps): clear workspace clippy debt + rustls bump + azure_core advisory note
  Cargo.lock
  audit.toml
  crates/mockforge-chaos-ml/src/advanced_analytics.rs
  crates/mockforge-chaos-ml/src/auto_remediation.rs
  crates/mockforge-chaos-ml/src/lib.rs
  crates/mockforge-chaos-ml/src/multi_armed_bandit.rs
  crates/mockforge-chaos-ml/src/predictive_remediation.rs
  crates/mockforge-chaos-ml/src/recommendations.rs
  crates/mockforge-chaos-ml/src/reinforcement_learning.rs
  crates/mockforge-chaos-orchestration/src/advanced_orchestration.rs
  crates/mockforge-chaos-orchestration/src/alerts.rs
  crates/mockforge-chaos-orchestration/src/analytics.rs
  crates/mockforge-chaos-orchestration/src/chaos_mesh.rs
  crates/mockforge-chaos-orchestration/src/config.rs
  crates/mockforge-chaos-orchestration/src/dashboard.rs
  crates/mockforge-chaos-orchestration/src/distributed_coordinator.rs
  crates/mockforge-chaos-orchestration/src/failure_designer.rs
  crates/mockforge-chaos-orchestration/src/gitops.rs
  crates/mockforge-chaos-orchestration/src/incident_replay.rs
  crates/mockforge-chaos-orchestration/src/integrations.rs
  crates/mockforge-chaos-orchestration/src/lib.rs
  crates/mockforge-chaos-orchestration/src/scenario_recorder.rs
  crates/mockforge-chaos-orchestration/src/scenario_replay.rs
  crates/mockforge-chaos-orchestration/src/scenario_scheduler.rs
  crates/mockforge-chaos-orchestration/src/template_marketplace.rs
  crates/mockforge-chaos-orchestration/src/version_control.rs
  crates/mockforge-sdk/tests/error_handling_tests.rs
  crates/mockforge-test-runner/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore: drain remaining unused_qualifications test sites (#79)
  crates/mockforge-core/src/config/mod.rs
  crates/mockforge-recorder/src/cloud_sync.rs
  crates/mockforge-smtp/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry-server): make test_database_connect hermetic (#79)
  crates/mockforge-registry-server/src/database.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(release): v0.3.224
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

docs(book): sync reference changelog for v0.3.224
  book/src/reference/changelog.md
Due: check-added-large-files

chore(release): v0.3.224 (#1053)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(ci): publish MockForge registry and tunnel images to GHCR
  .github/workflows/ashburn-image-smoke.yml
  .github/workflows/ashburn-images.yml
  .github/workflows/docker-build.yml
  docs/ASHBURN_IMAGE_SUPPLY.md
  scripts/tests/test_ashburn_images.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos
