Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

fix(route-chaos): handle unclosed braces in path pattern compilation
  crates/mockforge-route-chaos/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry-server): clean up unused imports, dead code warnings, and deprecations
  crates/mockforge-registry-server/src/circuit_breaker.rs
  crates/mockforge-registry-server/src/deployment/health_check.rs
  crates/mockforge-registry-server/src/deployment/metrics.rs
  crates/mockforge-registry-server/src/deployment/mod.rs
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/email.rs
  crates/mockforge-registry-server/src/handlers/analytics.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-registry-server/src/handlers/health.rs
  crates/mockforge-registry-server/src/handlers/oauth.rs
  crates/mockforge-registry-server/src/handlers/organization_settings.rs
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-registry-server/src/handlers/scenario_promotions.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/middleware/api_token_auth.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/middleware/request_id.rs
  crates/mockforge-registry-server/src/middleware/trusted_proxy.rs
  crates/mockforge-registry-server/src/models/audit_log.rs
  crates/mockforge-registry-server/src/models/mod.rs
  crates/mockforge-registry-server/src/models/project.rs
  crates/mockforge-registry-server/src/models/scenario.rs
  crates/mockforge-registry-server/src/models/template.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(scenarios): remove unused variables and dead code in schema alignment and state machine
  crates/mockforge-scenarios/src/schema_alignment.rs
  crates/mockforge-scenarios/src/state_machine.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(multi): wire real implementations for 6 remaining protocol and infra gaps
  Cargo.lock
  crates/mockforge-amqp/src/broker.rs
  crates/mockforge-amqp/src/exchanges.rs
  crates/mockforge-amqp/src/queues.rs
  crates/mockforge-amqp/src/spec_registry.rs
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-chaos/src/scenario_scheduler.rs
  crates/mockforge-ftp/src/storage.rs
  crates/mockforge-ftp/src/vfs.rs
  crates/mockforge-k8s-operator/src/reconciler.rs
  crates/mockforge-kafka/src/spec_registry.rs
  crates/mockforge-reporting/Cargo.toml
  crates/mockforge-reporting/src/flamegraph.rs
  crates/mockforge-tunnel/src/manager.rs
  crates/mockforge-tunnel/src/provider.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(core,data): replace placeholder implementations with real logic
  crates/mockforge-core/src/contract_validation.rs
  crates/mockforge-core/src/graph/relationships.rs
  crates/mockforge-data/src/replay_augmentation.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(multi): replace placeholders with real implementations
  crates/mockforge-collab/src/promotion.rs
  crates/mockforge-core/src/deceptive_canary.rs
  crates/mockforge-core/src/workspace/template_application.rs
  crates/mockforge-http/src/handlers/deceptive_canary.rs
  crates/mockforge-vbr/src/entities.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(chaos): make trace collector lookback window configurable
  crates/mockforge-chaos/src/trace_collector.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(multi): implement queue unbind and chaos impact threshold alert
  crates/mockforge-amqp/src/connection.rs
  crates/mockforge-chaos/src/alerts.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(multi): implement real logic for simplified placeholders across chaos, collab, reporting, tunnel
  crates/mockforge-chaos/src/advanced_orchestration.rs
  crates/mockforge-chaos/src/observability_api.rs
  crates/mockforge-collab/src/access_review_provider.rs
  crates/mockforge-collab/src/conflict.rs
  crates/mockforge-reporting/src/trend_analysis.rs
  crates/mockforge-tunnel/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): resolve 4 conformance testing issues (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(multi): improve probabilistic model, schema inference, and transition selection
  crates/mockforge-core/src/behavioral_cloning/probabilistic_model.rs
  crates/mockforge-core/src/intelligent_behavior/openapi_generator.rs
  crates/mockforge-scenarios/src/state_machine.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(multi): implement real logic for placeholders across core, data, and http crates
  crates/mockforge-core/src/ab_testing/analytics.rs
  crates/mockforge-core/src/contract_drift/types.rs
  crates/mockforge-core/src/intelligent_behavior/rule_generator.rs
  crates/mockforge-core/src/persona_lifecycle_time.rs
  crates/mockforge-data/src/drift.rs
  crates/mockforge-http/src/auth/jwks_converter.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(core): implement deepObject query param reconstruction and wire up 422 params
  crates/mockforge-core/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(cli): implement show_config --changed-only flag
  crates/mockforge-cli/src/config_commands.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(cli,data): replace production unwraps and remove dead code
  crates/mockforge-cli/src/git_watch_commands.rs
  crates/mockforge-cli/src/mod_commands.rs
  crates/mockforge-cli/src/org_commands.rs
  crates/mockforge-cli/src/scenario_commands.rs
  crates/mockforge-data/src/dataset.rs
  crates/mockforge-data/src/generator.rs
  crates/mockforge-data/src/mock_generator.rs
  crates/mockforge-data/src/mock_server.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): replace raw console.log calls with structured logger
  crates/mockforge-ui/ui/src/components/cookie/CookieConsentBanner.tsx
  crates/mockforge-ui/ui/src/components/hooks/NLHookEditor.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceScenarioCreator.tsx
  crates/mockforge-ui/ui/src/hooks/useAnalyticsStream.ts
  crates/mockforge-ui/ui/src/hooks/useApi.ts
  crates/mockforge-ui/ui/src/main.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(core,chaos): remove dead_code annotations and wire up unused fields
  crates/mockforge-chaos/src/ab_testing.rs
  crates/mockforge-chaos/src/api.rs
  crates/mockforge-core/src/contract_drift/mqtt_kafka_contracts.rs
  crates/mockforge-core/src/contract_drift/websocket_contract.rs
  crates/mockforge-core/src/protocol_abstraction/middleware.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): wire VirtualBackendsPage to real consistency and snapshot APIs
  crates/mockforge-ui/ui/src/pages/VirtualBackendsPage.tsx
  crates/mockforge-ui/ui/src/services/api.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(http): apply bulk config, track proxy stats, update canary config
  crates/mockforge-http/src/handlers/deceptive_canary.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-http/src/middleware/deceptive_canary.rs
  crates/mockforge-http/src/proxy_server.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): wire remaining 9 handler modules with routes
  crates/mockforge-registry-server/src/handlers/audit.rs
  crates/mockforge-registry-server/src/handlers/gdpr.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/scenario_reviews.rs
  crates/mockforge-registry-server/src/handlers/scenarios.rs
  crates/mockforge-registry-server/src/handlers/security.rs
  crates/mockforge-registry-server/src/handlers/settings.rs
  crates/mockforge-registry-server/src/handlers/template_reviews.rs
  crates/mockforge-registry-server/src/handlers/templates.rs
  crates/mockforge-registry-server/src/handlers/token_rotation.rs
  crates/mockforge-registry-server/src/models/mod.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(mqtt): disconnect existing client on ID collision per MQTT spec
  crates/mockforge-mqtt/src/broker.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix: implement 8 placeholder/stub features across the codebase
  crates/mockforge-core/src/import/openapi_import.rs
  crates/mockforge-core/src/openapi/response.rs
  crates/mockforge-graphql/src/handlers.rs
  crates/mockforge-registry-server/src/handlers/oauth.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-registry-server/src/models/plugin.rs
  crates/mockforge-ui/src/auth.rs
  crates/mockforge-ui/src/handlers/plugin.rs
  crates/mockforge-ws/Cargo.toml
  crates/mockforge-ws/src/handlers.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

fix(registry): encrypt BYOK keys, implement growth analytics and status incidents
  crates/mockforge-registry-server/src/handlers/analytics.rs
  crates/mockforge-registry-server/src/handlers/settings.rs
  crates/mockforge-registry-server/src/handlers/status.rs
  crates/mockforge-registry-server/src/handlers/templates.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): wire email verification and hosted mocks routes
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/verification.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(grpc,core): wire url pattern params and data source delegation
  crates/mockforge-core/src/data_source.rs
  crates/mockforge-grpc/src/dynamic/http_bridge/route_generator.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix: implement snapshot storage, spec coverage breakdown, and remove SSO dead code
  crates/mockforge-http/src/handlers/snapshot_diff.rs
  crates/mockforge-http/src/spec_import.rs
  crates/mockforge-registry-server/src/handlers/sso.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix: proper gRPC type mapping, method-level mock checks, forecast persistence
  crates/mockforge-grpc/src/reflection/mock_proxy/proxy.rs
  crates/mockforge-grpc/src/reflection/proxy.rs
  crates/mockforge-http/src/handlers/forecasting.rs
  crates/mockforge-registry-server/src/models/project.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): wire faq, legal, status, support, tokens, and usage handlers
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/support.rs
  crates/mockforge-registry-server/src/handlers/tokens.rs
  crates/mockforge-registry-server/src/handlers/usage.rs
  crates/mockforge-registry-server/src/models/api_token.rs
  crates/mockforge-registry-server/src/models/mod.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(http,core): OAuth2 refresh tokens, contract diff, violation storage
  crates/mockforge-core/src/ai_studio/contract_diff_handler.rs
  crates/mockforge-http/src/handlers/consumer_contracts.rs
  crates/mockforge-http/src/handlers/oauth2_server.rs
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix: implement forecasting data mapping, NodeType parsing, risk fields, and Redis SCAN
  crates/mockforge-http/src/handlers/forecasting.rs
  crates/mockforge-http/src/handlers/risk_assessment.rs
  crates/mockforge-http/src/handlers/world_state.rs
  crates/mockforge-registry-server/src/cache.rs
  crates/mockforge-registry-server/src/redis.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(amqp): parse SASL credentials and log connection close reason
  crates/mockforge-amqp/src/connection.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore: bump version to 0.3.71
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore: add missing README.md for tcp, performance, runtime-daemon crates
  crates/mockforge-performance/README.md
  crates/mockforge-runtime-daemon/README.md
  crates/mockforge-tcp/README.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

test(http): implement real fault injection tests for status codes and tag filters
  crates/mockforge-http/tests/fault_injection_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(core,registry-server): add TemplateCache::clear(), log cache errors, remove dead code
  crates/mockforge-core/src/cache.rs
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-core/src/security/compliance_dashboard.rs
  crates/mockforge-core/src/security/siem.rs
  crates/mockforge-registry-server/src/cache.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(http,core): log errors instead of silently discarding them
  crates/mockforge-core/src/encryption/key_management.rs
  crates/mockforge-http/src/handlers/pipelines.rs
  crates/mockforge-http/src/state_machine_api.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(ftp): replace placeholder tests with real assertions
  crates/mockforge-ftp/tests/integration.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
