Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit, cargo-test

.pre-commit-config.yaml:

repos:
  # Basic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^book/
      - id: end-of-file-fixer
        exclude: ^book/
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # Rust hooks
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: clippy
        args: [--all-targets, --all-features, --, -D, warnings]
      - id: cargo-check

  # Custom fmt hook that works with individual files
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust fmt
        entry: bash -c 'if [ $# -eq 0 ]; then cargo fmt --check; else cargo fmt --check -- "$@"; fi'
        language: system
        files: \.(rs)$
        exclude: ^(target/|book/)
        pass_filenames: true

  # Spell check
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.20
    hooks:
      - id: typos
        exclude: ^(book/|target/|\.git/)

  # Security audit
  - repo: local
    hooks:
      - id: cargo-audit
        name: cargo audit
        entry: cargo
        args: [audit]
        language: system
        pass_filenames: false
        files: ^Cargo\.(toml|lock)$

  # Test runner
  - repo: local
    hooks:
      - id: cargo-test
        name: cargo test
        entry: cargo
        args: [test, --workspace]
        language: system
        pass_filenames: false
        files: \.(rs|toml)$
        exclude: ^(target/|book/)

ci: add workflow_dispatch; disable matrix fail-fast; make nightly non-blocking; set SCCACHE_CACHE_SIZE=2G
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

feat: add latency simulation and distribution configuration
  .github/workflows/ci.yml
  book/src/reference/templating.md
  config.example.yaml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/latency.rs
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-grpc/src/lib.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-ws/src/lib.rs
  scripts/clear-ports.sh
Due: rust-fmt, cargo-test

feat: implement failure injection configuration and integration
  config.example.yaml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/failure_injection.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/op_middleware.rs
  test-failure-config.yaml
Due: rust-fmt, cargo-test

feat: enhance proxy functionality with new handler and configuration options
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/priority_handler.rs
  crates/mockforge-core/src/proxy.rs
  crates/mockforge-core/src/record_replay.rs
  crates/mockforge-core/src/request_fingerprint.rs
  crates/mockforge-http/src/lib.rs
Due: rust-fmt, cargo-test

feat: add new overrides functionality and dependencies
  Cargo.lock
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-core/src/overrides.rs
  crates/mockforge-core/src/proxy.rs
  crates/mockforge-core/src/record_replay.rs
  crates/mockforge-core/src/request_fingerprint.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/op_middleware.rs
Due: rust-fmt, cargo-audit, cargo-test

feat: add new API endpoints for fixture and environment variable management
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/lib.rs
  crates/mockforge-ui/src/models.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/static/admin.css
  crates/mockforge-ui/static/admin.html
  crates/mockforge-ui/static/admin.js
  crates/mockforge-ui/tests/smoke.rs
Due: rust-fmt, cargo-test

feat: enhance proxy configuration and add new dependencies
  Cargo.lock
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/failure_injection.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/priority_handler.rs
  crates/mockforge-core/src/proxy.rs
  crates/mockforge-core/src/record_replay.rs
  crates/mockforge-core/src/request_fingerprint.rs
  crates/mockforge-core/src/ws_proxy.rs
  crates/mockforge-ws/src/lib.rs
Due: rust-fmt, cargo-audit, cargo-test

feat: add smoke testing functionality and related endpoints
  book/src/SUMMARY.md
  book/src/reference/fixtures.md
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/record_replay.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/routes.rs
  fixtures/http/get/_api_users/sample.json
  fixtures/http/post/_api_users/create.json
Due: rust-fmt, cargo-test

feat: update dependencies and add reflection module
  Cargo.lock
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-grpc/src/lib.rs
  crates/mockforge-grpc/src/reflection/cache.rs
  crates/mockforge-grpc/src/reflection/client.rs
  crates/mockforge-grpc/src/reflection/config.rs
  crates/mockforge-grpc/src/reflection/connection_pool.rs
  crates/mockforge-grpc/src/reflection/descriptor.rs
  crates/mockforge-grpc/src/reflection/error_handling.rs
  crates/mockforge-grpc/src/reflection/metrics.rs
  crates/mockforge-grpc/src/reflection/mod.rs
  crates/mockforge-grpc/src/reflection/proxy.rs
Due: rust-fmt, cargo-audit, cargo-test

feat: update dependencies and enhance OpenAPI validation
  Cargo.lock
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/openapi.rs
  crates/mockforge-core/src/validation.rs
  crates/mockforge-core/tests/schema_constraints.rs
  crates/mockforge-core/tests/validation_tests.rs
  crates/mockforge-data/Cargo.toml
  crates/mockforge-data/src/dataset.rs
  crates/mockforge-data/src/lib.rs
  crates/mockforge-data/src/rag.rs
  crates/mockforge-data/tests/dataset_validation.rs
  crates/mockforge-data/tests/rag_tests.rs
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-grpc/src/reflection/cache.rs
  crates/mockforge-grpc/src/reflection/client.rs
  crates/mockforge-grpc/src/reflection/descriptor.rs
  crates/mockforge-grpc/src/reflection/proxy.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/tests/admin_handlers.rs
Due: rust-fmt, cargo-audit, cargo-test

feat: enhance WebSocket proxying and update dependencies
  Cargo.lock
  crates/mockforge-core/src/proxy.rs
  crates/mockforge-core/src/ws_proxy.rs
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-grpc/README.md
  crates/mockforge-grpc/build.rs
  crates/mockforge-grpc/examples/flexible_grpc.rs
  crates/mockforge-grpc/proto/gretter.proto
  crates/mockforge-grpc/src/dynamic/mod.rs
  crates/mockforge-grpc/src/dynamic/proto_parser.rs
  crates/mockforge-grpc/src/dynamic/service_generator.rs
  crates/mockforge-grpc/src/lib.rs
  crates/mockforge-grpc/src/reflection/config.rs
  crates/mockforge-grpc/src/reflection/mock_proxy.rs
  crates/mockforge-grpc/src/reflection/mod.rs
  crates/mockforge-grpc/src/reflection/proxy.rs
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/static/admin.css
  crates/mockforge-ui/static/admin.js
  crates/mockforge-ws/src/lib.rs
  crates/mockforge-ws/tests/ws_proxy_debug.rs
  crates/mockforge-ws/tests/ws_proxy_e2e.rs
  fixtures/http/get/_api_users/sample.json
  tools/gen_grpc.stubs.py
Due: rust-fmt, cargo-audit, cargo-test

fix: update connection pool documentation comment
  crates/mockforge-grpc/src/reflection/mock_proxy.rs
Due: rust-fmt, cargo-test

feat: implement all streaming patterns in MockReflectionProxy
  crates/mockforge-grpc/src/reflection/mock_proxy.rs
Due: rust-fmt, cargo-test

feat: enhance ReflectionProxy with metadata preservation and improved mock generation
  crates/mockforge-grpc/src/reflection/proxy.rs
Due: rust-fmt, cargo-test

feat: add streaming support to DynamicGrpcService
  crates/mockforge-grpc/src/dynamic/service_generator.rs
Due: rust-fmt, cargo-test

feat: enhance dataset validation and default configurations
  crates/mockforge-core/src/request_fingerprint.rs
  crates/mockforge-data/src/dataset.rs
  crates/mockforge-data/src/lib.rs
  crates/mockforge-data/src/rag.rs
  crates/mockforge-data/tests/dataset_validation.rs
  crates/mockforge-data/tests/rag_tests.rs
  crates/mockforge-grpc/src/reflection/proxy.rs
  crates/mockforge-ui/tests/admin_handlers.rs
  crates/mockforge-ws/tests/ws_proxy_debug.rs
Due: rust-fmt, cargo-test

refactor: improve type constraint validation in FieldDefinition
  crates/mockforge-data/src/schema.rs
Due: rust-fmt, cargo-test
