Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit, cargo-test

.pre-commit-config.yaml:

repos:
  # Basic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^book/
      - id: end-of-file-fixer
        exclude: ^book/
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # Rust hooks
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: clippy
        args: [--all-targets, --all-features, --, -D, warnings]
      - id: cargo-check

  # Custom fmt hook that works with individual files
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust fmt
        entry: bash -c 'if [ $# -eq 0 ]; then cargo fmt --check; else cargo fmt --check -- "$@"; fi'
        language: system
        files: \.(rs)$
        exclude: ^(target/|book/)
        pass_filenames: true

  # Spell check
  - repo: https://github.com/crate-ci/typos
    rev: v1.16.20
    hooks:
      - id: typos
        exclude: ^(book/|target/|\.git/)

  # Security audit
  - repo: local
    hooks:
      - id: cargo-audit
        name: cargo audit
        entry: cargo
        args: [audit]
        language: system
        pass_filenames: false
        files: ^Cargo\.(toml|lock)$

  # Test runner
  - repo: local
    hooks:
      - id: cargo-test
        name: cargo test
        entry: cargo
        args: [test, --workspace]
        language: system
        pass_filenames: false
        files: \.(rs|toml)$
        exclude: ^(target/|book/)

fix: resolve critical CI failures and improve validation logic
  crates/mockforge-core/src/request_fingerprint.rs
  crates/mockforge-data/src/lib.rs
  crates/mockforge-data/src/schema.rs
  crates/mockforge-data/tests/rag_tests.rs
Due: rust-fmt, cargo-test

fix: resolve additional clippy warnings
  crates/mockforge-data/src/schema.rs
  crates/mockforge-ws/src/lib.rs
Due: rust-fmt, cargo-test

fix: apply proper line wrapping for long statements
  crates/mockforge-ws/src/lib.rs
Due: rust-fmt, cargo-test

fix: resolve all remaining clippy warnings and test failures
  crates/mockforge-data/tests/rag_tests.rs
  crates/mockforge-grpc/src/dynamic/mod.rs
  crates/mockforge-grpc/src/dynamic/proto_parser.rs
  crates/mockforge-grpc/src/reflection/cache.rs
  crates/mockforge-grpc/src/reflection/connection_pool.rs
  crates/mockforge-grpc/src/reflection/descriptor.rs
  crates/mockforge-grpc/src/reflection/metrics.rs
  crates/mockforge-grpc/src/reflection/mock_proxy.rs
  crates/mockforge-grpc/src/reflection/proxy.rs
  crates/mockforge-ui/src/handlers.rs
Due: rust-fmt, cargo-test

fix: apply rustfmt formatting corrections
  crates/mockforge-grpc/src/reflection/proxy.rs
Due: rust-fmt, cargo-test

fix: add wrk to allowed words and exclude generated book files
  .typos.toml
Due: cargo-test

fix: resolve HTTP e2e test failures by adding ConnectInfo support
  crates/mockforge-http/tests/response_example_expand_e2e.rs
  crates/mockforge-http/tests/response_status_2xx_e2e.rs
  crates/mockforge-http/tests/validation_e2e.rs
  crates/mockforge-http/tests/validation_status_422_e2e.rs
Due: rust-fmt, cargo-test

fix: replace unreliable GitHub sccache with local file-based sccache
  .github/workflows/ci.yml
Due: none

feat: add GitHub Pages deployment for mdbook documentation
  .github/workflows/deploy-docs.yml
  .typos.toml
  README.md
Due: cargo-test

fix: resolve mdbook deployment workflow issues
  .github/workflows/deploy-docs.yml
Due: none

feat: enhance gRPC service generation with smart mock capabilities
  Cargo.lock
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-grpc/src/dynamic/proto_parser.rs
  crates/mockforge-grpc/src/dynamic/service_generator.rs
  crates/mockforge-grpc/src/reflection/mock_proxy.rs
  crates/mockforge-grpc/src/reflection/mod.rs
  crates/mockforge-grpc/src/reflection/smart_mock_generator.rs
Due: rust-fmt, cargo-audit, cargo-test

feat: integrate fake data generation into SmartMockGenerator
  Cargo.lock
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-grpc/src/reflection/smart_mock_generator.rs
Due: rust-fmt, cargo-audit, cargo-test

feat: enhance advanced data synthesis capabilities in MockForge
  Cargo.lock
  README.md
  book/src/SUMMARY.md
  book/src/getting-started/concepts.md
  book/src/user-guide/grpc-mocking.md
  book/src/user-guide/grpc-mocking/advanced-data-synthesis.md
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-grpc/examples/advanced-data-synthesis.rs
  crates/mockforge-grpc/src/reflection/integration_tests.rs
  crates/mockforge-grpc/src/reflection/mod.rs
  crates/mockforge-grpc/src/reflection/rag_synthesis.rs
  crates/mockforge-grpc/src/reflection/schema_graph.rs
  crates/mockforge-grpc/src/reflection/smart_mock_generator.rs
  crates/mockforge-grpc/src/reflection/validation_framework.rs
  docs/advanced-data-synthesis.md
Due: rust-fmt, cargo-audit, cargo-test

feat: add comprehensive utility functions for JavaScript scripting
  crates/mockforge-core/src/request_scripting.rs
Due: rust-fmt, cargo-test

fix: resolve compilation errors from prost-reflect and tonic API changes
  crates/mockforge-grpc/src/dynamic/http_bridge/converters.rs
  crates/mockforge-grpc/src/dynamic/http_bridge/handlers.rs
  crates/mockforge-grpc/src/dynamic/http_bridge/mod.rs
  crates/mockforge-grpc/src/dynamic/mod.rs
  crates/mockforge-grpc/src/dynamic/service_generator.rs
  crates/mockforge-grpc/src/reflection/cache.rs
  crates/mockforge-grpc/src/reflection/config.rs
  crates/mockforge-grpc/src/reflection/descriptor.rs
  crates/mockforge-grpc/src/reflection/error_handling.rs
  crates/mockforge-grpc/src/reflection/mock_proxy/handlers.rs
  crates/mockforge-grpc/src/reflection/mock_proxy/middleware.rs
  crates/mockforge-grpc/src/reflection/mock_proxy/proxy.rs
  crates/mockforge-grpc/src/reflection/mock_proxy/validation.rs
  crates/mockforge-grpc/src/reflection/proxy.rs
  crates/mockforge-grpc/src/reflection/smart_mock_generator.rs
  crates/mockforge-plugin-core/src/runtime.rs
Due: rust-fmt, cargo-test

feat: implement workspace persistence for import operations
  crates/mockforge-ui/src/handlers.rs
Due: rust-fmt, cargo-test

chore: remove outdated documentation files related to plugin system and product context
  memory-bank/activeContext.md
  memory-bank/journal/2025_09_18_import_functionality_status_and_next_steps.md
  memory-bank/plugin_system_implementation_plan.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Due: none

feat: enhance validation modes and serialization in OpenAPI and gRPC
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-core/src/openapi_routes/validation.rs
  crates/mockforge-core/src/overrides/models.rs
  crates/mockforge-grpc/src/dynamic/http_bridge/handlers.rs
  crates/mockforge-grpc/src/dynamic/mod.rs
  crates/mockforge-grpc/src/reflection/config.rs
  crates/mockforge-grpc/src/reflection/mock_proxy/handlers.rs
  crates/mockforge-grpc/src/reflection/mock_proxy/middleware.rs
  crates/mockforge-grpc/src/reflection/mock_proxy/validation.rs
  crates/mockforge-plugin-core/src/runtime.rs
Due: rust-fmt, cargo-test

feat: enhance request validation and metadata handling in MockReflectionProxy
  crates/mockforge-grpc/src/reflection/mock_proxy/middleware.rs
Due: rust-fmt, cargo-test

feat: enable gRPC reflection service with updated configuration
  crates/mockforge-grpc/src/dynamic/mod.rs
Due: rust-fmt, cargo-test

feat: add vergen for build metadata and enhance request validation
  Cargo.lock
  crates/mockforge-cli/src/main.rs
  crates/mockforge-grpc/src/reflection/mock_proxy/middleware.rs
  crates/mockforge-grpc/src/reflection/mock_proxy/proxy.rs
  crates/mockforge-grpc/src/reflection/mock_proxy/validation.rs
  crates/mockforge-plugin-loader/src/lib.rs
  crates/mockforge-plugin-loader/src/validator.rs
  crates/mockforge-plugin-loader/tests/integration_tests.rs
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/build.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/admin.rs
  crates/mockforge-ui/src/handlers/assets.rs
  crates/mockforge-ui/src/models.rs
  crates/mockforge-ui/src/routes.rs
Due: rust-fmt, cargo-audit, cargo-test

feat: enhance plugin validation and configuration management
  crates/mockforge-plugin-loader/src/lib.rs
  crates/mockforge-plugin-loader/src/validator.rs
  crates/mockforge-plugin-loader/tests/integration_tests.rs
  crates/mockforge-plugin-loader/tests/loader_tests.rs
  crates/mockforge-plugin-loader/tests/security_tests.rs
Due: rust-fmt, cargo-test

feat: integrate file-based key storage and enhance encryption management
  Cargo.lock
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/encryption.rs
  crates/mockforge-core/src/encryption/key_management.rs
  crates/mockforge-core/src/templating.rs
  crates/mockforge-core/src/workspace.rs
  crates/mockforge-core/src/workspace/core.rs
  crates/mockforge-core/src/workspace_persistence.rs
  crates/mockforge-http/src/auth.rs
  crates/mockforge-http/src/auth/authenticator.rs
  crates/mockforge-http/src/auth/middleware.rs
  crates/mockforge-http/src/auth/state.rs
  crates/mockforge-http/src/auth/types.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-plugin-core/Cargo.toml
  crates/mockforge-plugin-core/src/lib.rs
  crates/mockforge-plugin-core/src/manifest/loader.rs
  crates/mockforge-plugin-core/src/manifest/models.rs
  crates/mockforge-plugin-core/src/manifest/schema.rs
  crates/mockforge-plugin-core/src/runtime.rs
  crates/mockforge-plugin-core/src/types.rs
  crates/mockforge-plugin-core/tests/core_tests.rs
  crates/mockforge-plugin-loader/src/sandbox.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/admin.rs
  crates/mockforge-ui/ui/src/services/api.ts
  test_semver.rs
Due: rust-fmt, cargo-audit, cargo-test

chore: remove obsolete screenshot files
  Screenshot 2025-09-15 162426.png
  Screenshot 2025-09-17 115250.png
Due: none

Fix .gitignore to exclude target/ directories everywhere
  .gitignore
Due: none

Update URLs to use new domains: mockforge.dev and docs.mockforge.dev
  Cargo.toml
  README.md
Due: cargo-audit, cargo-test
