Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  language: system
  pass_filenames: false

fix(bench): URL-encode URI payloads + strip form keys from body payloads (#79)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/src/wafbench.rs
  crates/mockforge-bench/tests/issue_79_comprehensive_test.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-data/src/drift_learning.rs
  crates/mockforge-data/src/mock_generator.rs
  crates/mockforge-data/src/mock_server.rs
  crates/mockforge-data/src/provider.rs
Due: rust-fmt, cargo-audit

fix(bench): deliver CRS payloads as path injection + form-encoded body (#79)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/security_payloads.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/src/wafbench.rs
  crates/mockforge-bench/tests/issue_79_comprehensive_test.rs
Due: rust-fmt, cargo-audit

feat(bench): per-server stats, per-target specs, conformance testing (#79)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/report.rs
  crates/mockforge-bench/src/conformance/spec.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/reporter.rs
  crates/mockforge-bench/src/target_parser.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
Due: rust-fmt, cargo-audit

feat(bench): conformance extensions — category filtering, spec-driven, schema validation, SARIF (#79)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/report.rs
  crates/mockforge-bench/src/conformance/sarif.rs
  crates/mockforge-bench/src/conformance/schema_validator.rs
  crates/mockforge-bench/src/conformance/spec.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/spec_parser.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
Due: rust-fmt, cargo-audit

fix(bench): conformance security resolution, content negotiation, CLI help (#79)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
Due: rust-fmt, cargo-audit

fix(registry): fix TIMESTAMP→TIMESTAMPTZ in 11 migrations, org usage endpoint, stale docs
  crates/mockforge-registry-server/ORG_ENDPOINT_TEST_FINAL.md
  crates/mockforge-registry-server/ORG_ENDPOINT_TEST_RESULTS.md
  crates/mockforge-registry-server/ORG_ENDPOINT_TEST_SUMMARY.md
  crates/mockforge-registry-server/migrations/20250101000001_init.sql
  crates/mockforge-registry-server/migrations/20250101000003_multi_tenancy.sql
  crates/mockforge-registry-server/migrations/20250101000004_billing.sql
  crates/mockforge-registry-server/migrations/20250101000006_settings.sql
  crates/mockforge-registry-server/migrations/20250101000009_email_verification.sql
  crates/mockforge-registry-server/migrations/20250101000010_login_attempts.sql
  crates/mockforge-registry-server/migrations/20250101000011_feature_usage.sql
  crates/mockforge-registry-server/migrations/20250101000012_audit_logs.sql
  crates/mockforge-registry-server/migrations/20250101000013_suspicious_activities.sql
  crates/mockforge-registry-server/migrations/20250101000015_two_factor_auth.sql
  crates/mockforge-registry-server/migrations/20250101000016_sso.sql
  crates/mockforge-registry-server/migrations/20250101000018_fix_timestamp_types.sql
  crates/mockforge-registry-server/migrations/20250101000019_marketplace_performance_indexes.sql
  crates/mockforge-registry-server/migrations/20250101000023_org_ai_controls.sql
  crates/mockforge-registry-server/src/handlers/organization_settings.rs
  crates/mockforge-registry-server/tests/signup_flow_e2e.rs
Due: none

fix(bench): normalize form body encoding for CRS 942432 WAF detection (#79)
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/wafbench.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-registry-server/src/handlers/organization_settings.rs
Due: rust-fmt

feat: wire workspace APIs and integrate planned UI routes
  crates/mockforge-http/src/consistency/response_enrichment.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/assets.rs
  crates/mockforge-ui/src/handlers/workspaces.rs
  crates/mockforge-ui/src/routes.rs
Due: rust-fmt

fix(bench): use k6 native form encoding for CRS 942432 body delivery (#79)
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/tests/issue_79_comprehensive_test.rs
  crates/mockforge-cli/Cargo.toml
Due: rust-fmt

feat(cli): add --base-path option to serve command (#79)
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/deploy_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/voice_commands.rs
Due: rust-fmt

fix(cli): --base-path now prefixes spec paths instead of modifying servers (#79)
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
Due: rust-fmt

fix(http,ui): resolve all --all-features compilation errors
  Cargo.lock
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/consistency/response_enrichment.rs
  crates/mockforge-http/src/handlers/semantic_drift.rs
  crates/mockforge-http/src/handlers/threat_modeling.rs
  crates/mockforge-ui/src/routes.rs
Due: rust-fmt, cargo-audit

fix(http): add ConnectInfo to TLS server for HTTPS request handling (#79)
  crates/mockforge-http/src/lib.rs
Due: rust-fmt

fix(http): add ConnectInfo to TLS server for HTTPS request handling (#79) (#112)
  crates/mockforge-http/src/lib.rs
Due: rust-fmt

fix(ci): make sccache optional to survive GHA cache outages
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(ci): fix Docker Trivy image-ref and resolve typos failures
  .github/workflows/docker-build.yml
  .typos.toml
  CHANGELOG.md
  book/src/reference/changelog.md
Due: none

fix(cli): replace case-insensitive hack with explicit case matching
  crates/mockforge-cli/tests/config_validation_tests.rs
Due: rust-fmt

fix(ci): install libglib2.0-dev for vosk/glib-sys compilation
  .github/workflows/ci.yml
Due: none

fix: resolve pre-existing clippy, test, and CI failures
  .github/workflows/ci.yml
  crates/mockforge-data/benches/token_resolver_bench.rs
  crates/mockforge-data/src/consistency.rs
  crates/mockforge-data/src/drift_learning.rs
  crates/mockforge-data/src/integration_tests.rs
  crates/mockforge-data/src/intelligent_mock.rs
  crates/mockforge-data/src/mock_generator.rs
  crates/mockforge-data/src/persona_backstory.rs
  crates/mockforge-data/src/provider.rs
  crates/mockforge-data/src/rag/config.rs
  crates/mockforge-data/src/rag/storage.rs
  crates/mockforge-data/src/replay_augmentation.rs
  crates/mockforge-data/tests/data_quality_tests.rs
  crates/mockforge-data/tests/prop_data_generation_tests.rs
  crates/mockforge-ui/ui/src/pages/__tests__/FixturesPage.test.tsx
Due: rust-fmt

fix(ci): add missing lint scripts and bump MSRV to 1.91
  .github/workflows/ci.yml
  scripts/lint-warning-gate.sh
  scripts/lint-warning-ratchet-preview.sh
Due: none

fix(ci): relax clippy to deny only correctness errors
  .github/workflows/ci.yml
Due: none

fix(ci): add libsoup2.4-dev, simplify MSRV check, fix unused qualification
  .github/workflows/ci.yml
  crates/mockforge-data/src/dataset.rs
  crates/mockforge-data/src/lib.rs
Due: rust-fmt

fix(ci): add missing system deps and ignore known advisory
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/test.yml
  .typos.toml
Due: none

fix(ci): exclude desktop-app from workspace builds, remove libwebkit2gtk
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/test.yml
Due: none

fix(ci): correct package exclusions, deny.toml format, and lint warnings
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/test.yml
  crates/mockforge-collab/src/backup.rs
  crates/mockforge-core/src/consistency/engine.rs
  crates/mockforge-http/src/consistency/response_enrichment.rs
  crates/mockforge-http/src/handlers/drift_budget.rs
  crates/mockforge-http/src/handlers/forecasting.rs
  deny.toml
Due: rust-fmt

fix(ci): remove --all-features from link-requiring steps (vosk native dep)
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

fix(cli): prevent stack overflow in CLI arg parsing test
  crates/mockforge-cli/src/main.rs
Due: rust-fmt

fix(core): fix Windows compilation errors in encryption.rs
  crates/mockforge-core/src/encryption.rs
Due: rust-fmt

fix(core): increase performance test thresholds for CI runners
  crates/mockforge-core/tests/performance_regression_tests.rs
Due: rust-fmt

fix(ui): set MOCKFORGE_ALLOW_INMEMORY_AUTH in integration tests
  crates/mockforge-ui/tests/admin_ui_build.rs
  crates/mockforge-ui/tests/admin_ui_integration_comprehensive.rs
  crates/mockforge-ui/tests/integration.rs
  crates/mockforge-ui/tests/smoke.rs
  crates/mockforge-ui/tests/static_files.rs
Due: rust-fmt

fix(ci): set MOCKFORGE_ALLOW_INMEMORY_AUTH in CI env
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

fix(ci): add ENVIRONMENT and MOCKFORGE_ENABLE_DEV_AUTH for UI tests
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

fix(ui): fix PNG placeholder assertion and add dev auth env vars
  crates/mockforge-ui/tests/static_files.rs
Due: rust-fmt

fix(ci): fix PNG assertion and increase perf test thresholds further
  crates/mockforge-core/tests/performance_regression_tests.rs
  crates/mockforge-ui/tests/static_files.rs
Due: rust-fmt

fix(vbr): fix SQLite creation, WHERE clause parsing, and constraint validation
  crates/mockforge-vbr/src/constraints.rs
  crates/mockforge-vbr/src/database.rs
  crates/mockforge-vbr/src/handlers.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
