Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

chore(release): bump workspace to 0.3.138
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

refactor(intelligence,core): move ai_studio whole — #562 complete (phase 8)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/lib.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/ai_studio/api_critique.rs
  crates/mockforge-intelligence/src/ai_studio/artifact_freezer.rs
  crates/mockforge-intelligence/src/ai_studio/behavioral_simulator.rs
  crates/mockforge-intelligence/src/ai_studio/budget_manager.rs
  crates/mockforge-intelligence/src/ai_studio/chat_orchestrator.rs
  crates/mockforge-intelligence/src/ai_studio/config.rs
  crates/mockforge-intelligence/src/ai_studio/contract_diff_handler.rs
  crates/mockforge-intelligence/src/ai_studio/conversation_store.rs
  crates/mockforge-intelligence/src/ai_studio/debug_analyzer.rs
  crates/mockforge-intelligence/src/ai_studio/debug_context.rs
  crates/mockforge-intelligence/src/ai_studio/debug_context_integrator.rs
  crates/mockforge-intelligence/src/ai_studio/mod.rs
  crates/mockforge-intelligence/src/ai_studio/nl_mock_generator.rs
  crates/mockforge-intelligence/src/ai_studio/org_controls.rs
  crates/mockforge-intelligence/src/ai_studio/org_controls_db.rs
  crates/mockforge-intelligence/src/ai_studio/persona_generator.rs
  crates/mockforge-intelligence/src/ai_studio/system_generator.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(intelligence,core): move ai_studio whole — #562 complete (phase 8) (#580)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/lib.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/ai_studio/api_critique.rs
  crates/mockforge-intelligence/src/ai_studio/artifact_freezer.rs
  crates/mockforge-intelligence/src/ai_studio/behavioral_simulator.rs
  crates/mockforge-intelligence/src/ai_studio/budget_manager.rs
  crates/mockforge-intelligence/src/ai_studio/chat_orchestrator.rs
  crates/mockforge-intelligence/src/ai_studio/config.rs
  crates/mockforge-intelligence/src/ai_studio/contract_diff_handler.rs
  crates/mockforge-intelligence/src/ai_studio/conversation_store.rs
  crates/mockforge-intelligence/src/ai_studio/debug_analyzer.rs
  crates/mockforge-intelligence/src/ai_studio/debug_context.rs
  crates/mockforge-intelligence/src/ai_studio/debug_context_integrator.rs
  crates/mockforge-intelligence/src/ai_studio/mod.rs
  crates/mockforge-intelligence/src/ai_studio/nl_mock_generator.rs
  crates/mockforge-intelligence/src/ai_studio/org_controls.rs
  crates/mockforge-intelligence/src/ai_studio/org_controls_db.rs
  crates/mockforge-intelligence/src/ai_studio/persona_generator.rs
  crates/mockforge-intelligence/src/ai_studio/system_generator.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs(intelligence,core): document why voice_workspace stays in core (#562 epilogue)
  crates/mockforge-core/src/voice.rs
  crates/mockforge-core/src/voice_workspace.rs
  crates/mockforge-intelligence/src/voice/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(intelligence,core): document why voice_workspace stays in core (#562 epilogue) (#581)
  crates/mockforge-core/src/voice.rs
  crates/mockforge-core/src/voice_workspace.rs
  crates/mockforge-intelligence/src/voice/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): adaptive --vus pre-flight + connection-reuse diagnostic (#79 round 8)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/preflight.rs
  crates/mockforge-bench/src/reporter.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(release): bump 0.3.138 → 0.3.139 to avoid collision with #579
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): bump workspace to 0.3.138 (#579)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(core): re-export voice_workspace as voice::workspace_builder (#562 phase 7 follow-up)
  crates/mockforge-core/src/voice.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(core): re-export voice_workspace as voice::workspace_builder (#562 phase 7 follow-up) (#583)
  crates/mockforge-core/src/voice.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): add mockforge-platform-signing to publish-crates.sh dep list
  scripts/publish-crates.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(bench): adaptive --vus pre-flight + connection-reuse diagnostic (#79 round 8) (#582)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/preflight.rs
  crates/mockforge-bench/src/reporter.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(release): add mockforge-platform-signing to publish-crates.sh dep list (#584)
  scripts/publish-crates.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry-server): drop unused std::time:: qualifier in incident_dispatcher
  CHANGELOG.md
  crates/mockforge-registry-server/src/workers/incident_dispatcher.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,plugin-host): wire platform signing-root HTTP + plugin-host live-reload (#568)
  Cargo.lock
  crates/mockforge-foundation/src/chaos_utilities.rs
  crates/mockforge-platform-signing/src/signer.rs
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-plugin-host/src/handlers.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/platform_trust_root_cache.rs
  crates/mockforge-plugin-host/src/protocol.rs
  crates/mockforge-plugin-host/src/server.rs
  crates/mockforge-plugin-host/tests/trust_root_lifecycle.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/bin/rotate-platform-key.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/platform_signing.rs
  crates/mockforge-registry-server/src/lib.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/platform_signing.rs
  crates/mockforge-registry-server/src/routes.rs
  docs/plugins/security/platform-signing-rotation-runbook.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(registry-server): drop unused std::time:: qualifier in incident_dispatcher (#585)
  CHANGELOG.md
  crates/mockforge-registry-server/src/workers/incident_dispatcher.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

deps: bump tower-http 0.6.11, dashmap 6.2.1, tar 0.4.46, tauri 2.11.2
  Cargo.lock
  crates/mockforge-collab/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-registry-server/src/workers/incident_dispatcher.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

deps: bump tower-http 0.6.11, dashmap 6.2.1, tar 0.4.46, tauri 2.11.2 (#589)
  Cargo.lock
  crates/mockforge-collab/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-registry-server/src/workers/incident_dispatcher.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(registry,plugin-host): wire platform signing-root HTTP + plugin-host live-reload (#568) (#586)
  Cargo.lock
  crates/mockforge-foundation/src/chaos_utilities.rs
  crates/mockforge-platform-signing/src/signer.rs
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-plugin-host/src/handlers.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/platform_trust_root_cache.rs
  crates/mockforge-plugin-host/src/protocol.rs
  crates/mockforge-plugin-host/src/server.rs
  crates/mockforge-plugin-host/tests/trust_root_lifecycle.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/bin/rotate-platform-key.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/platform_signing.rs
  crates/mockforge-registry-server/src/lib.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/platform_signing.rs
  crates/mockforge-registry-server/src/routes.rs
  docs/plugins/security/platform-signing-rotation-runbook.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

test(registry-server): UUID-suffixed identifiers in marketplace_e2e to fix shared-DB collisions
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(plugin-host): drop unused crate::signing:: qualifier on TrustStore in host.rs (3 sites)
  crates/mockforge-plugin-host/src/host.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(registry-server): UUID-suffixed identifiers in marketplace_e2e to fix shared-DB collisions (#591)
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(plugin-host): drop unused crate::signing:: qualifier on TrustStore in host.rs (3 sites) (#592)
  crates/mockforge-plugin-host/src/host.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): pre-flight probe multiplies latency by ops/iteration (#79 round 9)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/preflight.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(fmt): rustfmt collapse fallout from #591 + #592
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(fmt): rustfmt collapse fallout from #591 + #592 (#594)
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): pre-flight probe multiplies latency by ops/iteration (#79 round 9) (#593)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/preflight.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(release): 0.3.140 → 0.3.141 + fix mockforge-foundation::pillars doctests
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-foundation/src/pillars.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trigger ci
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(changelog): escape backticks in 0.3.141 entry so mdbook-toc parses
  CHANGELOG.md
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(deps): rename rand::thread_rng → rand::rng across rand 0.9 crates (#588)
  crates/mockforge-core/src/ab_testing/middleware.rs
  crates/mockforge-core/src/behavioral_cloning/probabilistic_model.rs
  crates/mockforge-core/src/deceptive_canary.rs
  crates/mockforge-core/src/encryption.rs
  crates/mockforge-core/src/encryption/algorithms.rs
  crates/mockforge-core/src/encryption/derivation.rs
  crates/mockforge-core/src/request_scripting.rs
  crates/mockforge-core/src/templating.rs
  crates/mockforge-core/src/traffic_shaping.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/src/behavioral_cloning/probabilistic_model.rs
  crates/mockforge-plugin-cli/src/commands/key.rs
  crates/mockforge-security-core/src/encryption/algorithms.rs
  crates/mockforge-security-core/src/encryption/derivation.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(deps): bump registry-core, registry-server, mockforge-ui to rand 0.9 (#588 follow-up)
  Cargo.lock
  crates/mockforge-registry-core/Cargo.toml
  crates/mockforge-registry-core/src/models/api_token.rs
  crates/mockforge-registry-core/src/models/attestation.rs
  crates/mockforge-registry-core/src/models/verification_token.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/handlers/oauth.rs
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/src/registry_admin.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(release): 0.3.141 + fix mockforge-foundation::pillars doctests (release-gate) (#595)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-foundation/src/pillars.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(deps): bump registry-core, registry-server, mockforge-ui to rand 0.9 (#588 follow-up) (#597)
  Cargo.lock
  crates/mockforge-registry-core/Cargo.toml
  crates/mockforge-registry-core/src/models/api_token.rs
  crates/mockforge-registry-core/src/models/attestation.rs
  crates/mockforge-registry-core/src/models/verification_token.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/handlers/oauth.rs
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/src/registry_admin.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(deps): rename rand::thread_rng → rand::rng across rand 0.9 crates (#588) (#596)
  crates/mockforge-core/src/ab_testing/middleware.rs
  crates/mockforge-core/src/behavioral_cloning/probabilistic_model.rs
  crates/mockforge-core/src/deceptive_canary.rs
  crates/mockforge-core/src/encryption.rs
  crates/mockforge-core/src/encryption/algorithms.rs
  crates/mockforge-core/src/encryption/derivation.rs
  crates/mockforge-core/src/request_scripting.rs
  crates/mockforge-core/src/templating.rs
  crates/mockforge-core/src/traffic_shaping.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/src/behavioral_cloning/probabilistic_model.rs
  crates/mockforge-plugin-cli/src/commands/key.rs
  crates/mockforge-security-core/src/encryption/algorithms.rs
  crates/mockforge-security-core/src/encryption/derivation.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ci): check-changelog.sh works on PR merge commit checkout
  CHANGELOG.md
  book/src/reference/changelog.md
  scripts/check-changelog.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): check-changelog.sh works on PR merge commit checkout (#598)
  CHANGELOG.md
  book/src/reference/changelog.md
  scripts/check-changelog.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(intelligence): move behavioral_economics into mockforge-intelligence (#562 phase 8)
  crates/mockforge-core/src/behavioral_economics.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-intelligence/src/behavioral_economics/actions.rs
  crates/mockforge-intelligence/src/behavioral_economics/conditions.rs
  crates/mockforge-intelligence/src/behavioral_economics/config.rs
  crates/mockforge-intelligence/src/behavioral_economics/engine.rs
  crates/mockforge-intelligence/src/behavioral_economics/mod.rs
  crates/mockforge-intelligence/src/behavioral_economics/rules.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(intelligence): move behavioral_economics into mockforge-intelligence (#562 phase 8) (#599)
  crates/mockforge-core/src/behavioral_economics.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-intelligence/src/behavioral_economics/actions.rs
  crates/mockforge-intelligence/src/behavioral_economics/conditions.rs
  crates/mockforge-intelligence/src/behavioral_economics/config.rs
  crates/mockforge-intelligence/src/behavioral_economics/engine.rs
  crates/mockforge-intelligence/src/behavioral_economics/mod.rs
  crates/mockforge-intelligence/src/behavioral_economics/rules.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt
