Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

fix(registry): accept f64 min_confidence in generate-openapi-from-traffic (#382)
  crates/mockforge-registry-server/src/handlers/mockai.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): cloud-enable flows quartet + fitness functions, hide redundant local pages
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/FlowExecutor.tsx
  crates/mockforge-ui/ui/src/pages/FitnessFunctionsPage.tsx
  crates/mockforge-ui/ui/src/pages/OrchestrationBuilder.tsx
  crates/mockforge-ui/ui/src/pages/OrchestrationExecutionView.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStateMachineEditor.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStudioPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(plugin-loader): per-invocation metrics bus with wall-time + status
  crates/mockforge-plugin-loader/src/invocation_metrics.rs
  crates/mockforge-plugin-loader/src/lib.rs
  crates/mockforge-plugin-loader/src/sandbox.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): cloud-mode crash on /config — skip local-only API calls (#381)
  crates/mockforge-ui/ui/src/hooks/api/useConfigApi.ts
  crates/mockforge-ui/ui/src/hooks/api/useServerApi.ts
  crates/mockforge-ui/ui/src/hooks/api/useValidationApi.ts
  crates/mockforge-ui/ui/src/pages/ConfigPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/ConfigPage.test.tsx
  crates/mockforge-ui/ui/src/utils/apiClient.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud-plugins): schema for hosted_mock_plugins + org trust roots
  crates/mockforge-registry-core/src/models/hosted_mock_plugin.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/organization_trust_root.rs
  crates/mockforge-registry-server/migrations/20250101000074_cloud_plugin_attachments.sql
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(deploy): pin wrangler@4.85.0 in Makefile and package.json (#383)
  Makefile
  crates/mockforge-ui/ui/package.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(cloud-plugins): build-vs-buy spike — recommend in-house with portability (#387)
  docs/plugins/security/cloud-runtime-build-vs-buy-spike.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(cloud-plugins): trust & permission RFC for cloud plugin runtime (#386)
  docs/plugins/security/cloud-trust-permissions-rfc.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(plugin-loader): per-invocation metrics bus with wall-time + status (#388)
  crates/mockforge-plugin-loader/src/invocation_metrics.rs
  crates/mockforge-plugin-loader/src/lib.rs
  crates/mockforge-plugin-loader/src/sandbox.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): cloud-enable Showcase + Learning Hub + flows quartet + fitness functions (#384)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/FlowExecutor.tsx
  crates/mockforge-ui/ui/src/pages/FitnessFunctionsPage.tsx
  crates/mockforge-ui/ui/src/pages/OrchestrationBuilder.tsx
  crates/mockforge-ui/ui/src/pages/OrchestrationExecutionView.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStateMachineEditor.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStudioPage.tsx
  crates/mockforge-ui/ui/src/pages/ShowcasePage.tsx
  crates/mockforge-ui/ui/src/services/api/__tests__/cloudCommunity.test.ts
  crates/mockforge-ui/ui/src/services/api/cloudCommunity.ts
  crates/mockforge-ui/ui/src/services/communityApi.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud-plugins): schema for hosted_mock_plugins + org trust roots (#389)
  crates/mockforge-registry-core/src/models/hosted_mock_plugin.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/organization_trust_root.rs
  crates/mockforge-registry-server/migrations/20250101000074_cloud_plugin_attachments.sql
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud-plugins): Phase 0 demand-validation CTA on cloud plugin-registry (#385)
  crates/mockforge-registry-core/src/models/cloud_plugin_beta_interest.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-server/migrations/20250101000073_cloud_plugin_beta_interest.sql
  crates/mockforge-registry-server/src/handlers/cloud_plugins.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/plugins/CloudPluginsBetaCta.tsx
  crates/mockforge-ui/ui/src/components/plugins/__tests__/CloudPluginsBetaCta.test.tsx
  crates/mockforge-ui/ui/src/pages/PluginRegistryPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudPlugins.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud-plugins): control-plane API for plugin attach/detach
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/feature_usage.rs
  crates/mockforge-registry-server/src/handlers/cloud_plugin_attachments.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(plugin-loader): wire MemoryTracker into active sandbox
  crates/mockforge-plugin-loader/src/lib.rs
  crates/mockforge-plugin-loader/src/memory_tracking.rs
  crates/mockforge-plugin-loader/src/sandbox.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(cloud-plugins): sidecar Fly proof — 256 MB validated
  docs/plugins/security/cloud-runtime-sidecar-spike.md
  docs/plugins/security/sidecar-spike/Dockerfile.spike
  docs/plugins/security/sidecar-spike/entrypoint-spike.sh
  docs/plugins/security/sidecar-spike/plugin_host_stub.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud-plugins): FlyioMachineConfig.guest + plan-tier sizing
  crates/mockforge-registry-server/src/deployment/flyio.rs
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  docs/plugins/security/cloud-runtime-sidecar-spike.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(cloud-plugins): FlyioMachineConfig.guest + plan-tier sizing (#398)
  crates/mockforge-registry-server/src/deployment/flyio.rs
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  docs/plugins/security/cloud-runtime-sidecar-spike.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(plugin-host): scaffold sidecar binary for cloud-plugins Phase 2
  Cargo.lock
  Cargo.toml
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-plugin-host/src/handlers.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/protocol.rs
  crates/mockforge-plugin-host/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(plugin-host): wire LoadPlugin/Invoke/UnloadPlugin to PluginSandbox
  Cargo.lock
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-plugin-host/src/handlers.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/protocol.rs
  crates/mockforge-plugin-host/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(plugin-host): wire LoadPlugin/Invoke/UnloadPlugin to PluginSandbox (#400)
  Cargo.lock
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-plugin-host/src/handlers.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/protocol.rs
  crates/mockforge-plugin-host/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(cloud-plugins): production Dockerfile + multi-process entrypoint
  Dockerfile.cloud-plugins
  scripts/cloud-plugins-entrypoint.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(plugin-host): Ed25519 signature verification at LoadPlugin
  Cargo.lock
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-plugin-host/src/handlers.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/protocol.rs
  crates/mockforge-plugin-host/src/server.rs
  crates/mockforge-plugin-host/src/signing.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(plugin-host): Ed25519 signature verification at LoadPlugin (#403)
  Cargo.lock
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-plugin-host/src/handlers.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/protocol.rs
  crates/mockforge-plugin-host/src/server.rs
  crates/mockforge-plugin-host/src/signing.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(plugin-loader): wire MemoryTracker into active sandbox (#396)
  crates/mockforge-plugin-loader/src/lib.rs
  crates/mockforge-plugin-loader/src/memory_tracking.rs
  crates/mockforge-plugin-loader/src/sandbox.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(cloud-plugins): sidecar Fly proof — 256 MB validated (#397)
  crates/mockforge-registry-server/src/deployment/flyio.rs
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  docs/plugins/security/cloud-runtime-sidecar-spike.md
  docs/plugins/security/sidecar-spike/Dockerfile.spike
  docs/plugins/security/sidecar-spike/entrypoint-spike.sh
  docs/plugins/security/sidecar-spike/plugin_host_stub.py
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(plugin-host): kill-switch blocklist poll
  Cargo.lock
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-plugin-host/src/blocklist.rs
  crates/mockforge-plugin-host/src/handlers.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(plugin-host): kill-switch blocklist poll (#404)
  Cargo.lock
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-plugin-host/src/blocklist.rs
  crates/mockforge-plugin-host/src/handlers.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(plugin-host): metric exporter wires invocation bus to cloud aggregator
  crates/mockforge-plugin-host/src/handlers.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/metering.rs
  crates/mockforge-plugin-host/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(plugin-host): include manifest in signed payload (defense-in-depth)
  crates/mockforge-plugin-host/src/handlers.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/protocol.rs
  crates/mockforge-plugin-host/src/signing.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(plugin-host): scaffold sidecar binary for cloud-plugins Phase 2 (#399)
  Cargo.lock
  Cargo.toml
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-plugin-host/src/handlers.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/protocol.rs
  crates/mockforge-plugin-host/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(cloud-plugins): production Dockerfile + multi-process entrypoint (#402)
  Dockerfile.cloud-plugins
  scripts/cloud-plugins-entrypoint.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(plugin-egress): HTTP CONNECT proxy with per-plugin allowlist
  Cargo.lock
  Cargo.toml
  crates/mockforge-plugin-egress/Cargo.toml
  crates/mockforge-plugin-egress/src/denylist.rs
  crates/mockforge-plugin-egress/src/lib.rs
  crates/mockforge-plugin-egress/src/main.rs
  crates/mockforge-plugin-egress/src/policy.rs
  crates/mockforge-plugin-egress/src/proxy.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(plugin-host): consolidate signing, blocklist, metering, manifest-cover
  Cargo.lock
  crates/mockforge-plugin-host/Cargo.toml
  crates/mockforge-plugin-host/src/blocklist.rs
  crates/mockforge-plugin-host/src/handlers.rs
  crates/mockforge-plugin-host/src/host.rs
  crates/mockforge-plugin-host/src/lib.rs
  crates/mockforge-plugin-host/src/main.rs
  crates/mockforge-plugin-host/src/metering.rs
  crates/mockforge-plugin-host/src/protocol.rs
  crates/mockforge-plugin-host/src/server.rs
  crates/mockforge-plugin-host/src/signing.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(plugin-egress): live reload of allowlist via SIGHUP
  crates/mockforge-plugin-egress/src/handle.rs
  crates/mockforge-plugin-egress/src/lib.rs
  crates/mockforge-plugin-egress/src/main.rs
  crates/mockforge-plugin-egress/src/proxy.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(plugin-egress): live reload of allowlist via SIGHUP (#406)
  crates/mockforge-plugin-egress/src/handle.rs
  crates/mockforge-plugin-egress/src/lib.rs
  crates/mockforge-plugin-egress/src/main.rs
  crates/mockforge-plugin-egress/src/proxy.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cloud-plugins): orchestrator picks cloud-plugins image when plugins attached
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(plugin-egress): HTTP CONNECT proxy with per-plugin allowlist (#401)
  Cargo.lock
  Cargo.toml
  crates/mockforge-plugin-egress/Cargo.toml
  crates/mockforge-plugin-egress/src/denylist.rs
  crates/mockforge-plugin-egress/src/handle.rs
  crates/mockforge-plugin-egress/src/lib.rs
  crates/mockforge-plugin-egress/src/main.rs
  crates/mockforge-plugin-egress/src/policy.rs
  crates/mockforge-plugin-egress/src/proxy.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ci): generate-dashboard tolerates missing target/criterion
  .github/scripts/generate-dashboard.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): install Rust toolchain in load-testing jobs
  .github/workflows/load-testing.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): UI tests force local mode so cloud-mode dispatch doesn't break mocks
  crates/mockforge-ui/ui/src/pages/__tests__/ChainsPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/DashboardPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/ImportPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/ScenarioStateMachineEditor.test.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos
