Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

feat(http): contract-diff retrieval API
  crates/mockforge-http/src/contract_diff_api.rs
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http): contract-diff retrieval API (#249)
  crates/mockforge-http/src/contract_diff_api.rs
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http): fixtures management API on the main HTTP port
  crates/mockforge-http/src/fixtures_api.rs
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http): fixtures management API on the main HTTP port (#250)
  crates/mockforge-http/src/fixtures_api.rs
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(hosted-mocks): state-machines tab on the deployment detail dialog
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/hooks/useDeploymentStateMachines.ts
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(hosted-mocks): state-machines tab on the deployment detail dialog (#251)
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/hooks/useDeploymentStateMachines.ts
  crates/mockforge-ui/ui/src/pages/HostedMocksPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(http): standalone MockAI HTTP API
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/mockai_api.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http): standalone MockAI HTTP API (#252)
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/mockai_api.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http): mirror time-travel routes onto the main HTTP port
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/time_travel_api.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http): mirror time-travel routes onto the main HTTP port (#253)
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/time_travel_api.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(cloud): add hosted-mocks live-test runbook
  docs/cloud/HOSTED_MOCKS_TEST_RUNBOOK.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(cloud): add hosted-mocks live-test runbook (#254)
  docs/cloud/HOSTED_MOCKS_TEST_RUNBOOK.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(ui): auto-deploy admin UI to Cloudflare Pages on push to main
  .github/workflows/deploy-ui.yml
  crates/mockforge-ui/ui/package.json
  crates/mockforge-ui/ui/pnpm-lock.yaml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(ui): auto-deploy admin UI to Cloudflare Pages on push to main (#255)
  .github/workflows/deploy-ui.yml
  crates/mockforge-ui/ui/package.json
  crates/mockforge-ui/ui/pnpm-lock.yaml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: add concurrency groups + drop redundant push-on-main triggers
  .github/workflows/benchmarks.yml
  .github/workflows/breaking-changes.yml
  .github/workflows/chaos-testing.yml
  .github/workflows/contract-diff.yml
  .github/workflows/docker-build.yml
  .github/workflows/docs-check.yml
  .github/workflows/fuzz.yml
  .github/workflows/jcs-fuzz.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/npm-publish-sdk.yml
  .github/workflows/plugin-publish.yml
  .github/workflows/release.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: add concurrency groups + drop redundant push-on-main triggers (#256)
  .github/workflows/benchmarks.yml
  .github/workflows/breaking-changes.yml
  .github/workflows/chaos-testing.yml
  .github/workflows/contract-diff.yml
  .github/workflows/docker-build.yml
  .github/workflows/docs-check.yml
  .github/workflows/fuzz.yml
  .github/workflows/jcs-fuzz.yml
  .github/workflows/k8s-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/npm-publish-sdk.yml
  .github/workflows/plugin-publish.yml
  .github/workflows/release.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): build admin UI in cloud mode for app.mockforge.dev deploys
  .github/workflows/deploy-ui.yml
  Makefile
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): build admin UI in cloud mode for app.mockforge.dev deploys (#257)
  .github/workflows/deploy-ui.yml
  Makefile
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(faq): correct stale answers and cover shipped features
  crates/mockforge-registry-server/src/handlers/faq.rs
  crates/mockforge-ui/ui/src/pages/FAQPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(faq): correct stale answers and cover shipped features (#258)
  crates/mockforge-registry-server/src/handlers/faq.rs
  crates/mockforge-ui/ui/src/pages/FAQPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): register Tailwind v4 utilities for custom palettes
  crates/mockforge-ui/ui/src/components/ai/ApiCritique.tsx
  crates/mockforge-ui/ui/src/components/ui/IconSystem.tsx
  crates/mockforge-ui/ui/src/components/ui/ResponsiveTable.tsx
  crates/mockforge-ui/ui/src/components/ui/Section.tsx
  crates/mockforge-ui/ui/src/components/ui/StatusBadge.tsx
  crates/mockforge-ui/ui/src/components/ui/design-system/ContextMenu.tsx
  crates/mockforge-ui/ui/src/components/ui/design-system/Dialog.tsx
  crates/mockforge-ui/ui/src/components/ui/design-system/FormControls.tsx
  crates/mockforge-ui/ui/src/components/ui/design-system/Modal.tsx
  crates/mockforge-ui/ui/src/index.css
  crates/mockforge-ui/ui/src/pages/MockAIOpenApiGeneratorPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): register Tailwind v4 utilities for custom palettes (#259)
  crates/mockforge-ui/ui/src/components/ai/ApiCritique.tsx
  crates/mockforge-ui/ui/src/components/ui/IconSystem.tsx
  crates/mockforge-ui/ui/src/components/ui/ResponsiveTable.tsx
  crates/mockforge-ui/ui/src/components/ui/Section.tsx
  crates/mockforge-ui/ui/src/components/ui/StatusBadge.tsx
  crates/mockforge-ui/ui/src/components/ui/design-system/ContextMenu.tsx
  crates/mockforge-ui/ui/src/components/ui/design-system/Dialog.tsx
  crates/mockforge-ui/ui/src/components/ui/design-system/FormControls.tsx
  crates/mockforge-ui/ui/src/components/ui/design-system/Modal.tsx
  crates/mockforge-ui/ui/src/index.css
  crates/mockforge-ui/ui/src/pages/MockAIOpenApiGeneratorPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry,ui): bind org_id in audit-log queries + parse comma-separated event_type
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/audit.rs
  crates/mockforge-ui/ui/src/pages/BYOKConfigPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry,ui): bind org_id in audit-log queries + parse comma-separated event_type (#260)
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/audit.rs
  crates/mockforge-ui/ui/src/pages/BYOKConfigPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

ci: add migration-guard PR check
  .github/workflows/migration-guard.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: add migration-guard PR check (#262)
  .github/workflows/migration-guard.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): widen organization page right panel and prevent tab wrapping
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): widen organization page right panel and prevent tab wrapping (#263)
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): surface real billing API errors in BillingPage
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): surface real billing API errors in BillingPage (#264)
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(http,cli): add --no-rate-limit flag and MOCKFORGE_RATE_LIMIT_ENABLED env var (#79)
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/middleware/mod.rs
  crates/mockforge-http/src/middleware/rate_limit.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http,cli): add --no-rate-limit flag and MOCKFORGE_RATE_LIMIT_ENABLED env var (#79) (#280)
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/middleware/mod.rs
  crates/mockforge-http/src/middleware/rate_limit.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(kafka): fix flaky test_broker_startup_timeout by binding ephemeral port (#209)
  crates/mockforge-kafka/tests/integration.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): bump workspace to 0.3.119
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(ci): cut ~half the per-PR CI jobs without losing signal
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(ci): cut ~half the per-PR CI jobs without losing signal (#210)
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(http,test,ci): make release.yml's Run tests step actually pass
  .github/workflows/release.yml
  crates/mockforge-http/src/management/mod.rs
  tests/tests/component_integration.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(http,test,ci): make release.yml's Run tests step actually pass (#281)
  .github/workflows/release.yml
  crates/mockforge-http/src/management/mod.rs
  tests/tests/component_integration.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): bump workspace to 0.3.120
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(registry-core): drop duplicate migration that blocked all sqlite migrations
  crates/mockforge-registry-core/migrations/20260101000010_user_notification_and_preferences.sql
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos
