Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  language: system
  pass_filenames: false

feat(bench): add nested path and filter extraction for CRUD flows
  crates/mockforge-bench/src/crud_flow.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
Due: rust-fmt

feat(bench): add merge_body support and inject_attacks data model for CRUD flows
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/crud_flow.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
Due: rust-fmt, cargo-audit

fix(bench): fix extracted value substitution and OWASP k6 config
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/owasp_api/generator.rs
Due: rust-fmt

chore: release 0.3.30
  Cargo.lock
  Cargo.toml
Due: cargo-audit

fix(bench): support CRS v3.3 format and pass --insecure to OWASP tests
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/owasp_api/config.rs
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/wafbench.rs
  crates/mockforge-cli/Cargo.toml
Due: rust-fmt, cargo-audit

fix(bench): multiple fixes for v0.3.33
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/security_payloads.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
  crates/mockforge-cli/Cargo.toml
Due: rust-fmt, cargo-audit

fix(bench): remove undefined totalRequestCount variable reference
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
  crates/mockforge-cli/Cargo.toml
Due: none

feat(bench): OWASP tests now respect --vus parameter
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/owasp_api/config.rs
  crates/mockforge-cli/Cargo.toml
Due: rust-fmt, cargo-audit

feat(bench): add WAFBench cycle-all mode and OWASP iterations control
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/owasp_api/config.rs
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/security_payloads.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
Due: rust-fmt, cargo-audit

fix(owasp): fix http.delete error and add base_path support
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/owasp_api/config.rs
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-cli/Cargo.toml
Due: rust-fmt, cargo-audit

fix(wafbench): integrate security payloads into CRUD flow requests
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
Due: rust-fmt

fix(owasp): properly escape auth header values for JavaScript strings
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/security_payloads.rs
Due: rust-fmt

fix(bench): use random UUIDs for OWASP API path parameters
  crates/mockforge-bench/src/owasp_api/generator.rs
Due: rust-fmt

fix(bench): use raw Handlebars output for pre-escaped OWASP values
  crates/mockforge-bench/src/owasp_api/generator.rs
Due: rust-fmt

fix(bench): include wafbench_dir in advanced features check
  crates/mockforge-bench/src/command.rs
Due: rust-fmt

docs: update CHANGELOG for v0.3.37 release
  CHANGELOG.md
Due: none

docs: fill in missing changelog entries for v0.3.22-0.3.36
  CHANGELOG.md
Due: none

fix(bench): pass custom headers to OWASP tests and fix WAFBench single file loading
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/owasp_api/config.rs
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/wafbench.rs
Due: rust-fmt

chore: bump version to 0.3.38
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-cli/Cargo.toml
Due: none

docs: update CHANGELOG for v0.3.38 release
  CHANGELOG.md
Due: none

fix(bench): WAFBench XSS injection and Cookie duplication issues (#79)
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/security_payloads.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/src/wafbench.rs
  crates/mockforge-bench/tests/crud_flow_params_test.rs
Due: rust-fmt

chore: bump version to 0.3.39
  CHANGELOG.md
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-cli/Cargo.toml
Due: none

chore: update Cargo.lock for v0.3.39
  Cargo.lock
Due: cargo-audit

fix(cli): format string escaping in plugin_commands.rs (#79)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/plugin_commands.rs
Due: rust-fmt, cargo-audit

fix(bench): improve WAFBench XSS detection and cookie handling (#79)
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/security_payloads.rs
  crates/mockforge-cli/Cargo.toml
Due: rust-fmt, cargo-audit

fix(bench): security payloads now actually applied to k6 requests (#79)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-cli/Cargo.toml
Due: cargo-audit

fix(bench): improve WAFBench payload distribution and OWASP header handling (#79)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/security_payloads.rs
  crates/mockforge-cli/Cargo.toml
Due: rust-fmt, cargo-audit

test(bench): add comprehensive issue #79 test suite
  crates/mockforge-bench/tests/crud_flow_params_test.rs
  crates/mockforge-bench/tests/issue_79_comprehensive_test.rs
Due: rust-fmt

fix(bench): security payloads now injected + cookie dedup in all templates (#79)
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/data_driven.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/mock_integration.rs
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/owasp_api/payloads.rs
  crates/mockforge-bench/src/owasp_api/report.rs
  crates/mockforge-bench/src/owasp_api/validators.rs
  crates/mockforge-bench/src/parallel_executor.rs
  crates/mockforge-bench/src/parallel_requests.rs
  crates/mockforge-bench/src/spec_parser.rs
  crates/mockforge-bench/src/target_parser.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/tests/billing_subscriptions_test.rs
  crates/mockforge-bench/tests/dump_k6.rs
  crates/mockforge-bench/tests/issue_79_comprehensive_test.rs
  crates/mockforge-bench/tests/verify_param_resolution.rs
  crates/mockforge-cli/Cargo.toml
Due: rust-fmt, cargo-audit

fix(registry): add RBAC permission system with Display, AdminAll bypass, and PermissionChecker
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/middleware/permission_check.rs
  crates/mockforge-registry-server/src/middleware/permissions.rs
  crates/mockforge-registry-server/src/models/organization.rs
Due: none

chore: add Claude Code setup (CLAUDE.md, agents, skills, hooks, hookify)
  .claude/agents/code-explorer.md
  .claude/agents/code-reviewer.md
  .claude/agents/security-auditor.md
  .claude/agents/template-checker.md
  .claude/agents/test-runner.md
  .claude/commands/commit-push-pr.md
  .claude/commands/commit.md
  .claude/commands/hookify-configure.md
  .claude/commands/hookify-list.md
  .claude/hooks/hookify/core/__init__.py
  .claude/hooks/hookify/core/config_loader.py
  .claude/hooks/hookify/core/rule_engine.py
  .claude/hooks/hookify/posttooluse.py
  .claude/hooks/hookify/pretooluse.py
  .claude/hooks/hookify/stop.py
  .claude/hooks/hookify/userpromptsubmit.py
  .claude/rules/agent-usage.md
  .claude/rules/self-verification.md
  .claude/settings.json
  .claude/skills/bench-review/SKILL.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/crate-explore/SKILL.md
  .claude/skills/hookify/SKILL.md
  .claude/skills/template-check/SKILL.md
  .claude/skills/verify/SKILL.md
  .gitignore
  .mcp.json
  CLAUDE.md
Due: none

fix(bench): cycle security payloads per-operation + clear cookies in API2 tests (#79)
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-cli/Cargo.toml
Due: rust-fmt, cargo-audit

fix(bench): send raw security payloads + use dedicated empty cookie jar (#79)
  Cargo.lock
  bench-results/k6-script.js
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/security_payloads.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/tests/crud_flow_params_test.rs
  crates/mockforge-bench/tests/issue_79_comprehensive_test.rs
  crates/mockforge-cli/Cargo.toml
Due: rust-fmt, cargo-audit

fix(bench): use per-request CookieJar instead of shared EMPTY_JAR (#79)
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/owasp_api/generator.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/tests/crud_flow_params_test.rs
  crates/mockforge-cli/Cargo.toml
Due: rust-fmt, cargo-audit

fix(bench): accept all WAFBench CRS payloads without attack-pattern filter (#79)
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/wafbench.rs
  crates/mockforge-cli/Cargo.toml
Due: rust-fmt, cargo-audit

fix(bench): group multi-part WAFBench payloads, decode body payloads, fix Cookie/CookieJar conflict (#79)
  CHANGELOG.md
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/security_payloads.rs
  crates/mockforge-bench/src/templates/k6_crud_flow.hbs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-bench/src/wafbench.rs
  crates/mockforge-bench/tests/issue_79_comprehensive_test.rs
  crates/mockforge-cli/Cargo.toml
Due: rust-fmt, cargo-audit

Path conditions:
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
