Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

refactor(openapi): decouple openapi_routes from templating+overrides+MockAI — Phase 4b
  Cargo.lock
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/openapi_rewriter.rs
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/lib.rs
  crates/mockforge-openapi/src/lib.rs
  crates/mockforge-openapi/src/response_rewriter.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(foundation): extract mockforge-foundation with Error/Result/EncryptionError
  Cargo.lock
  Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/encryption.rs
  crates/mockforge-core/src/encryption/errors.rs
  crates/mockforge-core/src/error.rs
  crates/mockforge-foundation/Cargo.toml
  crates/mockforge-foundation/src/encryption_error.rs
  crates/mockforge-foundation/src/error.rs
  crates/mockforge-foundation/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(openapi): move openapi_routes to mockforge-openapi — Phase 4c
  Cargo.lock
  crates/mockforge-core/src/lib.rs
  crates/mockforge-openapi/Cargo.toml
  crates/mockforge-openapi/src/lib.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/openapi_routes/builder.rs
  crates/mockforge-openapi/src/openapi_routes/generation.rs
  crates/mockforge-openapi/src/openapi_routes/registry.rs
  crates/mockforge-openapi/src/openapi_routes/validation.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(pipelines): clarify TODO for allow(deprecated) — needs full workspace extraction
  crates/mockforge-pipelines/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(openapi): migrate consumers to mockforge-openapi directly — Phase 5
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/spec_dependencies.rs
  crates/mockforge-bench/src/spec_parser.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/backend_generator.rs
  crates/mockforge-cli/src/backend_generator/rust_axum.rs
  crates/mockforge-cli/src/generate_commands.rs
  crates/mockforge-cli/src/mockai_commands.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-cli/src/voice_commands.rs
  crates/mockforge-http/src/builder.rs
  crates/mockforge-http/src/handlers/semantic_drift.rs
  crates/mockforge-http/src/handlers/threat_modeling.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-import/Cargo.toml
  crates/mockforge-import/src/codegen/backend_generator.rs
  crates/mockforge-import/src/codegen/mod.rs
  crates/mockforge-import/src/codegen/rust_generator.rs
  crates/mockforge-import/src/codegen/tests.rs
  crates/mockforge-import/src/codegen/typescript_generator.rs
  crates/mockforge-import/src/import/openapi_command_generator.rs
  crates/mockforge-import/src/import/openapi_import.rs
  crates/mockforge-pipelines/Cargo.toml
  crates/mockforge-pipelines/src/steps/regenerate_sdk.rs
  crates/mockforge-runtime-daemon/Cargo.toml
  crates/mockforge-runtime-daemon/src/auto_generator.rs
  crates/mockforge-vbr/Cargo.toml
  crates/mockforge-vbr/src/lib.rs
  crates/mockforge-vbr/src/openapi.rs
  tests/Cargo.toml
  tests/tests/mockai_integration.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(foundation): move WebSocket/MQTT/Kafka topic schema types (A21)
  crates/mockforge-core/src/contract_drift/mqtt_kafka_contracts.rs
  crates/mockforge-core/src/contract_drift/websocket_contract.rs
  crates/mockforge-foundation/src/protocol_contract_types.rs
  crates/mockforge-http/src/handlers/protocol_contracts.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(foundation): move DriftResult, FitnessTestResult, consumer types (A13)
  crates/mockforge-core/src/contract_drift/budget_engine.rs
  crates/mockforge-core/src/contract_drift/consumer_mapping.rs
  crates/mockforge-core/src/contract_drift/fitness.rs
  crates/mockforge-core/src/contract_drift/types.rs
  crates/mockforge-foundation/src/contract_drift_types.rs
  crates/mockforge-recorder/src/sync_drift.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(scenarios): scope allow(deprecated) to studio_pack.rs
  crates/mockforge-scenarios/src/lib.rs
  crates/mockforge-scenarios/src/studio_pack.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(foundation): move contract_drift value types (A6)
  crates/mockforge-core/src/contract_drift/types.rs
  crates/mockforge-foundation/src/contract_drift_types.rs
  crates/mockforge-foundation/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(collab): scope allow(deprecated) to the files that need it
  crates/mockforge-collab/src/core_bridge.rs
  crates/mockforge-collab/src/lib.rs
  crates/mockforge-collab/src/workspace.rs
  crates/mockforge-collab/tests/common/mod.rs
  crates/mockforge-collab/tests/promotion_workflow.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(foundation): move intelligent_behavior base types (A2)
  Cargo.lock
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/intelligent_behavior/config.rs
  crates/mockforge-core/src/intelligent_behavior/mockai.rs
  crates/mockforge-core/src/intelligent_behavior/types.rs
  crates/mockforge-foundation/Cargo.toml
  crates/mockforge-foundation/src/intelligent_behavior.rs
  crates/mockforge-foundation/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(recorder,http): migrate behavioral_cloning types to mockforge-intelligence
  Cargo.lock
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/handlers/behavioral_cloning.rs
  crates/mockforge-http/src/middleware/behavioral_cloning.rs
  crates/mockforge-kafka/src/fixtures.rs
  crates/mockforge-kafka/tests/integration.rs
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-recorder/src/database.rs
  crates/mockforge-recorder/src/lib.rs
  crates/mockforge-recorder/src/sync_drift.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(foundation): move ai_contract_diff types to foundation (A5)
  crates/mockforge-core/src/ai_contract_diff/types.rs
  crates/mockforge-foundation/src/contract_diff_types.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-recorder/src/sync_drift.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(contracts): wire mockforge-contracts into workspace + add schema_diff
  Cargo.lock
  Cargo.toml
  crates/mockforge-contracts/src/consumer_contracts/detector.rs
  crates/mockforge-contracts/src/contract_drift/consumer_mapping.rs
  crates/mockforge-contracts/src/lib.rs
  crates/mockforge-contracts/src/schema_diff.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(contracts,http): wire mockforge-contracts into mockforge-http
  Cargo.lock
  crates/mockforge-contracts/Cargo.toml
  crates/mockforge-contracts/src/diff_types.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/handlers/consumer_contracts.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(foundation): move threat_modeling + rule data types (A16, A17)
  crates/mockforge-core/src/contract_drift/threat_modeling/types.rs
  crates/mockforge-core/src/intelligent_behavior/rule_generator.rs
  crates/mockforge-foundation/src/intelligent_behavior/mod.rs
  crates/mockforge-foundation/src/intelligent_behavior/rule_types.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-foundation/src/threat_modeling_types.rs
  crates/mockforge-http/src/handlers/contract_health.rs
  crates/mockforge-http/src/handlers/threat_modeling.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management/ai_gen.rs
  crates/mockforge-http/src/management/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(foundation): move ai_studio data types to foundation (A20)
  crates/mockforge-core/src/ai_studio/api_critique.rs
  crates/mockforge-core/src/ai_studio/artifact_freezer.rs
  crates/mockforge-core/src/ai_studio/behavioral_simulator.rs
  crates/mockforge-core/src/ai_studio/system_generator.rs
  crates/mockforge-foundation/src/ai_studio_types.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-http/src/handlers/ai_studio.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore: clarify TODOs after A8 progress
  crates/mockforge-recorder/src/lib.rs
  crates/mockforge-scenarios/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(foundation): move SemanticDriftResult + SemanticChangeType (A19)
  crates/mockforge-core/src/ai_contract_diff/semantic_analyzer.rs
  crates/mockforge-foundation/src/contract_diff_types.rs
  crates/mockforge-http/src/handlers/semantic_drift.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): gate workspace load on auth + add mobile-web-app-capable meta
  crates/mockforge-ui/ui/index.html
  crates/mockforge-ui/ui/src/App.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): gate workspace load on auth + add mobile-web-app-capable meta (#121)
  crates/mockforge-ui/ui/index.html
  crates/mockforge-ui/ui/src/App.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): implement workspace environments + fix audit-logs filter
  Cargo.lock
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/workspace_environment.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations/20250101000032_workspace_environments.sql
  crates/mockforge-registry-server/src/handlers/audit.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/workspace_environments.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

test(ui): add E2E regression for auth-race + PWA meta fix (#121)
  crates/mockforge-ui/ui/e2e/auth-race-deployed.spec.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

test(ui): add E2E regression for auth-race + PWA meta fix (#121) (#122)
  crates/mockforge-ui/ui/e2e/auth-race-deployed.spec.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): marketplace backend — template stars + plugin security + SBOM
  Cargo.lock
  crates/mockforge-cli/src/registry_commands.rs
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-loader/src/bin/scanner.rs
  crates/mockforge-plugin-loader/src/installer.rs
  crates/mockforge-plugin-registry/src/index.rs
  crates/mockforge-plugin-registry/src/lib.rs
  crates/mockforge-plugin-registry/src/storage.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/plugin.rs
  crates/mockforge-registry-core/src/models/template_star.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/migrations-sqlite/20260101000002_plugin_scans.sql
  crates/mockforge-registry-server/migrations-sqlite/20260101000003_plugin_sbom.sql
  crates/mockforge-registry-server/migrations-sqlite/20260101000004_plugin_reviews_and_tags.sql
  crates/mockforge-registry-server/migrations/20250101000033_plugin_language_and_security_scans.sql
  crates/mockforge-registry-server/migrations/20250101000034_plugin_sbom.sql
  crates/mockforge-registry-server/migrations/20250101000035_template_stars.sql
  crates/mockforge-registry-server/src/handlers/admin.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-registry-server/src/handlers/reviews.rs
  crates/mockforge-registry-server/src/handlers/templates.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/storage.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/plugin_scanner.rs
  crates/mockforge-registry-server/test-api-complete.sh
  crates/mockforge-registry-server/test-api.sh
  crates/mockforge-registry-server/test-endpoints.sh
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
  tests/load/marketplace_load.js
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(ui,marketplace): unified tab hub + star toggle + plugin author/admin controls
  crates/mockforge-ui/ui/src/components/__tests__/marketplace/MarketplaceTabs.test.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/marketplace/MarketplaceTabs.tsx
  crates/mockforge-ui/ui/src/components/marketplace/PublishScenarioModal.tsx
  crates/mockforge-ui/ui/src/components/marketplace/PublishTemplateModal.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/PluginRegistryPage.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioMarketplacePage.tsx
  crates/mockforge-ui/ui/src/pages/TemplateMarketplacePage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): publisher keys + OSV vuln scanner + SBOM attestations + plugin scanner subprocess
  .github/workflows/jcs-fuzz.yml
  Cargo.lock
  Cargo.toml
  Dockerfile.registry
  crates/mockforge-plugin-cli/Cargo.toml
  crates/mockforge-plugin-cli/src/commands/key.rs
  crates/mockforge-plugin-cli/src/commands/mod.rs
  crates/mockforge-plugin-cli/src/commands/publish.rs
  crates/mockforge-plugin-cli/src/main.rs
  crates/mockforge-registry-core/Cargo.toml
  crates/mockforge-registry-core/src/models/attestation.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/osv.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/Dockerfile
  crates/mockforge-registry-server/migrations-sqlite/20260101000005_osv_vulnerabilities.sql
  crates/mockforge-registry-server/migrations-sqlite/20260101000006_templates_scenarios.sql
  crates/mockforge-registry-server/migrations-sqlite/20260101000007_federations.sql
  crates/mockforge-registry-server/migrations-sqlite/20260101000008_sbom_attestation.sql
  crates/mockforge-registry-server/migrations-sqlite/20260101000009_template_stars.sql
  crates/mockforge-registry-server/migrations/20250101000035_osv_vulnerabilities.sql
  crates/mockforge-registry-server/migrations/20250101000036_sbom_attestation.sql
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-registry-server/src/handlers/public_keys.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/osv_sync.rs
  crates/mockforge-registry-server/src/workers/plugin_scanner.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/PublisherKeysPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/PublisherKeysPage.test.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(registry): publisher keys + OSV vuln scanner + SBOM attestations + plugin scanner subprocess (#124)
  .github/workflows/jcs-fuzz.yml
  Cargo.lock
  Cargo.toml
  Dockerfile.registry
  crates/mockforge-plugin-cli/Cargo.toml
  crates/mockforge-plugin-cli/src/commands/key.rs
  crates/mockforge-plugin-cli/src/commands/mod.rs
  crates/mockforge-plugin-cli/src/commands/publish.rs
  crates/mockforge-plugin-cli/src/main.rs
  crates/mockforge-registry-core/Cargo.toml
  crates/mockforge-registry-core/src/models/attestation.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/osv.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/Dockerfile
  crates/mockforge-registry-server/migrations-sqlite/20260101000005_osv_vulnerabilities.sql
  crates/mockforge-registry-server/migrations-sqlite/20260101000006_templates_scenarios.sql
  crates/mockforge-registry-server/migrations-sqlite/20260101000007_federations.sql
  crates/mockforge-registry-server/migrations-sqlite/20260101000008_sbom_attestation.sql
  crates/mockforge-registry-server/migrations-sqlite/20260101000009_template_stars.sql
  crates/mockforge-registry-server/migrations/20250101000035_osv_vulnerabilities.sql
  crates/mockforge-registry-server/migrations/20250101000036_sbom_attestation.sql
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-registry-server/src/handlers/public_keys.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/osv_sync.rs
  crates/mockforge-registry-server/src/workers/plugin_scanner.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/pages/PublisherKeysPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/PublisherKeysPage.test.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(registry): unique migration versions + fail loudly on migration gaps
  crates/mockforge-registry-server/migrations/20250101000037_template_stars.sql
  crates/mockforge-registry-server/src/database.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(ui): add Cloudflare Pages config (SPA fallback, security headers, /api proxy)
  crates/mockforge-ui/ui/functions/api/[[path]].ts
  crates/mockforge-ui/ui/public/_headers
  crates/mockforge-ui/ui/public/_redirects
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci(ui): deploy admin UI to Cloudflare Pages on push + PR previews
  .github/workflows/deploy-ui.yml
  crates/mockforge-ui/ui/vercel.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): parse CVSS vectors + multi-ecosystem OSV sync
  Cargo.lock
  crates/mockforge-registry-core/Cargo.toml
  crates/mockforge-registry-core/src/models/osv.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/database.rs
  crates/mockforge-registry-server/src/workers/osv_sync.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(registry): CVSS vector parsing + multi-ecosystem OSV sync (#125)
  .github/workflows/deploy-ui.yml
  Cargo.lock
  crates/mockforge-registry-core/Cargo.toml
  crates/mockforge-registry-core/src/models/osv.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/database.rs
  crates/mockforge-registry-server/src/workers/osv_sync.rs
  crates/mockforge-ui/ui/functions/api/[[path]].ts
  crates/mockforge-ui/ui/public/_headers
  crates/mockforge-ui/ui/public/_redirects
  crates/mockforge-ui/ui/vercel.json
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

ci: cut GHA cost — disable failing workflows, amd64-only Docker, local UI deploy
  .github/workflows/contract-validation.yml
  .github/workflows/deploy-ui.yml
  .github/workflows/docker-build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  Makefile
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: cut GHA cost — disable failing workflows, amd64-only Docker, local UI deploy (#126)
  .github/workflows/contract-validation.yml
  .github/workflows/deploy-ui.yml
  .github/workflows/docker-build.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  Makefile
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): unbreak the 3 workflows disabled in #126
  .github/workflows/contract-validation.yml
  .github/workflows/integration-tests.yml
  tests/load/http_load_high_scale.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): drop --ignored step in integration-tests.yml; it was broken by design
  .github/workflows/integration-tests.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

perf(registry): stream OSV zips to disk + batch upserts
  Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/workers/osv_sync.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit
