Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

fix(http,bench): TLS OData support, double-slash URLs, cleaner warnings (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-cli/src/cloud_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-grpc/src/dynamic/proto_parser.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-registry-server/src/deployment/orchestrator.rs
  crates/mockforge-registry-server/src/deployment/router.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/models/hosted_mock.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/src/auth.rs
  fly.server.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(http): use Scalar CDN data-url attribute for proper initialization
  crates/mockforge-http/static/docs.html
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(bench): multi-target k6 port conflict, threshold handling, failed_requests parsing (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/parallel_executor.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(ui): add Host header column to admin dashboard Recent Logs (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-ui/ui/src/components/dashboard/RequestLog.tsx
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench,tui): k6 summary parsing, TUI host/IP display, conformance warning (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
  crates/mockforge-core/src/ai_contract_diff/diff_analyzer.rs
  crates/mockforge-template-expansion/src/lib.rs
  crates/mockforge-tui/src/api/sse.rs
  crates/mockforge-tui/src/screens/logs.rs
  crates/mockforge-ui/ui/vite.config.ts
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): use absolute script path with k6 CWD override (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/executor.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench,tui): correct failed_requests metric, dashboard host/IP (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-tui/src/screens/dashboard.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore: bump version to 0.3.96
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

test(bench): add property-based tests for header parsing
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/tests/prop_header_tests.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat: implement MockProtocolServer trait for all 10 protocols
  Cargo.lock
  crates/mockforge-amqp/src/lib.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-ftp/src/lib.rs
  crates/mockforge-ftp/src/protocol_server.rs
  crates/mockforge-graphql/src/lib.rs
  crates/mockforge-graphql/src/protocol_server.rs
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-grpc/src/lib.rs
  crates/mockforge-grpc/src/protocol_server.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/protocol_server.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-mqtt/src/lib.rs
  crates/mockforge-smtp/src/lib.rs
  crates/mockforge-smtp/src/protocol_server.rs
  crates/mockforge-tcp/src/lib.rs
  crates/mockforge-tcp/src/protocol_server.rs
  crates/mockforge-ws/src/lib.rs
  crates/mockforge-ws/src/protocol_server.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor: Phase 1 quick wins — unwrap lint, test assertions, chart consolidation, HTTP-only default
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/plugin-publish.yml
  Cargo.toml
  Makefile
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/request_scripting.rs
  crates/mockforge-core/tests/error_handling_tests.rs
  crates/mockforge-http/src/management_ws.rs
  crates/mockforge-plugin-loader/tests/loader_tests.rs
  crates/mockforge-registry-server/src/database.rs
  crates/mockforge-ui/ui/package.json
  crates/mockforge-ui/ui/src/pages/TestExecutionDashboard.tsx
  scripts/automated-tests/test-installation.sh
  scripts/dev.sh
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

perf(core): replace linear route scan with matchit trie-based matching
  Cargo.lock
  Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/routing.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): remove --summary-export, add elapsed time + CSV output (#79)
  Cargo.toml
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-ui/ui/src/utils/apiClient.ts
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(core): restrict 8 internal modules to pub(crate), add 35 GraphQL tests
  .cargo/audit.toml
  Cargo.lock
  audit.toml
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/tests/module_imports_test.rs
  crates/mockforge-graphql/tests/error_responses.rs
  crates/mockforge-graphql/tests/introspection_test.rs
  crates/mockforge-graphql/tests/schema_edge_cases.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore: optimize publishing — mark internal crates unpublishable, reduce tier sleep
  .github/workflows/release.yml
  crates/mockforge-registry-server/Cargo.toml
  examples/enhanced-mock-data-generation/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

feat: monitor all protocol handles, add shared TLS utility, wire real-time dashboard
  Cargo.lock
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/tls.rs
  crates/mockforge-ui/ui/src/hooks/useDashboardStream.ts
  crates/mockforge-ui/ui/src/pages/DashboardPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor: extract chaos modules from core into mockforge-chaos (Phase 6a)
  crates/mockforge-chaos/src/core_chaos_utilities.rs
  crates/mockforge-chaos/src/core_failure_injection.rs
  crates/mockforge-chaos/src/core_network_profiles.rs
  crates/mockforge-chaos/src/core_traffic_shaping.rs
  crates/mockforge-chaos/src/lib.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/builder.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-http/src/op_middleware.rs
  crates/mockforge-http/tests/fault_injection_e2e.rs
  examples/chaos_engine_integration.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

refactor(core): split config.rs into submodules, deprecate extraction targets (Phases 6b-7b)
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/config/auth.rs
  crates/mockforge-core/src/config/contracts.rs
  crates/mockforge-core/src/config/mod.rs
  crates/mockforge-core/src/config/operational.rs
  crates/mockforge-core/src/config/protocol.rs
  crates/mockforge-core/src/config/routes.rs
  crates/mockforge-core/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(core): split openapi/response.rs into submodules (Phase 7b)
  crates/mockforge-core/src/openapi/response/ai_assisted.rs
  crates/mockforge-core/src/openapi/response/mod.rs
  crates/mockforge-core/src/openapi/response/schema_based.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): add elapsed time + all_targets.csv to multi-target output (#79)
  Cargo.toml
  crates/mockforge-bench/src/command.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs: update CHANGELOG.md through v0.3.98
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor: architecture improvements — feature gates, dead code warnings, BaseSpecRegistry, config tiers, k6 validation tests
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/tests/k6_script_validation_test.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/config/mod.rs
  crates/mockforge-core/src/contract_webhooks/mod.rs
  crates/mockforge-core/src/generative_schema/mod.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/protocol_abstraction/base_registry.rs
  crates/mockforge-core/src/protocol_abstraction/mod.rs
  crates/mockforge-core/src/request_scripting.rs
  crates/mockforge-federation/src/router.rs
  crates/mockforge-sdk/src/ffi.rs
  crates/mockforge-sdk/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor: major architecture improvements — CLI split, feature gates, error types, dead code removal
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-chaos/src/lib.rs
  crates/mockforge-cli/src/ai_commands.rs
  crates/mockforge-cli/src/chaos_commands.rs
  crates/mockforge-cli/src/cli_args.rs
  crates/mockforge-cli/src/config_commands.rs
  crates/mockforge-cli/src/contract_diff_commands.rs
  crates/mockforge-cli/src/data_commands.rs
  crates/mockforge-cli/src/deploy_commands.rs
  crates/mockforge-cli/src/error_helpers.rs
  crates/mockforge-cli/src/generate_commands.rs
  crates/mockforge-cli/src/governance_commands.rs
  crates/mockforge-cli/src/import_utils.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/mqtt_commands.rs
  crates/mockforge-cli/src/orchestrate_commands.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-cli/src/smtp_commands.rs
  crates/mockforge-cli/src/voice_commands.rs
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/chain_execution.rs
  crates/mockforge-core/src/config/mod.rs
  crates/mockforge-core/src/error.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/priority_handler.rs
  crates/mockforge-http/src/handlers/protocol_contracts.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-http/src/management/ai_gen.rs
  crates/mockforge-http/src/management/health.rs
  crates/mockforge-http/src/management/import_export.rs
  crates/mockforge-http/src/management/migration.rs
  crates/mockforge-http/src/management/mocks.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-http/src/management/protocols.rs
  crates/mockforge-http/src/management/proxy.rs
  crates/mockforge-test/Cargo.toml
  crates/mockforge-test/src/fixtures.rs
  crates/mockforge-test/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

chore: bump version to 0.3.99, fix tar vulnerability (RUSTSEC-2026-0067/68), fix clippy in mockforge-tui
  Cargo.lock
  Cargo.toml
  crates/mockforge-tui/src/api/sse.rs
  crates/mockforge-tui/src/screens/logs.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(core): prevent panic on conflicting param names in OpenAPI routes (#79)
  crates/mockforge-core/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(core): param name conflict panic + Swagger formData conversion (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-core/src/openapi/swagger_convert.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): skip auto Basic Auth when Cookie header present, add summary.json to conformance (#79)
  Cargo.toml
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): add summary.json to spec-driven conformance handleSummary (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/spec_driven.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): field-level schema errors, HAR-to-YAML, multi-target conformance (#79)
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-bench/src/conformance/har_to_custom.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/report.rs
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs: update CHANGELOG.md through v0.3.103
  CHANGELOG.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(core,plugin-core): GenerationResult enum and codegen feature gate (R9, R12)
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/priority_handler.rs
  crates/mockforge-plugin-core/Cargo.toml
  crates/mockforge-plugin-core/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

fix(bench): improve schema violation expected field to show type, not schema path (#79)
  Cargo.toml
  crates/mockforge-bench/src/conformance/executor.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(core,cli,bench): architectural improvements R5-R8
  Cargo.lock
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/error.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/protocol_abstraction/auth.rs
  crates/mockforge-core/src/protocol_abstraction/middleware.rs
  crates/mockforge-core/src/protocol_abstraction/mod.rs
  crates/mockforge-core/src/security/access_review.rs
  crates/mockforge-core/src/security/access_review_global.rs
  crates/mockforge-core/src/security/access_review_scheduler.rs
  crates/mockforge-core/src/security/access_review_service.rs
  crates/mockforge-core/src/security/change_management.rs
  crates/mockforge-core/src/security/change_management_global.rs
  crates/mockforge-core/src/security/compliance_dashboard.rs
  crates/mockforge-core/src/security/compliance_dashboard_global.rs
  crates/mockforge-core/src/security/privileged_access.rs
  crates/mockforge-core/src/security/privileged_access_global.rs
  crates/mockforge-core/src/security/risk_assessment.rs
  crates/mockforge-core/src/security/risk_assessment_global.rs
  crates/mockforge-core/src/security/siem.rs
  crates/mockforge-smtp/src/server.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(core,kafka,tcp): continue Error::Generic migration, migrate fixtures (R6, R11)
  crates/mockforge-core/src/config/mod.rs
  crates/mockforge-core/src/error.rs
  crates/mockforge-core/src/openapi/spec.rs
  crates/mockforge-kafka/src/fixtures.rs
  crates/mockforge-tcp/src/spec_registry.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(core,ftp): module facades, Error::Generic bulk migration, FTP fixtures (R6, R10, R11)
  crates/mockforge-core/src/ai_studio/artifact_freezer.rs
  crates/mockforge-core/src/ai_studio/behavioral_simulator.rs
  crates/mockforge-core/src/ai_studio/conversation_store.rs
  crates/mockforge-core/src/ai_studio/org_controls_db.rs
  crates/mockforge-core/src/contract_drift/fitness.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/multi_tenant/registry.rs
  crates/mockforge-core/src/pr_generation/github.rs
  crates/mockforge-core/src/pr_generation/gitlab.rs
  crates/mockforge-core/src/request_chaining.rs
  crates/mockforge-core/src/snapshots/manager.rs
  crates/mockforge-core/src/sync_watcher.rs
  crates/mockforge-core/src/voice/command_parser.rs
  crates/mockforge-core/src/voice/workspace_builder.rs
  crates/mockforge-core/src/workspace.rs
  crates/mockforge-core/src/workspace_import.rs
  crates/mockforge-ftp/src/commands.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(core,mqtt,smtp): PriorityStep trait, Error::Generic bulk migration, fixture migrations (R3, R6, R11)
  crates/mockforge-core/src/chain_execution.rs
  crates/mockforge-core/src/custom_fixture.rs
  crates/mockforge-core/src/data_source.rs
  crates/mockforge-core/src/encryption/key_management.rs
  crates/mockforge-core/src/error.rs
  crates/mockforge-core/src/git_watch.rs
  crates/mockforge-core/src/intelligent_behavior/llm_client.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/priority_handler.rs
  crates/mockforge-core/src/record_replay.rs
  crates/mockforge-core/src/request_scripting.rs
  crates/mockforge-core/src/stateful_handler.rs
  crates/mockforge-core/src/template_library.rs
  crates/mockforge-core/src/workspace_persistence.rs
  crates/mockforge-mqtt/src/fixtures.rs
  crates/mockforge-smtp/src/spec_registry.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt
