Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

fix(bench): cap VU recommendation + iteration coverage (#79 round 10) (#614)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-bench/src/reporter.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix: list_semantic_incidents binds + database feature gating across http handlers
  crates/mockforge-http/src/handlers/contract_health.rs
  crates/mockforge-http/src/handlers/forecasting.rs
  crates/mockforge-http/src/handlers/threat_modeling.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/src/handlers/semantic_drift.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(intelligence,http): move semantic_drift handler to mockforge-intelligence (#555 phase 3) (#616)
  crates/mockforge-http/src/handlers/contract_health.rs
  crates/mockforge-http/src/handlers/forecasting.rs
  crates/mockforge-http/src/handlers/mod.rs
  crates/mockforge-http/src/handlers/threat_modeling.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/src/handlers/mod.rs
  crates/mockforge-intelligence/src/handlers/semantic_drift.rs
  docs/superpowers/plans/2026-05-22-555-phase-3-semantic-drift.md
  docs/superpowers/specs/2026-05-22-555-phase-3-semantic-drift-design.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(intelligence,http): move threat_modeling handler to mockforge-intelligence (#555 phase 4)
  crates/mockforge-http/src/handlers/mod.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/src/handlers/mod.rs
  crates/mockforge-intelligence/src/handlers/threat_modeling.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(foundation,core): promote scenario_types to foundation (#555 prereq)
  crates/mockforge-core/src/scenarios/types.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-foundation/src/scenario_types.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(foundation,core): promote scenario_types to foundation (#555 prereq) (#618)
  crates/mockforge-core/src/scenarios/types.rs
  crates/mockforge-foundation/src/lib.rs
  crates/mockforge-foundation/src/scenario_types.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore: gitignore session/build artifacts + ship Learning Hub seed migration
  .gitignore
  crates/mockforge-registry-server/migrations/20250101000078_seed_learning_hub_content.sql
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(proxy): drop unused axum:: qualification on http:: paths
  crates/mockforge-proxy/src/config.rs
  crates/mockforge-proxy/src/handler.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry-tests): align marketplace_e2e with current server contract
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(release): 0.3.142 → 0.3.143 hotfix — fix broken cargo install
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore: gitignore session/build artifacts + ship Learning Hub seed migration (#619)
  .gitignore
  crates/mockforge-registry-server/migrations/20250101000078_seed_learning_hub_content.sql
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(intelligence,http): move threat_modeling handler to mockforge-intelligence (#555 phase 4) (#617)
  crates/mockforge-http/src/handlers/mod.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/src/handlers/mod.rs
  crates/mockforge-intelligence/src/handlers/threat_modeling.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(proxy): drop unused axum:: qualification on http:: paths (#620)
  crates/mockforge-proxy/src/config.rs
  crates/mockforge-proxy/src/handler.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry-tests): align marketplace_e2e with current server contract (#621)
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(release): 0.3.142 → 0.3.143 hotfix — fix broken cargo install (#622)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

refactor(intelligence,http): move ai_studio + forecasting handlers (#555 phase 5)
  Cargo.lock
  crates/mockforge-http/src/handlers/mod.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/handlers/ai_studio.rs
  crates/mockforge-intelligence/src/handlers/forecasting.rs
  crates/mockforge-intelligence/src/handlers/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(intelligence,http): move ai_studio + forecasting handlers (#555 phase 5) (#623)
  Cargo.lock
  crates/mockforge-http/src/handlers/mod.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/handlers/ai_studio.rs
  crates/mockforge-intelligence/src/handlers/forecasting.rs
  crates/mockforge-intelligence/src/handlers/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(registry): green Registry E2E — published-bit + test contracts + rate limit
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-core/src/models/template.rs
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(intelligence,core,http): move fidelity + deceptive_canary out of core (#555 phase 6)
  crates/mockforge-core/src/lib.rs
  crates/mockforge-http/src/handlers/mod.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/src/deceptive_canary.rs
  crates/mockforge-intelligence/src/fidelity.rs
  crates/mockforge-intelligence/src/handlers/fidelity.rs
  crates/mockforge-intelligence/src/handlers/mod.rs
  crates/mockforge-intelligence/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(intelligence,core,http): move consistency + scenario_studio + 3 handlers (#555 phase 7)
  Cargo.lock
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/lib.rs
  crates/mockforge-http/src/consistency/middleware.rs
  crates/mockforge-http/src/handlers/mod.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/consistency/adapters/mod.rs
  crates/mockforge-intelligence/src/consistency/engine.rs
  crates/mockforge-intelligence/src/consistency/mod.rs
  crates/mockforge-intelligence/src/consistency/persona_graph_response.rs
  crates/mockforge-intelligence/src/consistency/state_model_registry.rs
  crates/mockforge-intelligence/src/consistency/types.rs
  crates/mockforge-intelligence/src/handlers/consistency.rs
  crates/mockforge-intelligence/src/handlers/mod.rs
  crates/mockforge-intelligence/src/handlers/scenario_studio.rs
  crates/mockforge-intelligence/src/handlers/xray.rs
  crates/mockforge-intelligence/src/lib.rs
  crates/mockforge-intelligence/src/scenario_studio/flow.rs
  crates/mockforge-intelligence/src/scenario_studio/mod.rs
  crates/mockforge-intelligence/src/scenario_studio/types.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(registry): green Registry E2E — published-bit + test contracts + rate limit (#624)
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-core/src/models/template.rs
  crates/mockforge-registry-server/tests/marketplace_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(intelligence,core,http): move consistency + scenario_studio + 3 handlers (#555 phase 7) (#626)
  Cargo.lock
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/lib.rs
  crates/mockforge-http/src/consistency/middleware.rs
  crates/mockforge-http/src/handlers/mod.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-intelligence/Cargo.toml
  crates/mockforge-intelligence/src/consistency/adapters/mod.rs
  crates/mockforge-intelligence/src/consistency/engine.rs
  crates/mockforge-intelligence/src/consistency/mod.rs
  crates/mockforge-intelligence/src/consistency/persona_graph_response.rs
  crates/mockforge-intelligence/src/consistency/state_model_registry.rs
  crates/mockforge-intelligence/src/consistency/types.rs
  crates/mockforge-intelligence/src/deceptive_canary.rs
  crates/mockforge-intelligence/src/fidelity.rs
  crates/mockforge-intelligence/src/handlers/consistency.rs
  crates/mockforge-intelligence/src/handlers/fidelity.rs
  crates/mockforge-intelligence/src/handlers/mod.rs
  crates/mockforge-intelligence/src/handlers/scenario_studio.rs
  crates/mockforge-intelligence/src/handlers/xray.rs
  crates/mockforge-intelligence/src/lib.rs
  crates/mockforge-intelligence/src/scenario_studio/flow.rs
  crates/mockforge-intelligence/src/scenario_studio/mod.rs
  crates/mockforge-intelligence/src/scenario_studio/types.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs(core): refresh consumer_mapping deferral rationale (#605)
  crates/mockforge-core/src/contract_drift/consumer_mapping.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

refactor(proxy,http): move reality_proxy middleware to mockforge-proxy (#555 phase 8)
  Cargo.lock
  crates/mockforge-http/src/reality_proxy.rs
  crates/mockforge-proxy/Cargo.toml
  crates/mockforge-proxy/src/lib.rs
  crates/mockforge-proxy/src/reality.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

refactor(intelligence,http): move rag_ai_generator to mockforge-intelligence (#555 phase 10)
  crates/mockforge-http/src/rag_ai_generator.rs
  crates/mockforge-intelligence/src/lib.rs
  crates/mockforge-intelligence/src/rag_ai_generator.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): gate tag publish on cargo install smoke test
  .github/workflows/release.yml
  scripts/smoke-test-install.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

refactor(http): drop stale #555 TODO; document remaining cleavage (#555)
  crates/mockforge-http/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): server-side Sentry for production error capture
  Cargo.lock
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/lib.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/sentry_init.rs
  fly.registry.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(observability,cli): Sentry support in mockforge-cli for hosted-mocks
  Cargo.lock
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-observability/src/lib.rs
  crates/mockforge-observability/src/logging.rs
  crates/mockforge-observability/src/sentry_init.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(grafana): commit baseline dashboards as code
  grafana/README.md
  grafana/dashboards/mockforge-marketplace.json
  grafana/dashboards/mockforge-service-overview.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(grafana): alert rules as code (closes #646)
  grafana/alerts/README.md
  grafana/alerts/mockforge-alerts.yaml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(billing): add 14-day Stripe trial period to Pro/Team checkout
  crates/mockforge-registry-server/src/config.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  fly.registry.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

feat(ui): pricing CTAs reflect the new 14-day trial
  crates/mockforge-ui/ui/src/pages/PricingPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(billing): public GET /api/v1/billing/config + dynamic Pricing CTA copy
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/PricingPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry): optional bearer-token auth for /metrics (closes #647)
  crates/mockforge-registry-server/src/main.rs
  fly.registry.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

feat(registry): resolve-side incident dispatch across all channels (closes #629)
  crates/mockforge-registry-core/src/models/incident.rs
  crates/mockforge-registry-server/src/workers/incident_dispatcher.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(grafana): alert rules as code (closes #646) (#648)
  grafana/alerts/README.md
  grafana/alerts/mockforge-alerts.yaml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(http,openapi,foundation): body-truncation early-response + pillar log spam (#79 round 11)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-foundation/src/pillar_tracking.rs
  crates/mockforge-http/src/contract_diff_middleware.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit
