Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

feat(registry-server): raise incidents from breaking contract-drift findings (#673)
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(recorder): Kafka/MQTT/AMQP event variants + builder helpers (#683)
  crates/mockforge-recorder/src/models.rs
  crates/mockforge-recorder/src/protocols.rs
  crates/mockforge-recorder/src/protocols/async_brokers.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(observability): emit drift Prometheus metrics + chaos/async/workspace dashboards (#678, #684) (#691)
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-observability/src/lib.rs
  crates/mockforge-observability/src/prometheus/metrics.rs
  crates/mockforge-observability/src/prometheus/mod.rs
  grafana/dashboards/mockforge-async-protocols.json
  grafana/dashboards/mockforge-chaos.json
  grafana/dashboards/mockforge-workspace.json
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(observability,cli): zero-config OTel auto-detection from env (#687) (#690)
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/config/operational.rs
  docs/OPENTELEMETRY.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ci): stash all-protocols mockforge binary so workspace test can't clobber it (#79 follow-up)
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: unblock chronic main CI breakage — 5 failing checks across 3 root causes (#692)
  .github/workflows/ci.yml
  crates/mockforge-http/src/contract_diff_middleware.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/ui/pnpm-workspace.yaml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(bench): conformance::self_test module for positive + per-category negative driver (#79 round 13 (4) MVP)
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(bench,cli): wire --conformance-self-test flag through the conformance run (#79 round 13 (4))
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): bump to 0.3.149 + changelog for #79 round 13 (4) conformance-self-test
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(bench,cli): --conformance-self-test for positive + per-category negative driver (#79 r13 (4)) (#693)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/mod.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(foundation,openapi,http,tui,cli): server-side shadow mode + unknown-paths status column (#79 round 14)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-foundation/src/unknown_paths.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(openapi): share validator via Arc across route handlers — fixes O(N²) OOM on large specs (#79 round 14)
  CHANGELOG.md
  book/src/reference/changelog.md
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat: server-side shadow mode + unknown-paths status column (#79 round 14) (#705)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-foundation/src/unknown_paths.rs
  crates/mockforge-http/src/management/mod.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(analytics,http,ui,cli): wire MockOps heatmap recording paths (#677)
  Cargo.lock
  crates/mockforge-analytics/Cargo.toml
  crates/mockforge-analytics/src/lib.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/metrics_middleware.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-ui/src/handlers.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

ci: promote unused_qualifications into the main PR clippy step (#694)
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(scripts): dev-host cleanup script for mockforge worktree pattern (#697)
  scripts/dev-host-cleanup.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry-server): contract-verification probe scheduler (#671) (#702)
  crates/mockforge-registry-core/src/models/contract_verification.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/workers/contract_probe.rs
  crates/mockforge-registry-server/src/workers/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry-server): raise incidents from breaking contract-drift findings (#673) (#703)
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(analytics,http,ui,cli): wire MockOps heatmap recording paths (#677) (#696)
  Cargo.lock
  crates/mockforge-analytics/Cargo.toml
  crates/mockforge-analytics/src/lib.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/metrics_middleware.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-ui/src/handlers.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

ci(sdk): publish workflows for Python / Java / .NET / Go SDKs (#674) (#700)
  .github/workflows/go-publish-sdk.yml
  .github/workflows/maven-publish-sdk.yml
  .github/workflows/nuget-publish-sdk.yml
  .github/workflows/python-publish-sdk.yml
  sdk/PUBLISHING.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(recorder): impl TraceQueryProvider so the recorder feeds behavioral cloning (#675) (#699)
  crates/mockforge-recorder/src/lib.rs
  crates/mockforge-recorder/src/trace_query.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(kafka): opt-in offset persistence — survives broker restart (#676) (#698)
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/group_coordinator.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(ui,foundation): end-to-end Reality Slider hot-reload coverage (#672) (#695)
  crates/mockforge-foundation/src/latency.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/tests/reality_slider_hot_reload.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(data): persistent RAG storage + honest vector-db error (#669) (#701)
  crates/mockforge-data/src/rag/storage.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(recorder): Kafka/MQTT/AMQP event variants + builder helpers (#683) (#704)
  crates/mockforge-recorder/src/models.rs
  crates/mockforge-recorder/src/protocols.rs
  crates/mockforge-recorder/src/protocols/async_brokers.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cli,foundation,openapi,tui,ui): --shadow flag, lifetime seen-totals, violation logs, wrapped detail (#79 round 15)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-cli/src/main.rs
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-foundation/src/unknown_paths.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/conformance.rs
  crates/mockforge-ui/src/handlers.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(scripts): dev-host-cleanup retries gh + fails loud on API errors (#697 follow-up)
  scripts/dev-host-cleanup.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry-server): fail-fast guard for the unsupported slim build (#644)
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

feat(cli,foundation,openapi,tui,ui): --shadow flag, lifetime seen-totals, violation logs, wrapped detail (#79 round 15) (#707)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-cli/src/main.rs
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-foundation/src/unknown_paths.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/conformance.rs
  crates/mockforge-ui/src/handlers.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(scripts): dev-host-cleanup retries gh + fails loud on API errors (#697 follow-up) (#708)
  scripts/dev-host-cleanup.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry-server): fail-fast guard for the unsupported slim build (#644) (#709)
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-registry-server/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

docs(book): brand the docs theme + add product-ui design skill
  .claude/skills/mockforge-product-ui/SKILL.md
  book/custom.css
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: skip heavy Rust/UI jobs on docs- and .claude-only PRs
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): align admin UI typography with the brand (Geist)
  crates/mockforge-ui/ui/index.html
  crates/mockforge-ui/ui/src/index.css
  crates/mockforge-ui/ui/tailwind.config.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs(skill): correct product-ui MUI guidance — already converged via shim
  .claude/skills/mockforge-product-ui/SKILL.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

ci: skip heavy Rust/UI jobs on docs- and .claude-only PRs (#711)
  .github/workflows/ci.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

docs: brand the mdBook docs theme + add product-ui design skill (#710)
  .claude/skills/mockforge-product-ui/SKILL.md
  book/custom.css
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): align admin UI typography with the brand (Geist) (#712)
  crates/mockforge-ui/ui/index.html
  crates/mockforge-ui/ui/src/index.css
  crates/mockforge-ui/ui/tailwind.config.js
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(tui,bench): export dedup + self-test coverage gaps (#79 round 16)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(registry): email channel accepts recipient arrays + CC/BCC/reply-to (#630)
  crates/mockforge-registry-server/src/email.rs
  crates/mockforge-registry-server/src/handlers/support.rs
  crates/mockforge-registry-server/src/workers/incident_dispatcher.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos
