Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

fix(registry): audit events silently dropped on long X-Forwarded-For (#967)
  crates/mockforge-registry-core/src/models/audit_log.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): migration advisory lock leaked, hanging the next deploy (#968)
  crates/mockforge-registry-server/src/database.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(openapi): drop the unnecessary qualification that reds every PR's Test job
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ci): give the RLS gate its own docker stack so it can't break Registry E2E
  .github/workflows/registry-e2e.yml
  .gitignore
  docker-compose.rls-gate.yml
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(openapi): drop the unnecessary qualification that reds every PR's Test job (#969)
  crates/mockforge-openapi/src/openapi_routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry): request-path RLS coverage, proven by a NOBYPASSRLS e2e gate (#832) [DRAFT — rollout still gated] (#965)
  .github/workflows/registry-e2e.yml
  .gitignore
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/hosted_mock.rs
  crates/mockforge-registry-core/src/models/scenario.rs
  crates/mockforge-registry-core/src/models/template.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/org_context.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-server/migrations/20250101000082_rls_tenant_isolation.sql
  crates/mockforge-registry-server/src/database.rs
  crates/mockforge-registry-server/src/handlers/cloud_dashboard.rs
  crates/mockforge-registry-server/src/handlers/gdpr.rs
  crates/mockforge-registry-server/src/handlers/hosted_mocks.rs
  crates/mockforge-registry-server/src/handlers/organization_settings.rs
  crates/mockforge-registry-server/src/handlers/projects.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/middleware/mod.rs
  crates/mockforge-registry-server/src/middleware/org_context.rs
  crates/mockforge-registry-server/src/middleware/rls_org_scope.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/tests/tenant_isolation_rls.rs
  docker-compose.rls-gate.yml
  docs/superpowers/specs/2026-07-27-rls-request-scoped-guard-design.md
  scripts/check_rls_coverage.py
  scripts/rls-coverage-baseline.json
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): r64 — multi-target dropped --conformance-basic-auth (#79)
  crates/mockforge-bench/src/command.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(registry): check in the RLS production cutover smoke (#832)
  scripts/rls-prod-smoke.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(deps): RUSTSEC-2026-0222 — wasmtime 36.0.12 -> 36.0.13
  Cargo.lock
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

fix(bench): clear the unused_qualifications that red every PR's Test job
  crates/mockforge-bench/src/conformance/request_validator.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(deps): RUSTSEC-2026-0222 — wasmtime 36.0.12 -> 36.0.13 (#972)
  Cargo.lock
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, cargo-audit

chore(registry): check in the RLS production cutover smoke (#832) (#971)
  scripts/rls-prod-smoke.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(bench): clear the unused_qualifications that red every PR's Test job (#973)
  crates/mockforge-bench/src/conformance/request_validator.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): r64 — multi-target dropped --conformance-basic-auth (#79) (#970)
  crates/mockforge-bench/src/command.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry-core): audit IP const broke the default-feature build
  crates/mockforge-registry-core/src/models/audit_log.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ci): RLS gate collided with itself across concurrent runs
  .gitignore
  docker-compose.rls-gate.yml
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(registry-core): audit IP const broke the default-feature build (#976)
  crates/mockforge-registry-core/src/models/audit_log.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.212
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(ci): RLS gate collided with itself across concurrent runs (#977)
  .gitignore
  docker-compose.rls-gate.yml
  scripts/rls-e2e-gate.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(release): v0.3.212 (#978)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench): conformance advisory now names --rps and says the load run is replaced (#980)
  crates/mockforge-bench/src/command.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(deps): ignore RUSTSEC-2026-0235 (rkyv) with justification
  audit.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

fix(deps): ignore RUSTSEC-2026-0235 (rkyv) with justification (#982)
  audit.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

fix(bench): conformance advisory now names --rps and says the load run is replaced (#980) (#981)
  crates/mockforge-bench/src/command.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(openapi): load specs whose operations omit `responses` (#79 r65)
  crates/mockforge-openapi/src/spec.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(bench): accept a simple request/expected YAML for traffic (#987)
  crates/mockforge-bench/src/wafbench.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): spell-check fixes for the simple traffic format (#987)
  .typos.toml
  crates/mockforge-bench/src/wafbench.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

fix(deps): RUSTSEC-2026-0258 — bump h2 to 0.4.17, justify the 0.3 holdout
  Cargo.lock
  audit.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(deps): RUSTSEC-2026-0258 — bump h2 to 0.4.17, justify the 0.3 holdout (#989)
  Cargo.lock
  audit.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(bench): accept a simple request/expected YAML for traffic (#987) (#988)
  .typos.toml
  crates/mockforge-bench/src/wafbench.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

fix(openapi): load specs whose operations omit `responses` (#79 r65) (#986)
  crates/mockforge-openapi/src/spec.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.213
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

docs(changelog): sync the book mirror for 0.3.213 and the missed 0.3.212
  book/src/reference/changelog.md
Due: check-added-large-files

chore(release): v0.3.213 (#991)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

Add message filter to the mock Kafka broker
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/filter.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/partitions.rs
  crates/mockforge-kafka/src/server.rs
  crates/mockforge-kafka/src/topics.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs(config): document the 41 env vars failing the docs drift gate
  book/src/configuration/environment.md
Due: check-added-large-files

docs(config): document the 41 env vars failing the docs drift gate (#993)
  book/src/configuration/environment.md
Due: check-added-large-files

feat(bench): --wafbench-verbatim sends traffic cases exactly as written (#994)
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/wafbench.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(bench): --wafbench-verbatim sends traffic cases exactly as written (#994) (#995)
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/wafbench.rs
  crates/mockforge-bench/tests/multi_target_test.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): verbatim mode no longer appends attack payloads or sends unfalsifiable baselines (#997)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/wafbench.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
