Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  language: system
  pass_filenames: false

fix: update MSRV to 1.80 and add GraphQL exclusion workaround
  .github/workflows/ci.yml
  .typos.toml
  README.md
  book/book/development/testing.html
  book/src/development/testing.md
  book/src/reference/templating.md
  desktop-app/icons/README.md
  desktop-app/scripts/create-icons.sh
  docs/archive/status-reviews/RESPONSE_CONFIGURATION_COVERAGE.md
  docs/archive/status-reviews/WIREMOCK_FEATURE_VERIFICATION.md
  examples/collections/insomnia-sample.json
  tests/README.md
  tests/load/README.md
  tests/load/run_all_load_tests.sh
  tests/load/run_http_load.sh
  tests/load/work_http.lua
Due: none

fix: pin sysinfo to 0.36, fix typos, improve MSRV workaround
  .github/workflows/ci.yml
  .typos.toml
  LAUNCH_CHECKLIST_ACTIONABLE.md
  book/book/book.js
  crates/mockforge-bench/tests/fixtures/billing_subscriptions_v1.json
  crates/mockforge-observability/Cargo.toml
Due: none

fix: sync sysinfo to 0.37, fix resolveable typo, exclude ace.js from spell check
  .typos.toml
  crates/mockforge-core/src/integration_demo.rs
  crates/mockforge-core/src/plugin_integration.rs
  crates/mockforge-observability/Cargo.toml
Due: rust-fmt

fix: disable sysinfo feature during MSRV checks
  .github/workflows/ci.yml
Due: none

fix: exclude highlight.js from spell check
  .typos.toml
Due: none

fix: exclude elasticlunr.min.js from spell check
  .typos.toml
Due: none

fix: also remove sysinfo from mockforge-ui during MSRV checks
  .github/workflows/ci.yml
Due: none

fix: exclude FontAwesome and all minified files from spell check
  .typos.toml
Due: none

fix: add abd and existant to typos config
  .typos.toml
Due: none

fix: exclude mockforge-ui from MSRV checks
  .github/workflows/ci.yml
Due: none

fix: pin base64ct to 1.7 for MSRV compatibility
  .github/workflows/ci.yml
Due: none

fix: improve base64ct pinning in MSRV workflow
  .github/workflows/ci.yml
Due: none

fix: use exact version constraint for base64ct in MSRV workflow
  .github/workflows/ci.yml
Due: none

fix: improve base64ct pinning order in MSRV workflow
  .github/workflows/ci.yml
Due: none

fix: use Cargo patch section to pin base64ct for MSRV
  .github/workflows/ci.yml
Due: none

fix: use awk instead of sed for multi-line patch section insertion
  .github/workflows/ci.yml
Due: none

fix: exclude mockforge-collab from MSRV checks and remove patch section
  .github/workflows/ci.yml
Due: none

fix: remove argon2 from mockforge-core during MSRV checks
  .github/workflows/ci.yml
Due: none

fix: temporarily convert dependent crates' dependencies to path before publishing
  scripts/publish-crates.sh
Due: none

fix: add mockforge-template-expansion to publishing script
  scripts/publish-crates.sh
Due: none

fix: publish mockforge-template-expansion before mockforge-core
  scripts/publish-crates.sh
Due: none

fix: handle short form dependencies when converting to path
  scripts/publish-crates.sh
Due: none

fix: add all missing crates to workspace members
  Cargo.toml
Due: cargo-audit

fix: add mockforge-pipelines to workspace and publishing script
  Cargo.toml
  scripts/publish-crates.sh
Due: cargo-audit

fix: add mockforge-pipelines to publishing order and dependency targets
  scripts/publish-crates.sh
Due: none

fix: add missing README.md for mockforge-pipelines
  crates/mockforge-pipelines/README.md
Due: none

fix: add mockforge-collab to workspace members
  Cargo.toml
Due: cargo-audit

fix: add mockforge-collab to workspace members list
  Cargo.toml
Due: cargo-audit

fix: add mockforge-performance to publishing order before mockforge-http
  scripts/publish-crates.sh
Due: none

fix: reduce keywords to 5 for mockforge-performance (crates.io limit)
  crates/mockforge-performance/Cargo.toml
Due: none

fix: reduce keywords from 6 to 5 for mockforge-performance
  crates/mockforge-performance/Cargo.toml
Due: none

fix: add mockforge-route-chaos to publishing order before mockforge-http
  scripts/publish-crates.sh
Due: none

fix: add mockforge-route-chaos to workspace and publishing script
  Cargo.toml
Due: cargo-audit

fix: add mockforge-route-chaos to dependency targets and publishing order
  scripts/publish-crates.sh
Due: none

fix: add mockforge-route-chaos publishing step before mockforge-http
  scripts/publish-crates.sh
Due: none

fix: add mockforge-world-state to workspace and publishing order before mockforge-http
  scripts/publish-crates.sh
Due: none

fix: add missing crates to workspace (mockforge-sdk, mockforge-http, mockforge-ui, mockforge-k8s-operator)
  Cargo.toml
Due: cargo-audit

fix: add mockforge-cli to workspace and add metadata to mockforge-k8s-operator
  Cargo.toml
  crates/mockforge-k8s-operator/Cargo.toml
Due: cargo-audit

chore: restore dependencies after publishing all crates
  Cargo.lock
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-collab/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-pipelines/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-registry-server/Cargo.toml
  crates/mockforge-route-chaos/Cargo.toml
  crates/mockforge-scenarios/Cargo.toml
  crates/mockforge-schema/Cargo.toml
  crates/mockforge-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-tcp/Cargo.toml
  crates/mockforge-test/Cargo.toml
  crates/mockforge-tunnel/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-vbr/Cargo.toml
  crates/mockforge-world-state/Cargo.toml
  crates/mockforge-ws/Cargo.toml
Due: cargo-audit

Path conditions:
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
