Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

fix(registry-server,ftp,bench): wire missing routes, start deployment orchestrator, remove dead code
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/crud_flow.rs
  crates/mockforge-bench/src/request_gen.rs
  crates/mockforge-bench/src/spec_dependencies.rs
  crates/mockforge-core/src/voice/hook_transpiler.rs
  crates/mockforge-ftp/src/commands.rs
  crates/mockforge-ftp/src/storage.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(core): add ResponseCache::clear() and fix flaky TTL tests
  crates/mockforge-core/src/cache.rs
  crates/mockforge-core/src/workspace/request.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(grpc): replace placeholder tests with real service discovery and mock response assertions
  crates/mockforge-grpc/tests/grpc_server_e2e_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(core,http,bench): implement placeholder code and fix silent failures
  crates/mockforge-bench/src/spec_dependencies.rs
  crates/mockforge-core/src/openapi/response.rs
  crates/mockforge-core/src/openapi/spec.rs
  crates/mockforge-core/src/request_scripting.rs
  crates/mockforge-core/src/security/compliance_dashboard.rs
  crates/mockforge-core/src/security/siem.rs
  crates/mockforge-core/src/sync_watcher.rs
  crates/mockforge-core/src/validation.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/op_middleware.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(data,registry-server): remove dead faker provider code, add error context to proxy router
  crates/mockforge-data/src/provider.rs
  crates/mockforge-registry-server/src/deployment/router.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(http,tracing,core): enforce TLS 1.3, fix Jaeger sampling, remove dead code
  crates/mockforge-core/src/codegen/rust_generator.rs
  crates/mockforge-core/src/contract_drift/budget_engine.rs
  crates/mockforge-core/src/encryption/key_management.rs
  crates/mockforge-core/src/templating.rs
  crates/mockforge-http/src/tls.rs
  crates/mockforge-tracing/src/tracer.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix: remove empty k8s placeholder test and update outdated e2e test comments
  crates/mockforge-k8s-operator/src/controller.rs
  crates/mockforge-registry-server/tests/signup_flow_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui,bench): resolve admin panic, duplicate cookies, and sparse conformance report (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/report.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-ui/src/auth.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(plugin-loader): fix unnecessary_literal_unwrap on Ok value in test
  crates/mockforge-plugin-loader/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(core,data): remove dead wrapper functions and implement disabled drift learning stubs
  crates/mockforge-core/src/request_scripting.rs
  crates/mockforge-data/src/drift_learning.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(workspace): resolve clippy warnings in 9 more crates and fix workspace lint config
  Cargo.toml
  crates/mockforge-chaos/src/api.rs
  crates/mockforge-chaos/src/failure_designer.rs
  crates/mockforge-chaos/src/incident_replay.rs
  crates/mockforge-chaos/src/template_marketplace.rs
  crates/mockforge-core/src/ai_studio/org_controls_db.rs
  crates/mockforge-federation/src/database.rs
  crates/mockforge-federation/src/federation.rs
  crates/mockforge-federation/src/lib.rs
  crates/mockforge-federation/src/router.rs
  crates/mockforge-federation/src/service.rs
  crates/mockforge-pipelines/src/events.rs
  crates/mockforge-pipelines/src/lib.rs
  crates/mockforge-pipelines/src/pipeline.rs
  crates/mockforge-pipelines/src/steps/auto_promote.rs
  crates/mockforge-pipelines/src/steps/create_pr.rs
  crates/mockforge-pipelines/src/steps/mod.rs
  crates/mockforge-pipelines/src/steps/notify.rs
  crates/mockforge-pipelines/src/steps/regenerate_sdk.rs
  crates/mockforge-runtime-daemon/src/auto_generator.rs
  crates/mockforge-scenarios/src/domain_pack.rs
  crates/mockforge-scenarios/src/installer.rs
  crates/mockforge-scenarios/src/manifest.rs
  crates/mockforge-scenarios/src/mockai_integration.rs
  crates/mockforge-scenarios/src/preview.rs
  crates/mockforge-scenarios/src/reality_profile_pack.rs
  crates/mockforge-scenarios/src/registry.rs
  crates/mockforge-scenarios/src/state_machine.rs
  crates/mockforge-scenarios/src/studio_pack.rs
  crates/mockforge-scenarios/src/vbr_integration.rs
  crates/mockforge-scenarios/tests/state_machine_tests.rs
  crates/mockforge-tunnel/src/bin/tunnel-server.rs
  crates/mockforge-tunnel/src/config.rs
  crates/mockforge-tunnel/src/lib.rs
  crates/mockforge-tunnel/src/rate_limit.rs
  crates/mockforge-tunnel/src/server.rs
  crates/mockforge-tunnel/src/storage.rs
  crates/mockforge-tunnel/tests/integration_e2e.rs
  crates/mockforge-tunnel/tests/integration_with_server.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(core,http): fix silent HMAC failure, reject invalid incident status, remove stale allow annotations
  crates/mockforge-core/src/openapi/multi_spec.rs
  crates/mockforge-core/src/reality_continuum/engine.rs
  crates/mockforge-core/src/security/api_tokens.rs
  crates/mockforge-core/src/security/siem.rs
  crates/mockforge-http/src/handlers/drift_budget.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(core,route-chaos,performance): resolve clippy warnings across 29 files
  crates/mockforge-core/benches/core_benchmarks.rs
  crates/mockforge-core/src/ai_contract_diff/confidence_scorer.rs
  crates/mockforge-core/src/cache.rs
  crates/mockforge-core/src/codegen/tests.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/connection_pool.rs
  crates/mockforge-core/src/encryption/auto_encryption.rs
  crates/mockforge-core/src/intelligent_behavior/persona_integration_test.rs
  crates/mockforge-core/src/intelligent_behavior/rule_generator.rs
  crates/mockforge-core/src/openapi_routes/registry.rs
  crates/mockforge-core/src/priority_handler.rs
  crates/mockforge-core/src/reality_continuum/engine.rs
  crates/mockforge-core/src/request_capture/capture_manager.rs
  crates/mockforge-core/src/security/access_review.rs
  crates/mockforge-core/src/spec_parser.rs
  crates/mockforge-core/src/traffic_shaping.rs
  crates/mockforge-core/src/voice/spec_generator.rs
  crates/mockforge-core/src/workspace.rs
  crates/mockforge-core/tests/concurrency_tests.rs
  crates/mockforge-core/tests/config_profiles_test.rs
  crates/mockforge-core/tests/latency_failure_edge_cases.rs
  crates/mockforge-core/tests/openapi_generator_tests.rs
  crates/mockforge-core/tests/prop_conditions_tests.rs
  crates/mockforge-core/tests/prop_tests.rs
  crates/mockforge-core/tests/reality_hot_reload_test.rs
  crates/mockforge-performance/src/bottleneck.rs
  crates/mockforge-performance/src/latency.rs
  crates/mockforge-performance/src/simulator.rs
  crates/mockforge-route-chaos/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(core,plugin-loader): fix scheduler race condition, add SAFETY comments, remove dead code
  crates/mockforge-core/src/security/access_review_scheduler.rs
  crates/mockforge-core/src/security/events.rs
  crates/mockforge-core/src/security/risk_review_scheduler.rs
  crates/mockforge-plugin-loader/src/loader.rs
  crates/mockforge-plugin-loader/src/registry.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(plugin-cli): resolve 30 clippy warnings including MutexGuard across await
  crates/mockforge-plugin-cli/src/commands/new.rs
  crates/mockforge-plugin-cli/src/main.rs
  crates/mockforge-plugin-cli/src/templates/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): report category table now works with --conformance-all-operations
  crates/mockforge-bench/src/conformance/report.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(core,bench): support status override header + type-aware response fallback (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-core/src/openapi/response.rs
  crates/mockforge-core/src/openapi/route.rs
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-core/src/openapi_routes/registry.rs
  crates/mockforge-data/src/faker.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(core,collab): make word-based lifecycle operators reachable and remove unreachable panic
  crates/mockforge-collab/src/conflict.rs
  crates/mockforge-core/src/persona_lifecycle_time.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(grpc): implement schema-aware HTTP bridge responses using smart generator
  crates/mockforge-grpc/src/dynamic/http_bridge/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): fix cargo publish failure caused by build.rs modifying source directory
  CHANGELOG.md
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/build.rs
  crates/mockforge-ui/src/handlers/assets.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt

feat(http,data): capture request body in contract diff and add Ollama embeddings
  crates/mockforge-data/src/rag.rs
  crates/mockforge-http/src/contract_diff_middleware.rs
  crates/mockforge-runtime-daemon/src/auto_generator.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http,core): implement ResourceAccess review handler and string lifecycle operators
  crates/mockforge-core/src/persona_lifecycle_time.rs
  crates/mockforge-http/src/handlers/access_review.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(tui,analytics): fix TUI deserialization errors and analytics DB creation (#79)
  Cargo.lock
  Cargo.toml
  crates/mockforge-analytics/src/database.rs
  crates/mockforge-tui/src/api/client.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/analytics.rs
  crates/mockforge-tui/src/screens/time_travel.rs
  crates/mockforge-tui/tests/live_api_test.rs
  crates/mockforge-tui/tests/screen_render.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(http): implement full PEM-to-JWK conversion with ASN.1/DER parsing
  crates/mockforge-http/src/auth/jwks_converter.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http,recorder): implement OAuth2 consent flow, drift body capture, and sync drift classification
  crates/mockforge-http/src/auth/jwks_converter.rs
  crates/mockforge-http/src/auth/oauth2.rs
  crates/mockforge-http/src/handlers/consent.rs
  crates/mockforge-http/src/handlers/oauth2_server.rs
  crates/mockforge-http/src/middleware/drift_tracking.rs
  crates/mockforge-recorder/src/sync_drift.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(http): fix operator precedence bug in risk engine condition evaluator
  crates/mockforge-http/src/auth/risk_engine.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore: add conformance-report.json to .gitignore
  .gitignore
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(core,cli,data): implement plugin info/list, SIEM conditions, and missing HTTP methods
  crates/mockforge-cli/src/plugin_commands.rs
  crates/mockforge-core/src/intelligent_behavior/openapi_generator.rs
  crates/mockforge-core/src/security/siem.rs
  crates/mockforge-data/src/rag/engine.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(vbr): implement custom ID generation rules
  crates/mockforge-vbr/src/handlers.rs
  crates/mockforge-vbr/src/id_generation.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(http,reporting): implement canary proxy and PDF chart section
  crates/mockforge-http/src/middleware/deceptive_canary.rs
  crates/mockforge-reporting/src/pdf.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(cli,core): add Insomnia import CLI command and OAuth2 auth support
  crates/mockforge-cli/src/import_commands.rs
  crates/mockforge-cli/src/insomnia_import.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/speech_to_text.rs
  crates/mockforge-core/src/import/insomnia_import.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(core,grpc,bench): resolve $ref references, interior mutability for protocol handlers, and gRPC dynamic routing
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-core/src/openapi/spec.rs
  crates/mockforge-core/src/protocol_abstraction/protocol_registry.rs
  crates/mockforge-core/src/voice/spec_generator.rs
  crates/mockforge-core/tests/protocol_registry_integration.rs
  crates/mockforge-grpc/build.rs
  crates/mockforge-grpc/src/dynamic/mod.rs
  crates/mockforge-grpc/src/dynamic/router.rs
  crates/mockforge-grpc/src/dynamic/service_generator.rs
  crates/mockforge-grpc/src/registry.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(http): enhance JSONPath matching with array indexing and fix request size test
  crates/mockforge-http/src/management.rs
  crates/mockforge-http/src/op_middleware.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(recorder): implement in-memory workflow storage for integration test API
  crates/mockforge-recorder/src/api.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

docs: add comprehensive conformance testing guide (#79)
  docs/CONFORMANCE_TESTING.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): allow unauthenticated GET access to admin API endpoints (#79)
  crates/mockforge-ui/src/rbac.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore: bump version to 0.3.75
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

Sync book changelog with repository releases
  book/src/reference/changelog.md
Due: check-added-large-files
