Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
    exclude: ^book/
  - id: end-of-file-fixer
    exclude: ^book/
  - id: check-yaml
    exclude: ^(k8s/|helm/|deploy/|templates/)
  - id: check-toml
  - id: check-merge-conflict
  - id: check-added-large-files
    args: ['--maxkb=500']
  - id: check-case-conflict
  - id: mixed-line-ending
    args: ['--fix=lf']
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable

- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: clippy
    args: [--all-targets, --all-features]
  - id: cargo-check

- repo: https://github.com/crate-ci/typos
  rev: v1.16.20
  hooks:
  - id: typos
    exclude: ^(book/|target/|\.git/)

- repo: local
  hooks:
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

chore: restore path dependencies after publishing v0.2.3
  Cargo.lock
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ws/Cargo.toml
Due: cargo-audit

Fix request body parameter generation and required fields handling
  CODE_REVIEW_REQUEST_BODY_FIX.md
  Cargo.lock
  crates/mockforge-plugin-core/src/client_generator.rs
  crates/mockforge-plugin-core/src/client_generator_tests.rs
  crates/mockforge-plugin-core/src/plugins/react_client_generator.rs
  crates/mockforge-plugin-core/src/plugins/svelte_client_generator.rs
  crates/mockforge-plugin-core/src/plugins/vue_client_generator.rs
Due: rust-fmt, cargo-audit

Bump version to 0.2.4
  CHANGELOG.md
  Cargo.toml
Due: cargo-audit

Restore path dependencies after v0.2.4 publish
  Cargo.lock
  crates/mockforge-http/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
Due: cargo-audit

Fix MQTT publish handlers: Update error types to be Send + Sync
  .env.example
  Cargo.lock
  crates/mockforge-http/src/management.rs
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-mqtt/src/broker.rs
  crates/mockforge-mqtt/src/qos.rs
  crates/mockforge-mqtt/src/server.rs
Due: rust-fmt, cargo-audit

Add built-in tunneling service for exposing local servers via public URLs
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-chaos/src/advanced_orchestration.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/backend_generator.rs
  crates/mockforge-cli/src/backend_generator/rust_axum.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/tunnel_commands.rs
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/codegen/backend_generator.rs
  crates/mockforge-core/src/codegen/mod.rs
  crates/mockforge-core/src/codegen/rust_generator.rs
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-plugin-core/src/backend_generator.rs
  crates/mockforge-plugin-core/src/lib.rs
  crates/mockforge-plugin-sdk/Cargo.toml
  crates/mockforge-tunnel/Cargo.toml
  crates/mockforge-tunnel/src/bin/tunnel-server.rs
  crates/mockforge-tunnel/src/client.rs
  crates/mockforge-tunnel/src/config.rs
  crates/mockforge-tunnel/src/lib.rs
  crates/mockforge-tunnel/src/manager.rs
  crates/mockforge-tunnel/src/provider.rs
  crates/mockforge-tunnel/src/server.rs
  crates/mockforge-tunnel/tests/integration_e2e.rs
  crates/mockforge-tunnel/tests/integration_test.rs
  crates/mockforge-tunnel/tests/integration_with_server.rs
  docs/TUNNELING.md
  docs/TUNNEL_TESTING_GUIDE.md
Due: rust-fmt, cargo-audit

Fix Axum 0.8 compatibility issues in proxy server module
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/proxy_server.rs
  tests/tests/integration_test_common.rs
  tests/tests/plugin_system_integration.rs
  tests/tests/proxy_verification_tests.rs
  tests/tests/websocket_integration.rs
Due: rust-fmt

Add TLS/HTTPS and mTLS support for HTTP server
  Cargo.lock
  TLS_IMPLEMENTATION_TEST_SUMMARY.md
  config.template.yaml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/tls.rs
  docs/COMPLIANCE_AUDIT_CHECKLIST.md
Due: rust-fmt, cargo-audit

Complete Phase 1 & 2: Documentation and SDK implementation
  README.md
  book/src/README.md
  book/src/contributing/release.md
  book/src/contributing/setup.md
  book/src/reference/faq.md
  book/src/user-guide/security.md
  config.template.yaml
  docs/AUDIT_TRAILS.md
  docs/CLOUD_DEPLOYMENT.md
  docs/FEATURE_COVERAGE_REVIEW.md
  docs/INTEGRATION_ECOSYSTEM.md
  docs/MINOR_GAPS_IMPLEMENTATION_PLAN.md
  docs/PHASE_1_DOCUMENTATION_COMPLETE.md
  docs/PHASE_2_SDK_IMPLEMENTATION_COMPLETE.md
  docs/RBAC_GUIDE.md
  docs/mTLS_CONFIGURATION.md
  sdk/README.md
  sdk/dotnet/.gitignore
  sdk/dotnet/MockForge.Sdk.Tests/MockForge.Sdk.Tests.csproj
  sdk/dotnet/MockForge.Sdk.Tests/MockServerTests.cs
  sdk/dotnet/MockForge.Sdk/MockForge.Sdk.csproj
  sdk/dotnet/MockForge.Sdk/MockServer.cs
  sdk/dotnet/MockForge.Sdk/MockServerConfig.cs
  sdk/dotnet/MockForge.Sdk/MockServerException.cs
  sdk/dotnet/MockForge.Sdk/ResponseStub.cs
  sdk/dotnet/README.md
  sdk/java/.gitignore
  sdk/java/README.md
  sdk/java/pom.xml
  sdk/java/src/main/java/com/mockforge/sdk/MockServer.java
  sdk/java/src/main/java/com/mockforge/sdk/MockServerConfig.java
  sdk/java/src/main/java/com/mockforge/sdk/MockServerException.java
  sdk/java/src/main/java/com/mockforge/sdk/ResponseStub.java
  sdk/java/src/test/java/com/mockforge/sdk/MockServerTest.java
Due: none

Add review and coverage documentation files
  COLLABORATION_CLOUD_COVERAGE.md
  CONFIGURATION_EXTENSIBILITY_COVERAGE.md
  FIXES_APPLIED_SUMMARY.md
  INTEGRATION_AUTOMATION_COVERAGE.md
  PRE_COMMIT_CHECKLIST.md
  REVIEW_SUMMARY.md
  TUNNEL_FEATURE_REVIEW.md
  TUNNEL_TESTING_REQUIREMENTS.md
  TUNNEL_TEST_SUMMARY.md
  VERIFICATION_LOGGING_COVERAGE.md
Due: none

Release v0.2.6: Fix documentation issues, bump version, and publish all crates
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/tests/config_profiles_test.rs
  crates/mockforge-core/tests/prop_tests.rs
  crates/mockforge-core/tests/schema_constraints.rs
  crates/mockforge-core/tests/sync_tests.rs
  crates/mockforge-core/tests/test_openapi_routes.rs
  crates/mockforge-core/tests/uuid_validation.rs
  crates/mockforge-core/tests/validation_tests.rs
  crates/mockforge-data/tests/dataset_validation.rs
  crates/mockforge-data/tests/rag_tests.rs
  crates/mockforge-graphql/tests/graphql_tests.rs
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/tests/fault_injection_e2e.rs
  crates/mockforge-http/tests/response_example_expand_e2e.rs
  crates/mockforge-http/tests/response_status_2xx_e2e.rs
  crates/mockforge-http/tests/uuid_override_e2e.rs
  crates/mockforge-http/tests/validation_e2e.rs
  crates/mockforge-http/tests/validation_status_422_e2e.rs
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-tcp/Cargo.toml
  crates/mockforge-test/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ws/tests/ws_proxy_debug.rs
  crates/mockforge-ws/tests/ws_proxy_e2e.rs
  crates/mockforge-ws/tests/ws_templating_e2e.rs
  scripts/publish-crates.sh
Due: rust-fmt, cargo-audit

feat: Complete production readiness and v1.0 release preparation
  .github/workflows/ci.yml
  Cargo.lock
  Makefile
  crates/mockforge-cli/src/main.rs
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/openapi_routes/registry.rs
  crates/mockforge-grpc/src/dynamic/http_bridge/mod.rs
  crates/mockforge-grpc/src/dynamic/proto_parser.rs
  crates/mockforge-http/src/health.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-observability/src/prometheus/metrics.rs
  crates/mockforge-observability/src/tracing_integration.rs
  crates/mockforge-tunnel/Cargo.toml
  crates/mockforge-tunnel/src/audit.rs
  crates/mockforge-tunnel/src/bin/tunnel-server.rs
  crates/mockforge-tunnel/src/lib.rs
  crates/mockforge-tunnel/src/rate_limit.rs
  crates/mockforge-tunnel/src/server_config.rs
  crates/mockforge-tunnel/src/storage.rs
  deny.toml
  docs/1.0_RELEASE_CHECKLIST.md
  docs/BREAKING_CHANGES_COMMUNICATION.md
  docs/COMPREHENSIVE_CODE_REVIEW.md
  docs/GRPC_ERROR_HANDLING_IMPROVEMENTS.md
  docs/KUBERNETES_HEALTH_CHECKS.md
  docs/LOAD_TESTING_GUIDE.md
  docs/LOW_PRIORITY_ITEMS_COMPLETION.md
  docs/MIGRATION_GUIDE_0.2_TO_1.0.md
  docs/OBSERVABILITY_ENHANCEMENTS.md
  docs/PLUGIN_MARKETPLACE_PRODUCTION.md
  docs/SECURITY_SCANNING.md
  docs/SECURITY_SCANNING_IMPLEMENTATION.md
  docs/STABILITY_GUARANTEES.md
  docs/STARTUP_OPTIMIZATION_IMPROVEMENTS.md
  docs/TUNNEL_PRODUCTION_HARDENING.md
  scripts/security-scan.sh
  tests/load/http_load_high_scale.js
  tests/load/run_high_scale_load.sh
  tests/load/websocket_load_high_scale.js
Due: rust-fmt, cargo-audit

Add production-ready features to React client generator
  .gitignore
  Dockerfile
  crates/mockforge-plugin-core/src/plugins/react_client_generator.rs
  crates/mockforge-ui/ui/src/components/fixtures/FixtureTree.tsx
  crates/mockforge-ui/ui/src/hooks/useAnalyticsStream.ts
  crates/mockforge-ui/ui/src/hooks/useWebSocket.ts
  docker-compose.yml
  vscode-extension/.eslintrc.json
  vscode-extension/ARCHITECTURE_REVIEW.md
  vscode-extension/IMPLEMENTATION_REVIEW.md
  vscode-extension/LICENSE
  vscode-extension/README.md
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/src/commands/createMock.ts
  vscode-extension/src/commands/deleteMock.ts
  vscode-extension/src/commands/editMock.ts
  vscode-extension/src/commands/exportMocks.ts
  vscode-extension/src/commands/importMocks.ts
  vscode-extension/src/commands/refreshMocks.ts
  vscode-extension/src/commands/serverControl.ts
  vscode-extension/src/commands/showLogs.ts
  vscode-extension/src/commands/toggleMock.ts
  vscode-extension/src/commands/viewStats.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/mockforgeClient.ts
  vscode-extension/src/mocksTreeProvider.ts
  vscode-extension/src/providers/mocksTreeProvider.ts
  vscode-extension/src/providers/serverControlProvider.ts
  vscode-extension/src/serverControlProvider.ts
  vscode-extension/src/services/mockforgeClient.ts
  vscode-extension/src/types/events.ts
  vscode-extension/src/types/mock.ts
  vscode-extension/src/types/server.ts
  vscode-extension/src/utils/logger.ts
  vscode-extension/src/utils/validation.ts
  vscode-extension/tsconfig.json
Due: rust-fmt

Implement complete Angular client generator with production-ready features
  crates/mockforge-plugin-core/src/plugins/angular_client_generator.rs
  crates/mockforge-plugin-core/src/plugins/svelte_client_generator.rs
  crates/mockforge-plugin-core/src/plugins/vue_client_generator.rs
Due: rust-fmt

Update vscode-extension with improved error handling and validation
  vscode-extension/ARCHITECTURE_REVIEW.md
  vscode-extension/IMPLEMENTATION_REVIEW.md
  vscode-extension/LICENSE
  vscode-extension/src/commands/createMock.ts
  vscode-extension/src/commands/deleteMock.ts
  vscode-extension/src/commands/editMock.ts
  vscode-extension/src/commands/exportMocks.ts
  vscode-extension/src/commands/importMocks.ts
  vscode-extension/src/commands/refreshMocks.ts
  vscode-extension/src/commands/serverControl.ts
  vscode-extension/src/commands/showLogs.ts
  vscode-extension/src/commands/toggleMock.ts
  vscode-extension/src/commands/viewStats.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/providers/mocksTreeProvider.ts
  vscode-extension/src/providers/serverControlProvider.ts
  vscode-extension/src/services/mockforgeClient.ts
  vscode-extension/src/types/events.ts
  vscode-extension/src/types/mock.ts
  vscode-extension/src/types/server.ts
  vscode-extension/src/utils/logger.ts
  vscode-extension/src/utils/validation.ts
Due: none

chore: release v0.2.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-tcp/Cargo.toml
  crates/mockforge-test/Cargo.toml
  crates/mockforge-ui/Cargo.toml
Due: cargo-audit

fix: enable publishing for mockforge-tunnel and add to publish script
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-tunnel/Cargo.toml
  scripts/publish-crates.sh
Due: none

fix: update mockforge-plugin-sdk to use workspace version
  crates/mockforge-plugin-sdk/Cargo.toml
Due: none

Add multipart form data support and file generation/serving for API mocks
  Cargo.lock
  IMPLEMENTATION_SUMMARY.md
  VERIFICATION_CHECKLIST.md
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-core/src/ai_response.rs
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/file_generator.rs
  crates/mockforge-http/src/file_server.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-mqtt/Cargo.toml
  crates/mockforge-observability/Cargo.toml
  crates/mockforge-plugin-loader/Cargo.toml
  crates/mockforge-plugin-registry/Cargo.toml
  crates/mockforge-recorder/Cargo.toml
  crates/mockforge-reporting/Cargo.toml
  crates/mockforge-sdk/Cargo.toml
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-tcp/Cargo.toml
  crates/mockforge-test/Cargo.toml
  crates/mockforge-tracing/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ws/Cargo.toml
  overrides/README.md
  overrides/apiary-pro-fixes.yaml
Due: rust-fmt, cargo-audit

Add Virtual Backend Reality (VBR) engine
  Cargo.lock
  Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/vbr_commands.rs
  crates/mockforge-vbr/Cargo.toml
  crates/mockforge-vbr/README.md
  crates/mockforge-vbr/src/aging.rs
  crates/mockforge-vbr/src/api_generator.rs
  crates/mockforge-vbr/src/auth.rs
  crates/mockforge-vbr/src/config.rs
  crates/mockforge-vbr/src/constraints.rs
  crates/mockforge-vbr/src/database.rs
  crates/mockforge-vbr/src/entities.rs
  crates/mockforge-vbr/src/handlers.rs
  crates/mockforge-vbr/src/integration.rs
  crates/mockforge-vbr/src/lib.rs
  crates/mockforge-vbr/src/migration.rs
  crates/mockforge-vbr/src/scheduler.rs
  crates/mockforge-vbr/src/schema.rs
  crates/mockforge-vbr/src/session.rs
  tests/Cargo.toml
  tests/tests/vbr_integration.rs
Due: rust-fmt, cargo-audit

Complete MockAI implementation with query params and session recording
  Cargo.lock
  MOCKAI_IMPLEMENTATION_REVIEW.md
  crates/mockforge-amqp/Cargo.toml
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/mockai_commands.rs
  crates/mockforge-cli/src/vbr_commands.rs
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/intelligent_behavior/context.rs
  crates/mockforge-core/src/intelligent_behavior/mockai.rs
  crates/mockforge-core/src/intelligent_behavior/mod.rs
  crates/mockforge-core/src/intelligent_behavior/mutation_analyzer.rs
  crates/mockforge-core/src/intelligent_behavior/pagination_intelligence.rs
  crates/mockforge-core/src/intelligent_behavior/rule_generator.rs
  crates/mockforge-core/src/intelligent_behavior/validation_generator.rs
  crates/mockforge-core/src/openapi_routes.rs
  crates/mockforge-core/src/openapi_routes/registry.rs
  crates/mockforge-ftp/Cargo.toml
  crates/mockforge-http/Cargo.toml
  crates/mockforge-http/src/lib.rs
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-ui/Cargo.toml
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-vbr/src/aging.rs
  crates/mockforge-vbr/src/api_generator.rs
  crates/mockforge-vbr/src/auth.rs
  crates/mockforge-vbr/src/constraints.rs
  crates/mockforge-vbr/src/database.rs
  crates/mockforge-vbr/src/handlers.rs
  crates/mockforge-vbr/src/integration.rs
  crates/mockforge-vbr/src/lib.rs
  crates/mockforge-vbr/src/migration.rs
  crates/mockforge-vbr/src/session.rs
  docs/MOCKAI_USAGE.md
  tests/tests/mockai_integration.rs
  tests/tests/vbr_integration.rs
Due: rust-fmt, cargo-audit

Add temporal simulation with CLI commands and scenario support
  TEMPORAL_SIMULATION_VERIFICATION.md
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/time_commands.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/time_travel.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/src/time_travel_handlers.rs
  crates/mockforge-vbr/src/aging.rs
  docs/TIME_TRAVEL.md
Due: rust-fmt

Add realistic network conditions and chaos lab with interactive UI controls
  crates/mockforge-chaos/src/config.rs
  crates/mockforge-chaos/src/fault.rs
  crates/mockforge-chaos/src/lib.rs
  crates/mockforge-chaos/src/middleware.rs
  crates/mockforge-ui/ui/src/components/ui/slider.tsx
  crates/mockforge-ui/ui/src/hooks/useApi.ts
  crates/mockforge-ui/ui/src/pages/ChaosPage.tsx
  crates/mockforge-ui/ui/src/services/api.ts
  crates/mockforge-ui/ui/src/types/index.ts
Due: rust-fmt

Add data personality profiles system for consistent mock data generation
  crates/mockforge-core/src/config.rs
  crates/mockforge-data/src/consistency.rs
  crates/mockforge-data/src/domains.rs
  crates/mockforge-data/src/integration_tests.rs
  crates/mockforge-data/src/lib.rs
  crates/mockforge-data/src/mock_generator.rs
  crates/mockforge-data/src/persona.rs
  crates/mockforge-data/src/persona_templates.rs
Due: rust-fmt

Add MockForge Cloud Graph visualization with real-time updates and export
  GRAPH_IMPLEMENTATION_REVIEW.md
  crates/mockforge-core/src/graph/builder.rs
  crates/mockforge-core/src/graph/mod.rs
  crates/mockforge-core/src/graph/relationships.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/graph.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/package.json
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/graph/EndpointNode.tsx
  crates/mockforge-ui/ui/src/components/graph/GraphControls.tsx
  crates/mockforge-ui/ui/src/components/graph/GraphDetailsPanel.tsx
  crates/mockforge-ui/ui/src/components/graph/ServiceNode.tsx
  crates/mockforge-ui/ui/src/components/graph/StateIndicator.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/GraphPage.tsx
  crates/mockforge-ui/ui/src/services/api.ts
  crates/mockforge-ui/ui/src/types/graph.ts
  crates/mockforge-ui/ui/src/types/index.ts
  crates/mockforge-ui/ui/src/utils/graphClustering.ts
  crates/mockforge-ui/ui/src/utils/graphLayouts.ts
Due: rust-fmt

Add mock-to-real migration pipeline with per-route toggling
  config.example.yaml
  crates/mockforge-cli/src/scenario_commands.rs
  crates/mockforge-core/src/priority_handler.rs
  crates/mockforge-core/src/proxy/config.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-scenarios/src/installer.rs
  crates/mockforge-scenarios/src/lib.rs
  crates/mockforge-scenarios/src/manifest.rs
  crates/mockforge-scenarios/src/package.rs
  crates/mockforge-scenarios/src/registry.rs
  crates/mockforge-scenarios/src/storage.rs
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/migration.rs
  crates/mockforge-ui/src/routes.rs
  docs/MIGRATION_PIPELINE.md
Due: rust-fmt

Implement VBR Engine enhancements: OpenAPI integration, M2M relationships, seeding, ID generation, snapshots
  Cargo.lock
  VBR_IMPLEMENTATION_SUMMARY.md
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/vbr_commands.rs
  crates/mockforge-core/src/priority_handler.rs
  crates/mockforge-core/src/proxy.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-vbr/Cargo.toml
  crates/mockforge-vbr/README.md
  crates/mockforge-vbr/src/database.rs
  crates/mockforge-vbr/src/handlers.rs
  crates/mockforge-vbr/src/id_generation.rs
  crates/mockforge-vbr/src/integration.rs
  crates/mockforge-vbr/src/lib.rs
  crates/mockforge-vbr/src/migration.rs
  crates/mockforge-vbr/src/openapi.rs
  crates/mockforge-vbr/src/schema.rs
  crates/mockforge-vbr/src/seeding.rs
  crates/mockforge-vbr/src/snapshots.rs
  examples/vbr_openapi_example.rs
  examples/vbr_seeding_example.rs
  tests/Cargo.toml
  tests/tests/vbr_integration.rs
  tests/tests/vbr_new_features.rs
Due: rust-fmt, cargo-audit

Fix test and benchmark compilation errors
  Cargo.lock
  crates/mockforge-core/benches/core_benchmarks.rs
  crates/mockforge-data/benches/token_resolver_bench.rs
  tests/Cargo.toml
  tests/tests/temporal_simulation.rs
  tests/tests/vbr_integration.rs
Due: rust-fmt, cargo-audit

Complete configuration and extensibility implementation
  CONFIGURATION_EXTENSIBILITY_COVERAGE.md
  Cargo.lock
  book/src/api/admin-ui-rest.md
  crates/mockforge-core/Cargo.toml
  crates/mockforge-core/src/config.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/lifecycle.rs
  crates/mockforge-core/src/proxy.rs
  crates/mockforge-core/src/proxy/conditional.rs
  crates/mockforge-core/src/stateful_handler.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-recorder/src/stub_mapping.rs
  crates/mockforge-sdk/src/admin.rs
  crates/mockforge-sdk/src/lib.rs
  crates/mockforge-sdk/src/stub.rs
  crates/mockforge-sdk/src/verification.rs
  docs/ADVANCED_BEHAVIOR_SIMULATION.md
  tests/Cargo.toml
Due: rust-fmt, cargo-audit

Add comprehensive ecosystem and use cases documentation
  README.md
  book/src/reference/faq.md
  docs/ECOSYSTEM_AND_USE_CASES.md
  docs/ECOSYSTEM_COMPARISON.md
  docs/ECOSYSTEM_DOCUMENTATION_COMPLETION.md
Due: none

Add WireMock-inspired features: browser proxy mode, git sync, data sources, template library, managed hosting docs, and user management
  IMPLEMENTATION_REVIEW.md
  crates/mockforge-cli/src/contract_sync_commands.rs
  crates/mockforge-cli/src/git_watch_commands.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/template_commands.rs
  crates/mockforge-core/src/data_source.rs
  crates/mockforge-core/src/git_watch.rs
  crates/mockforge-core/src/lib.rs
  crates/mockforge-core/src/proxy.rs
  crates/mockforge-core/src/proxy/body_transform.rs
  crates/mockforge-core/src/proxy/config.rs
  crates/mockforge-core/src/template_library.rs
  crates/mockforge-http/src/management.rs
  crates/mockforge-http/src/proxy_server.rs
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/proxy/ProxyInspector.tsx
  crates/mockforge-ui/ui/src/hooks/useApi.ts
  crates/mockforge-ui/ui/src/pages/ProxyInspectorPage.tsx
  crates/mockforge-ui/ui/src/pages/UserManagementPage.tsx
  crates/mockforge-ui/ui/src/services/api.ts
  docs/BROWSER_MOBILE_PROXY_MODE.md
  docs/MANAGED_HOSTING.md
  docs/PROXY_BODY_TRANSFORMATION.md
  examples/proxy-body-transformation-examples.json
Due: rust-fmt

Fix test compilation errors in openapi_generator_tests
  crates/mockforge-core/src/intelligent_behavior/openapi_generator.rs
  crates/mockforge-core/tests/openapi_generator_tests.rs
Due: rust-fmt

feat: Add Chaos Lab interactive network condition simulation
  CHAOS_LAB_IMPLEMENTATION_STATUS.md
  CHAOS_LAB_VERIFICATION.md
  Cargo.lock
  crates/mockforge-chaos/Cargo.toml
  crates/mockforge-chaos/src/api.rs
  crates/mockforge-chaos/src/config.rs
  crates/mockforge-chaos/src/fault.rs
  crates/mockforge-chaos/src/latency_metrics.rs
  crates/mockforge-chaos/src/lib.rs
  crates/mockforge-cli/Cargo.toml
  crates/mockforge-cli/src/main.rs
  crates/mockforge-ui/ui/src/components/chaos/ErrorPatternEditor.tsx
  crates/mockforge-ui/ui/src/components/chaos/LatencyGraph.tsx
  crates/mockforge-ui/ui/src/components/chaos/NetworkProfileSelector.tsx
  crates/mockforge-ui/ui/src/components/chaos/ProfileExporter.tsx
  crates/mockforge-ui/ui/src/hooks/useApi.ts
  crates/mockforge-ui/ui/src/pages/ChaosPage.tsx
  crates/mockforge-ui/ui/src/services/api.ts
  docs/CHAOS_LAB.md
  tests/Cargo.toml
  tests/tests/chaos_lab_integration.rs
Due: rust-fmt, cargo-audit

style: Apply rustfmt formatting to Chaos Lab code
  CHAOS_LAB_IMPLEMENTATION_STATUS.md
  CHAOS_LAB_VERIFICATION.md
  crates/mockforge-chaos/src/api.rs
  crates/mockforge-chaos/src/fault.rs
  crates/mockforge-chaos/src/latency_metrics.rs
  crates/mockforge-ui/ui/src/components/chaos/ErrorPatternEditor.tsx
  crates/mockforge-ui/ui/src/components/chaos/LatencyGraph.tsx
  crates/mockforge-ui/ui/src/components/chaos/NetworkProfileSelector.tsx
  crates/mockforge-ui/ui/src/components/chaos/ProfileExporter.tsx
  crates/mockforge-ui/ui/src/services/api.ts
  docs/CHAOS_LAB.md
  tests/tests/chaos_lab_integration.rs
Due: rust-fmt
