Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

fix(bench,foundation,tui): r45 body export 64KB + TUI summary + --validate-requests on native executor (#79) (#903)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  audit.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-tui/src/api/models.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench,foundation,openapi,tui,cli): r46 multipart export + summary got/expected + method classifier + grouped violations + --auth-bearer + network events (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  audit.toml
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench,foundation,openapi,tui,cli): r46 multipart export + summary got/expected + method classifier + grouped violations + --auth-bearer + network events (#79) (#904)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  audit.toml
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-tui/src/screens/conformance.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench,foundation,openapi,cli): r47 multipart byte counts + bench auth + network events k6/self-test + grouped collapse + categories[] + self-test iterations/duration (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/route.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench,foundation,openapi,cli): r47 multipart byte counts + bench auth + network events k6/self-test + grouped collapse + categories[] + self-test iterations/duration (#79) (#906)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/cloud_api.rs
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/custom.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/executor.rs
  crates/mockforge-cli/src/main.rs
  crates/mockforge-foundation/src/conformance_violations.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  crates/mockforge-openapi/src/route.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): r48 multipart total bytes + multi-target self-test loop + plain bench network events + grouped check_name + by-probe drill-down (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): r48 multipart total bytes + multi-target self-test loop + plain bench network events + grouped check_name + by-probe drill-down (#79) (#907)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/templates/k6_script.hbs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): r49 self-test violation logs in multi-target + duration overshoot + iteration index + multipart wire bytes (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  audit.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/per_endpoint_summary.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/tests/multi_target_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): r49 self-test violation logs in multi-target + duration overshoot + iteration index + multipart wire bytes (#79) (#910)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  audit.toml
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/capture_html.rs
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/per_endpoint_summary.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/self_test.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/tests/multi_target_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench,cli): r50 multipart wire-byte undercount + one-row-per-URL by-request + violation dedup + LLM/DLP payloads (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/security_payloads.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

docs(changelog): mirror r50 entry into book changelog (#79)
  book/src/reference/changelog.md
Due: check-added-large-files

fix(bench,cli): r50 — multipart wire bytes + one-row-per-URL by-request + violation dedup + LLM/DLP payloads (#79) (#911)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-bench/src/security_payloads.rs
  crates/mockforge-cli/src/main.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(http,cli): mock LLM endpoint (--llm-mock) + mock MCP server (--mcp-mock) (#912, #913, #79)
  .claude/settings.local.json
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/llm_mock.rs
  crates/mockforge-http/src/mcp_mock.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(http,cli): mock LLM endpoint (--llm-mock) + mock MCP server (--mcp-mock) (#912, #913, #79) (#914)
  .claude/settings.local.json
  CHANGELOG.md
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/lib.rs
  crates/mockforge-http/src/llm_mock.rs
  crates/mockforge-http/src/mcp_mock.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(http,cli): --llm-mock-mode proxy/record/replay for the mock LLM endpoint (#915)
  .claude/settings.local.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/llm_mock.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(http,cli): --llm-mock-mode proxy/record/replay for the mock LLM endpoint (#915) (#916)
  .claude/settings.local.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-cli/src/main.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-http/src/llm_mock.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench): r51 spec-valid self-test filler + Content-Length wire bytes + packet-level traffic doc (#79)
  CHANGELOG.md
  Cargo.toml
  book/src/SUMMARY.md
  book/src/reference/agent-llm-mcp-traffic.md
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/request_gen.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(security): ignore quick-xml RUSTSEC-2026-0194/-0195 pending upgrade (#919)
  .cargo/audit.toml
  audit.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

fix(bench): r51 — spec-valid self-test filler + Content-Length wire bytes + packet-level traffic doc (#79) (#918)
  .cargo/audit.toml
  CHANGELOG.md
  Cargo.toml
  audit.toml
  book/src/SUMMARY.md
  book/src/reference/agent-llm-mcp-traffic.md
  book/src/reference/changelog.md
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-bench/src/request_gen.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench,http): r52 — $ref request-body violations + multipart full-request bytes + richer MCP mock (#79)
  Cargo.lock
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-http/src/mcp_mock.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

fix(bench,http): r52 — $ref request-body violations + multipart full-request bytes + richer MCP mock (#79) (#921)
  Cargo.lock
  crates/mockforge-bench/src/conformance/generator.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/spec_driven.rs
  crates/mockforge-http/src/mcp_mock.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

chore(release): v0.3.199
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(release): publish mockforge-intelligence before mockforge-core (#79)
  scripts/publish-crates.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(release): v0.3.199 (#922)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  scripts/publish-crates.sh
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench,openapi,core,cli,docker): r53 owasp/param violations + PUT bodies + config/docker DX (#79, #925-#931)
  Dockerfile
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/config/mod.rs
  crates/mockforge-core/src/config/protocol.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  docker/entrypoint.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(deps,spell): bump crossbeam-epoch 0.9.20 + quinn-proto 0.11.15 (RUSTSEC), fix typo
  Cargo.lock
  crates/mockforge-cli/src/serve.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

fix: r53 owasp/param violations + PUT bodies + config/docker DX (#79, #925-#931) (#932)
  Cargo.lock
  Dockerfile
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/config/mod.rs
  crates/mockforge-core/src/config/protocol.rs
  crates/mockforge-openapi/src/openapi_routes.rs
  docker/entrypoint.sh
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

chore(release): v0.3.200
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  scripts/publish-crates.sh
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): v0.3.200 (#934)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  scripts/publish-crates.sh
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(bench): QoS/DSCP traffic-class generator (bench-qos) (#933)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/qos_bench.rs
  crates/mockforge-cli/src/main.rs
  docs/superpowers/specs/2026-07-10-qos-traffic-classes-design.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(bench): QoS/DSCP traffic-class generator (bench-qos) (#933) (#935)
  Cargo.lock
  Cargo.toml
  crates/mockforge-bench/Cargo.toml
  crates/mockforge-bench/src/lib.rs
  crates/mockforge-bench/src/qos_bench.rs
  crates/mockforge-cli/src/main.rs
  docs/superpowers/specs/2026-07-10-qos-traffic-classes-design.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(release): v0.3.201
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): v0.3.201 (#936)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench): r54 parameter violations (custom-verb paths + string constraints) + source-ip in multi-target (#79)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/parallel_executor.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): r54 parameter violations (custom-verb paths + string constraints) + source-ip in multi-target (#79) (#938)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/parallel_executor.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.202
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): v0.3.202 (#939)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench): r55 --base-path / no longer double-slashes paths and voids all validation (#79)
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): r55 --base-path / no longer double-slashes paths and voids all validation (#79) (#940)
  crates/mockforge-bench/src/conformance/request_validator.rs
  crates/mockforge-bench/src/conformance/self_test.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): v0.3.203
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
