Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

fix: keep rand at 0.9 across workspace and crates that use 0.9 API
  Cargo.lock
  Cargo.toml
  crates/mockforge-grpc/Cargo.toml
  crates/mockforge-vbr/Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(registry): raise incident on fitness-evaluation failure (#355)
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): raise incident on fitness-evaluation failure (#355) (#429)
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(release): bump workspace to 0.3.127 (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  scripts/check-changelog.sh
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

chore(release): bump workspace to 0.3.127 (#79) (#435)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  scripts/check-changelog.sh
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(test-runner): real FitnessExecutor with latency_threshold (#355)
  crates/mockforge-registry-core/src/models/contract_verification.rs
  crates/mockforge-registry-server/src/handlers/contract_verification.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-test-runner/src/callbacks.rs
  crates/mockforge-test-runner/src/executors/fitness.rs
  crates/mockforge-test-runner/src/executors/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(test-runner): real FitnessExecutor with latency_threshold (#355) (#431)
  crates/mockforge-registry-core/src/models/contract_verification.rs
  crates/mockforge-registry-server/src/handlers/contract_verification.rs
  crates/mockforge-registry-server/src/handlers/internal_test_runs.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-test-runner/src/callbacks.rs
  crates/mockforge-test-runner/src/executors/fitness.rs
  crates/mockforge-test-runner/src/executors/mod.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(bench): cap k6 metric names at 128 chars with hash-suffix uniqueness (#79)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/k6_gen.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(chaos): wire fault-injection prometheus counters (#79)
  crates/mockforge-chaos/src/chaos_listener.rs
  crates/mockforge-chaos/src/middleware.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(chaos): smoke-test that record_fault advances faults_total counter
  crates/mockforge-chaos/src/middleware.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): bump workspace to 0.3.128 (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(bench): cap k6 metric names + wire chaos fault counters (#79) (#436)
  crates/mockforge-bench/src/command.rs
  crates/mockforge-bench/src/k6_gen.rs
  crates/mockforge-chaos/src/chaos_listener.rs
  crates/mockforge-chaos/src/middleware.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): bump workspace to 0.3.128 (#79) (#437)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(registry,ui): cloud-mode request verification (#390)
  crates/mockforge-core/src/verification.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/request_verification.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/VerificationPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudVerification.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(registry): e2e tests for cloud verification endpoints (#390)
  .github/workflows/registry-e2e.yml
  crates/mockforge-core/src/verification.rs
  crates/mockforge-registry-server/src/handlers/request_verification.rs
  crates/mockforge-registry-server/tests/cloud_verification_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(chaos): wire all FaultConfig fields through YAML loader (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/config/operational.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(registry,ui): cloud-mode request verification (#390) (#438)
  .github/workflows/registry-e2e.yml
  crates/mockforge-core/src/verification.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/request_verification.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/tests/cloud_verification_e2e.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/VerificationPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudVerification.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(chaos): wire all FaultConfig fields through YAML loader (#79) (#439)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-cli/src/serve.rs
  crates/mockforge-core/src/config/operational.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(registry,test-runner): AI-assisted contract drift second pass (#348)
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-server/src/ai/contract_diff.rs
  crates/mockforge-registry-server/src/ai/mod.rs
  crates/mockforge-registry-server/src/handlers/ai_studio.rs
  crates/mockforge-registry-server/src/handlers/internal_contract_diff.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/tests/cloud_ai_contract_diff_e2e.rs
  crates/mockforge-test-runner/src/callbacks.rs
  crates/mockforge-test-runner/src/executors/contract.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(observability,chaos): chaos counters in /metrics + partial YAML parse (#79 0.3.130)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-core/src/config/operational.rs
  crates/mockforge-observability/src/prometheus/exporter.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(chaos-proxy,test-runner): real chaos against external targets (#349)
  Cargo.lock
  Cargo.toml
  crates/mockforge-chaos-proxy/Cargo.toml
  crates/mockforge-chaos-proxy/src/error.rs
  crates/mockforge-chaos-proxy/src/lib.rs
  crates/mockforge-test-runner/Cargo.toml
  crates/mockforge-test-runner/src/executors/chaos.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(observability,chaos): chaos counters in /metrics + partial YAML parse (#79 0.3.130) (#442)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-core/src/config/operational.rs
  crates/mockforge-observability/src/prometheus/exporter.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(tui,chaos): surface fault-injection counters in TUI Chaos screen (#79)
  crates/mockforge-chaos/src/api.rs
  crates/mockforge-chaos/src/metrics.rs
  crates/mockforge-tui/src/api/client.rs
  crates/mockforge-tui/src/screens/chaos.rs
  crates/mockforge-ui/src/handlers/chaos_api.rs
  crates/mockforge-ui/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): bump workspace to 0.3.131 (#79)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(chaos-proxy,test-runner): real chaos against external targets (#349) (#443)
  Cargo.lock
  Cargo.toml
  crates/mockforge-chaos-proxy/Cargo.toml
  crates/mockforge-chaos-proxy/src/error.rs
  crates/mockforge-chaos-proxy/src/lib.rs
  crates/mockforge-test-runner/Cargo.toml
  crates/mockforge-test-runner/src/executors/chaos.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(registry,test-runner): AI-assisted contract drift second pass (#348) (#441)
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-server/src/ai/contract_diff.rs
  crates/mockforge-registry-server/src/ai/mod.rs
  crates/mockforge-registry-server/src/handlers/ai_studio.rs
  crates/mockforge-registry-server/src/handlers/internal_contract_diff.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/tests/cloud_ai_contract_diff_e2e.rs
  crates/mockforge-test-runner/src/callbacks.rs
  crates/mockforge-test-runner/src/executors/contract.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(tui,chaos): surface fault-injection counts in TUI Chaos screen (#79 → 0.3.131) (#444)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/reference/changelog.md
  crates/mockforge-chaos/src/api.rs
  crates/mockforge-chaos/src/metrics.rs
  crates/mockforge-tui/src/api/client.rs
  crates/mockforge-tui/src/screens/chaos.rs
  crates/mockforge-ui/src/handlers/chaos_api.rs
  crates/mockforge-ui/src/routes.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(test-runner,ui): cloud-mode conformance executor + UI dispatch (#391)
  .github/workflows/registry-e2e.yml
  crates/mockforge-registry-server/tests/cloud_conformance_e2e.rs
  crates/mockforge-test-runner/src/executors/test.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/ConformancePage.tsx
  crates/mockforge-ui/ui/src/services/cloudConformanceApi.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(conformance): inline custom_checks_yaml for cloud runs (#391 Phase 2)
  Cargo.lock
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-test-runner/src/executors/test.rs
  crates/mockforge-ui/ui/src/pages/ConformancePage.tsx
  crates/mockforge-ui/ui/src/services/cloudConformanceApi.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

feat(test-runner,ui): cloud-mode conformance executor + UI dispatch (#391) (#440)
  .github/workflows/registry-e2e.yml
  Cargo.lock
  crates/mockforge-bench/src/conformance/executor.rs
  crates/mockforge-registry-server/tests/cloud_conformance_e2e.rs
  crates/mockforge-test-runner/src/executors/test.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/ConformancePage.tsx
  crates/mockforge-ui/ui/src/services/cloudConformanceApi.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt, cargo-audit

fix(ui,docs): reconcile pricing to Pro $29 / Team $99 (#445)
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
  crates/mockforge-ui/ui/src/pages/PricingPage.tsx
  docs/cloud/PRICING.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry): auto-send verification email at signup (#448)
  crates/mockforge-registry-server/src/handlers/auth.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): cloud-mode workspace graph (#460)
  crates/mockforge-registry-server/src/handlers/graph.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/GraphPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudGraph.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): cloud-mode workspace graph (#460) (#474)
  crates/mockforge-registry-server/src/handlers/graph.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/GraphPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudGraph.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(ui): hide cloud-redundant Metrics and Performance nav items (#463, #467)
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): drop apt-get update on self-hosted runners — verify with dpkg instead (#446)
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): cloud-mode workspace request logs (#462)
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/runtime_logs.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/hooks/api/useLogsApi.ts
  crates/mockforge-ui/ui/src/services/api/cloudLogs.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): cloud-mode Observability — execute saved queries (#465)
  crates/mockforge-registry-server/src/handlers/observability.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/pages/ObservabilityPage.tsx
  crates/mockforge-ui/ui/src/services/api/cloudObservability.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ci): quote run: values to avoid YAML scalar parse on ::error:: colons (#446)
  .github/workflows/chaos-testing.yml
  .github/workflows/ci.yml
  .github/workflows/contract-diff.yml
  .github/workflows/integration-tests.yml
  .github/workflows/load-testing.yml
  .github/workflows/mutation-testing.yml
  .github/workflows/registry-e2e.yml
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos
