Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

trailing-whitespace:
  name: trailing-whitespace
  entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
  language: system

end-of-file-fixer:
  name: end-of-file-fixer
  entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
  language: system

check-toml:
  name: check-toml
  entry: python3 scripts/precommit/offline_checks.py check-toml
  language: system

check-added-large-files:
  name: check-added-large-files
  entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
  language: system

typos:
  name: typos
  entry: typos
  language: system
  pass_filenames: false

rust-fmt:
  name: rust fmt
  entry: cargo fmt --check --all
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo
  args:
  - audit
  - --ignore
  - RUSTSEC-2023-0071
  language: system
  pass_filenames: false

test(smtp): multi-recipient delivery real-client regression (#183) (#195)
  crates/mockforge-smtp/tests/smtp_deliver_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(smtp): preserve 8BITMIME bodies byte-for-byte (#184)
  crates/mockforge-smtp/src/server.rs
  crates/mockforge-smtp/tests/smtp_deliver_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(smtp): preserve 8BITMIME bodies byte-for-byte (#184) (#196)
  crates/mockforge-smtp/src/server.rs
  crates/mockforge-smtp/tests/smtp_deliver_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(smtp): implement AUTH PLAIN / AUTH LOGIN (#182)
  Cargo.lock
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-smtp/src/server.rs
  crates/mockforge-smtp/tests/smtp_deliver_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(smtp): implement AUTH PLAIN / AUTH LOGIN (#182) (#197)
  Cargo.lock
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-smtp/src/server.rs
  crates/mockforge-smtp/tests/smtp_deliver_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(graphql): subscriptions over graphql-transport-ws WebSocket (#170)
  Cargo.lock
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-graphql/src/executor.rs
  crates/mockforge-graphql/src/schema.rs
  crates/mockforge-graphql/tests/graphql_client_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(graphql): subscriptions over graphql-transport-ws WebSocket (#170) (#198)
  Cargo.lock
  crates/mockforge-graphql/Cargo.toml
  crates/mockforge-graphql/src/executor.rs
  crates/mockforge-graphql/src/schema.rs
  crates/mockforge-graphql/tests/graphql_client_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

chore(deploy,ui): align docs and comments with Cloudflare Pages migration [skip ci] (#146)
  crates/mockforge-ui/ui/src/hooks/useWebSocket.ts
  crates/mockforge-ui/ui/src/services/registryAdminApi.ts
  deploy/PRODUCTION_SETUP.md
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(amqp): durable queues survive client disconnect + drain on consume (#176)
  crates/mockforge-amqp/src/connection.rs
  crates/mockforge-amqp/src/queues.rs
  crates/mockforge-amqp/tests/amqp_pubsub_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(amqp): durable queues survive client disconnect + drain on consume (#176) (#199)
  crates/mockforge-amqp/src/connection.rs
  crates/mockforge-amqp/src/queues.rs
  crates/mockforge-amqp/tests/amqp_pubsub_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(amqp): publisher-confirms round-trip via lapin (#179)
  crates/mockforge-amqp/tests/amqp_pubsub_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(amqp): publisher-confirms round-trip via lapin (#179) (#200)
  crates/mockforge-amqp/tests/amqp_pubsub_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(amqp): message TTL honored — per-message + queue-level (#177)
  crates/mockforge-amqp/src/connection.rs
  crates/mockforge-amqp/src/queues.rs
  crates/mockforge-amqp/tests/amqp_pubsub_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(amqp): message TTL honored — per-message + queue-level (#177) (#201)
  crates/mockforge-amqp/src/connection.rs
  crates/mockforge-amqp/src/queues.rs
  crates/mockforge-amqp/tests/amqp_pubsub_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(amqp): dead-letter exchange routing on reject + nack (#178)
  crates/mockforge-amqp/src/connection.rs
  crates/mockforge-amqp/src/queues.rs
  crates/mockforge-amqp/tests/amqp_pubsub_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(amqp): dead-letter exchange routing on reject + nack (#178) (#202)
  crates/mockforge-amqp/src/connection.rs
  crates/mockforge-amqp/src/queues.rs
  crates/mockforge-amqp/tests/amqp_pubsub_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(amqp): tx.select / tx.commit / tx.rollback round-trip (#180)
  crates/mockforge-amqp/tests/amqp_pubsub_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(amqp): tx.select / tx.commit / tx.rollback round-trip (#180) (#203)
  crates/mockforge-amqp/tests/amqp_pubsub_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(smtp): STARTTLS actually upgrades the socket to TLS (#181)
  Cargo.lock
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-smtp/src/server.rs
  crates/mockforge-smtp/tests/integration.rs
  crates/mockforge-smtp/tests/smtp_deliver_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(smtp): STARTTLS actually upgrades the socket to TLS (#181) (#204)
  Cargo.lock
  crates/mockforge-smtp/Cargo.toml
  crates/mockforge-smtp/src/server.rs
  crates/mockforge-smtp/tests/integration.rs
  crates/mockforge-smtp/tests/smtp_deliver_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(kafka): non-flexible Produce v3-v8 / Fetch v4-v11 codecs (#165)
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/fetch_nonflex.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/produce_nonflex.rs
  crates/mockforge-kafka/src/protocol.rs
  crates/mockforge-kafka/tests/nonflex_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(kafka): non-flexible Produce v3-v8 / Fetch v4-v11 codecs (#165) (#205)
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/fetch_nonflex.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/produce_nonflex.rs
  crates/mockforge-kafka/src/protocol.rs
  crates/mockforge-kafka/tests/nonflex_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(test,ci): stop WebSocket e2e tests from racing on ports + metrics 9090
  .github/workflows/ci.yml
  crates/mockforge-test/src/process.rs
  crates/mockforge-test/src/server.rs
  tests/tests/e2e/protocols/websocket_e2e_tests.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(kafka): RecordBatch v2 compression (gzip/snappy/lz4/zstd) (#164)
  Cargo.lock
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/fetch_codec.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/produce_codec.rs
  crates/mockforge-kafka/src/produce_nonflex.rs
  crates/mockforge-kafka/src/record_compression.rs
  crates/mockforge-kafka/tests/compression_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

feat(kafka): execute state-machine / scenarios / relationships triggers (#166)
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/fixture_executor.rs
  crates/mockforge-kafka/src/fixture_file.rs
  crates/mockforge-kafka/src/fixtures.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/spec_registry.rs
  crates/mockforge-kafka/tests/fixture_triggers.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(kafka): RecordBatch v2 compression (gzip/snappy/lz4/zstd) (#164) (#206)
  Cargo.lock
  crates/mockforge-kafka/Cargo.toml
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/fetch_codec.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/produce_codec.rs
  crates/mockforge-kafka/src/produce_nonflex.rs
  crates/mockforge-kafka/src/record_compression.rs
  crates/mockforge-kafka/tests/compression_e2e.rs
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

fix(test,ci): stop WebSocket e2e tests from racing on ports + metrics 9090 (#208)
  .github/workflows/ci.yml
  crates/mockforge-test/src/process.rs
  crates/mockforge-test/src/server.rs
  tests/tests/e2e/protocols/websocket_e2e_tests.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(kafka): execute state-machine / scenarios / relationships triggers (#166) (#207)
  crates/mockforge-kafka/src/broker.rs
  crates/mockforge-kafka/src/fixture_executor.rs
  crates/mockforge-kafka/src/fixture_file.rs
  crates/mockforge-kafka/src/fixtures.rs
  crates/mockforge-kafka/src/lib.rs
  crates/mockforge-kafka/src/spec_registry.rs
  crates/mockforge-kafka/tests/fixture_triggers.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

test(kafka): fix flaky test_broker_startup_timeout by binding ephemeral port
  crates/mockforge-kafka/tests/integration.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): discover full nav in cloud mode; mark self-hosted features
  .typos.toml
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/hooks/useAnalyticsV2.ts
  crates/mockforge-ui/ui/src/hooks/usePipelines.ts
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

feat(ui): discover full nav in cloud mode; mark self-hosted features (#211)
  .typos.toml
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/hooks/useAnalyticsV2.ts
  crates/mockforge-ui/ui/src/hooks/usePipelines.ts
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos

fix(ui,analytics): wire /api/v2/analytics dashboard routes + repo-wide type-only imports
  crates/mockforge-ui/src/handlers/analytics_v2.rs
  crates/mockforge-ui/src/handlers/coverage_metrics.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/tests/analytics_api_tests.rs
  crates/mockforge-ui/ui/src/components/federation/ActiveScenarioPanel.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationDashboard.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationDetail.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationForm.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationList.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/pipelines/PipelineDashboard.tsx
  crates/mockforge-ui/ui/src/components/pipelines/PipelineDetail.tsx
  crates/mockforge-ui/ui/src/components/pipelines/PipelineExecutions.tsx
  crates/mockforge-ui/ui/src/components/pipelines/PipelineForm.tsx
  crates/mockforge-ui/ui/src/components/pipelines/PipelineList.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/FlowPropertiesPanel.tsx
  crates/mockforge-ui/ui/src/hooks/useCoverageMetrics.ts
  crates/mockforge-ui/ui/src/hooks/useFederation.ts
  crates/mockforge-ui/ui/src/pages/GraphPage.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStudioPage.tsx
  crates/mockforge-ui/ui/src/pages/VoicePage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui,analytics): wire /api/v2/analytics dashboard routes + repo-wide type-only imports (#212)
  crates/mockforge-ui/src/handlers/analytics_v2.rs
  crates/mockforge-ui/src/handlers/coverage_metrics.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/tests/analytics_api_tests.rs
  crates/mockforge-ui/ui/src/components/federation/ActiveScenarioPanel.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationDashboard.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationDetail.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationForm.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationList.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/pipelines/PipelineDashboard.tsx
  crates/mockforge-ui/ui/src/components/pipelines/PipelineDetail.tsx
  crates/mockforge-ui/ui/src/components/pipelines/PipelineExecutions.tsx
  crates/mockforge-ui/ui/src/components/pipelines/PipelineForm.tsx
  crates/mockforge-ui/ui/src/components/pipelines/PipelineList.tsx
  crates/mockforge-ui/ui/src/components/scenario-studio/FlowPropertiesPanel.tsx
  crates/mockforge-ui/ui/src/hooks/useCoverageMetrics.ts
  crates/mockforge-ui/ui/src/hooks/useFederation.ts
  crates/mockforge-ui/ui/src/pages/GraphPage.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioStudioPage.tsx
  crates/mockforge-ui/ui/src/pages/VoicePage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): authenticated password change + /users/me endpoints and wired avatar dropdown
  crates/mockforge-registry-core/src/models/user.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations-sqlite/20260101000011_user_notification_and_preferences.sql
  crates/mockforge-registry-server/migrations/20250101000040_user_notification_and_preferences.sql
  crates/mockforge-registry-server/src/email.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/oauth.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-registry-server/src/handlers/scenario_reviews.rs
  crates/mockforge-registry-server/src/handlers/scenarios.rs
  crates/mockforge-registry-server/src/handlers/template_reviews.rs
  crates/mockforge-registry-server/src/handlers/templates.rs
  crates/mockforge-registry-server/src/handlers/token_rotation.rs
  crates/mockforge-registry-server/src/handlers/two_factor.rs
  crates/mockforge-registry-server/src/handlers/users_me.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/auth/AccountSettings.tsx
  crates/mockforge-ui/ui/src/components/auth/HelpSupport.tsx
  crates/mockforge-ui/ui/src/components/auth/ProfileSettings.tsx
  crates/mockforge-ui/ui/src/components/auth/UserProfile.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/services/authApi.ts
  crates/mockforge-ui/ui/src/stores/__tests__/useAuthStore.test.ts
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
  crates/mockforge-ui/ui/src/stores/useHelpStore.ts
  crates/mockforge-ui/ui/src/stores/usePreferencesStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): authenticated password change + /users/me endpoints and wired avatar dropdown (#213)
  crates/mockforge-registry-core/src/models/user.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations-sqlite/20260101000011_user_notification_and_preferences.sql
  crates/mockforge-registry-server/migrations/20250101000040_user_notification_and_preferences.sql
  crates/mockforge-registry-server/src/email.rs
  crates/mockforge-registry-server/src/handlers/auth.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-registry-server/src/handlers/mod.rs
  crates/mockforge-registry-server/src/handlers/oauth.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-registry-server/src/handlers/scenario_reviews.rs
  crates/mockforge-registry-server/src/handlers/scenarios.rs
  crates/mockforge-registry-server/src/handlers/template_reviews.rs
  crates/mockforge-registry-server/src/handlers/templates.rs
  crates/mockforge-registry-server/src/handlers/token_rotation.rs
  crates/mockforge-registry-server/src/handlers/two_factor.rs
  crates/mockforge-registry-server/src/handlers/users_me.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/auth/AccountSettings.tsx
  crates/mockforge-ui/ui/src/components/auth/HelpSupport.tsx
  crates/mockforge-ui/ui/src/components/auth/ProfileSettings.tsx
  crates/mockforge-ui/ui/src/components/auth/UserProfile.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/services/authApi.ts
  crates/mockforge-ui/ui/src/stores/__tests__/useAuthStore.test.ts
  crates/mockforge-ui/ui/src/stores/useAuthStore.ts
  crates/mockforge-ui/ui/src/stores/useHelpStore.ts
  crates/mockforge-ui/ui/src/stores/usePreferencesStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): wire preferences store to real UI consumers (Stage 2)
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/auth/Preferences.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationList.tsx
  crates/mockforge-ui/ui/src/components/fixtures/FixturesPanel.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/pipelines/PipelineList.tsx
  crates/mockforge-ui/ui/src/components/proxy/ProxyInspector.tsx
  crates/mockforge-ui/ui/src/components/workspace/EnvironmentManager.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceManagement.tsx
  crates/mockforge-ui/ui/src/hooks/useAutosave.ts
  crates/mockforge-ui/ui/src/hooks/useConfirmDelete.ts
  crates/mockforge-ui/ui/src/hooks/useThemeSync.ts
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/index.css
  crates/mockforge-ui/ui/src/pages/LogsPage.tsx
  crates/mockforge-ui/ui/src/stores/useServiceStore.ts
  crates/mockforge-ui/ui/src/stores/useToastStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): wire preferences store to real UI consumers (Stage 2) (#214)
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/auth/Preferences.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationList.tsx
  crates/mockforge-ui/ui/src/components/fixtures/FixturesPanel.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/pipelines/PipelineList.tsx
  crates/mockforge-ui/ui/src/components/proxy/ProxyInspector.tsx
  crates/mockforge-ui/ui/src/components/workspace/EnvironmentManager.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceManagement.tsx
  crates/mockforge-ui/ui/src/hooks/useAutosave.ts
  crates/mockforge-ui/ui/src/hooks/useConfirmDelete.ts
  crates/mockforge-ui/ui/src/hooks/useThemeSync.ts
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/index.css
  crates/mockforge-ui/ui/src/pages/LogsPage.tsx
  crates/mockforge-ui/ui/src/stores/useServiceStore.ts
  crates/mockforge-ui/ui/src/stores/useToastStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): wire preferences store to real UI consumers (Stage 2) (#215)
  crates/mockforge-ui/ui/src/App.tsx
  crates/mockforge-ui/ui/src/components/auth/Preferences.tsx
  crates/mockforge-ui/ui/src/components/federation/FederationList.tsx
  crates/mockforge-ui/ui/src/components/fixtures/FixturesPanel.tsx
  crates/mockforge-ui/ui/src/components/layout/AppShell.tsx
  crates/mockforge-ui/ui/src/components/pipelines/PipelineList.tsx
  crates/mockforge-ui/ui/src/components/proxy/ProxyInspector.tsx
  crates/mockforge-ui/ui/src/components/workspace/EnvironmentManager.tsx
  crates/mockforge-ui/ui/src/components/workspace/WorkspaceManagement.tsx
  crates/mockforge-ui/ui/src/hooks/useAutosave.ts
  crates/mockforge-ui/ui/src/hooks/useConfirmDelete.ts
  crates/mockforge-ui/ui/src/hooks/useThemeSync.ts
  crates/mockforge-ui/ui/src/i18n/translations.ts
  crates/mockforge-ui/ui/src/index.css
  crates/mockforge-ui/ui/src/pages/LogsPage.tsx
  crates/mockforge-ui/ui/src/stores/useServiceStore.ts
  crates/mockforge-ui/ui/src/stores/useToastStore.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

Path conditions:
  trailing-whitespace: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  end-of-file-fixer: any file but: ^(book/|crates/mockforge-ui/ui/dist/)
  check-toml: any of: \.toml$
  check-added-large-files: any file but: ^crates/mockforge-ui/ui/dist/
  typos: any file but: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  rust-fmt: any of: \.(rs)$, but not: ^(target/|book/|crates/mockforge-registry-server/)
  cargo-audit: any of: ^Cargo\.(toml|lock)$
