Repository SaaSy-Solutions/mockforge: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, rust-fmt, cargo-audit

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace
    entry: python3 scripts/precommit/offline_checks.py trailing-whitespace
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: python3 scripts/precommit/offline_checks.py end-of-file-fixer
    language: system
    exclude: ^(book/|crates/mockforge-ui/ui/dist/)
    types: [text]
  - id: check-toml
    name: check-toml
    entry: python3 scripts/precommit/offline_checks.py check-toml
    language: system
    files: \.toml$
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: python3 scripts/precommit/offline_checks.py check-merge-conflict
    language: system
    types: [text]
  - id: check-added-large-files
    name: check-added-large-files
    entry: python3 scripts/precommit/offline_checks.py check-added-large-files --maxkb 500
    language: system
    exclude: ^crates/mockforge-ui/ui/dist/
  - id: check-case-conflict
    name: check-case-conflict
    entry: python3 scripts/precommit/offline_checks.py check-case-conflict
    language: system
    pass_filenames: false
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: python3 scripts/precommit/offline_checks.py mixed-line-ending
    language: system
    types: [text]
  - id: check-executables-have-shebangs
    name: check-executables-have-shebangs
    entry: python3 scripts/precommit/offline_checks.py check-executables-have-shebangs
    language: system
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    entry: python3 scripts/precommit/offline_checks.py check-shebang-scripts-are-executable
    language: system
  - id: clippy
    name: clippy
    entry: cargo clippy --all-targets --all-features --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: cargo-check
    name: cargo-check
    entry: cargo check --workspace --exclude mockforge-desktop
    language: system
    pass_filenames: false
  - id: typos
    name: typos
    entry: typos
    language: system
    pass_filenames: false
    exclude: ^(book/|target/|\.git/|crates/mockforge-ui/ui/dist/)
  - id: rust-fmt
    name: rust fmt
    entry: cargo fmt --check --all
    language: system
    files: \.(rs)$
    exclude: ^(target/|book/|crates/mockforge-registry-server/)
    pass_filenames: false
  - id: cargo-audit
    name: cargo audit
    entry: cargo
    args: [audit, --ignore, RUSTSEC-2023-0071]
    language: system
    pass_filenames: false
    files: ^Cargo\.(toml|lock)$

fix(registry-core): drop duplicate migration that blocked all sqlite migrations (#282)
  crates/mockforge-registry-core/migrations/20260101000010_user_notification_and_preferences.sql
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

chore(release): bump workspace to 0.3.121
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(ui-test): admin_ui_build tests skip cleanly when ui/dist/index.html missing
  crates/mockforge-ui/tests/admin_ui_build.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui-test): admin_ui_build tests skip cleanly when ui/dist/index.html missing (#283)
  crates/mockforge-ui/tests/admin_ui_build.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): bump workspace to 0.3.122
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(ui-test): static_files test_static_assets_content_length skips when no Vite build
  crates/mockforge-ui/tests/static_files.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui-test): static_files test_static_assets_content_length skips when no Vite build (#284)
  crates/mockforge-ui/tests/static_files.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): bump workspace to 0.3.123
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

fix(core): mark stale doctests as ignore so cargo test --doc passes
  crates/mockforge-core/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(core): mark stale doctests as ignore so cargo test --doc passes (#285)
  crates/mockforge-core/src/lib.rs
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

chore(release): bump workspace to 0.3.124
  Cargo.lock
  Cargo.toml
Due: trailing-whitespace, end-of-file-fixer, check-toml, check-added-large-files, typos, cargo-audit

feat(billing,usage): wire missing surfaces — quota merge, egress, lifetime, invoices, threshold alerts
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/subscription.rs
  crates/mockforge-registry-server/migrations/20250101000054_usage_alerts.sql
  crates/mockforge-registry-server/src/email.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-registry-server/src/handlers/usage.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/usage_threshold_checker.rs
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
  crates/mockforge-ui/ui/src/pages/UsageDashboardPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(billing,usage): wire missing surfaces — quota merge, egress, lifetime, invoices, threshold alerts (#286)
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/subscription.rs
  crates/mockforge-registry-server/migrations/20250101000054_usage_alerts.sql
  crates/mockforge-registry-server/src/email.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-registry-server/src/handlers/usage.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/usage_threshold_checker.rs
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
  crates/mockforge-ui/ui/src/pages/UsageDashboardPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui,registry-server): wire api-tokens — fix expires_at, expose scopes endpoint, rotation banner
  crates/mockforge-registry-server/src/handlers/tokens.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/ApiTokensPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): wire publisher-keys gaps — revoked history, usage counts, signed badge, CLI ref
  crates/mockforge-registry-core/src/models/attestation.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/admin.rs
  crates/mockforge-registry-server/src/handlers/public_keys.rs
  crates/mockforge-ui/ui/src/pages/PluginRegistryPage.tsx
  crates/mockforge-ui/ui/src/pages/PublisherKeysPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): wire publisher-keys gaps — revoked history, usage counts, signed badge, CLI ref (#287)
  crates/mockforge-registry-core/src/models/attestation.rs
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/admin.rs
  crates/mockforge-registry-server/src/handlers/public_keys.rs
  crates/mockforge-ui/ui/src/pages/PluginRegistryPage.tsx
  crates/mockforge-ui/ui/src/pages/PublisherKeysPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui,registry-server): wire api-tokens — fix expires_at, expose scopes endpoint, rotation banner (#288)
  crates/mockforge-registry-server/src/handlers/tokens.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/ApiTokensPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry-server,ui): wire audit-log filter, rotation reminders, api-tokens CTA
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-server/src/handlers/audit.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/token_rotation_reminders.rs
  crates/mockforge-ui/ui/src/pages/ApiTokensPage.tsx
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry-server,ui): wire audit-log filter, rotation reminders, api-tokens CTA (#289)
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-server/src/handlers/audit.rs
  crates/mockforge-registry-server/src/main.rs
  crates/mockforge-registry-server/src/workers/mod.rs
  crates/mockforge-registry-server/src/workers/token_rotation_reminders.rs
  crates/mockforge-ui/ui/src/pages/ApiTokensPage.tsx
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): publisher-keys depth — audit events, per-plan quotas, org scope, atomic rotation
  crates/mockforge-registry-core/migrations/20260101000012_publisher_keys_org_scope.sql
  crates/mockforge-registry-core/src/models/attestation.rs
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/organization.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations/20250101000055_publisher_keys_org_scope.sql
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-registry-server/src/handlers/public_keys.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/PublisherKeysPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): publisher-keys depth — audit events, per-plan quotas, org scope, atomic rotation (#290)
  crates/mockforge-registry-core/migrations/20260101000012_publisher_keys_org_scope.sql
  crates/mockforge-registry-core/src/models/attestation.rs
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/organization.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations/20250101000055_publisher_keys_org_scope.sql
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-registry-server/src/handlers/public_keys.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/PublisherKeysPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(billing,ui): wire missing surfaces — payment-issue banner, period range, billing audit filter
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(billing,ui): wire missing surfaces — payment-issue banner, period range, billing audit filter (#291)
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-server/src/handlers/billing.rs
  crates/mockforge-ui/ui/src/pages/BillingPage.tsx
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): wire org page gaps — invitations CRUD, security org-scope, quota labels
  crates/mockforge-registry-core/migrations/20260101000013_invitation_audit_events.sql
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/suspicious_activity.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations/20250101000056_invitation_audit_events.sql
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/src/handlers/security.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): wire org page gaps — invitations CRUD, security org-scope, quota labels (#292)
  crates/mockforge-registry-core/migrations/20260101000013_invitation_audit_events.sql
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/suspicious_activity.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations/20250101000056_invitation_audit_events.sql
  crates/mockforge-registry-server/src/handlers/organizations.rs
  crates/mockforge-registry-server/src/handlers/security.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/OrganizationPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(ui): repair pre-existing vitest failures across hooks and pages
  crates/mockforge-ui/ui/src/components/__tests__/plugins/Plugins.test.tsx
  crates/mockforge-ui/ui/src/hooks/__tests__/useSSE.test.ts
  crates/mockforge-ui/ui/src/hooks/__tests__/useWebSocket.test.ts
  crates/mockforge-ui/ui/src/hooks/useSSE.ts
  crates/mockforge-ui/ui/src/hooks/useWebSocket.ts
  crates/mockforge-ui/ui/src/pages/__tests__/ConfigPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/LogsPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/PluginsPage.test.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

fix(ui): repair pre-existing vitest failures across hooks and pages (#293)
  crates/mockforge-ui/ui/src/components/__tests__/plugins/Plugins.test.tsx
  crates/mockforge-ui/ui/src/hooks/__tests__/useSSE.test.ts
  crates/mockforge-ui/ui/src/hooks/__tests__/useWebSocket.test.ts
  crates/mockforge-ui/ui/src/hooks/useSSE.ts
  crates/mockforge-ui/ui/src/hooks/useWebSocket.ts
  crates/mockforge-ui/ui/src/pages/__tests__/ConfigPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/LogsPage.test.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/PluginsPage.test.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui,registry-server): wire config page gaps — TCP toggle, AI mode persistence, validation overrides + latency tag overrides
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/ai_studio.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/src/hooks/api/index.ts
  crates/mockforge-ui/ui/src/hooks/api/useConfigApi.ts
  crates/mockforge-ui/ui/src/pages/ConfigPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/ConfigPage.test.tsx
  crates/mockforge-ui/ui/src/services/api/config.ts
  crates/mockforge-ui/ui/src/types/index.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui,registry-server): wire config page gaps — TCP toggle, AI mode persistence, validation overrides + latency tag overrides (#294)
  crates/mockforge-ui/src/handlers.rs
  crates/mockforge-ui/src/handlers/ai_studio.rs
  crates/mockforge-ui/src/routes.rs
  crates/mockforge-ui/ui/src/hooks/api/index.ts
  crates/mockforge-ui/ui/src/hooks/api/useConfigApi.ts
  crates/mockforge-ui/ui/src/pages/ConfigPage.tsx
  crates/mockforge-ui/ui/src/pages/__tests__/ConfigPage.test.tsx
  crates/mockforge-ui/ui/src/services/api/config.ts
  crates/mockforge-ui/ui/src/types/index.ts
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(ui): wire scenario marketplace gaps — submit reviews, repo/homepage links, snackbar feedback, authenticatedFetch
  crates/mockforge-ui/ui/src/components/marketplace/PublishScenarioModal.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioMarketplacePage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(ui): wire scenario marketplace gaps — submit reviews, repo/homepage links, snackbar feedback, authenticatedFetch (#295)
  crates/mockforge-ui/ui/src/components/marketplace/PublishScenarioModal.tsx
  crates/mockforge-ui/ui/src/pages/ScenarioMarketplacePage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos

feat(registry,ui): wire plugin-registry gaps — server-side search, version metadata, sort modes
  crates/mockforge-plugin-registry/src/index.rs
  crates/mockforge-plugin-registry/src/lib.rs
  crates/mockforge-registry-core/src/models/plugin.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-ui/ui/src/pages/PluginRegistryPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): wire plugin-registry gaps — server-side search, version metadata, sort modes (#296)
  crates/mockforge-plugin-registry/src/index.rs
  crates/mockforge-plugin-registry/src/lib.rs
  crates/mockforge-registry-core/src/models/plugin.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-ui/ui/src/pages/PluginRegistryPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): scenario marketplace parity — stars, version yank, helpful votes, promotion link
  crates/mockforge-registry-core/migrations/20260101000014_scenario_stars.sql
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/scenario_star.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations/20250101000057_scenario_stars.sql
  crates/mockforge-registry-server/src/handlers/scenario_reviews.rs
  crates/mockforge-registry-server/src/handlers/scenarios.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/ScenarioMarketplacePage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): scenario marketplace parity — stars, version yank, helpful votes, promotion link (#297)
  crates/mockforge-registry-core/migrations/20260101000014_scenario_stars.sql
  crates/mockforge-registry-core/src/models/mod.rs
  crates/mockforge-registry-core/src/models/scenario_star.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations/20250101000057_scenario_stars.sql
  crates/mockforge-registry-server/src/handlers/scenario_reviews.rs
  crates/mockforge-registry-server/src/handlers/scenarios.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/ScenarioMarketplacePage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): plugin-registry depth — download tracking, admin takedown, author review responses
  crates/mockforge-plugin-registry/src/dependencies.rs
  crates/mockforge-plugin-registry/src/lib.rs
  crates/mockforge-registry-core/migrations/20260101000014_plugin_takedown_review_response.sql
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/plugin.rs
  crates/mockforge-registry-core/src/models/review.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations/20250101000057_plugin_takedown_review_response.sql
  crates/mockforge-registry-server/src/handlers/admin.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-registry-server/src/handlers/reviews.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/PluginRegistryPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): plugin-registry depth — download tracking, admin takedown, author review responses (#298)
  crates/mockforge-plugin-registry/src/dependencies.rs
  crates/mockforge-plugin-registry/src/lib.rs
  crates/mockforge-registry-core/migrations/20260101000014_plugin_takedown_review_response.sql
  crates/mockforge-registry-core/src/models/audit_log.rs
  crates/mockforge-registry-core/src/models/plugin.rs
  crates/mockforge-registry-core/src/models/review.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/migrations/20250101000057_plugin_takedown_review_response.sql
  crates/mockforge-registry-server/src/handlers/admin.rs
  crates/mockforge-registry-server/src/handlers/plugins.rs
  crates/mockforge-registry-server/src/handlers/reviews.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/PluginRegistryPage.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): plugin moderation admin page
  crates/mockforge-registry-core/src/models/plugin.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/admin.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/PluginModerationPage.tsx
  crates/mockforge-ui/ui/src/pages/PluginRegistryPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

feat(registry,ui): plugin moderation admin page (#299)
  crates/mockforge-registry-core/src/models/plugin.rs
  crates/mockforge-registry-core/src/store/mod.rs
  crates/mockforge-registry-core/src/store/postgres.rs
  crates/mockforge-registry-core/src/store/sqlite.rs
  crates/mockforge-registry-server/src/handlers/admin.rs
  crates/mockforge-registry-server/src/routes.rs
  crates/mockforge-ui/ui/src/pages/PluginModerationPage.tsx
  crates/mockforge-ui/ui/src/pages/PluginRegistryPage.tsx
  crates/mockforge-ui/ui/src/routes/index.tsx
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos, rust-fmt

fix(registry): bump scenario_stars migration number to clear plugin_takedown collision
  crates/mockforge-registry-core/migrations/20260101000015_scenario_stars.sql
  crates/mockforge-registry-server/migrations/20250101000058_scenario_stars.sql
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files, typos
